workflows/Write WP posts with AI on keywords (w/forms).json
{"createdAt":"2025-03-01T13:53:11.102Z","updatedAt":"2025-03-01T13:57:25.000Z","id":"8LJl9D1Kn5iE4AaG","name":"Write WP posts with AI on keywords (w/forms)","active":false,"nodes":[{"parameters":{"path":"create-wordpress-post","formTitle":"Create a WordPress post with AI","formDescription":"Fill this form with the required information to create a draft post on WordPress","formFields":{"values":[{"fieldLabel":"Keywords (comma-separated)","requiredField":true},{"fieldLabel":"Number of chapters","fieldType":"dropdown","fieldOptions":{"values":[{"option":"1"},{"option":"2"},{"option":"3"},{"option":"4"},{"option":"5"},{"option":"6"},{"option":"7"},{"option":"8"},{"option":"9"},{"option":"10"}]},"requiredField":true},{"fieldLabel":"Max words count","fieldType":"number","requiredField":true}]},"responseMode":"responseNode","options":{}},"id":"f9f04846-3881-4537-8567-5da8d5a13512","name":"Form","type":"n8n-nodes-base.formTrigger","position":[-160,100],"webhookId":"4b937814-e829-4df7-aaba-31192babf7e1","typeVersion":2},{"parameters":{"content":"## Data check","height":371.765663140765,"width":301.3874093724939,"color":4},"id":"beb1ab22-7edb-43be-b862-fcc4bdf8b33b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[640,-80],"typeVersion":1},{"parameters":{"content":"Checks that the data returned by OpenAI is correct","height":80,"width":272.8190508599808,"color":7},"id":"e57f1052-8a97-4eb0-8cb4-81c1e7d15dfb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[660,-20],"typeVersion":1},{"parameters":{"content":"## Draft on WordPress","height":371.7656631407652,"width":282.3398199598652,"color":5},"id":"0b1fbf70-a07a-4c0e-9836-0416b1a1ea90","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2000,-80],"typeVersion":1},{"parameters":{"content":"The article is posted as a draft on WordPress","height":80,"width":254.77269221373095,"color":7},"id":"2a1f3398-1852-42e3-aea2-d6862cd9e702","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[2020,-20],"typeVersion":1},{"parameters":{"content":"## Featured image","height":369.2595606183891,"width":557.7592769264069,"color":3},"id":"c1ed4074-11e5-4d3e-9c90-63e158e96555","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[2320,-80],"typeVersion":1},{"parameters":{"content":"The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image","height":80,"width":517.9195082760601,"color":7},"id":"7862dc57-30be-4f59-ba1f-3c871a7100fe","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[2320,-20],"typeVersion":1},{"parameters":{"content":"Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt","height":80,"width":287.370178643191,"color":7},"id":"9ad749e9-53a5-4e7b-baae-863cc16ee00c","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[320,-20],"typeVersion":1},{"parameters":{"content":"## Article structure","height":370.512611879577,"width":319.697690939268,"color":6},"id":"47141c81-5038-42ea-9a08-ecefcaa3bc98","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[300,-80],"typeVersion":1},{"parameters":{"content":"## User form","height":370.512611879577,"width":239.97343293577688,"color":7},"id":"03f258c1-f7e2-4be4-9ad2-c38bd41f4b69","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-220,-80],"typeVersion":1},{"parameters":{"content":"The user triggers the post creation","height":80,"width":199.7721486302032,"color":7},"id":"3702b222-6448-4881-93f3-b6b3d4c437ac","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[-200,-20],"typeVersion":1},{"parameters":{"content":"## User feedback","height":370.512611879577,"width":219.70753707029849,"color":7},"id":"87c888db-9bcc-47fc-b80a-3da7aae08fe2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2900,-80],"typeVersion":1},{"parameters":{"content":"Final confirmation to the user","height":80,"width":183.38125554060056,"color":7},"id":"191c022e-f232-4a52-b888-228a47b853e7","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[2920,-20],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing","height":288.4116890365125,"width":281.2716777103785,"color":7},"id":"0485389e-78cb-4533-8a0c-27d8c508e923","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[960,320],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article","height":275.3956890735875,"width":319.8306137081817,"color":7},"id":"d0db1601-63fd-4273-a2bb-baa8be8e55c1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[300,320],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3a433b0f-9957-4b64-ad81-359ab5e521d5","name":"wordpress_url","type":"string","value":"https://you-wordpress-url-here.com/"},{"id":"ec5430e3-92c5-46e4-8c2c-c87291680892","name":"keywords","type":"string","value":"={{ $json['Keywords (comma-separated)'] }}"},{"id":"5defb0a2-d921-4909-b10d-da59e1768496","name":"chapters","type":"number","value":"={{ $json['Number of chapters'] }}"},{"id":"230ebd0b-73c2-4265-9b3c-57af7fbc48c8","name":"words","type":"number","value":"={{ $json['Max words count'] }}"}]},"options":{}},"id":"f99f878e-3f96-4991-b0b0-426318cfc661","name":"Settings","type":"n8n-nodes-base.set","position":[100,100],"typeVersion":3.3},{"parameters":{"content":"## Settings","height":370.512611879577,"width":226.71615243495023,"color":2},"id":"b7b83fae-39ce-4fe8-bad5-a7bd36dbfb24","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[60,-80],"typeVersion":1},{"parameters":{"content":"Set the URL of your WordPress here","height":80,"width":179.37633247508526,"color":7},"id":"fd0d89f7-d99e-4a71-94bb-f7d4bfd24950","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[60,-20],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9c8c53ea-6079-48da-9d6e-dd527167b123","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.content.title }}","rightValue":""},{"id":"a7fabfe1-3539-453a-93d9-8d6d395c3de4","operator":{"type":"array","operation":"lengthGte","rightType":"number"},"leftValue":"={{ $json.message.content.chapters }}","rightValue":"={{ 1 }}"},{"id":"a687081e-24e2-423c-a2da-b7c18baf0715","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.content.subtitle }}","rightValue":""},{"id":"0a435a69-3699-4b98-b46f-40954c7a7816","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.content.introduction }}","rightValue":""},{"id":"1a440144-21f3-42bd-9222-774bd564f3ef","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.content.conclusions }}","rightValue":""},{"id":"834ce92d-b1e9-48ef-ae63-1d0841c900b5","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.content.imagePrompt }}","rightValue":""}]},"options":{}},"id":"642e7cae-9e7e-402e-b700-1579da3c5a7b","name":"Check data consistency","type":"n8n-nodes-base.if","position":[720,100],"typeVersion":2},{"parameters":{"fieldToSplitOut":"message.content.chapters","options":{}},"id":"a19ae8b2-ea4b-42a6-8ebb-5c22f2f56dc6","name":"Split out chapters","type":"n8n-nodes-base.splitOut","position":[1020,100],"typeVersion":1},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"398f9a11-1715-4e7a-b1db-17223423047e","name":"Merge chapters title and text","type":"n8n-nodes-base.merge","position":[1640,240],"typeVersion":2.1},{"parameters":{"jsCode":"let article = \"\";\n\n// Introduction\narticle += $('Create post title and structure').first().json.message.content.introduction;\narticle += \"<br><br>\";\n\nfor (const item of $input.all()) {\n  article += \"<strong>\" + item.json.title + \"</strong>\";\n  article += \"<br><br>\";\n  article += item.json.message.content;\n  article += \"<br><br>\";\n}\n\n// Conclusions\narticle += \"<strong>Conclusions</strong>\";\narticle += \"<br><br>\";\narticle += $('Create post title and structure').first().json.message.content.conclusions;\n\n\nreturn [\n  {\n    \"article\": article\n  }\n];"},"id":"9136e034-aad8-4332-a58a-4b99dd80ee41","name":"Final article text","type":"n8n-nodes-base.code","position":[1820,100],"typeVersion":1},{"parameters":{"title":"={{ $('Create post title and structure').all()[0].json.message.content.title }}","additionalFields":{"content":"={{ $json.article }}","status":"draft"}},"id":"c0e928f7-a0e0-44e8-b7ee-48b6fbd0b104","name":"Post on Wordpress","type":"n8n-nodes-base.wordpress","position":[2100,100],"typeVersion":1,"disabled":true},{"parameters":{"method":"POST","url":"https://wp-demo.mondo.surf/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"attachment; filename=\"example.jpg\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"f16e6b9e-a66c-4965-a19a-fc9a149042e0","name":"Upload media","type":"n8n-nodes-base.httpRequest","position":[2540,100],"typeVersion":4.1,"disabled":true},{"parameters":{"method":"POST","url":"=https://wp-demo.mondo.surf/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"featured_media","value":"={{ $json.id }}"}]},"options":{}},"id":"a723b2f7-0c78-4733-ac35-e7907ba2ea6d","name":"Set image ID for the post","type":"n8n-nodes-base.httpRequest","position":[2700,100],"typeVersion":4.1,"disabled":true},{"parameters":{"respondWith":"json","responseBody":"={\n    \"formSubmittedText\": \"The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!\"\n}","options":{}},"id":"4e1e8d07-6149-4fed-a0fb-15b94d66eb23","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","position":[2940,100],"typeVersion":1},{"parameters":{"respondWith":"json","responseBody":"={\n    'formSubmittedText': 'There was a problem creating the article, please refresh the form and try again!'\n}\n\n","options":{}},"id":"f8163044-edfb-4583-a2b5-b6181a4568ba","name":"Respond: Error","type":"n8n-nodes-base.respondToWebhook","position":[1040,360],"typeVersion":1},{"parameters":{"content":"## Chapters split","height":370.512611879577,"width":225.47038972308582,"color":2},"id":"fa1bf5df-18a7-491f-8338-aea17018d0f7","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[960,-80],"typeVersion":1},{"parameters":{"content":"Splits out chapter contents from the previous node","height":80,"width":185.6051460344073,"color":7},"id":"8f189dfc-1a97-416e-85bb-883216b8a784","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[980,-20],"typeVersion":1},{"parameters":{"content":"Writes the text for each chapter","height":80,"width":287.370178643191,"color":7},"id":"53bcbb2a-e1dd-4c11-957a-16e49dc0d6a0","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[1220,-20],"typeVersion":1},{"parameters":{"content":"## Chapters text","height":370.512611879577,"width":333.40108076977657,"color":6},"id":"58e74ebd-3db4-4437-bcbc-120e83520e29","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","position":[1200,-80],"typeVersion":1},{"parameters":{"content":"## Content preparation","height":514.2177254645992,"width":420.4253447940705,"color":4},"id":"b2af76d9-c468-491b-b15b-15a880880f6d","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","position":[1560,-80],"typeVersion":1},{"parameters":{"content":"Merges the content and prepare it before sending it to WordPress","height":80,"width":368.1523541074699,"color":7},"id":"efcb5c40-d373-487c-aada-fd15853f2a7e","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","position":[1580,-20],"typeVersion":1},{"parameters":{"resource":"image","prompt":"=Generate a photographic image to be used as the cover image for the article titled: {{ $('Create post title and structure').all()[0].json.message.content.title }}. This is the prompt for the image: {{ $('Create post title and structure').all()[0].json.message.content.imagePrompt }}, photography, realistic, sigma 85mm f/1.4","options":{"quality":"hd","size":"1792x1024","style":"natural"}},"id":"69b9953a-cf1f-468d-b5b8-e7f037387d27","name":"Generate featured image","type":"@n8n/n8n-nodes-langchain.openAi","position":[2360,100],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{},"id":"81d7ed04-ae71-4eb0-9357-3b72d119e1e2","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[400,400],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4-1106-preview","cachedResultName":"GPT-4-1106-PREVIEW"},"messages":{"values":[{"content":"=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for a SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Place the article title in a JSON field called `title`\n- Place the subtitle in a JSON field called `subtitle`\n- Place the introduction in a JSON field called `introduction`\n- In the introduction introduce the topic that is then explored in depth in the rest of the text\n- The introduction should be around 60 words\n- Place the conclusions in a JSON field called `conclusions`\n- The conclusions should be around 60 words\n- Use the conclusions to sum all said in the article and offer a conclusion to the reader\n- The image prompt will be used to produce a photographic cover image for the article and should depict the topics discussed in the article\n- Place the image prompt in a JSON field called `imagePrompt`\n- There should be {{ $json.chapters.toString() }} chapters.\n- For each chapter provide a title and an exaustive prompt that will be used to write the chapter text.\n- Place the chapters in an array field called `chapters`\n- For each chapter provide the fields `title` and `prompt`\n- The chapters should follow a logical flow and not repeat the same concepts.\n- The chapters should be one related to the other and not isolated blocks of text. The text should be fluent and folow a linear logic.\n- Don't start the chapters with \"Chapter 1\", \"Chapter 2\", \"Chapter 3\"... just write the title of the chapter\n- For the title and the capthers' titles don't use colons (`:`)\n- For the text, use HTML for formatting, but limited to bold, italic and lists.\n- Don't use markdown for formatting.\n- Always search on Wikipedia for useful information or verify the accuracy of what you write.\n- Never mention it if you don't find information on Wikipedia or the web\n- Go deep in the topic you treat, don't just throw some superficial info"}]},"jsonOutput":true,"options":{"maxTokens":2048}},"id":"ae6bea53-641c-40cf-902e-83e43f125ef4","name":"Create post title and structure","type":"@n8n/n8n-nodes-langchain.openAi","position":[320,100],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4-0125-preview","cachedResultName":"GPT-4-0125-PREVIEW"},"messages":{"values":[{"content":"=Write a chapter for the article: {{ $('Create post title and structure').item.json.message.content.title }}, {{ $('Create post title and structure').item.json.message.content.subtitle  }}, that talks about {{ $('Settings').item.json[\"keywords\"] }}\n\nThis is the prompt for the chapter titled {{ $json.title }}: {{ $json.prompt }}.\n\nGuidelines:\n- Just return the plain text for each chapter (no JSON structure).\n- Don't use markdown for formatting.\n- Use HTML for formatting, but limited to bold, italic and lists.\n- Don't add internal titles or headings.\n- The length of each chapther should be around {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.chapters) }} words long\n- Go deep in the topic you treat, don't just throw some superficial info\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The promt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters what writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article.\n"}]},"options":{"maxTokens":2048}},"id":"f931842f-66aa-4e1c-8c25-3cd698c58082","name":"Create chapters text","type":"@n8n/n8n-nodes-langchain.openAi","position":[1240,100],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}}],"connections":{"Form":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Create post title and structure","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"Create post title and structure","type":"ai_tool","index":0}]]},"Upload media":{"main":[[{"node":"Set image ID for the post","type":"main","index":0}]]},"Post on Wordpress":{"main":[[{"node":"Generate featured image","type":"main","index":0}]]},"Final article text":{"main":[[]]},"Split out chapters":{"main":[[{"node":"Merge chapters title and text","type":"main","index":1},{"node":"Create chapters text","type":"main","index":0}]]},"Create chapters text":{"main":[[{"node":"Merge chapters title and text","type":"main","index":0}]]},"Check data consistency":{"main":[[{"node":"Split out chapters","type":"main","index":0}],[{"node":"Respond: Error","type":"main","index":0}]]},"Generate featured image":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Set image ID for the post":{"main":[[{"node":"Respond: Success","type":"main","index":0}]]},"Merge chapters title and text":{"main":[[{"node":"Final article text","type":"main","index":0}]]},"Create post title and structure":{"main":[[{"node":"Check data consistency","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c746aa67-82db-4261-8ef0-ffb5eb26b5ea","triggerCount":0,"tags":[]}