workflowsPC Routing.json
{"createdAt":"2025-02-16T12:39:30.609Z","updatedAt":"2025-02-16T12:39:30.609Z","id":"ogK6rjxpN5WWA5IT","name":"PC Routing","active":false,"nodes":[{"parameters":{"content":"# Routing\n✅ Optimized Response Handling – Ensures the right AI agent processes the query instead of a single generalist AI.\n\n✅ Scalable & Modular – New AI agents can be added to handle additional topics.\n\n✅ Faster & More Efficient – Reduces unnecessary LLM calls and improves response speed.\n\n✅ Human Escalation for Critical Issues – Ensures urgent problems are handled by real support staff.\n\n✅ Better User Experience – More accurate and relevant responses tailored to the customer’s needs.","height":280,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"9e8117a8-d75e-4378-94f2-3cd7a9405ca3","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":[]},"options":{}},"id":"5194e34c-a7e5-44c7-887d-d279e2aa6803","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[420,420]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"5fc665b4-ff41-42b9-afc7-4a7fd65c6485","name":"High Priority","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,80],"webhookId":"c2817f4a-2f52-4ae7-8cd0-16ee702b7c22"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"a73f5105-bee8-4137-a5c6-aff185a0635f","name":"Customer Support","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,300],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"246f09f2-ee0b-4511-afb7-d5e8c29d4630","name":"Promotion","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,540],"webhookId":"1e06eea2-bead-419e-b14c-c2ccabfa736a"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"338367e7-f673-4714-8457-89b709cb2070","name":"Finance/Billing","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,740],"webhookId":"f3181ea4-b320-4e02-8518-47911e4978ac"},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"},{"category":"Customer Support","description":"Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"},{"category":"Promotions","description":"Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"},{"category":"Finance/Billing","description":" Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"c4bf3f6e-cee3-4db9-ae78-405d226ea78f","name":"Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[620,420]},{"parameters":{"options":{}},"id":"23376d43-31cb-435a-8f02-1f72caaf6520","name":"4o mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,720]},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nHere is the Email: \n{{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize incoming emails and escalate them to the human.\n\n## Tools\nTelegram - Use this tool to escalate to a human. Send over the summary of the email."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,80],"id":"8db5881b-b58f-4516-8508-1f5982f203d4","name":"High Priority Agent"},{"parameters":{"text":"=Urgent Email: \n{{ $fromAI(\"summary\") }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1660,360],"id":"bbe6eac7-7acd-48f0-9422-8556d55e1961","name":"Telegram","webhookId":"4a005847-6ed4-48c6-99bd-d09e9d7271af"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,300],"id":"b9fdcb1f-4ac6-4111-914c-7e0eb423e019","name":"Customer Support Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,540],"id":"d6094fc3-d46a-40ee-b98c-b73bf7a3e89e","name":"Promotion Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,740],"id":"5e9769df-d821-459b-948b-a7de38f3a79f","name":"Finance Agent"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1660,620],"id":"208862c7-af0d-4779-b330-50d8236bf329","name":"Email Draft","webhookId":"5d8537bc-efa2-4889-82bb-cc44dc383ace"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Email Classifier","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"High Priority Agent","type":"main","index":0}]]},"Customer Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Promotion":{"main":[[{"node":"Promotion Agent","type":"main","index":0}]]},"Finance/Billing":{"main":[[{"node":"Finance Agent","type":"main","index":0}]]},"Email Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}],[{"node":"Finance/Billing","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Email Classifier","type":"ai_languageModel","index":0},{"node":"High Priority Agent","type":"ai_languageModel","index":0},{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Promotion Agent","type":"ai_languageModel","index":0},{"node":"Finance Agent","type":"ai_languageModel","index":0}]]},"Telegram":{"ai_tool":[[{"node":"High Priority Agent","type":"ai_tool","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"Customer Support Agent","type":"ai_tool","index":0},{"node":"Finance Agent","type":"ai_tool","index":0},{"node":"Promotion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"694b2892-1b36-4517-adf6-22f0fb031742","triggerCount":0,"tags":[]}