workflowsBackup n8n workflows to GDrive.json
{"createdAt":"2025-02-12T00:06:14.714Z","updatedAt":"2025-02-12T00:06:34.000Z","id":"Qxk0LTYXUOcuV7NM","name":"Backup n8n workflows to GDrive","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1,"id":"719b99d8-8b3c-471c-85fc-c5c6b07e52ef"},{"parameters":{"mode":"mergeByIndex"},"name":"Merge","type":"n8n-nodes-base.merge","position":[640,160],"typeVersion":1,"id":"0d671050-13a1-4c60-b373-44bf985cb466"},{"parameters":{"mode":"jsonToBinary","options":{"useRawData":false}},"name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","position":[940,160],"typeVersion":1,"id":"ab7388a7-bb28-49ca-9fec-a079dad8a3eb"},{"parameters":{"functionCode":"return items[0].json.data.map(item => {\n  return {json: item}\n});"},"name":"Map","type":"n8n-nodes-base.function","position":[400,160],"typeVersion":1,"id":"83459bc9-51bf-419c-a5c7-27d8725600a5"},{"parameters":{"authentication":"basicAuth","url":"=http://localhost:5678/rest/workflows/{{$node[\"Map\"].data[\"id\"]}}","options":{}},"name":"Get Workflow","type":"n8n-nodes-base.httpRequest","position":[520,300],"notesInFlow":false,"typeVersion":1,"id":"8cc3739b-9ad2-4952-af96-7cb007a8a81b","credentials":{"httpBasicAuth":{"id":null,"name":"n8n Creds"}},"notes":"Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "},{"parameters":{"authentication":"basicAuth","url":"http://localhost:5678/rest/workflows","options":{}},"name":"Get Workflow List","type":"n8n-nodes-base.httpRequest","position":[200,160],"typeVersion":1,"id":"55a2bcde-7b15-4fb9-8c65-599cd2f4d9c7","credentials":{"httpBasicAuth":{"id":null,"name":"n8n Creds"}},"notes":"Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "},{"parameters":{"functionCode":"item = item.data;\nreturn item;"},"name":"FunctionItem","type":"n8n-nodes-base.functionItem","position":[800,160],"typeVersion":1,"id":"b33d83cd-e7ad-4cb1-a218-3d2ab770e6e7"},{"parameters":{"binaryData":true,"name":"={{$node[\"Merge\"].data[\"name\"]}}.json","resolveData":true,"parents":["Delete this text and put id for folder you want to upload into in this field. The folder ID can be found by opening the folder in your browser and copying the portion after https://drive.google.com/drive/u/0/folders/"],"options":{}},"name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1140,160],"typeVersion":1,"id":"0438ad30-3d6a-489a-817c-b227f210f7f3","credentials":{"googleApi":{"id":null,"name":"test"}}},{"parameters":{"triggerTimes":{"item":[{"hour":2,"minute":30}]}},"name":"Run Daily at 2:30am","type":"n8n-nodes-base.cron","position":[20,160],"typeVersion":1,"id":"f06eff10-9a98-4548-a1f7-fce6b1459350"}],"connections":{"Map":{"main":[[{"node":"Get Workflow","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"FunctionItem","type":"main","index":0}]]},"FunctionItem":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Get Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Move Binary Data":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Get Workflow List":{"main":[[{"node":"Map","type":"main","index":0}]]},"Run Daily at 2:30am":{"main":[[{"node":"Get Workflow List","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Get Workflow List","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"76ab60de-6e22-4aee-ad8f-7ddc9e04375b","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}