workflowsEnrich company data with OpenAI.json
{"createdAt":"2025-02-27T15:53:40.384Z","updatedAt":"2025-02-27T16:04:49.000Z","id":"zgTZadtAss9i0Zxi","name":"Enrich company data with OpenAI","active":false,"nodes":[{"parameters":{},"id":"d58584b3-10db-4744-aa69-a7ce89330716","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-180,20],"typeVersion":1},{"parameters":{"url":"=https://www.{{ $node[\"Split In Batches\"].json[\"Domain\"] }}","options":{"redirect":{"redirect":{"followRedirects":true}}}},"id":"18d7f057-0f71-40bf-b4e3-58fac6299c5f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[640,180],"typeVersion":3,"continueOnFail":true},{"parameters":{"extractionValues":{"values":[{"key":"body","cssSelector":"html"}]},"options":{"trimValues":false}},"id":"6774d8dd-8997-4b5e-a3d7-a0f215a4a584","name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","position":[820,180],"typeVersion":1,"continueOnFail":true},{"parameters":{"prompt":"=This is the content of the website {{ $node[\"Split In Batches\"].json[\"Domain\"] }}:\"{{ $json[\"contentShort\"] }}\"\n\nIn a JSON format:\n\n- Give me the value proposition of the company. In less than 25 words. In English. Casual Tone. Format is: \"[Company Name] helps [target audience] [achieve desired outcome] and [additional benefit]\"\n\n- Give me the industry of the company. (Classify using this industry list: [Agriculture, Arts, Construction, Consumer Goods, Education, Entertainment, Finance, Other, Health Care, Legal, Manufacturing, Media & Communications, Public Administration, Advertisements, Real Estate, Recreation & Travel, Retail, Software, Transportation & Logistics, Wellness & Fitness] if it's ambiguous between Sofware and Consumer Goods, prefer Consumer Goods)\n\n- Guess the target audience of each company.(Classify and choose 1 from this list: [sales teams, marketing teams, HR teams, customer Service teams, consumers, C-levels] Write it in lowercase)\n\n- Tell me if they are B2B or B2C\n\nformat should be:\n{\"value_proposition\": value_proposition,\n\"industry\": industry,\n\"target_audience\": target_audience, \n\"market\": market }\n\nJSON:","options":{"maxTokens":120,"temperature":0,"topP":1},"requestOptions":{}},"id":"478e91e0-cb38-420b-9f9f-11d75998d806","name":"OpenAI","type":"n8n-nodes-base.openAi","position":[1140,180],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}},"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"38a74081-bbbf-4264-8d82-908d5ef0c4b3","name":"Merge","type":"n8n-nodes-base.merge","position":[1600,40],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if ($input.item.json.body){\n\n\n\n$input.item.json.content = $input.item.json.body.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ')\n\n\n  $input.item.json.contentShort = $input.item.json.content.slice(0, 10000)\n}\n\n\n\n\nreturn $input.item"},"id":"39584a2c-8912-47e2-b8b1-b1a6a0eec044","name":"Clean Content","type":"n8n-nodes-base.code","position":[980,180],"executeOnce":false,"typeVersion":1,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM","mode":"list","cachedResultName":"Elenco aziende","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Foglio1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM/edit#gid=0"},"columnToMatchOn":"Sito web","valueToMatchOn":"={{ $json['Sito web'] }}","options":{}},"id":"8b05b3de-9998-4620-9f04-a70856d6c29a","name":"Update Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1840,40],"typeVersion":3,"credentials":{"googleSheetsOAuth2Api":{"id":"9rbmrZhUfdBgrlBn","name":"Google Sheets account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json.value_proposition=JSON.parse($input.item.json.text).value_proposition\n\n$input.item.json.industry=JSON.parse($input.item.json.text).industry\n\n$input.item.json.market=JSON.parse($input.item.json.text).market\n\n$input.item.json.target_audience=JSON.parse($input.item.json.text).target_audience\n\nreturn $input.item;"},"id":"81c7940e-af78-403b-86f7-6091ffc742fb","name":"Parse JSON","type":"n8n-nodes-base.code","position":[1300,180],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"value":"1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM","mode":"list","cachedResultName":"Elenco aziende","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Foglio1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nFx-L9B9aEBoqjQfCkJCDuQC9UQS7Q-wUvnXa-bgzpM/edit#gid=0"},"options":{}},"id":"01023e2a-b6ea-4f9b-8fdf-ffd2f5141f06","name":"Read Google Sheets","type":"n8n-nodes-base.googleSheets","position":[40,20],"typeVersion":3,"credentials":{"googleSheetsOAuth2Api":{"id":"9rbmrZhUfdBgrlBn","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"7ee8cb65-a58a-47fe-904a-63fc8f3fabfd","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[260,20],"typeVersion":1},{"parameters":{"unit":"seconds"},"id":"e71c9fec-1dbb-4a2f-94c2-cb7e64412345","name":"Wait","type":"n8n-nodes-base.wait","position":[2060,280],"webhookId":"d44bc024-1c21-44e0-b2b4-5cff6fb9f402","typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update Google Sheets","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTML Extract":{"main":[[{"node":"Clean Content","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"Clean Content":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Read Google Sheets":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Update Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Read Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"808a1888-802c-487a-8639-12b1ca440870","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}