workflowsChat with PDF docs using AI.json
{"createdAt":"2025-02-12T00:27:40.432Z","updatedAt":"2025-02-12T01:43:17.000Z","id":"T21CWVzmAQyf8fPL","name":"Chat with PDF docs using AI","active":false,"nodes":[{"parameters":{},"id":"42603d7e-354d-4611-a4fc-a8a5e7ae9e80","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-280,60],"typeVersion":1},{"parameters":{"options":{}},"id":"76294504-c4f9-4ef9-b7a3-6b1d90fe2f4c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[520,280],"typeVersion":1},{"parameters":{"content":"## 1. Setup: Fetch file from Google Drive, split it into chunks and insert into a vector database\nNote that running this part multiple times will insert multiple copies into your DB","height":728.4168721167887,"width":1086.039382705461,"color":7},"id":"3030ea98-f6e4-4ff7-8df6-258fa5b46310","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-120,-120],"typeVersion":1},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file_url","value":"={{ $json.file_url }}"},{"name":"file_name","value":"={{ $('Add in metadata').item.json.file_name }}"}]}}},"id":"7ae6461f-0d94-49f8-b840-f16ce359cc55","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[700,280],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"50025ff5-1b53-475f-b150-2aafef1c4c21","name":"file_url","type":"string","value":" https://drive.google.com/file/d/11Koq9q53nkk0F5Y8eZgaWJUVR03I4-MM/view"}]},"options":{}},"id":"2a92c25c-d9aa-4e92-9ec5-4725d6947a33","name":"Set file URL in Google Drive","type":"n8n-nodes-base.set","position":[-60,60],"typeVersion":3.3},{"parameters":{"content":"# Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in the two vector store nodes\n2. Populate Pinecone by clicking the 'test workflow' button below\n3. Click the 'chat' button below and enter the following:\n\n_Which email provider does the creator of Bitcoin use?_","height":350.7942096493649},"id":"7e1cef05-d0b5-4cc9-9cc2-66aeca51cc90","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-580,-40],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.file_name = $input.item.binary.data.fileName;\n$input.item.json.file_ext = $input.item.binary.data.fileExtension;\n$input.item.json.file_url = $('Set file URL in Google Drive').item.json.file_url\n\nreturn $input.item;"},"id":"1310995e-7ec6-4cdd-8a47-9efe3aed5d14","name":"Add in metadata","type":"n8n-nodes-base.code","position":[360,60],"typeVersion":2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.file_url }}"},"options":{}},"id":"66df3fe1-5177-4d3c-9926-e39c3987dd8b","name":"Download file","type":"n8n-nodes-base.googleDrive","position":[140,60],"typeVersion":3},{"parameters":{},"id":"adefe770-9c61-4a05-a999-4fb5bbbce37b","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-280,780],"webhookId":"1727c687-aed0-49cf-96af-e7796819fbb3","typeVersion":1},{"parameters":{"jsCode":"let out = \"\"\nfor (const i in $input.all()) {\n  let itemText = \"--- CHUNK \" + i + \" ---\\n\"\n  itemText += $input.all()[i].json.document.pageContent + \"\\n\"\n  itemText += \"\\n\"\n  out += itemText\n}\n\nreturn {\n  'context': out\n};"},"id":"ef419d66-6a03-4920-8865-579a33f18499","name":"Prepare chunks","type":"n8n-nodes-base.code","position":[540,780],"typeVersion":2},{"parameters":{"options":{}},"id":"3b550a96-0a4b-4151-bd51-e4e1606631f5","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[160,1000],"typeVersion":1},{"parameters":{"options":{}},"id":"1bcada7d-9eb5-42fe-8273-d64953fecc93","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[780,1000],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"236047ff-75a2-47fd-b338-1e9763c4015e","name":"chunks","type":"number","value":4}]},"includeOtherFields":true,"options":{}},"id":"558e5c4c-d359-4935-9486-fa3aef79d4b7","name":"Set max chunks to send to model","type":"n8n-nodes-base.set","position":[-60,780],"typeVersion":3.3},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"number\"\n      }\n    }\n  }\n}"},"id":"e09a5add-f1c9-41b2-aadd-8753409bc7e5","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[960,1000],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"67ecefcf-a30c-4cc4-89ca-b9b23edd6585","name":"citations","type":"array","value":"={{ $json.citations.map(i => '[' + $('Get top chunks matching query').all()[$json.citations].json.document.metadata.file_name + ', lines ' + $('Get top chunks matching query').all()[$json.citations].json.document.metadata['loc.lines.from'] + '-' + $('Get top chunks matching query').all()[$json.citations].json.document.metadata['loc.lines.to'] + ']') }}"}]},"includeOtherFields":true,"options":{}},"id":"19203d42-9ff5-4b14-9419-125e4919448c","name":"Compose citations","type":"n8n-nodes-base.set","position":[1140,780],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"d77956c4-0ff4-4c64-80c2-9da9d4c8ad34","name":"text","type":"string","value":"={{ $json.answer }} {{ $if(!$json.citations.isEmpty(), \"\\n\" + $json.citations.join(\"\"), '') }}"}]},"options":{}},"id":"258ab930-b5e2-4318-b5fc-ea5f0a811ca5","name":"Generate response","type":"n8n-nodes-base.set","position":[1360,780],"typeVersion":3.3},{"parameters":{"content":"## 2. Chat with file, getting citations in reponse","height":548.5086735412393,"width":1693.989843925635,"color":7},"id":"7f4c7eb4-4f99-40d5-8ee4-86eaf769ad19","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-120,660],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Use the following pieces of context to answer the question at the end. If you don't know the answer, just say that you don't know, don't try to make up an answer. Important: In your response, also include the the indexes of the chunks you used to generate the answer.\n\n{{ $json.context }}\n\nQuestion: {{ $(\"Chat Trigger\").first().json.chatInput }}\nHelpful Answer:","hasOutputParser":true},"id":"66afd952-891a-4f84-8444-6c68ea8e9f20","name":"Answer the query based on chunks","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[760,780],"typeVersion":1.4},{"parameters":{"content":"Will fetch the Bitcoin whitepaper, but you can change this","height":257.75985739596473,"width":179.58883583572606,"color":7},"id":"9f52f0d3-ea44-45a5-8e9f-965e2b3fd4b8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-100,-20],"typeVersion":1},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"mode":"list","value":"test-index","cachedResultName":"test-index"},"prompt":"={{ $json.chatInput }}","topK":"={{ $json.chunks }}","options":{}},"id":"3d8d8377-56d5-4528-ad35-740b0d3d3022","name":"Get top chunks matching query","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[160,780],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"test-index","cachedResultName":"test-index"},"options":{}},"id":"61fd01b2-f451-4310-8ce3-c70a6883e88e","name":"Add to Pinecone vector store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[580,60],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"5217b021-7055-4328-a4c6-0f9c400f5732","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[700,440],"typeVersion":1}],"connections":{"Chat Trigger":{"main":[[{"node":"Set max chunks to send to model","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Add in metadata","type":"main","index":0}]]},"Prepare chunks":{"main":[[{"node":"Answer the query based on chunks","type":"main","index":0}]]},"Add in metadata":{"main":[[{"node":"Add to Pinecone vector store","type":"main","index":0}]]},"Compose citations":{"main":[[{"node":"Generate response","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Add to Pinecone vector store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Answer the query based on chunks","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Get top chunks matching query","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Add to Pinecone vector store","type":"ai_document","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Answer the query based on chunks","type":"ai_outputParser","index":0}]]},"Set file URL in Google Drive":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Get top chunks matching query":{"main":[[{"node":"Prepare chunks","type":"main","index":0}]]},"Set max chunks to send to model":{"main":[[{"node":"Get top chunks matching query","type":"main","index":0}]]},"Answer the query based on chunks":{"main":[[{"node":"Compose citations","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set file URL in Google Drive","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b5b436f5-f9a0-4aaa-9a1d-d439d91bc76a","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}