workflowsAI Telegram bot with Supabase memory.json
{"createdAt":"2025-02-12T00:12:19.975Z","updatedAt":"2025-02-12T01:48:30.000Z","id":"7nbNlHpoTtBKlJAN","name":"AI Telegram bot with Supabase memory","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"7335ecf7-4800-4c67-9fa0-efd3675155be","name":"Get New Message","type":"n8n-nodes-base.telegramTrigger","position":[580,880],"webhookId":"464f0a75-56d1-402f-8b12-b358452e9736","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"adde9087-82f8-4f74-b639-c5c81b81fa95","name":"OPENAI - Create thread","type":"n8n-nodes-base.httpRequest","position":[1200,1020],"typeVersion":4.2},{"parameters":{"tableId":"telegram_users","fieldsUi":{"fieldValues":[{"fieldId":"telegram_id","fieldValue":"={{ $('Get New Message').item.json.message.chat.id }}"},{"fieldId":"openai_thread_id","fieldValue":"={{ $('OPENAI - Create thread').item.json.id }}"}]}},"id":"a1a48e56-2c5c-41a1-b4e0-e42e92f38146","name":"Create User","type":"n8n-nodes-base.supabase","position":[1360,1020],"typeVersion":1},{"parameters":{},"id":"8139e38f-84fe-44df-88c0-f3e8b0739b14","name":"Merge","type":"n8n-nodes-base.merge","position":[1540,880],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.openai_thread_id }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Get New Message').item.json.message.text }}"}]},"options":{}},"id":"60b4b074-82dd-4b03-b013-4d7f164427d8","name":"OPENAI - Send message","type":"n8n-nodes-base.httpRequest","position":[1700,880],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.openai_thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_b0QhuzySG6jofHFdzPZD7WEz"},{"name":"stream","value":"={{true}}"}]},"options":{}},"id":"6223cb5b-697e-4523-b860-082235754ca8","name":"OPENAI - Run assistant","type":"n8n-nodes-base.httpRequest","position":[1900,880],"typeVersion":4.2},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.openai_thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"ebc33b46-9f2c-46ab-83dc-ec44a112c249","name":"OPENAI - Get messages","type":"n8n-nodes-base.httpRequest","position":[2100,880],"typeVersion":4.2},{"parameters":{"chatId":"={{ $('Get New Message').item.json.message.chat.id }}","text":"={{ $('OPENAI - Get messages').item.json.data[0].content[0].text.value }}","additionalFields":{"appendAttribution":false}},"id":"477608c9-901e-4bee-be85-e7d3f1898eb4","name":"Send Message to User","type":"n8n-nodes-base.telegram","position":[2300,880],"typeVersion":1.2,"webhookId":"d47fc609-f85e-44c6-a325-e1ff2696fd7c"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b6e69a1f-eb42-4ef6-b80c-3167f1b8c830","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"fb02cdde-0b36-4764-964c-96bbc92402fd","name":"If User exists","type":"n8n-nodes-base.if","position":[1020,880],"typeVersion":2.1},{"parameters":{"operation":"getAll","tableId":"telegram_users","filters":{"conditions":[{"keyName":"telegram_id","condition":"eq","keyValue":"={{ $json.message.chat.id }}"}]}},"id":"47f0683b-fff1-4669-8f47-43ae73e73f10","name":"Find User","type":"n8n-nodes-base.supabase","position":[820,880],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"content":"SQL query to create table in Supabase:\n\n```\ncreate table\n  public.telegram_users (\n    id uuid not null default gen_random_uuid (),\n    date_created timestamp with time zone not null default (now() at time zone 'utc'::text),\n    telegram_id bigint null,\n    openai_thread_id text null,\n    constraint telegram_users_pkey primary key (id)\n  ) tablespace pg_default;\n```","height":213.15921994594194,"width":600.723278204605,"color":7},"id":"371228c3-1f5c-4ad5-ad6e-99a00ea15767","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[760,1180],"typeVersion":1},{"parameters":{"content":"Create assistant in [OpenAI](https://platform.openai.com/assistants).\n\n**Specify own assistant id here**\n","height":80,"width":282.075050779723,"color":3},"id":"0814f307-f99a-43f2-9ca8-90a403f64dc7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1800,740],"typeVersion":1},{"parameters":{"content":"Create own Telegram bot in [Botfather bot](https://t.me/botfather)","height":80,"width":235.09282368774151,"color":3},"id":"ce232333-0131-43f7-b340-b21b9656cb50","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[500,760],"typeVersion":1},{"parameters":{"content":"Create table in [Supabase](https://supabase.com) with SQL query","height":80,"color":3},"id":"513cacfb-4e23-46c5-bdcd-8d10672e87f5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[760,1060],"typeVersion":1},{"parameters":{"content":"### Set up steps\n1. **Create a Telegram Bot** using the [Botfather](https://t.me/botfather) and obtain the bot token.\n2. **Set up Supabase:**\n\t1. Create a new project and generate a ```SUPABASE_URL``` and ```SUPABASE_KEY```.\n\t2. Create a new table named ```telegram_users``` with the following SQL query:\n```\ncreate table\n  public.telegram_users (\n    id uuid not null default gen_random_uuid (),\n    date_created timestamp with time zone not null default (now() at time zone 'utc'::text),\n    telegram_id bigint null,\n    openai_thread_id text null,\n    constraint telegram_users_pkey primary key (id)\n  ) tablespace pg_default;\n```\n3. **OpenAI Setup:**\n\t1. Create an OpenAI assistant and obtain the ```OPENAI_API_KEY```.\n\t2. Customize your assistant’s personality or use cases according to your requirements.\n4. **Environment Configuration in n8n:**\n\t1. Configure the Telegram, Supabase, and OpenAI nodes with the appropriate credentials.\n\t2. Set up triggers for receiving messages and handling conversation logic.\n\t3. Set up OpenAI assistant ID in \"++OPENAI - Run assistant++\" node.","height":438.5821431288714,"width":280.2462120317618,"color":7},"id":"e9efbddf-44c8-4f2a-a923-e75b707ad369","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-340,500],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Untitled%20(1500%20x%20300%20px).png)\n## AI Telegram Bot with Supabase memory\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nMany simple chatbots lack context awareness and user memory. This workflow solves that by integrating Supabase to keep track of user sessions (via ```telegram_id``` and ```openai_thread_id```), allowing the bot to maintain continuity and context in conversations, leading to a more human-like and engaging experience.\n\nThis Telegram bot template connects with OpenAI to answer user queries while storing and retrieving user information from a Supabase database. The memory component ensures that the bot can reference past interactions, making it suitable for use cases such as customer support, virtual assistants, or any application where context retention is crucial.\n\n","height":494.9629292914819,"width":636.2128494576581,"color":7},"id":"a8dbf625-703a-44e0-8a68-d9ee5c5abd0e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-340,-20],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [5 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Youtube%20thumb%20(3).png)](https://www.youtube.com/watch?v=kS41gut8l0g)\n","height":240.6839895136402,"width":330.5152611046425,"color":7},"id":"4c35792d-0aa7-44d8-b2e0-6ff0826124a8","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-40,500],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"OPENAI - Send message","type":"main","index":0}]]},"Find User":{"main":[[{"node":"If User exists","type":"main","index":0}]]},"Create User":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If User exists":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"OPENAI - Create thread","type":"main","index":0}]]},"Get New Message":{"main":[[{"node":"Find User","type":"main","index":0}]]},"OPENAI - Get messages":{"main":[[{"node":"Send Message to User","type":"main","index":0}]]},"OPENAI - Send message":{"main":[[{"node":"OPENAI - Run assistant","type":"main","index":0}]]},"OPENAI - Create thread":{"main":[[{"node":"Create User","type":"main","index":0}]]},"OPENAI - Run assistant":{"main":[[{"node":"OPENAI - Get messages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Merge":[{"json":{"id":"4a5d71a4-a2f7-43e2-936f-37ee5bf5cc9e","telegram_id":1468754364,"date_created":"2024-10-04T08:29:07.458869+00:00","openai_thread_id":null}}],"Find User":[{"json":{"id":"4a5d71a4-a2f7-43e2-936f-37ee5bf5cc9e","telegram_id":1468754364,"date_created":"2024-10-04T08:29:07.458869+00:00","openai_thread_id":null}}],"Get New Message":[{"json":{"message":{"chat":{"id":1468754364,"type":"private","username":"low_code","first_name":"Mark"},"date":1727961249,"from":{"id":1468754364,"is_bot":false,"username":"low_code","first_name":"Mark","language_code":"en"},"text":"Hello, how are you?","entities":[{"type":"bot_command","length":6,"offset":0}],"message_id":3},"update_id":412281353}}],"Send Message to User":[{"json":{"ok":true,"result":{"chat":{"id":1468754364,"type":"private","username":"low_code","first_name":"Mark"},"date":1727971919,"from":{"id":7999029315,"is_bot":true,"username":"test241234_bot","first_name":"Test bot"},"text":"Hello! I'm just a program, but I'm here and ready to help you. How can I assist you today?","message_id":7}}}],"OPENAI - Get messages":[{"json":{"data":[{"id":"msg_C7aXbSotAl6xCxjR9avi4wUz","role":"assistant","object":"thread.message","run_id":"run_9avgP4lZ1FRSsL3y9UO8HPa1","content":[{"text":{"value":"Hello! I'm just a program, but I'm here and ready to help you. How can I assist you today?","annotations":[]},"type":"text"}],"metadata":{},"thread_id":"thread_laO8JLPW6L1upYHW6fSRj8Bt","created_at":1727971739,"attachments":[],"assistant_id":"asst_b0QhuzySG6jofHFdzPZD7WEz"},{"id":"msg_fVGPVHR03QKheHXh54SFpmpm","role":"user","object":"thread.message","run_id":null,"content":[{"text":{"value":"Hello, how are you?","annotations":[]},"type":"text"}],"metadata":{},"thread_id":"thread_laO8JLPW6L1upYHW6fSRj8Bt","created_at":1727971467,"attachments":[],"assistant_id":null}],"object":"list","last_id":"msg_fVGPVHR03QKheHXh54SFpmpm","first_id":"msg_C7aXbSotAl6xCxjR9avi4wUz","has_more":false}}],"OPENAI - Send message":[{"json":{"id":"msg_fVGPVHR03QKheHXh54SFpmpm","role":"user","object":"thread.message","run_id":null,"content":[{"text":{"value":"Hello, how are you?","annotations":[]},"type":"text"}],"metadata":{},"thread_id":"thread_laO8JLPW6L1upYHW6fSRj8Bt","created_at":1727971467,"attachments":[],"assistant_id":null}}],"OPENAI - Create thread":[{"json":{"id":"thread_laO8JLPW6L1upYHW6fSRj8Bt","object":"thread","metadata":{},"created_at":1727971362,"tool_resources":{}}}],"OPENAI - Run assistant":[{"json":{"data":"event: thread.run.created\ndata: {\"id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"object\":\"thread.run\",\"created_at\":1727971737,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"status\":\"queued\",\"started_at\":null,\"expires_at\":1727972337,\"cancelled_at\":null,\"failed_at\":null,\"completed_at\":null,\"required_action\":null,\"last_error\":null,\"model\":\"gpt-4o-mini\",\"instructions\":\"You are ChatGPT\",\"tools\":[],\"tool_resources\":{\"code_interpreter\":{\"file_ids\":[]}},\"metadata\":{},\"temperature\":1.0,\"top_p\":1.0,\"max_completion_tokens\":null,\"max_prompt_tokens\":null,\"truncation_strategy\":{\"type\":\"auto\",\"last_messages\":null},\"incomplete_details\":null,\"usage\":null,\"response_format\":\"auto\",\"tool_choice\":\"auto\",\"parallel_tool_calls\":true}\n\nevent: thread.run.queued\ndata: {\"id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"object\":\"thread.run\",\"created_at\":1727971737,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"status\":\"queued\",\"started_at\":null,\"expires_at\":1727972337,\"cancelled_at\":null,\"failed_at\":null,\"completed_at\":null,\"required_action\":null,\"last_error\":null,\"model\":\"gpt-4o-mini\",\"instructions\":\"You are ChatGPT\",\"tools\":[],\"tool_resources\":{\"code_interpreter\":{\"file_ids\":[]}},\"metadata\":{},\"temperature\":1.0,\"top_p\":1.0,\"max_completion_tokens\":null,\"max_prompt_tokens\":null,\"truncation_strategy\":{\"type\":\"auto\",\"last_messages\":null},\"incomplete_details\":null,\"usage\":null,\"response_format\":\"auto\",\"tool_choice\":\"auto\",\"parallel_tool_calls\":true}\n\nevent: thread.run.in_progress\ndata: {\"id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"object\":\"thread.run\",\"created_at\":1727971737,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"status\":\"in_progress\",\"started_at\":1727971738,\"expires_at\":1727972337,\"cancelled_at\":null,\"failed_at\":null,\"completed_at\":null,\"required_action\":null,\"last_error\":null,\"model\":\"gpt-4o-mini\",\"instructions\":\"You are ChatGPT\",\"tools\":[],\"tool_resources\":{\"code_interpreter\":{\"file_ids\":[]}},\"metadata\":{},\"temperature\":1.0,\"top_p\":1.0,\"max_completion_tokens\":null,\"max_prompt_tokens\":null,\"truncation_strategy\":{\"type\":\"auto\",\"last_messages\":null},\"incomplete_details\":null,\"usage\":null,\"response_format\":\"auto\",\"tool_choice\":\"auto\",\"parallel_tool_calls\":true}\n\nevent: thread.run.step.created\ndata: {\"id\":\"step_b0iFvL1q1UEZDfBRbbNTiulO\",\"object\":\"thread.run.step\",\"created_at\":1727971739,\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"type\":\"message_creation\",\"status\":\"in_progress\",\"cancelled_at\":null,\"completed_at\":null,\"expires_at\":1727972337,\"failed_at\":null,\"last_error\":null,\"step_details\":{\"type\":\"message_creation\",\"message_creation\":{\"message_id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\"}},\"usage\":null}\n\nevent: thread.run.step.in_progress\ndata: {\"id\":\"step_b0iFvL1q1UEZDfBRbbNTiulO\",\"object\":\"thread.run.step\",\"created_at\":1727971739,\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"type\":\"message_creation\",\"status\":\"in_progress\",\"cancelled_at\":null,\"completed_at\":null,\"expires_at\":1727972337,\"failed_at\":null,\"last_error\":null,\"step_details\":{\"type\":\"message_creation\",\"message_creation\":{\"message_id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\"}},\"usage\":null}\n\nevent: thread.message.created\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message\",\"created_at\":1727971739,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"status\":\"in_progress\",\"incomplete_details\":null,\"incomplete_at\":null,\"completed_at\":null,\"role\":\"assistant\",\"content\":[],\"attachments\":[],\"metadata\":{}}\n\nevent: thread.message.in_progress\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message\",\"created_at\":1727971739,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"status\":\"in_progress\",\"incomplete_details\":null,\"incomplete_at\":null,\"completed_at\":null,\"role\":\"assistant\",\"content\":[],\"attachments\":[],\"metadata\":{}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\"Hello\",\"annotations\":[]}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\"!\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" I'm\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" just\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" a\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" program\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\",\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" but\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" I'm\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" here\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" and\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" ready\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" to\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" help\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" you\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\".\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" How\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" can\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" I\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" assist\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" you\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\" today\"}}]}}\n\nevent: thread.message.delta\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message.delta\",\"delta\":{\"content\":[{\"index\":0,\"type\":\"text\",\"text\":{\"value\":\"?\"}}]}}\n\nevent: thread.message.completed\ndata: {\"id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\",\"object\":\"thread.message\",\"created_at\":1727971739,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"status\":\"completed\",\"incomplete_details\":null,\"incomplete_at\":null,\"completed_at\":1727971740,\"role\":\"assistant\",\"content\":[{\"type\":\"text\",\"text\":{\"value\":\"Hello! I'm just a program, but I'm here and ready to help you. How can I assist you today?\",\"annotations\":[]}}],\"attachments\":[],\"metadata\":{}}\n\nevent: thread.run.step.completed\ndata: {\"id\":\"step_b0iFvL1q1UEZDfBRbbNTiulO\",\"object\":\"thread.run.step\",\"created_at\":1727971739,\"run_id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"type\":\"message_creation\",\"status\":\"completed\",\"cancelled_at\":null,\"completed_at\":1727971740,\"expires_at\":1727972337,\"failed_at\":null,\"last_error\":null,\"step_details\":{\"type\":\"message_creation\",\"message_creation\":{\"message_id\":\"msg_C7aXbSotAl6xCxjR9avi4wUz\"}},\"usage\":{\"prompt_tokens\":39,\"completion_tokens\":25,\"total_tokens\":64}}\n\nevent: thread.run.completed\ndata: {\"id\":\"run_9avgP4lZ1FRSsL3y9UO8HPa1\",\"object\":\"thread.run\",\"created_at\":1727971737,\"assistant_id\":\"asst_b0QhuzySG6jofHFdzPZD7WEz\",\"thread_id\":\"thread_laO8JLPW6L1upYHW6fSRj8Bt\",\"status\":\"completed\",\"started_at\":1727971738,\"expires_at\":null,\"cancelled_at\":null,\"failed_at\":null,\"completed_at\":1727971740,\"required_action\":null,\"last_error\":null,\"model\":\"gpt-4o-mini\",\"instructions\":\"You are ChatGPT\",\"tools\":[],\"tool_resources\":{\"code_interpreter\":{\"file_ids\":[]}},\"metadata\":{},\"temperature\":1.0,\"top_p\":1.0,\"max_completion_tokens\":null,\"max_prompt_tokens\":null,\"truncation_strategy\":{\"type\":\"auto\",\"last_messages\":null},\"incomplete_details\":null,\"usage\":{\"prompt_tokens\":39,\"completion_tokens\":25,\"total_tokens\":64},\"response_format\":\"auto\",\"tool_choice\":\"auto\",\"parallel_tool_calls\":true}\n\nevent: done\ndata: [DONE]\n\n"}}]},"versionId":"2daa3946-cdd6-4cbf-a419-f3704f285481","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}