workflowsList social media activity of a company before a call.json
{"createdAt":"2025-02-27T11:01:18.094Z","updatedAt":"2025-02-27T15:52:39.000Z","id":"PgPWb4TF0FlRdO11","name":"List social media activity of a company before a call","active":false,"nodes":[{"parameters":{"url":"https://twitter154.p.rapidapi.com/user/tweets","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"user_id","value":"={{ $json.twitter.id }}"},{"name":"include_replies","value":"={{ false }}"},{"name":"include_pinned","value":"={{ false }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Host","value":"twitter154.p.rapidapi.com"},{"name":"X-RapidAPI-Key","value":"={{ $('Setup').first().json.twitterAPIKey }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"id":"9a16bf9a-8c18-4529-a8af-7615e71a1050","name":"Get recetn tweets","type":"n8n-nodes-base.httpRequest","position":[-860,780],"typeVersion":4.1},{"parameters":{"fields":{"values":[{"name":"linkedInAPIKey","stringValue":"0c5bdb17e0mshe95e0a9875a694ap1b0e67jsn301042222aa5"},{"name":"twitterAPIKey","stringValue":"0c5bdb17e0mshe95e0a9875a694ap1b0e67jsn301042222aa5"},{"name":"emails","stringValue":"mantovanifabiomarco@gmail.com"}]},"options":{}},"id":"61c40084-ddb0-4dcc-91d0-50fd91bf0f2c","name":"Setup","type":"n8n-nodes-base.set","position":[-1540,340],"typeVersion":3.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"09d8db4c-9470-4a3b-8b2e-39157848017b","name":"Every morning @ 7","type":"n8n-nodes-base.scheduleTrigger","position":[-1780,340],"typeVersion":1.1},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"mantovanifabiomarco@gmail.com","mode":"list","cachedResultName":"mantovanifabiomarco@gmail.com"},"options":{"timeMin":"={{ $now.beginningOf('day') }}","timeMax":"={{ $now.endOf('day') }}","singleEvents":true}},"id":"231d6328-9ef8-42ca-a4c3-8e1df057f473","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[-1180,340],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}}},{"parameters":{"fields":{"values":[{"name":"domain","type":"arrayValue","arrayValue":"={{ $json.attendees.filter(a => !a.organizer).map(a => a.email.split('@').pop()) }}"},{"name":"attendeeEmails","type":"arrayValue","arrayValue":"={{ $json.attendees.filter(a => !a.organizer).map(a => a.email) }}"}]},"options":{}},"id":"f6f027af-a27c-4ef6-a774-3769b2013b78","name":"Get attendees email domains","type":"n8n-nodes-base.set","position":[-980,340],"typeVersion":3.2},{"parameters":{"fieldToSplitOut":"domain","include":"selectedOtherFields","fieldsToInclude":"attendeeEmails, start","options":{}},"id":"3ec3cb88-c6d7-479d-abae-738446cd287b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-800,340],"typeVersion":1},{"parameters":{"url":"https://fresh-linkedin-profile-data.p.rapidapi.com/get-company-posts","authentication":"predefinedCredentialType","sendQuery":true,"queryParameters":{"parameters":[{"name":"linkedin_url","value":"=https://www.linkedin.com/{{ $json.linkedin.handle }}"},{"name":"sort_by","value":"recent"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $('Setup').item.json.linkedInAPIKey }}"},{"name":"X-RapidAPI-Host","value":"fresh-linkedin-profile-data.p.rapidapi.com"}]},"options":{"batching":{"batch":{}}}},"id":"3985cf9f-e24c-42e7-84b6-fa36f95b2be3","name":"Get recent LinkedIn posts","type":"n8n-nodes-base.httpRequest","position":[-860,580],"typeVersion":4.1},{"parameters":{"domain":"={{ $json.domain }}","additionalFields":{}},"id":"17b47894-3cff-4c1b-947b-6927c152fdd8","name":"Enrich attendee company","type":"n8n-nodes-base.clearbit","position":[-460,340],"typeVersion":1,"disabled":true},{"parameters":{"sendTo":"={{ $('Setup').first().json.emails }}","subject":"=Latest social activity for: {{ $('Extract data for email').item.json.name }} ","message":"={{ $json.html }}","options":{}},"id":"d48bf05f-b65e-413d-8887-80f0589a7721","name":"Gmail","type":"n8n-nodes-base.gmail","position":[220,680],"typeVersion":2.1,"webhookId":"bd1cdb4c-0ace-4d34-a38a-ff95408c10f1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// console.log('LINKEDIN', $('Enrich attendee company').item.json.name.toLowerCase())\nconst company = $('Enrich attendee company').item.json.name.toLowerCase();\n\nlet html = `\n<div style=\"display: flex; align-items: center; margin: 2em 0 1em\">\n  <img src=\"https://store-images.s-microsoft.com/image/apps.31120.9007199266245564.44dc7699-748d-4c34-ba5e-d04eb48f7960.bc4172bd-63f0-455a-9acd-5457f44e4473\" style=\"width: 20px; height: 20px; margin-right: 10px\" />\n  <h3 style=\"margin: 0\">LinkedIn posts</h3>\n</div>\n<table style=\"width: 100%\">\n`;\nfor(article of $input.item.json.data.slice(0,10)) {\n  html += `\n    <tr>\n      <td style=\"background-color: #f7f9fc; font-family: sans-serif; padding: 0.3em 1em\">\n        <div>\n          <a style=\"display: block; color: #000; text-decoration: none; margin-bottom: 5px; font-size: 1.1em\" href=\"${article.url}\"><i>${article.text}</i></a>\n        </div>\n        <p style=\"margin: 0; font-size: 0.8em\">\n          <span title=\"Likes\">❤️ ${article.num_likes}</span> | <span title=\"Comments\">💬 ${article.num_comments}</span>\n        </p>\n      </td>\n    </tr>\n  `\n}\nhtml += '</table>';\n\nreturn { \n  \"html_linkedin\": html,\n  name: $('Switch').item.json.name,\n  meeting: $('Split Out').item.json\n};"},"id":"3b0f96b3-ed87-4f53-8e3b-5ca5977e0bf7","name":"Format LinkedIn Posts","type":"n8n-nodes-base.code","position":[-640,580],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const company = $('Enrich attendee company').item.json.name.toLowerCase();\nlet html = `\n<div style=\"display: flex; align-items: center; margin: 2em 0 1em\">\n  <img src=\"https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1708473600&semt=ais\" style=\"width: 20px; height: 20px; margin-right: 10px\" />\n  <h3 style=\"margin: 0\">Tweets</h3>\n</div>\n<table style=\"width: 100%\">`;\nfor(article of $input.item.json.results) {\n  html += `\n    <tr>\n      <td style=\"background-color: #f7f9fc; font-family: sans-serif; padding: 0.3em 1em\">\n        <div>\n          <a style=\"display: block; color: #000; text-decoration: none; margin-bottom: 5px; font-size: 1.1em\" href=\"https://twitter.com/${article.user.username}/status/${article.tweet_id}\">\n          <i>${article.text}</i></a>\n        </div>\n        <p style=\"margin: 0; font-size: 0.8em\">\n          <span title=\"Retweets\">🔄 ${article.retweet_count}</span> | <span title=\"Favorites\">❤️ ${article.favorite_count}</span> | <span title=\"Replies\">💬 ${article.reply_count}</span>\n        </p>\n      </td>\n    </tr>\n  `\n}\nhtml += '</table>';\n\nreturn { \n    \"html_twitter\": html,\n    name: $('Switch').item.json.name,\n   meeting: $('Split Out').item.json\n};"},"id":"706db5e7-19e5-4413-8fdc-e99cfd822500","name":"Format Tweets","type":"n8n-nodes-base.code","position":[-640,780],"typeVersion":2},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"joinMode":"keepEverything","options":{"clashHandling":{"values":{"resolveClash":"preferInput2"}}}},"id":"4da80065-c284-4baf-8004-ae5f8567bfdd","name":"Combine all activity for a company","type":"n8n-nodes-base.merge","position":[-400,680],"typeVersion":2.1},{"parameters":{"fields":{"values":[{"name":"attendeeEmail","stringValue":"={{ $json.meeting.attendeeEmails.find(a => a.endsWith($json.meeting.domain)) }}"},{"name":"startHour","type":"numberValue","numberValue":"={{ DateTime.fromISO($json.meeting.start.dateTime).hour }}"},{"name":"startMinute","type":"numberValue","numberValue":"={{ DateTime.fromISO($json.meeting.start.dateTime).minute }}"}]},"include":"selected","includeFields":"name, html_twitter, html_linkedin","options":{}},"id":"f0980161-eb41-4dff-8ed2-4fdb17089b5b","name":"Extract data for email","type":"n8n-nodes-base.set","position":[-220,680],"typeVersion":3.2},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Social media activity for company: {{ $json.name }}</title>\n</head>\n<body>\n  <div class=\"container\">\n     <h2 style=\"font-size: 1.2em\">\n      🗓️ Meeting with \n       <span>{{ $json.attendeeEmail }}</span> \n       at {{ $json.startHour }}:{{ $json.startMinute < 10 ? `0${$json.startMinute}` : $json.startMinute }}h\n    </h2>\n    {{ $json.html_linkedin ?? ''}}\n    {{ $json.html_twitter  ?? ''}}\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  font-family: sans-serif;\n}\n</style>"},"id":"03cc1b19-ba07-4361-a16e-e53a07966ece","name":"Prepare email template","type":"n8n-nodes-base.html","position":[0,680],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.linkedin.handle !== null }}","rightValue":"","id":"28fb9f5f-5975-40b1-a498-b10472574116"}],"combinator":"and"},"renameOutput":true,"outputKey":"linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bbb0310e-8b20-4bc6-a540-a4cd17470e28","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.twitter.id !== null }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"twitter"}]},"options":{"looseTypeValidation":false,"allMatchingOutputs":true}},"id":"2d30cf33-b16e-47f1-a871-35863d127bbb","name":"Switch","type":"n8n-nodes-base.switch","position":[-1100,680],"typeVersion":3},{"parameters":{"content":"## Start here\n1️⃣ Register on [RapidAPI](https://rapidapi.com) and subscribe to these two APIs:\n- [Fresh LinkedIn Profile Data](https://rapidapi.com/freshdata-freshdata-default/api/fresh-linkedin-profile-data)\n- [Twitter](https://rapidapi.com/omarmhaimdat/api/twitter154)\n\n\n2️⃣ Set API keys for these two in `linkedInAPIKey` and `twitterAPIKey`fields of this node\n\n3️⃣ Set email addresses that should receive the list in the `emails` field of this node","height":426.61520915049425,"width":409.31582584657923,"color":7},"id":"45e0129a-5ce6-4c88-9de5-13941d41db8d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1620,80],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n💡 If you need to get activities from more social media accounts found by ClearBit, they can be added here, just make sure to process them properly in separate switch node branches","height":308.7389742148118,"width":334.90628250854803,"color":7},"id":"cc51cda0-bd95-45c1-ac0d-2d9b0f732ee1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1320,660],"typeVersion":1},{"parameters":{"content":"### You will receive one email for every company in your calendar. These emails will look something like this:\n\n![hd](https://i.imgur.com/7T8XIX3.png#full-width)","height":717.2835666148258,"width":738.9631933644362,"color":5},"id":"a1d1a9ed-60a8-4eed-916c-6cb7d9ac35b4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-260,-80],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"881d891e-ea17-4879-a5cf-72d08b281f56","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.domain }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"d8cd79df-68e1-4b3b-940d-7bc3fb19800c","name":"Keep only ones with the domain","type":"n8n-nodes-base.filter","position":[-640,340],"typeVersion":2}],"connections":{"Setup":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get recent LinkedIn posts","type":"main","index":0}],[{"node":"Get recetn tweets","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Keep only ones with the domain","type":"main","index":0}]]},"Format Tweets":{"main":[[{"node":"Combine all activity for a company","type":"main","index":1}]]},"Every morning @ 7":{"main":[[{"node":"Setup","type":"main","index":0}]]},"Get recetn tweets":{"main":[[{"node":"Format Tweets","type":"main","index":0}]]},"Format LinkedIn Posts":{"main":[[{"node":"Combine all activity for a company","type":"main","index":0}]]},"Extract data for email":{"main":[[{"node":"Prepare email template","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Get attendees email domains","type":"main","index":0}]]},"Prepare email template":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Enrich attendee company":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get recent LinkedIn posts":{"main":[[{"node":"Format LinkedIn Posts","type":"main","index":0}]]},"Get attendees email domains":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Keep only ones with the domain":{"main":[[{"node":"Enrich attendee company","type":"main","index":0}]]},"Combine all activity for a company":{"main":[[{"node":"Extract data for email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"379438f0-c160-4ee0-ba85-ccff041b5844","triggerCount":0,"tags":[]}