workflowsScrive la didascalia di tutte le immagini di una cartella.json
{"createdAt":"2025-02-24T14:52:37.062Z","updatedAt":"2025-02-27T15:06:46.000Z","id":"9NuE9E9GarTbZEbu","name":"Scrive la didascalia di tutte le immagini di una cartella","active":false,"nodes":[{"parameters":{"url":"https://boo.it/FRV/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-380],"id":"8eaddb2c-3ffc-4945-bde6-1b8eeffbbf41","name":"HTTP Request2"},{"parameters":{"jsCode":"const html = $json.data; // Prende l'HTML dal nodo precedente\n\n// Trova tutte le righe della tabella (ogni <tr> che contiene un file)\nconst matches = html.match(/<tr>.*?<\\/tr>/g);\n\nif (!matches) {\n  return [];\n}\n\n// Estensioni permesse\nconst validExtensions = [\"jpg\", \"jpeg\", \"png\", \"tif\", \"tiff\"];\n\nreturn matches.map(row => {\n  // Estrai il nome del file\n  const nameMatch = row.match(/<td data-sort=\"([^\"]+)\">/);\n  const urlMatch = row.match(/<a href=\"([^\"]+)\">/);\n  const dateMatch = row.match(/<td data-sort=\"\\d+\">([^<]+)<\\/td>/);\n  const sizeMatch = row.match(/<td data-sort=\"\\d+\">([^<]+)<\\/td>/g);\n\n  if (nameMatch && urlMatch) {\n\n    const filename = nameMatch[1].trim();\n    const extension = filename.split(\".\").pop().toLowerCase();\n\n    // Filtra solo le immagini con estensioni valide\n    if (!validExtensions.includes(extension)) return null;\n    \n    return {\n      url: `https://boo.it${urlMatch[1]}`,\n      filename: nameMatch[1].trim(),\n      // lastModified: dateMatch ? dateMatch[1].trim() : \"N/A\",\n      // size: sizeMatch ? sizeMatch[1].replace(/<[^>]*>/g, '').trim() : \"N/A\"\n    };\n  }\n  return null;\n}).filter(Boolean);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,-380],"id":"11f4452c-1da8-4b7f-b0d6-ccfde7e9e4eb","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,-380],"id":"05c1e340-db0b-4619-8dfc-8a1c7c9acc4b","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"1e447d81-79d3-417a-b7e3-10a57192c7df","name":"Scarica Immagine","type":"n8n-nodes-base.httpRequest","position":[260,-540],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"url","options":{}},"id":"e37e84ca-e025-4718-b6d7-e27e102fe492","name":"Itera su ogni immagine1","type":"n8n-nodes-base.splitOut","position":[-80,-620],"typeVersion":1},{"parameters":{"operation":"resize","width":512,"height":512,"options":{}},"id":"91038987-5071-49a9-9e1d-cba27123b106","name":"Ridimensiona Immagine1","type":"n8n-nodes-base.editImage","position":[340,-320],"typeVersion":1},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,-620],"id":"029ab4eb-3c7a-4c4f-b988-f377c673da00","name":"Loop Over Items"},{"parameters":{"operation":"information"},"id":"a1a6b2a4-336f-4fee-84a2-07d6c8522597","name":"Get Info","type":"n8n-nodes-base.editImage","position":[480,-540],"typeVersion":1},{"parameters":{"promptType":"define","text":"Generate a caption for this image.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Il tuo ruolo è quello di fornire una didascalia appropriata per le immagini fornite dall'utente, che finiranno in un catalogo su cui potrà essere effettuata una ricerca in base alle didascalie che aggiungerai.\n\nI singoli componenti di una didascalia sono i seguenti: cosa, quando, dove, contesto e vari. Per una didascalia davvero buona, segui questo modello: cosa + quando + dove + contesto + vari.\n\nNon presumere l'identità del soggetto. Non serve. Descrivi piuttosto il suo aspetto, cosa fa, e che espressione ha: per esempio seria, allegra, spaventata, intensa, rabbiosa\n\nNon presumere nulla riguardo la situazione. Se puoi descrivi invece se ci si trova all'esterno e cosa c'è nei paraggi, oppure in quale ambiente ci si trova.\n\nDai alla didascalia un titolo conciso ed efficace.\n\nScrivi tutta la didascalia in lingua italiana e poi, dopo una riga vuota, ripetila in lingua inglese"},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"ca2d9eed-ca36-4417-95c3-4e1338e37d4d","name":"Image Captioning Agent","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-240,-100],"typeVersion":1.4},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"id":"2aa34b34-ab25-4352-a409-02555191ea90","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-260,120],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"hKHVfBTkYp9RvMAM","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"caption_title\": \"\",\n\t\"caption_text\": \"\"\n}"},"id":"293aa8e1-05f5-4f7e-a1e6-afeec250c37b","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-140,120],"typeVersion":1.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const { size, output } = $input.item.json;\n\nconst lineHeight = 35;\nconst fontSize = Math.round(size.height / lineHeight);\nconst maxLineLength = Math.round(size.width/fontSize) * 2;\nconst text = `\"${output.caption_title}\". ${output.caption_text}`;\nconst numLinesOccupied = Math.round(text.length / maxLineLength);\n\nconst verticalPadding = size.height * 0.02;\nconst horizontalPadding = size.width * 0.02;\nconst rectPosX = 0;\nconst rectPosY = size.height - (verticalPadding * 2.5) - ((numLinesOccupied+2) * fontSize);\nconst textPosX = horizontalPadding;\nconst textPosY = size.height - ((numLinesOccupied+2) * fontSize) - (verticalPadding/2);\n\nreturn {\n  caption: {\n    fontSize,\n    maxLineLength,\n    numLinesOccupied,\n    rectPosX,\n    rectPosY,\n    textPosX,\n    textPosY,\n    verticalPadding,\n    horizontalPadding,\n  }\n}\n"},"id":"8553201f-41d9-462a-a2d6-5745c78c04cd","name":"Calculate Positioning","type":"n8n-nodes-base.code","position":[680,-540],"typeVersion":2},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"b17f1f2d-c7b8-45cc-a8c9-c1a5f5228df8","name":"Merge Caption & Positions","type":"n8n-nodes-base.merge","position":[860,-540],"typeVersion":3},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"draw","color":"=#0000008c","startPositionX":"={{ $json.caption.rectPosX }}","startPositionY":"={{ $json.caption.rectPosY }}","endPositionX":"={{ $json.size.width }}","endPositionY":"={{ $json.size.height }}"},{"operation":"text","text":"=\"{{ $json.output.caption_title }}\". {{ $json.output.caption_text }}","fontSize":"={{ $json.caption.fontSize }}","fontColor":"#FFFFFF","positionX":"={{ $json.caption.textPosX }}","positionY":"={{ $json.caption.textPosY }}","lineLength":"={{ $json.caption.maxLineLength }}","font":"/usr/share/fonts/truetype/msttcorefonts/Arial.ttf"}]},"options":{}},"id":"965ce97b-4b02-4c03-b77b-0cc245ec2575","name":"Apply Caption to Image","type":"n8n-nodes-base.editImage","position":[880,-240],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1XcdJUmhx1lrGzNmfWVehwdvPAepjdpFeElzI8CUTJvI","mode":"list","cachedResultName":"Didascalie Fondo Roberto Villa","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XcdJUmhx1lrGzNmfWVehwdvPAepjdpFeElzI8CUTJvI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":809697812,"mode":"list","cachedResultName":"Cartella test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XcdJUmhx1lrGzNmfWVehwdvPAepjdpFeElzI8CUTJvI/edit#gid=809697812"},"columns":{"mappingMode":"defineBelow","value":{"URI":"={{ $('Code1').item.json.url }}","Nome File":"={{ $('Code1').item.json.filename }}","Didascalia":"={{ $('Combine Image & Caption').item.json.output.caption_text }}"},"matchingColumns":[],"schema":[{"id":"URI","displayName":"URI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome File","displayName":"Nome File","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Didascalia","displayName":"Didascalia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a5008f3c-8f99-4b30-a39c-e7bcf6f01e9d","name":"Aggiungi riga a Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1240,-240],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9rbmrZhUfdBgrlBn","name":"Google Sheets account"}}},{"parameters":{"operation":"upload","path":"=/{{ $('Code1').item.json.filename }}"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[1060,-240],"id":"26c74c53-f94a-42c3-8eb4-8ec452480531","name":"FTP","credentials":{"ftp":{"id":"GKZQtUih5Zs4oT7H","name":"FTP account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"6e3bd36c-6de6-4ba8-a768-357e8053794a","name":"Combine Image & Caption","type":"n8n-nodes-base.merge","position":[560,-120],"typeVersion":3}],"connections":{"HTTP Request2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Itera su ogni immagine1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Itera su ogni immagine1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Scarica Immagine":{"main":[[{"node":"Ridimensiona Immagine1","type":"main","index":0},{"node":"Get Info","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Scarica Immagine","type":"main","index":0}]]},"Ridimensiona Immagine1":{"main":[[{"node":"Image Captioning Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Image Captioning Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Image Captioning Agent","type":"ai_outputParser","index":0}]]},"Image Captioning Agent":{"main":[[{"node":"Combine Image & Caption","type":"main","index":1}]]},"Get Info":{"main":[[{"node":"Combine Image & Caption","type":"main","index":0}]]},"Calculate Positioning":{"main":[[{"node":"Merge Caption & Positions","type":"main","index":0}]]},"Merge Caption & Positions":{"main":[[{"node":"Apply Caption to Image","type":"main","index":0}]]},"Apply Caption to Image":{"main":[[{"node":"FTP","type":"main","index":0}]]},"Aggiungi riga a Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"FTP":{"main":[[{"node":"Aggiungi riga a Google Sheets","type":"main","index":0}]]},"Combine Image & Caption":{"main":[[{"node":"Calculate Positioning","type":"main","index":0},{"node":"Merge Caption & Positions","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8a07547d-96ff-4431-8e1a-723841f5829e","triggerCount":0,"tags":[{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}