workflowsQuery n8n Credentials with AI SQL Agent.json
{"createdAt":"2025-02-12T01:04:44.328Z","updatedAt":"2025-02-12T01:27:57.000Z","id":"Yr0hvtiZ1lXRBvjI","name":"Query n8n Credentials with AI SQL Agent","active":false,"nodes":[{"parameters":{},"id":"cb5ce763-9aac-4846-9726-d62eeaa11d3a","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[340,200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"0fd19a68-c561-4cc2-94d6-39848977e6d2","name":"workflow_id","type":"string","value":"={{ $json.id }}"},{"id":"a81f9e6f-9c78-4c3d-9b79-e820f8c5ba29","name":"workflow_name","type":"string","value":"={{ $json.name }}"},{"id":"58ab0f2f-7598-48de-bea1-f3373c5731fe","name":"credentials","type":"array","value":"={{ $json.nodes.map(node => node.credentials).compact().reduce((acc,cred) => { const keys = Object.keys(cred); const items = keys.map(key => ({ type: key,  ...cred[key] })); acc.push(...items); return acc; }, []) }}"}]},"options":{}},"id":"440f4ff3-fcc7-47e1-8a3d-21f199173c19","name":"Map Workflows & Credentials","type":"n8n-nodes-base.set","position":[780,200],"typeVersion":3.3},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨Required\nYou'll need an n8n API key. Note: available workflows will be scoped to your key.","height":299.56273929030715,"width":216},"id":"218af982-b987-40d1-afa0-ec84cc662ef3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[520,180],"typeVersion":1},{"parameters":{"language":"python","pythonCode":"import json\nimport sqlite3\ncon = sqlite3.connect(\"n8n_workflow_credentials.db\")\n\ncur = con.cursor()\ncur.execute(\"CREATE TABLE IF NOT EXISTS n8n_workflow_credentials (workflow_id TEXT PRIMARY KEY, workflow_name TEXT, credentials TEXT);\")\n\nfor item in _input.all():\n  cur.execute('INSERT OR REPLACE INTO n8n_workflow_credentials VALUES(?,?,?)', (\n    item.json.workflow_id,\n    item.json.workflow_name,\n    json.dumps(item.json.credentials.to_py())\n  ))\n\ncon.commit()\ncon.close()\n\nreturn [{ \"affected_rows\": len(_input.all()) }]"},"id":"a5a36aae-4604-454a-b14d-caae6ad42f91","name":"Save to Database","type":"n8n-nodes-base.code","position":[960,200],"typeVersion":2},{"parameters":{},"id":"74de1deb-cce4-4109-8fae-905fee9dce76","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1300,200],"webhookId":"993ce267-a1e5-4657-a38c-08f86715063d","typeVersion":1},{"parameters":{"name":"query_workflow_credentials_database","description":"Call this tool to query the workflow credentials database. The database is already set. The available tables are as follows:\n* n8n_workflow_credentials (workflow_id TEXT PRIMARY KEY, workflow_name TEXT, credentials TEXT);\n   * n8n_workflow_credentials.credentials are stored as json string and the app name may be obscured. Prefer querying using the %LIKE% operation for best results.\n\nPass a SQL SELECT query to this tool for the available tables.","language":"python","pythonCode":"import json\nimport sqlite3\ncon = sqlite3.connect(\"n8n_workflow_credentials.db\")\n\ncur = con.cursor()\nres = cur.execute(query);\n\noutput = json.dumps(res.fetchall())\n\ncon.close()\nreturn output;"},"id":"cae06c06-8bed-4ca2-a23b-f93c499f9cfd","name":"Query Workflow Credentials Database","type":"@n8n/n8n-nodes-langchain.toolCode","position":[1740,360],"typeVersion":1.1},{"parameters":{"options":{}},"id":"3a620c4c-6509-465a-9692-6fd554f56b48","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1480,360],"typeVersion":1},{"parameters":{},"id":"8e94979a-9582-4ff9-8770-2a45408a491f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1600,360],"typeVersion":1.2},{"parameters":{"content":"## Step 1. Store Workflows Credential Mappings to Database\n\nWe'll achieve this by querying n8n's built-in API to query all workflows, extract the credentials list from the nodes within and then store them in a SQLite database. Don't worry, the actual credential data won't be exposed! For the database, we'll abuse the fact that the code node is able to create Sqlite databases - however, this is created in memory and will be wiped if the n8n instance is restarted.","height":488.8805508857059,"width":930.8402221561373,"color":7},"id":"cb011862-b160-4d43-9c56-3f5ddc2e2d3c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[280,20],"typeVersion":1},{"parameters":{"content":"## Step 2. Use Agent as Search Interface\n\nInstead of building a form interface like a regular person, we'll just use an AI tools agent who is given aaccess to perform queries on our database. You can ask it things like \"which workflows are using slack + airtable + googlesheets?\"","height":527.3794193342486,"width":688.6507290693205,"color":7},"id":"32fe3bbf-4072-452a-828f-449fce08bc19","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1240,20],"typeVersion":1},{"parameters":{"options":{"systemMessage":"=You help find information on n8n workflow credentials. When user mentions an app, assume they mean the workflow credential for the app.\n* Only if the user requests to provide a link to the workflow, replace $workflow_id with the workflow id in the following url schema: {{ window.location.protocol + '//' + window.location.host }}/workflow/$workflow_id"}},"id":"4aecce0b-262d-4960-b26a-256a759d78a7","name":"Workflow Credentials Helper Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1500,200],"typeVersion":1.6},{"parameters":{"content":"## Try It Out!\n\n### This workflow let's you query workflow credentials using an AI SQL agent. Example use-case could be:\n* \"Which workflows are using Slack and Google Calendar?\"\n* \"Which workflows have AI in their name but are not using openAI?\"\n\n### Run the Steps separately!\n* Step 1 populates a local database\n* Step 2 engages with the chatbot","height":347.7398931123371,"width":415.13049730628427},"id":"c1b2f5f1-d394-4d71-bc9a-d0ec33c6403a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-160,20],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"389bfbdc-44b0-429a-aadc-a9026d98bf7e","name":"n8n","type":"n8n-nodes-base.n8n","position":[560,200],"typeVersion":1}],"connections":{"n8n":{"main":[[{"node":"Map Workflows & Credentials","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Workflow Credentials Helper Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Workflow Credentials Helper Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Workflow Credentials Helper Agent","type":"ai_memory","index":0}]]},"Map Workflows & Credentials":{"main":[[{"node":"Save to Database","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Query Workflow Credentials Database":{"ai_tool":[[{"node":"Workflow Credentials Helper Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a6578bf8-a9e0-4145-a343-2e29eee91661","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:27:55.368Z","updatedAt":"2025-02-12T01:27:55.368Z","id":"PtjTYwIbw0NJrEH9","name":"SQL"},{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}