workflowsUP Calendar Agent.json
{"createdAt":"2025-02-16T12:20:24.906Z","updatedAt":"2025-02-16T12:20:24.906Z","id":"0DcfJ2se4jCuLLQo","name":"UP Calendar Agent","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"4f818790-4a5a-4245-a798-3c807ce88968","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-920,360]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"36909538-b3ff-41b9-a10a-675e9023f3ea","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,200]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"2a8d2a7a-cb57-4107-bcf1-4f1b331fb247","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"2c4df5f8-1763-40a2-beb4-a8211504cf8c","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-680,100],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-220,360],"id":"d3a68fb8-49ed-47b3-9468-a2383a40d887","name":"Create Event with Attendee"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-360,460],"id":"c60983d3-4a47-4bf5-8f6c-994fff72a520","name":"Create Event"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-500,500],"id":"57b41bca-8adb-44f6-9a8e-dcee54877044","name":"Get Events"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-640,480],"id":"2af549f6-9ef5-4711-8d8b-d3d64076ec24","name":"Delete Event"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-780,440],"id":"81ff5716-c564-4e2d-bde8-8637c9a16e46","name":"Update Event"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-920,100],"id":"245b0797-0304-47fb-a1ab-cc41038178f4","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2e04880b-56de-4552-8cc0-5eae469fe989","triggerCount":0,"tags":[]}