workflowsCompany enrichment from website content.json
{"createdAt":"2025-02-24T13:26:31.689Z","updatedAt":"2025-02-24T13:26:39.000Z","id":"HcP60mhObzVvJUDW","name":"Company enrichment from website content","active":false,"nodes":[{"parameters":{},"id":"ad153aed-7e2b-47d1-a060-5f2a86956f35","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1},{"parameters":{"url":"=https://www.{{ $node[\"Split In Batches\"].json[\"Domain\"] }}","options":{"redirect":{"redirect":{"followRedirects":true}}}},"id":"9c68c6c3-1fe4-4140-b13b-bdcdcd064250","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[820,160],"typeVersion":3,"continueOnFail":true},{"parameters":{"extractionValues":{"values":[{"key":"body","cssSelector":"html"}]},"options":{"trimValues":false}},"id":"503dc269-db47-4776-bcef-3ac85830b652","name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","position":[1000,160],"typeVersion":1,"continueOnFail":true},{"parameters":{"prompt":"=This is the content of the website {{ $node[\"Split In Batches\"].json[\"Domain\"] }}:\"{{ $json[\"contentShort\"] }}\"\n\nIn a JSON format:\n\n- Give me the value proposition of the company. In less than 25 words. In English. Casual Tone. Format is: \"[Company Name] helps [target audience] [achieve desired outcome] and [additional benefit]\"\n\n- Give me the industry of the company. (Classify using this industry list: [Agriculture, Arts, Construction, Consumer Goods, Education, Entertainment, Finance, Other, Health Care, Legal, Manufacturing, Media & Communications, Public Administration, Advertisements, Real Estate, Recreation & Travel, Retail, Software, Transportation & Logistics, Wellness & Fitness] if it's ambiguous between Sofware and Consumer Goods, prefer Consumer Goods)\n\n- Guess the target audience of each company.(Classify and choose 1 from this list: [sales teams, marketing teams, HR teams, customer Service teams, consumers, C-levels] Write it in lowercase)\n\n- Tell me if they are B2B or B2C\n\nformat should be:\n{\"value_proposition\": value_proposition,\n\"industry\": industry,\n\"target_audience\": target_audience, \n\"market\": market }\n\nJSON:","options":{"maxTokens":120,"temperature":0,"topP":1},"requestOptions":{}},"id":"88f665d0-57b1-4e80-8ba2-f9b2214cbef7","name":"OpenAI","type":"n8n-nodes-base.openAi","position":[1320,160],"typeVersion":1,"continueOnFail":true},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"0e18df12-eccc-4a2a-86a7-5d2771a09ab7","name":"Merge","type":"n8n-nodes-base.merge","position":[1780,20],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if ($input.item.json.body){\n\n\n\n$input.item.json.content = $input.item.json.body.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ')\n\n\n  $input.item.json.contentShort = $input.item.json.content.slice(0, 10000)\n}\n\n\n\n\nreturn $input.item"},"id":"0e96129f-80d9-4af6-a55e-189a713d1dc7","name":"Clean Content","type":"n8n-nodes-base.code","position":[1160,160],"executeOnce":false,"typeVersion":1,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/18iZ59I0q2AeElqcEpyJECNlSv4M6iJll9PQzXQkqEUk/edit#gid=0","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13h8HPWKha5kZHDeKxAPQvQqAOonof5cgpxzh79tIQfY/edit#gid=0","cachedResultName":"Sheet1"},"columnToMatchOn":"Domain","valueToMatchOn":"={{ $json[\"Domain\"] }}","fieldsUi":{"values":[{"column":"Market","fieldValue":"={{ $json[\"market\"] }}"},{"column":"Industry","fieldValue":"={{ $json[\"industry\"] }}"},{"column":"Value Proposition","fieldValue":"={{ $json[\"value_proposition\"] }}"},{"column":"Target Audience","fieldValue":"={{ $json[\"target_audience\"] }}"}]},"options":{}},"id":"4b71f8c0-4559-4d97-8dca-d682ec0363ef","name":"Update Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2020,20],"typeVersion":3},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the\n// JSON of the item\n$input.item.json.value_proposition=JSON.parse($input.item.json.text).value_proposition\n\n$input.item.json.industry=JSON.parse($input.item.json.text).industry\n\n$input.item.json.market=JSON.parse($input.item.json.text).market\n\n$input.item.json.target_audience=JSON.parse($input.item.json.text).target_audience\n\nreturn $input.item;"},"id":"cdab325d-5578-4d21-8491-25a4a0d30b28","name":"Parse JSON","type":"n8n-nodes-base.code","position":[1480,160],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/18iZ59I0q2AeElqcEpyJECNlSv4M6iJll9PQzXQkqEUk/edit#gid=0","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13h8HPWKha5kZHDeKxAPQvQqAOonof5cgpxzh79tIQfY/edit#gid=0","cachedResultName":"Sheet1"},"options":{}},"id":"226a7ed6-f209-4839-9f7d-7c787f16905b","name":"Read Google Sheets","type":"n8n-nodes-base.googleSheets","position":[220,0],"typeVersion":3},{"parameters":{"options":{}},"id":"9becd140-027b-48b8-b6b5-99322e906a0b","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[440,0],"typeVersion":1},{"parameters":{"unit":"seconds"},"id":"51cd7803-eb68-457e-aee8-bbbfc39f3986","name":"Wait","type":"n8n-nodes-base.wait","position":[2240,260],"webhookId":"d44bc024-1c21-44e0-b2b4-5cff6fb9f402","typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update Google Sheets","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTML Extract":{"main":[[{"node":"Clean Content","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"Clean Content":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Read Google Sheets":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Update Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Read Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b8d621b3-2f2c-4a01-9ad3-d87e67e9b3a3","triggerCount":0,"tags":[{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}