workflowsEmail agent router.json
{"createdAt":"2025-02-24T15:03:25.887Z","updatedAt":"2025-02-24T15:04:24.000Z","id":"pqxQ0Z05n0UthdLR","name":"Email agent router","active":false,"nodes":[{"parameters":{"content":"# Routing\n- Optimized Response Handling – Directs each request to the most suitable AI expert, ensuring specialized and precise answers rather than relying on a single all-purpose model.\n- Scalability – Allows seamless integration of new AI agents, adapting to an ever-growing range of topics and needs.\n- Immediate Human Escalation – Guarantees that critical issues are swiftly escalated to a live support team for immediate resolution.\n- Enhanced User Experience – Delivers AI- driven and context-aware responses that make the user experience smoother and more relevant to individual needs.\nhttps://malenai.gumroad.com/l/zqqaj","height":280,"width":840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"39a789b9-10bd-430a-b9d1-61e7c66eeab7","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":[]},"options":{}},"id":"bfa45b0c-16f5-4aa9-b692-f37966076d8c","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[40,540]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6275634412432637197"]},"id":"9a51013f-5188-4e04-92ab-fe69805b854d","name":"Customer Support","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1380,760],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"},{"category":"Customer Support","description":"Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"},{"category":"Promotions","description":"Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"},{"category":"Finance/Billing","description":" Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"}]},"options":{"systemPromptTemplate":"Your task is to classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Do not explain. Only output JSON format."}},"id":"6fc1391c-087b-42d9-a7fe-b98b5fb78dda","name":"Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[300,540]},{"parameters":{"options":{"baseURL":"https://api.openai.com/v1"}},"id":"e1b74296-7149-48d6-9315-9d1245723de6","name":"4o mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[540,1000]},{"parameters":{"promptType":"define","text":"=\n{{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize the email into a short message that can be sent on telegram.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1320,240],"id":"203c839f-f907-4ee9-a718-59dd4783d73b","name":"High Priority Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1640,760],"id":"61e4a623-a0fe-4d11-a80b-c1cd653189cf","name":"Customer Support Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1640,1000],"id":"98601503-a04b-43b0-b4eb-17f4e3dbc056","name":"Promotion Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1640,1240],"id":"e2f374b8-a6c2-4ee6-a962-ad5400af3538","name":"Finance Agent"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2160,1040],"id":"bb245936-1e03-463a-8da6-b95ca937ca53","name":"Email Draft","webhookId":"5d8537bc-efa2-4889-82bb-cc44dc383ace"},{"parameters":{"content":"# Classify Email\n\n1 Trigger activates based on receipt of email.\n\n2 Send content to email agent (parent).\n\n3 Email agent determines classification and sends to respective path.\n\n","height":400,"width":740,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,320],"id":"df30a188-12e1-4f74-8afb-7f9e9cf9f1ed","name":"Sticky Note1"},{"parameters":{"operation":"send","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1820,60],"id":"ac265c66-8284-4d07-b54a-b42ccaa52b8c","name":"WhatsApp Business Cloud"},{"parameters":{"chatId":"-4766601729","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1720,240],"id":"215c34be-973b-40ae-9f48-a625d01dfea6","name":"Telegram","webhookId":"a4cf2962-9a94-4850-b78c-bc8016ffc96e"},{"parameters":{"content":"# High Priority Ticket\n\n1 Label as High Priority\n\n2 Send direct message to platform of choice\n\n","height":440,"width":1000,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,0],"id":"5bc41eb8-e238-4696-b1d2-a043b0dac7fb","name":"Sticky Note2"},{"parameters":{"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1380,60],"id":"8f41420b-4bae-4e0a-a446-0828a7242196","name":"Slack","webhookId":"58638a5c-6f89-453c-9330-abb08422e48a"},{"parameters":{"authentication":"oAuth2","resource":"message","guildId":{"__rl":true,"mode":"list","value":""},"channelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1600,60],"id":"6f6191af-e26c-47a3-8228-48d614c62954","name":"Discord","webhookId":"efa1c10c-be50-483b-846b-9ed5c84e18e9"},{"parameters":{"content":"# All other Tickets \n1 Label and send to respective child agent\n\n2 create email draft based on label.","height":840,"width":1000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,600],"id":"27972e0b-e186-4f3e-80c0-35078798a3fe","name":"Sticky Note3"},{"parameters":{"content":"# Agent Model\n- Each AI Agent is powered by ChatGPT 4o mini\n   - the GPT selection can be adjusted by double clicking the node.\n   - choose which LLM by pressing 'tab' and searching for desired model\n- Specific prompts can be found by double clicking each agent.\n","height":240,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,940],"id":"5ef77bcd-b07c-4516-933e-75183d0048a9","name":"Sticky Note4"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8766212722953437668"]},"id":"865fe6bc-0150-4766-836b-57cf198d2b0e","name":"High Priority","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1080,240],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4000365798947494243"]},"id":"e53d7485-7d83-42ba-95e7-a0e3abeb52e7","name":"Billing/Payments","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1380,1240],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3557184206931186610"]},"id":"da7ab2c2-0415-4c1c-9462-25f661c9405c","name":"Promotional","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1380,1000],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Email Classifier","type":"main","index":0}]]},"Customer Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Email Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}],[{"node":"Promotional","type":"main","index":0}],[{"node":"Billing/Payments","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Email Classifier","type":"ai_languageModel","index":0},{"node":"High Priority Agent","type":"ai_languageModel","index":0},{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Finance Agent","type":"ai_languageModel","index":0},{"node":"Promotion Agent","type":"ai_languageModel","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"Customer Support Agent","type":"ai_tool","index":0},{"node":"Promotion Agent","type":"ai_tool","index":0},{"node":"Finance Agent","type":"ai_tool","index":0}]]},"High Priority Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"High Priority Agent","type":"main","index":0}]]},"Billing/Payments":{"main":[[{"node":"Finance Agent","type":"main","index":0}]]},"Promotional":{"main":[[{"node":"Promotion Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"889c5347-e274-4ecb-9404-5c8f8c705a25","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}