workflowsAutomate SIEM Alert Enrichment with MITRE ATT&CK, Qdrant & Zendesk in n8n.json
{"createdAt":"2025-02-12T00:31:53.432Z","updatedAt":"2025-02-12T01:41:59.000Z","id":"bY8YbVfLDkDYYN5p","name":"Automate SIEM Alert Enrichment with MITRE ATT&CK, Qdrant & Zendesk in n8n","active":false,"nodes":[{"parameters":{"options":{}},"id":"e3ab425a-a5c3-4313-952c-5806f78daa78","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[480,960],"webhookId":"a9668bb8-bbe8-418a-b5c9-ff7dd431244f","typeVersion":1.1},{"parameters":{"options":{"systemMessage":"You are a cybersecurity expert trained on MITRE ATT&CK and enterprise incident response. Your job is to:\n1. Extract TTP information from SIEM data.\n2. Provide actionable remediation steps tailored to the alert.\n3. Cross-reference historical patterns and related alerts.\n4. Recommend external resources for deeper understanding.\n\nEnsure that:\n- TTPs are tagged with the tactic, technique name, and technique ID.\n- Remediation steps are specific and actionable.\n- Historical data includes related alerts and notable trends.\n- External links are relevant to the observed behavior.\n"}},"id":"b2673dca-4aea-4c81-a08c-3b80f6f4a156","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[680,960],"typeVersion":1.7},{"parameters":{"model":"gpt-4o","options":{}},"id":"142098f2-9c5d-4838-9f7b-7d55ba011770","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[620,1180],"typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"5019c218-69f1-4916-a49e-e1e4c465e247","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[640,1820],"typeVersion":1},{"parameters":{"options":{}},"id":"38ff637e-9109-4d3a-9c35-0e356dfcceed","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[780,2020],"typeVersion":1.2},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.description }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $json.id }}"},{"name":"name","value":"={{ $json.name }}"},{"name":"killchain","value":"={{ $json.kill_chain_phases }}"},{"name":"external","value":"={{ $json.external_references }}"}]}}},"id":"3bea8e15-a85c-4748-b34e-93fe2abce06f","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[900,2040],"typeVersion":1},{"parameters":{},"id":"f2b51ab5-4183-49d8-81e0-8f8f88537b3d","name":"Token Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[900,2220],"typeVersion":1},{"parameters":{},"id":"4cf8dd5f-076e-4c25-9ae2-a2432fad782b","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[780,1180],"typeVersion":1.3},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"id":"3b1e2c0a-277d-4de1-b71a-d6d82f3d24b8","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[900,1320],"typeVersion":1.2},{"parameters":{"operation":"fromJson","options":{}},"id":"1645ea5e-b9bb-4002-b520-f9d28eb9f4ba","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[440,1820],"typeVersion":1},{"parameters":{},"id":"5f9c0b61-0080-4025-88ad-cdc54b46cb75","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,1820],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Siem Alert Data:\nAlert: {{ $json.raw_subject }}\nDescription: {{ $json.description }}","hasOutputParser":true,"options":{"systemMessage":"You are a cybersecurity expert trained on MITRE ATT&CK and enterprise incident response. Your job is to:\n1. Extract TTP information from SIEM data.\n2. Provide actionable remediation steps tailored to the alert.\n3. Cross-reference historical patterns and related alerts.\n4. Recommend external resources for deeper understanding.\n\nEnsure that:\n- TTPs are tagged with the tactic, technique name, and technique ID.\n- Remediation steps are specific and actionable.\n- Historical data includes related alerts and notable trends.\n- External links are relevant to the observed behavior.\n\nPlease output your response in html format, but do not include ```html at the beginning \n"}},"id":"be80d1d0-785b-4d01-991d-c352c973ff93","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[820,160],"typeVersion":1.7},{"parameters":{"model":"gpt-4o","options":{}},"id":"a5e38aad-d981-430a-b4e4-dea98bf29884","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[760,380],"typeVersion":1},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"id":"a6781284-a6e2-4889-878a-cc6fc3d1e6ef","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1040,560],"typeVersion":1.2},{"parameters":{"options":{}},"id":"a6f8a8f3-5deb-4698-b307-0e14a538883f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[420,160],"typeVersion":3},{"parameters":{"content":"![n8n](https://uploads.n8n.io/templates/qdrantlogo.png)\n## Embed your Vector Store\nTo provide data for your Vector store, you need to pass it in as JSON, and ensure it's setup correctly. This flow pulls the JSON file from Google Drive and extracts the JSON data and then passes it into the qdrant collection. ","height":820,"width":1380,"color":7},"id":"9b75451c-1fba-4c31-b9b4-d558c89f68f0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-100,1540],"typeVersion":1},{"parameters":{"content":"![n8n](https://uploads.n8n.io/templates/n8n.png)\n## Talk to your Vector Store\nNow that your vector store has been updated with the embedded data, \nyou can use the n8n chat interface to talk to your data using OpenAI, \nOllama, or any of our supported LLMs.","height":680,"width":1380,"color":7},"id":"b0aff811-e263-4c5c-afb6-33634623641c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-100,820],"typeVersion":1},{"parameters":{"content":"![Servicenow](https://uploads.n8n.io/templates/zendesk.png)\n## Deploy your Vector Store\nThis flow adds contextual information to your tickets using the Mitre Attack framework to help contextualize the ticket data.","height":900,"width":2140,"color":7},"id":"f40cec1a-adfe-4ff5-be39-50d3b05402c4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-100,-100],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n  \"ttp_identification\": {\n    \"alert_summary\": \"The alert indicates a check-in from the NetSupport RAT, a known Remote Access Trojan, suggesting command and control (C2) communication.\",\n    \"mitre_attack_ttps\": [\n      {\n        \"tactic\": \"Command and Control\",\n        \"technique\": \"Protocol or Service Impersonation\",\n        \"technique_id\": \"T1001.003\",\n        \"description\": \"The RAT's check-in over port 443 implies potential masquerading of its traffic as legitimate SSL/TLS traffic, a tactic often used to blend C2 communications with normal web traffic.\",\n        \"reference\": \"https://attack.mitre.org/techniques/T1001/003/\"\n      }\n    ]\n  },\n  \"remediation_steps\": {\n    \"network_segmentation\": {\n      \"action\": \"Isolate the affected host\",\n      \"target\": \"10.11.26.183\",\n      \"reason\": \"Prevents further C2 communication or lateral movement.\"\n    },\n    \"endpoint_inspection\": {\n      \"action\": \"Perform a thorough inspection\",\n      \"target\": \"Impacted endpoint\",\n      \"method\": \"Use endpoint detection and response (EDR) tools to check for additional persistence mechanisms.\"\n    },\n    \"network_traffic_analysis\": {\n      \"action\": \"Investigate and block unusual traffic\",\n      \"target\": \"IP 194.180.191.64\",\n      \"method\": \"Implement blocks for the IP across the firewall or IDS/IPS systems.\"\n    },\n    \"system_patching\": {\n      \"action\": \"Ensure all systems are updated\",\n      \"method\": \"Apply the latest security patches to mitigate vulnerabilities exploited by RAT malware.\"\n    },\n    \"ioc_hunting\": {\n      \"action\": \"Search for Indicators of Compromise (IoCs)\",\n      \"method\": \"Check for NetSupport RAT IoCs across other endpoints within the network.\"\n    }\n  },\n  \"historical_patterns\": {\n    \"network_anomalies\": \"Past alerts involving similar attempts to use standard web ports (e.g., 80, 443) for non-standard applications could suggest a broader attempt to blend malicious traffic into legitimate streams.\",\n    \"persistence_tactics\": \"Any detection of anomalies in task scheduling or shortcut modifications may indicate persistence methods similar to those used by RATs.\"\n  },\n  \"external_resources\": [\n    {\n      \"title\": \"ESET Report on Okrum and Ketrican\",\n      \"description\": \"Discusses similar tactics involving protocol impersonation and C2.\",\n      \"url\": \"https://www.eset.com/int/about/newsroom/research/okrum-ketrican/\"\n    },\n    {\n      \"title\": \"Malleable C2 Profiles\",\n      \"description\": \"Document on crafting custom C2 traffic profiles similar to the targeting methods used by NetSupport RAT.\",\n      \"url\": \"https://www.cobaltstrike.com/help-malleable-c2\"\n    },\n    {\n      \"title\": \"MITRE ATT&CK Technique Overview\",\n      \"description\": \"Overview of Protocol or Service Impersonation tactics.\",\n      \"url\": \"https://attack.mitre.org/techniques/T1001/003/\"\n    }\n  ]\n}\n"},"id":"58551c0b-5bf1-40d8-a33b-8a2360598729","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1360,440],"typeVersion":1.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"list","value":"1oWBLO5AlIqbgo9mKD1hNtx92HdC6O28d","cachedResultUrl":"https://drive.google.com/file/d/1oWBLO5AlIqbgo9mKD1hNtx92HdC6O28d/view?usp=drivesdk","cachedResultName":"cleaned_mitre_attack_data.json"},"options":{}},"id":"02972eee-0bcb-4a21-ab12-ddfc4ec83205","name":"Pull Mitre Data From Gdrive","type":"n8n-nodes-base.googleDrive","position":[220,1820],"typeVersion":3},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"mitre"},"options":{}},"id":"62955efa-1edd-4fc4-94c3-6bb8589c7b68","name":"Embed JSON in Qdrant Collection","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[840,1820],"typeVersion":1},{"parameters":{"mode":"retrieve-as-tool","toolName":"mitre_attack_vector_store","toolDescription":"The mitre_attack_vector_store is a knowledge base trained on the MITRE ATT&CK framework. It is designed to help identify, correlate, and provide context for cybersecurity incidents based on textual descriptions of alerts, events, or behaviors. This tool leverages precomputed embeddings of attack techniques, tactics, and procedures (TTPs) to map user queries (such as SIEM-generated alerts or JIRA ticket titles) to relevant MITRE ATT&CK techniques.\n\nBy analyzing input text, the vector store can:\n\nRetrieve the most relevant MITRE ATT&CK entries (e.g., techniques, tactics, descriptions, external references).\nProvide structured context about potential adversary behaviors.\nSuggest remediation actions or detection methods based on the input.","qdrantCollection":{"__rl":true,"mode":"list","value":"mitre","cachedResultName":"mitre"},"options":{}},"id":"7c57a862-4537-4d30-9499-203187b463a9","name":"Query Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[920,1220],"typeVersion":1},{"parameters":{"mode":"retrieve-as-tool","toolName":"mitre_attack_vector_store","toolDescription":"The mitre_attack_vector_store is a knowledge base trained on the MITRE ATT&CK framework. It is designed to help identify, correlate, and provide context for cybersecurity incidents based on textual descriptions of alerts, events, or behaviors. This tool leverages precomputed embeddings of attack techniques, tactics, and procedures (TTPs) to map user queries (such as SIEM-generated alerts or JIRA ticket titles) to relevant MITRE ATT&CK techniques.\n\nBy analyzing input text, the vector store can:\n\nRetrieve the most relevant MITRE ATT&CK entries (e.g., techniques, tactics, descriptions, external references).\nProvide structured context about potential adversary behaviors.\nSuggest remediation actions or detection methods based on the input.","qdrantCollection":{"__rl":true,"mode":"list","value":"mitre","cachedResultName":"mitre"},"options":{}},"id":"6df96b9b-b765-4327-ae75-30968b1c29e2","name":"Qdrant Vector Store query","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1040,400],"typeVersion":1},{"parameters":{"operation":"getAll","options":{}},"id":"73637ee1-285b-46cd-a3aa-9b878d42b9bb","name":"Get all Zendesk Tickets","type":"n8n-nodes-base.zendesk","position":[180,160],"typeVersion":1},{"parameters":{"operation":"update","id":"={{ $('Loop Over Items').item.json.id }}","updateFields":{"customFieldsUi":{"customFieldsValues":[{"id":34479547176212,"value":"={{ $json.output.ttp_identification.mitre_attack_ttps[0].technique_id }}"},{"id":34479570659732,"value":"={{ $json.output.ttp_identification.mitre_attack_ttps[0].tactic }}"}]},"internalNote":"=Summary: {{ $json.output.ttp_identification.alert_summary }}\n\n"}},"id":"aa488df5-3ef4-46d5-bc51-d9e8cc5729f4","name":"Update Zendesk with Mitre Data","type":"n8n-nodes-base.zendesk","position":[1360,240],"typeVersion":1},{"parameters":{},"id":"19dd2dc0-defa-4d94-9593-f5a6d5ef384f","name":"Move on to next ticket","type":"n8n-nodes-base.noOp","position":[1720,520],"typeVersion":1}],"connections":{"AI Agent1":{"main":[[{"node":"Update Zendesk with Mitre Data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Embed JSON in Qdrant Collection","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent1","type":"main","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store query","type":"ai_embedding","index":0}]]},"Extract from File":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Embed JSON in Qdrant Collection","type":"ai_embedding","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Query Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Embed JSON in Qdrant Collection","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Move on to next ticket":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get all Zendesk Tickets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Qdrant Vector Store query":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Query Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Pull Mitre Data From Gdrive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Update Zendesk with Mitre Data":{"main":[[{"node":"Move on to next ticket","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Pull Mitre Data From Gdrive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c6935cfb-0e9d-45d7-b210-70609bdd30c9","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}