workflowsWA chatbot using vectorDB - Multiazienda - Prepara dati.json
{"createdAt":"2025-02-23T10:48:03.497Z","updatedAt":"2025-02-24T13:41:57.000Z","id":"iM7UoKM16ub1P6wo","name":"WA chatbot using vectorDB - Multiazienda - Prepara dati","active":false,"nodes":[{"parameters":{},"id":"e324d5b6-4d9b-4f7e-b8a5-6ac9f11dce8a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2060,-300],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"06ee8743-96cf-400a-9b28-6ddcdf6b4f85","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-1100,-60],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"id":"5370c8cb-1c7c-43fe-bda3-ed718b8ff66d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-820,-80],"typeVersion":1},{"parameters":{"chunkSize":2000,"chunkOverlap":null,"options":{}},"id":"2d6028ce-3489-4458-8099-e8c1065791b4","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-920,80],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"a60ea7f6-c2a9-46cf-9c8f-bec241e2fe61","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[-1380,-300],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"={{ $('Scarica il Catalogo').item.json.ID.toString() }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1000,-300],"id":"cb9f50eb-ac7d-42ab-ad18-63f790ea166b","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"1UV60CZEppVg4tvU","name":"PineconeApi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ","mode":"list","cachedResultName":"Chatbot_sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"BasiDati","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json['Quale catalogo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1720,-300],"id":"62480ddc-7207-43f1-96d8-21211163dfb8","name":"Parametri catalogo","credentials":{"googleSheetsOAuth2Api":{"id":"9rbmrZhUfdBgrlBn","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ","mode":"list","cachedResultName":"Chatbot_sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1901732273,"mode":"list","cachedResultName":"DatiBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8u548ImesVpDMrAy1EA-DrOA2-mshekrbgP47l3ZXQ/edit#gid=1901732273"},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1880,-300],"id":"f7937aae-86a5-481c-9571-59e2441aef68","name":"Num. catalogo?","credentials":{"googleSheetsOAuth2Api":{"id":"9rbmrZhUfdBgrlBn","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $json['URL Catalogo'] }}","options":{}},"id":"575805f4-847e-4b4f-83e1-aa5b062acd59","name":"Scarica il Catalogo","type":"n8n-nodes-base.httpRequest","position":[-1560,-300],"typeVersion":4.2}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Num. catalogo?","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Parametri catalogo":{"main":[[{"node":"Scarica il Catalogo","type":"main","index":0}]]},"Num. catalogo?":{"main":[[{"node":"Parametri catalogo","type":"main","index":0}]]},"Scarica il Catalogo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4657a385-ea56-48c8-8372-4a15223b0660","triggerCount":2,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}