workflowsScrape and summarize webpages.json
{"createdAt":"2025-02-12T00:00:32.638Z","updatedAt":"2025-02-12T01:39:16.000Z","id":"gkOOoqP2gCd93AbK","name":"Scrape and summarize webpages","active":false,"nodes":[{"parameters":{},"id":"e3ee5e9b-1158-491f-bafe-d7b51999cb46","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-1440,300],"typeVersion":1},{"parameters":{"url":"http://www.paulgraham.com/articles.html","options":{}},"id":"fc27906b-302e-411b-8e12-d3c18bffbe25","name":"Fetch essay list","type":"n8n-nodes-base.httpRequest","position":[-1220,300],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"essay","cssSelector":"table table a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"84302569-07f6-486f-abcb-2b48b3689d48","name":"Extract essay names","type":"n8n-nodes-base.html","position":[-1000,300],"typeVersion":1},{"parameters":{"url":"=http://www.paulgraham.com/{{ $json.essay }}","options":{}},"id":"097c7e08-eb26-4cef-ad61-2bb9ce38345b","name":"Fetch essay texts","type":"n8n-nodes-base.httpRequest","position":[-340,300],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"}]},"options":{}},"id":"79b2f324-c43d-4d0c-b869-c31c5c13f62a","name":"Extract title","type":"n8n-nodes-base.html","position":[0,0],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json.title }}"},{"name":"summary","stringValue":"={{ $json.response.text }}"},{"name":"url","stringValue":"=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"}]},"include":"none","options":{}},"id":"1f7e2a02-8c72-44e8-94c9-d2c9fc104f84","name":"Clean up","type":"n8n-nodes-base.set","position":[660,280],"typeVersion":3},{"parameters":{"content":"## Scrape latest Paul Graham essays","height":285.66037735849045,"width":1071.752021563343},"id":"6f89ea6b-3517-4608-b6f1-fc1b737453f4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1280,220],"typeVersion":1},{"parameters":{"content":"## Summarize them with GPT","height":606.7924528301882,"width":465.3908355795153},"id":"ee6fb186-b140-4ac4-8afe-415fb1e423c1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-80,220],"typeVersion":1},{"parameters":{"fieldToSplitOut":"essay","options":{}},"id":"918a8e1f-25af-4b46-b071-454b5e1189a1","name":"Split out into items","type":"n8n-nodes-base.splitOut","position":[-780,300],"typeVersion":1},{"parameters":{"maxItems":3},"id":"01fba652-558c-4972-b4a2-c2787fd5e8ae","name":"Limit to first 3","type":"n8n-nodes-base.limit","position":[-560,300],"typeVersion":1},{"parameters":{"options":{}},"id":"f80f33d4-9dd8-49d2-8a59-59d6154c0a2b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[120,500],"typeVersion":1},{"parameters":{"options":{}},"id":"ff8982ca-a6f6-4c88-83ff-ff63797d6a18","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[120,640],"typeVersion":1},{"parameters":{"options":{}},"id":"4cf17901-cd21-408c-b98f-6a04c1d1b5aa","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-20,500],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"576bb505-c3b7-46d0-9e62-fd7038817ebc","name":"Merge","type":"n8n-nodes-base.merge","position":[460,280],"typeVersion":3},{"parameters":{"operationMode":"documentLoader","options":{}},"id":"7c0be668-9add-4996-9edc-cc2750e55b97","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[20,300],"typeVersion":2}],"connections":{"Merge":{"main":[[{"node":"Clean up","type":"main","index":0}]]},"Extract title":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Fetch essay list":{"main":[[{"node":"Extract essay names","type":"main","index":0}]]},"Limit to first 3":{"main":[[{"node":"Fetch essay texts","type":"main","index":0}]]},"Fetch essay texts":{"main":[[{"node":"Extract title","type":"main","index":0},{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Extract essay names":{"main":[[{"node":"Split out into items","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split out into items":{"main":[[{"node":"Limit to first 3","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Fetch essay list","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ec315473-5f78-40bb-a31f-f939cfe8d5ab","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:37:01.104Z","updatedAt":"2025-02-12T01:37:01.104Z","id":"H0b9SWuMKqfPgJxO","name":"SCRAPING"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}