workflowsUP Contact Agent.json
{"createdAt":"2025-02-16T12:21:00.563Z","updatedAt":"2025-02-16T12:21:00.563Z","id":"OuW4HheJs1KbDMRT","name":"UP Contact Agent","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-640,300],"id":"0da0eb3b-ca1e-4add-826f-cfc9f12b3df7","name":"OpenAI Chat Model"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-460,300],"id":"0fe1476d-57d4-4943-aefe-05839b0c5414","name":"Get Contacts"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\") }}","email":"={{ $fromAI(\"emailAddress\") }}","phoneNumber":"={{ $fromAI(\"phoneNumber\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-300,300],"id":"bc3e9781-2a20-419e-a975-a071113c7cd7","name":"Add or Update Contact"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-520,80],"id":"b8a8259d-457f-48b1-8f67-f60a6f7b565e","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"e1257411-d211-45e2-aa31-6bdd7b33c11b","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180],"id":"bca89874-b38a-4e9d-b477-5f4b45d517a4","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,80],"id":"bb460e00-aa40-42f0-acad-f5e095242679","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]},"Get Contacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Add or Update Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6d02d053-00ca-4419-acdb-fa3f6266a26c","triggerCount":0,"tags":[]}