workflowsCreate a simple API endpoint.json
{"createdAt":"2025-02-17T22:23:54.460Z","updatedAt":"2025-02-17T22:24:10.000Z","id":"Z1XPABhUyxfTUgSb","name":"Create a simple API endpoint","active":false,"nodes":[{"parameters":{"path":"6f7b288e-1efe-4504-a6fd-660931327269","responseMode":"responseNode","options":{}},"id":"c1fd6fd4-ae63-4167-97ba-a96de348001a","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-120,40],"webhookId":"6f7b288e-1efe-4504-a6fd-660931327269","typeVersion":1},{"parameters":{"content":"## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n","height":280,"width":600},"id":"a2212747-fa9f-4111-81dd-32e7cc0634ff","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[-140,-100],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"=The URL of the Google search query for the term \"{{$node[\"Webhook\"].json[\"query\"][\"first_name\"]}} {{$node[\"Webhook\"].json[\"query\"][\"last_name\"]}}\" is: {{$json[\"product\"]}}","options":{}},"id":"df56e7a3-f57f-4a6a-a63b-6cd336398ced","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[320,40],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"product","value":"=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"}]},"options":{}},"id":"9ce1c592-1036-418a-aaaf-d1c1f35f445a","name":"Create URL string","type":"n8n-nodes-base.set","position":[100,40],"typeVersion":1},{"parameters":{"content":"### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n","height":220,"width":600},"id":"4bd2b38b-47da-4da8-99bd-54bf52774fd0","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[-140,200],"typeVersion":1}],"connections":{"Webhook":{"main":[[{"node":"Create URL string","type":"main","index":0}]]},"Create URL string":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fe089369-5415-4bd3-ad56-0ecc89ec26a5","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}