workflowsSearching in Calendar.json
{"createdAt":"2025-02-08T20:33:04.311Z","updatedAt":"2025-02-14T17:46:18.000Z","id":"g4CmX3XsE8r1Rh4D","name":"Searching in Calendar","active":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"0d7e4666-bc0e-489a-9e8f-a5ef191f4954","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[880,220],"credentials":{"googleCalendarOAuth2Api":{"id":"KwP0pAjBjQoQtGWL","name":"Google Calendar account"}}},{"parameters":{"options":{}},"id":"5b410409-5b0b-47bd-b413-5b9b1000a063","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-220,-100],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"=You're a helpful assistant that the user to answer questions about their calendar.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."}},"id":"29963449-1dc1-487d-96f2-7ff0a5c3cd97","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,20]},{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Claim your `free` 0 OpenAI calls in the `OpenAI model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"options":{}},"id":"cbaedf86-9153-4778-b893-a7e50d3e04ba","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,220],"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.messages[0].id }}"},"id":"75481370-bade-4d90-a878-3a3b0201edcc","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,220]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,400]},{"parameters":{"updates":["messages"]},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[340,20],"id":"29136e03-ce34-4232-92cc-b0f62b1b5b56","name":"WhatsApp Trigger","webhookId":"8df39a5b-beb5-44f2-8a26-093af4eb415a","credentials":{"whatsAppTriggerApi":{"id":"g70JAxZMbNtIOFhe","name":"WhatsApp OAuth account"}}}],"connections":{"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0796233a-4764-4de6-b323-d12a6cd0a71c","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}