workflowsAutomate Competitor Research with Exa and Notion.json
{"createdAt":"2025-02-17T04:37:25.738Z","updatedAt":"2025-02-17T22:14:34.000Z","id":"5bKznSMFPp6Q1Kzo","name":"Automate Competitor Research with Exa and Notion","active":false,"nodes":[{"parameters":{"content":"## Try It Out!\n\n### This workflow builds a competitor research agent using Exa.ai as a starting point. The HTTP Request tool is used to demonstrate how you can build powerful agents with minimal effort.\n\n* Using Exa's findSimilar search, we ask it to look for similar companies ie. competitors, to our source company.\n* This list of competitors is sent to 3 agents to scour the internet to find company overview, product offering and customer reviews.\n* A report is then compiled from the output of all 3 agents into a notion table.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":511.2813260861502,"width":377.7154173079816},"id":"92ee6283-45b3-4e6c-b029-dcb9ac696aff","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-100,-100],"typeVersion":1},{"parameters":{},"id":"39b093b6-afb4-4dbb-8149-2d0743da9a7f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[380,100],"typeVersion":1},{"parameters":{"options":{"temperature":0}},"id":"bc5874b5-be5c-41f8-b495-a14464e40132","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1920,540],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Call this tool to read the contents of a crunchbase profile.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"404479de-76f1-4e54-bd8e-d3ba46bc1545","name":"Search Crunchbase","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2220,540],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"toolDescription":"Call this tool to read the contents of a wellfound profile.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"ba1d72e1-e838-413e-ae13-a342a49359cc","name":"Search WellFound","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1960,720],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"toolDescription":"Call this tool to read the contents of a linkedin company profile. You must pass in the the linkedin.com url.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"ecb10a38-5ecc-42dc-8806-f06fb64b86bc","name":"Search LinkedIn","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2220,700],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"jsonSchemaExample":"{\n  \"company_name\": \"\",\n  \"company_website\": \"\",\n  \"year_founded\": \"\",\n  \"founders\": [{ \"name\": \"\", \"linkedIn\": \"\" }],\n  \"ceo\": [{ \"name\": \"\", \"linkedIn\": \"\", \"twitter\": \"\" }],\n  \"key_people\": [{ \"name\": \"\", \"role\": \"\", \"linkedIn\": \"\", \"twitter\": \"\" }],\n  \"employees\": [{ \"name\": \"\", \"role\": \"\", \"linkedIn\": \"\", \"twitter\": \"\" }],\n  \"open_jobs\": [{ \"role\": \"\", \"description\": \"\", \"published\": \"\" }],\n  \"offices\": [{ \"address\": \"\", \"city\": \"\" }],\n  \"money_raised\": \"\",\n  \"funding_status\": \"\",\n  \"investors\": [{ \"name\": \"\", \"description\": \"\", \"linkedIn\": \"\" }],\n  \"customers\": [{ \"name\": \"\", \"url\": \"\" }],\n  \"yoy_customer_growth\": \"\",\n  \"annual_revenue\": \"\",\n  \"yoy_revenue_growth\": \"\",\n  \"latest_articles\": [{ \"title\": \"\", \"snippet\": \"\", \"url\": \"\", \"published_date\": \"\" }]\n}"},"id":"f2470614-9689-4d3b-ad94-c057cb79aa91","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2500,540],"typeVersion":1.2},{"parameters":{"toolDescription":"Call this tool to fetch any additional webpage and its contents which may be helpful in gathering information for the data points.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"c94eb57e-bd77-4a50-b710-a6ab2de8d698","name":"Webscraper Tool1","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2360,700],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"url","options":{}},"id":"c1f2f207-27ee-405b-a08b-908055a112c2","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[1060,260],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"d82bab07-3434-4db3-ba89-d722279e3c40","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"8a774c1d-c4b1-427a-aa4d-cda0071656ce","name":"url","type":"string","value":"=https://{{ $json.url.extractDomain() }}"}]},"options":{}},"id":"11c2f62e-67ca-4587-96df-58f1807f5cee","name":"Extract Domain","type":"n8n-nodes-base.set","position":[1260,0],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"57ba0050-c84b-493c-b8e4-acd1fc4a74ce","name":"Results to List","type":"n8n-nodes-base.splitOut","position":[1060,0],"typeVersion":1},{"parameters":{"toolDescription":"Call this tool to check if a company profile exists in either crunchbase, wellfound or linkedin.\n* To check if a company has a crunchbase profile, use the query \"site: https://crunchbase.com/organizations (company)\"\n* To check if a company has a wellfound profile, use the query \"site: https://wellfound.com/company (company)\"\n* To check if a company has a linked company profile, use the query \"site: https://linkedin.com/company (company)\"","url":"https://serpapi.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"parametersQuery":{"values":[{"name":"q"}]},"optimizeResponse":true,"dataField":"organic_results","fieldsToInclude":"selected","fields":"position,title,link,snippet,source"},"id":"cf26dfb7-4d49-4d11-aa00-fbe1d7543d70","name":"Check Company Profiles Exist","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2080,540],"typeVersion":1,"credentials":{"serpApi":{"id":"Va57M3XsUHIbcHl8","name":"SerpAPI account"}}},{"parameters":{"toolDescription":"Call this tool to fetch webpage contents. Pass in the url to fetch.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"d0d29617-ccf6-4683-bb3f-789ed0e72763","name":"Webscraper Tool","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[3080,480],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"toolDescription":"Call this tool to query the company's profile website.\nExamples could include \"(company) pricing\", \"(company) plans\", \"(company) features\" etc","url":"https://serpapi.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"parametersQuery":{"values":[{"name":"q"}]},"optimizeResponse":true,"dataField":"organic_results","fieldsToInclude":"selected","fields":"position,title,link,snippet,source"},"id":"0d16e5e5-1bf5-4443-8748-c06a2ae94809","name":"Search Company Website","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2940,480],"typeVersion":1,"credentials":{"serpApi":{"id":"Va57M3XsUHIbcHl8","name":"SerpAPI account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"features\": [{ \"name\": \"\", \"description\": \"\" }],\n  \"pricing_plans\": [{ \"name\": \"\", \"description\": \"\", \"tier\": \"\", \"price\": \"\", \"monthly_or_annually\": \"\" }],\n  \"factors_that_impact_price\": [{ \"factor\": \"\", \"description\": \"\" }],\n  \"discounts_promotions\": [{ \"offer\": \"\", \"start\": \"\", \"end\": \"\", \"description\": \"\" }],\n  \"custom_plans\": { \"is_available\": false, \"applicable_for\": \"\", \"price\": \"\", \"duration\": \"\", \"description\": \"\" },\n  \"free_trial\": { \"is_available\": false, \"applicable_for\": \"\", \"price\": \"\", \"duration\": \"\", \"description\": \"\" },\n  \"freemium_version\": { \"is_available\": false, \"applicable_for\": \"\", \"price\": \"\", \"duration\": \"\", \"description\": \"\" },\n  \"complementary_tools\": [{ \"name\": \"\", \"description\": \"\", \"price\": \"\" }],\n  \"techonology used\": [{ \"name\": \"\", \"description\": \"\", \"purpose\": \"\" }]\n}"},"id":"f60eccc5-f2e4-4cad-a064-fdb4582efc85","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[3220,480],"typeVersion":1.2},{"parameters":{"options":{"temperature":0}},"id":"cfa49447-ddfd-4869-83f7-1ac4e71ffd32","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2800,480],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Call this tool to search for customer reviews for the desired company or their product/service.","url":"https://serpapi.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"parametersQuery":{"values":[{"name":"q","valueProvider":"fieldValue","value":"{company_or_product} reviews (site:trustpilot.com OR site:producthunt.com)"},{"name":"num","valueProvider":"fieldValue","value":"3"}]},"placeholderDefinitions":{"values":[{"name":"company_or_product","description":"the name of the company or their product to search for reviews for"}]},"optimizeResponse":true,"dataField":"organic_results","fieldsToInclude":"selected","fields":"position,title,link,snippet,source"},"id":"743e29c0-3103-400f-8833-cd46bb504259","name":"Search Product Review Sites","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[3660,540],"typeVersion":1,"credentials":{"serpApi":{"id":"Va57M3XsUHIbcHl8","name":"SerpAPI account"}}},{"parameters":{"toolDescription":"Call this tool to fetch webpage contents. Pass in the url to fetch.","method":"POST","url":"https://api.firecrawl.dev/v0/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"url","valueProvider":"fieldValue","value":"{url_or_link}"},{"name":"pageOptions","valueProvider":"fieldValue","value":"={{ {\n  onlyMainContent: true,\n  replaceAllPathsWithAbsolutePaths: true,\n  removeTags: 'img,svg,video,audio'\n} }}"}]},"placeholderDefinitions":{"values":[{"name":"url_or_link","description":"the url or lik to the review site webpage."}]},"optimizeResponse":true,"dataField":"data","fieldsToInclude":"selected","fields":"markdown"},"id":"5e75340b-872b-4372-a158-3e2dcd7d3342","name":"Webscraper Tool2","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[3800,540],"typeVersion":1,"credentials":{"httpHeaderAuth":{"id":"kzeWKpxI4WtccILl","name":"Header Auth account for Firecrawl"}}},{"parameters":{"jsonSchemaExample":"{\n  \"number_of_reviews\": 0,\n  \"positive_mentions_%\": \"\",\n  \"negative_mentions_%\": \"\",\n  \"top_pros\": [\"\"],\n  \"top_cons\": [\"\"],\n  \"top_countries\": [\"\"],\n  \"top_social_media_platforms\": [\"\"]\n}"},"id":"532fff14-5b00-4373-a0ca-d5d16876043a","name":"Structured Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[3980,540],"typeVersion":1.2},{"parameters":{"model":"gpt-4o","options":{"temperature":0}},"id":"9946481b-397d-4628-a129-958437705d5d","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3520,540],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19dcee3c-b1ec-8049-bbc5-e8b361ab85b0","mode":"list","cachedResultName":"Competitor analisys","cachedResultUrl":"https://www.notion.so/19dcee3cb1ec8049bbc5e8b361ab85b0"},"title":"={{ $json.output.company_name }}","propertiesUi":{"propertyValues":[{"key":"=Founded|rich_text","richText":true},{"key":"=Founding status|rich_text","richText":true},{"key":"=Money Raised|rich_text","richText":true},{"key":"=Positive Reviews|rich_text","richText":true},{"key":"=Pros|rich_text","richText":true},{"key":"=Cons|rich_text","richText":true}]},"blockUi":{"blockValues":[{"type":"heading_1","textContent":"={{ $json.output.company_name }}"},{"textContent":"=Report generated on {{ $now.format('dd MMM yyyy') }}"},{"type":"heading_2","textContent":"Company Overview"},{"textContent":"=Offices:\n{{ $json.output.offices.map(item => `${item.address}, ${item.city}`).join('\\n') }}\n\nYear Founded:\n{{ $json.output.year_founded }}\n\nFounders:\n{{ $json.output.founders.map(item => `${item.name} (${item.linkedIn})`).join('\\n') }}\n\nCEO:\n{{ $json.output.ceo.map(item => `${item.name} (${item.linkedIn})`).join('\\n') }}\n\nEmployees:\n{{ $json.output.employees.map(item => `${item.name} - ${item.role}, (${item.linkedIn})`).join('\\n') }}\n\nOpen Roles:\n{{ $json.output.open_jobs.map(item => `${item.role} (${item.published}), ${item.description}`).join('\\n') }}"},{"type":"heading_2","textContent":"Company Funding"},{"textContent":"=Money Raised:\n{{ $json.output.money_raised || 'unknown' }}\n\nFunding Status:\n{{ $json.output.funding_status }}\n\nYoY Customer Growth:\n{{ $json.output.yoy_customer_growth || 'unknown' }}\n\nAnnual Revenue:\n{{ $json.output.annual_revenue || 'unknown' }}\n\nYoY Revenue Growth:\n{{ $json.output.yoy_revenue_growth || 'unknown' }}\n\nInvestors:\n{{ $json.output.investors.map(item => `${item.name}, ${item.description} (${item.linkedIn})`).join('\\n') }}\n\nCustomers:\n{{ $json.output.customers.map(item => `${item.name} (${item.url})`).join('\\n') }}"},{"type":"heading_2","textContent":"Company News"},{"textContent":"={{  $json.output.latest_articles.length ? $json.output.latest_articles.map(item =>\n`**${item.title}**\n${item.url}\n${item.published_date} | ${item.snippet}\n`).join('\\n') : 'None Found' }}"},{"type":"heading_2","textContent":"Product Offering"},{"textContent":"=Features:\n{{ $json.output.features.map(item => `${item.name} - ${item.description.split('.')[0]}.`).join('\\n') }}\n"},{"textContent":"=Pricing Plans:\n{{ $json.output.pricing_plans.map(item =>\n`${item.name} - ${item.price} (${item.tier})\n* ${item.description}`\n).join('\\n\\n') }}\n\nFactors that Impact Price:\n{{ $json.output.factors_that_impact_price.map(item => `${item.factor} - ${item.description}`).join('\\n') }}\n\nCurrent Discounts and/or Promotions:\n{{ $json.output.discounts_promotions.length ? $json.output.discounts_promotions.map(item =>\n  `${item.offer} (${item.start} - ${item.end})\n* ${item.description}`\n).join('\\n\\n') : '* None Found' }}\n\nCustom Plans:\n{{ $json.output.custom_plans.is_available ? (\n  `${$json.output.custom_plans.applicable_for} - ${$json.output.custom_plans.price}\n* ${$json.output.custom_plans.description}`\n) : 'Not applicable' }}\n\nFree Trials:\n{{ $json.output.free_trial.is_available ? (\n  `${$json.output.free_trial.applicable_for} - ${$json.output.free_trial.price}\n* ${$json.output.free_trial.description}`\n) : 'Not applicable' }}\n\nFreemium Version:\n{{ $json.output.freemium_version.is_available ? (\n  `${$json.output.freemium_version.applicable_for} - ${$json.output.freemium_version.price}\n* ${$json.output.freemium_version.description}`\n) : 'Not applicable' }}\n\nComplimentary Tools:\n{{ $json.output.complementary_tools.map(item =>\n  `${item.name} - ${item.price}\n* ${item.description}`\n).join('\\n\\n') }}"},{"type":"heading_2","textContent":"=Product Reviews"},{"textContent":"=Number of Reviews: {{ $json.output.number_of_reviews }}\nPositive Mentions (%): {{ $json.output['positive_mentions_%'] }} \nNegative Mentions (%): {{ $json.output['negative_mentions_%'] }} \n\nTop Pros:\n{{ $json.output.top_pros.length ? $json.output.top_pros.map(item => `* ${item}`).join('\\n'): '* None Found' }}\n\nTop Cons:\n{{ $json.output.top_cons.length ? $json.output.top_cons.map(item => `* ${item}`).join('\\n') : '* None Found' }} \n\nTop Countries:\n{{ $json.output.top_countries.length ? $json.output.top_countries.map(item => `* ${item}`).join('\\n') : '* None Found' }}\n\nTop Social Media Platforms:\n{{ $json.output.top_social_media_platforms.length ? $json.output.top_social_media_platforms.map(item => `* ${item}`).join('\\n') : '* None Found' }}"}]},"options":{}},"id":"46ab8d3a-eee8-44e7-98ab-ff2afe290cb1","name":"Insert Into Notion","type":"n8n-nodes-base.notion","position":[4420,280],"typeVersion":2.2,"credentials":{"notionApi":{"id":"eWEcmD5AuB1eEe3n","name":"Notion account"}},"onError":"continueErrorOutput"},{"parameters":{"maxItems":10},"id":"f2e44257-c6c9-4283-9e0c-a54623550201","name":"Limit","type":"n8n-nodes-base.limit","position":[1260,260],"typeVersion":1},{"parameters":{"options":{}},"id":"448e8c40-42b0-4460-ad7f-ed44e8288078","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1580,260],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.exa.ai/findSimilar","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Bearer","value":"7a1ef049-4507-4cc5-bbef-cc10de53f9a2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.company_url }}"},{"name":"type","value":"neural"},{"name":"useAutoprompt","value":"true"},{"name":"contents","value":"={{ { \"text\": false } }}"},{"name":"excludeDomains","value":"={{ [$json.company_url, \"github.com\", \"linkedIn.com\"] }}"}]},"options":{}},"id":"b68d9392-a834-4f8c-8f70-1500217ede4a","name":"Competitor Search via Exa.ai","type":"n8n-nodes-base.httpRequest","position":[820,100],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"K0RoUgvrhNca6XhL","name":"Header Auth account for EXE"},"httpQueryAuth":{"id":"p45vTCnYRsFTxiqP","name":"Query Auth account"}}},{"parameters":{"toolDescription":"Call this tool to search for the latest news articles of a company.","url":"https://serpapi.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendBody":true,"parametersBody":{"values":[{"name":"q"},{"name":"engine","valueProvider":"fieldValue","value":"google_news"}]},"optimizeResponse":true,"dataField":"organic_results","fieldsToInclude":"selected","fields":"position,title,link,snippet,source"},"id":"290ab1f2-72df-407c-8ada-ff6795b16022","name":"Get Company News","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2360,540],"typeVersion":1,"credentials":{"serpApi":{"id":"Va57M3XsUHIbcHl8","name":"SerpAPI account"}}},{"parameters":{"content":"## Step 1. Get Competitors\n[Read more about using the HTTP Request node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nExa.ai is a relatively new AI search engine startup with a specialised API for finding similar companies.\nThis is perfect for marketing research as we can easily find competitors to compare against.","height":582.8537144476434,"width":1128.870960716006,"color":7},"id":"d7b4cb3c-8c2f-464f-96c5-d0736fe4a760","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[320,-100],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3910089f-065d-4f05-a3b7-a5b848b91eb9","name":"company_url","type":"string","value":"https://beauticonvalley.com/"}]},"options":{}},"id":"8528326b-320d-419d-888f-f4005fad3c05","name":"Set Source Company","type":"n8n-nodes-base.set","position":[600,100],"typeVersion":3.4},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨Required!\nRemember to set your company here.","height":308.12010511833364,"width":181.85939799093455},"id":"00865a73-58b6-4455-b8c3-e31d0d46d0bc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[640,160],"typeVersion":1},{"parameters":{"content":"## Step 2. Feed into Agent Pipeline\n[Learn more about loops](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches)\n\nA loop is used to ensure competitors are processed one at a time. This is ideal when we don't want errors to fail the entire pipeline.","height":492.4668447935363,"width":332.87733508600377,"color":7},"id":"756bc9c3-9980-40ca-8654-425ad66c7ec9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1460,0],"typeVersion":1},{"parameters":{"content":"## Step 4. Research Competitor Product Offering\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nThis agent uses SERPAPI to discover the competitor's product pages. Once found, it will use the webscraping tool to fetch the page's contents to extract the necessary data points.","height":600.1548730999224,"width":687.9856526661888,"color":7},"id":"ead6a44e-14b5-403c-a63e-24841e4d1b5d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2700,100],"typeVersion":1},{"parameters":{"content":"## Step 3. Discover Competitor Company and Funding Overview\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nThis agent searches crunchbase.com, wellfound.com and linkedin.com for the competitor's company details, people data, funding activity and latest news.","height":775.191233831828,"width":849.3810544357925,"color":7},"id":"20522306-b4d1-412f-a749-e34bcc2b3982","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1820,120],"typeVersion":1},{"parameters":{"content":"## Step 5. Capture Competitor Product Reviews\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nThis agent uses SERPAPI to discover product reviews for the competitor's product or service and then summarises the pros and cons.","height":633.9023021841829,"width":683.8444841203574,"color":7},"id":"2ed24c6f-b29c-4a9a-8174-66a13d213245","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[3420,120],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3c58a9dd-28c5-4758-a362-d5b29f6a8204","name":"output","type":"object","value":"={{\n {\n    ...$('Company Overview Agent').item.json.output,\n    ...$('Company Product Offering Agent').item.json.output,\n    ...$('Company Product Reviews Agent').item.json.output,\n }\n}}"}]},"options":{}},"id":"922b54e4-3dc3-4f7c-92f0-61a989ee2815","name":"Collect Results","type":"n8n-nodes-base.set","position":[4240,280],"typeVersion":3.4},{"parameters":{"content":"## Step 6. Collect Results and Send to Notion\n[Read more about using Notion](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.notion)\n\nFinally, once the agent's have completed their tasks successfully, we compiled a competitor report and insert it as a new row in our Notion table.\nYou can check out a copy of this table here: https://jimleuk.notion.site/2d1c3c726e8e42f3aecec6338fd24333?v=de020fa196f34cdeb676daaeae44e110&pvs=4","height":572.5257167828777,"width":529.1065295866968,"color":7},"id":"e1981b60-2a76-40da-9f8c-399d58d18d2e","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[4120,40],"typeVersion":1},{"parameters":{"amount":2},"id":"0bda8470-8d08-41d5-beab-c7af06b8701c","name":"2sec","type":"n8n-nodes-base.wait","position":[4580,800],"webhookId":"94b5b09f-0599-4585-b83b-f669726bc2ef","typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json.url }}","hasOutputParser":true,"options":{"systemMessage":"Your role is a company researcher agent. Your goal is to research and discover the following information about a company:\n* Year founded\n* Founder(s)\n* CEO\n* Key people\n* Employees\n* Open jobs\n* Offices\n* Money raised\n* Funding status\n* Investors\n* Customers\n* YoY customer growth\n* Annual revenue\n* YoY revenue growth\n* Latest articles\n\n## Steps\n1. check if the company's crunchbase profile exists and if it does read the profile page to gather the required information. If you are able to satisfies all data points from the profile, then do not return your response.\n2. repeat step 1 for wellfound if there are missing data points on the crunchbase profile.\n3. repeat step 1 for linkedin if there are missing data points on the wellfound profile.\n4. If there are still missing datapoints after checking cruchbase, wellfound and linkedin then just give up and return your response.\n\nIf a data point is not found after completing all the above steps, do not use null values in your final response. Use either an empty array, object or string depending on the required schema for the data point.\nDo not retry any link that returns a 400,401,403 or 500 error code."}},"id":"fba13bd0-f841-4330-ae37-310ca0b252a3","name":"Company Overview Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1920,320],"typeVersion":1.6},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json.url }}","hasOutputParser":true,"options":{"systemMessage":"Your role is company product/service researcher. Your goal is to search and collect the following information:\n* features sets\n* number of pricing plans\n* Factors that impact price\n* Lowest-tier, Mid-tier and Highest-tier price\n* Custom plans if available\n* Discounts & promotions offered currently\n* whether a Free trial is offered\n* description of freemium version if available\n* Complementary tools offered\n* technology used\n\n# steps\n1. Search for the relevant webpage on the company's website. This search should return a url address.\n2. Use this url address with the webscraper tool to fetch the contents of the webpage.\n3. Use the contents of th webpage to populate the data points.\n\nIf a data point is not found after completing all the above steps, do not use null values in your final response. Use either an empty array, object or string depending on the required schema for the data point.\nDo not retry any link that returns a 400,401,403 or 500 error code."}},"id":"b4163abd-5c8b-412b-95c5-250439eaa0af","name":"Company Product Offering Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2800,280],"typeVersion":1.6},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json.url }}","hasOutputParser":true,"options":{"systemMessage":"Your role is customer reviews agent. Your goal is to gather and collect online customer reviews for a company or their product or service.\n* number of reviews\n* Positive mentions, %\n* Negative mentions, %\n* Top pros\n* Top cons\n* Top countries\n* Top social media platforms\n\n## steps\n1. search for review sites that may have reviews for the company or product in question. retrieve the links or urls of the serch results where the reviews are found.\n2. Identify relevant items in the search result and and extract the urls from the search results.\n2. using the extracted urls from the search results, fetch the webpage of the review sites containing reviews for the company or product.\n3. extract the reviews from the fetched review sites to populate the required data points.\n\nIf a data point is not found after completing all the above steps, do not use null values in your final response. Use either an empty array, object or string depending on the required schema for the data point.\nDo not retry any link that returns a 400,401,403 or 500 error code."}},"id":"0b6395d9-e1a0-4be7-8b4e-401538be6ba6","name":"Company Product Reviews Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[3540,280],"typeVersion":1.6,"onError":"continueRegularOutput"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨Required!\nRemember to set your Notion Database here.","height":308.12010511833364,"width":181.85939799093455},"id":"c007b510-504c-4949-98da-93208eaf422d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[4460,340],"typeVersion":1},{"parameters":{"content":"## Configurare EXE\nHTTP mode: POST\nURL: https://api.exa.ai/findSimilar\nAuthentication: Generic Credential Type\nGeneric auth type: Header auth\nHeader auth: Header auth Account\n       Name:  Authorization\n       Value: Bearer <token>","height":200,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,520],"id":"a0c00992-db57-4365-859b-de2419a57e8d","name":"Sticky Note9"},{"parameters":{"content":"## Configurare FIRECRAWL\nHTTP mode: POST\nURL: https://api.firecrawl.dev/v0/scrapefindSimilar\nAuthentication: Generic Credential Type\nGeneric auth type: Header auth\nHeader auth: Header auth Account\n       Name:  Authorization\n       Value: Bearer <token>","height":200,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,680],"id":"240bcd55-28f7-4e84-844d-3bfac04e75b3","name":"Sticky Note10"}],"connections":{"2sec":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Domain":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Collect Results":{"main":[[{"node":"Insert Into Notion","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Company Overview Agent","type":"main","index":0}]]},"Results to List":{"main":[[{"node":"Extract Domain","type":"main","index":0}]]},"Search LinkedIn":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Webscraper Tool":{"ai_tool":[[{"node":"Company Product Offering Agent","type":"ai_tool","index":0}]]},"Get Company News":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Search WellFound":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Webscraper Tool1":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Webscraper Tool2":{"ai_tool":[[{"node":"Company Product Reviews Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Company Product Offering Agent","type":"ai_languageModel","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Search Crunchbase":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Insert Into Notion":{"main":[[{"node":"2sec","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Company Overview Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Company Product Reviews Agent","type":"ai_languageModel","index":0}]]},"Set Source Company":{"main":[[{"node":"Competitor Search via Exa.ai","type":"main","index":0}]]},"Company Overview Agent":{"main":[[{"node":"Company Product Offering Agent","type":"main","index":0}]]},"Search Company Website":{"ai_tool":[[{"node":"Company Product Offering Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Company Product Offering Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Company Overview Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Company Product Reviews Agent","type":"ai_outputParser","index":0}]]},"Search Product Review Sites":{"ai_tool":[[{"node":"Company Product Reviews Agent","type":"ai_tool","index":0}]]},"Check Company Profiles Exist":{"ai_tool":[[{"node":"Company Overview Agent","type":"ai_tool","index":0}]]},"Competitor Search via Exa.ai":{"main":[[{"node":"Results to List","type":"main","index":0}]]},"Company Product Reviews Agent":{"main":[[{"node":"Collect Results","type":"main","index":0}]]},"Company Product Offering Agent":{"main":[[{"node":"Company Product Reviews Agent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Source Company","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ed92cea-fffb-4590-bf5a-13799bdd42d1","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}