workflowsTelegram bot assistant for voice & text.json
{"createdAt":"2025-02-17T23:02:07.155Z","updatedAt":"2025-02-17T23:02:39.000Z","id":"NIjNVFqkC38frrMG","name":"Telegram bot assistant for voice & text","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"1b6b50d2-e214-4d85-b084-ac5455ac2492","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[840,480],"typeVersion":1},{"parameters":{"sessionKey":"=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}","contextWindowLength":10},"id":"13510a91-7024-435f-b331-f568bf581f2c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[980,480],"typeVersion":1},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"3d42f436-a28d-4c24-b798-2d04044ffc79","name":"Correct errors","type":"n8n-nodes-base.telegram","position":[1400,420],"typeVersion":1.1,"webhookId":"f0c384d7-11f0-4891-9d63-18ead8838c2a"},{"parameters":{"updates":["*"],"additionalFields":{}},"id":"4acfd996-bf83-4330-bc51-43fc4b6677ed","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[-280,320],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1},{"parameters":{"resource":"file","fileId":"={{$json.message.voice.file_id}}"},"id":"392540bc-f036-40a0-b702-1dfad67dfeb6","name":"Download voice file","type":"n8n-nodes-base.telegram","position":[240,440],"typeVersion":1.2,"webhookId":"2e6d53f3-c638-4bdb-9521-5f6b664f3dc2"},{"parameters":{"assignments":{"assignments":[{"id":"bccbce0a-7786-49c9-979a-7a285cb69f78","name":"CombinedMessage","type":"string","value":"={{ $json.message && $json.message.text ? $json.message.text : ($json.text ? $json.text : '') }}"},{"id":"5b1fc9f5-1408-4099-88cc-a23725c9eddb","name":"Message Type ","type":"string","value":"={{ $json?.message?.text && !$json?.text ? \"text query\" : (!$json?.message?.text && $json?.text ? \"voice message\" : \"unknown type message\") }}"},{"id":"1e9a17fa-ec5d-49dc-9ff6-1f28b57fb02e","name":"Source Type","type":"string","value":"={{ $('Listen for incoming events').item.json.message.forward_origin ? \" forwarded\" : \"\" }}"}]},"options":{}},"id":"5c9bb0e9-72d1-489d-8fd4-24a41cb43ede","name":"Combine content and set properties","type":"n8n-nodes-base.set","position":[620,300],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }} \n\nThank you for your{{ $('Combine content and set properties').item.json['Source Type'] }} {{ $('Combine content and set properties').item.json['Message Type '] }} 🤗","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"060c2c73-6d92-4a6a-937e-b368bd22c27b","name":"Send final reply","type":"n8n-nodes-base.telegram","position":[1220,300],"typeVersion":1.1,"webhookId":"efc6c7d8-b272-40c5-8e3c-17a24c34e8d6","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"=Sorry, {{ $('Listen for incoming events').first().json.message.from.first_name }}! This command is not supported yet. Please send text or voice messages.","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"c1418d7d-902a-4492-b82a-b33282ec1cfa","name":"Send error message","type":"n8n-nodes-base.telegram","position":[240,140],"typeVersion":1.2,"webhookId":"da180bd2-38fa-4427-90bb-7841581e21f2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"","temperature":0.7}},"id":"f28346ca-58f4-48a2-afb6-d40b20740de1","name":"Convert audio to text","type":"@n8n/n8n-nodes-langchain.openAi","position":[420,440],"typeVersion":1.5},{"parameters":{"content":"## Receive and pre-process messages \n","height":547.5630890194532,"width":1035.4478381373049},"id":"712653c9-cab6-40fa-a75b-f669763d08ce","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-300,60],"typeVersion":1},{"parameters":{"content":"## 1. Send incoming message to the AI Agent\n## 2. Deliver agent reply to the user \n","height":550.5748478134515,"width":861.262180151035,"color":2},"id":"83f9fb1f-af9f-49b0-a0b5-c84a0d873c05","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[800,60],"typeVersion":1},{"parameters":{"content":"## Transcribe audio","height":194.83713159725437,"width":367.73614918993235,"color":6},"id":"4cbd97de-a76c-4b72-b1a4-c6969f9e9f84","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[360,620],"typeVersion":1},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"18b2fd1d-f59b-460b-9f64-615ca4143a29","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[-20,140],"typeVersion":1.2,"webhookId":"aae6d288-50ab-468c-9710-c54a6acf4cb2"},{"parameters":{"text":"={{ $json.CombinedMessage }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"=You are a helpful AI assistant. You are chatting with the user named `{{ $('Determine content type').item.json.message.from.first_name }}`. You need to address the user by their name. Today is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}\n\nIn your reply, always send a message in Telegram-supported HTML format. Here are the formatting instructions:\n1. The following tags are currently supported:\n<b>bold</b>, <strong>bold</strong>\n<i>italic</i>, <em>italic</em>\n<u>underline</u>, <ins>underline</ins>\n<s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n<span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n<b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>\n<a href=\"http://www.example.com/\">inline URL</a>\n<code>inline fixed-width code</code>\n<pre>pre-formatted fixed-width code block</pre>\n2. Any code that you send should be wrapped in these tags: <pre><code class=\"language-python\">pre-formatted fixed-width code block written in the Python programming language</code></pre>\nOther programming languages are supported as well.\n3. All <, > and & symbols that are not a part of a tag or an HTML entity must be replaced with the corresponding HTML entities (< with &lt;, > with &gt; and & with &amp;)\n4. If the user sends you a message starting with / sign, it means this is a Telegram bot command. For example, all users send /start command as their first message. Try to figure out what these commands mean and reply accodringly\n"}},"id":"f2be0df4-d5d8-42d8-9c8c-ff72d5959c5a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[860,300],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":"/"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd41bbf0-bee0-450b-9160-b769821a4abc","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice}}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{"fallbackOutput":"extra"}},"id":"411455c4-671f-479a-aacb-3752320c27cd","name":"Determine content type","type":"n8n-nodes-base.switch","position":[-20,320],"typeVersion":3.2}],"connections":{"AI Agent":{"main":[[{"node":"Send final reply","type":"main","index":0}]]},"Send final reply":{"main":[[],[{"node":"Correct errors","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download voice file":{"main":[[{"node":"Convert audio to text","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Convert audio to text":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}]]},"Determine content type":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}],[{"node":"Download voice file","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Determine content type","type":"main","index":0},{"node":"Send Typing action","type":"main","index":0}]]},"Combine content and set properties":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d569beba-a6e8-4b3a-8100-f822bb3171a6","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:32:24.763Z","updatedAt":"2025-02-12T01:32:24.763Z","id":"Rr9GPpD5mGtCPw1f","name":"AUDIO"},{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}