workflowsAsk for Human help using slack.json
{"createdAt":"2025-02-24T14:24:49.645Z","updatedAt":"2025-02-24T14:24:49.645Z","id":"LfYQLAIYw4Su3XGy","name":"Ask for Human help using slack","active":false,"nodes":[{"parameters":{},"id":"3229d515-4c41-401d-9a4a-df74b6214b3f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[340,160],"typeVersion":1.1},{"parameters":{"name":"dont_know_tool","description":"Use this tool if you don't know the answer to the user's question, or if you're not very confident about your answer.","workflowId":"={{ $workflow.id}}","fields":{"values":[{"name":"chatInput","stringValue":"={{ $('Chat Trigger').item.json.chatInput }}"}]}},"id":"9fd39933-ab9e-48dc-aca2-fbe3b90231f7","name":"Not sure?","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[560,160],"typeVersion":1},{"parameters":{},"id":"258da2a2-a395-4ade-a6e9-fa7a17b2f9f5","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-20,760],"typeVersion":1},{"parameters":{"content":"### Sub-workflow: Custom tool\nThe agent above can call this workflow. It checks if the user has supplied an email address. If they haven't it prompts them to provide one. If they have, it messages a customer support channel for help.","height":775.3931210698682,"width":1118.3459011229047,"color":7},"id":"2d8d46cd-8f49-44c4-971f-f5ff4df6c8a5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-60,420],"typeVersion":1},{"parameters":{"content":"### Main workflow: AI agent using custom tool","height":486.5625,"width":927.5,"color":7},"id":"8408d20f-bc86-4a8b-b56e-00a89865a205","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-60,-140],"typeVersion":1},{"parameters":{"content":"**This tool calls the sub-workflow below**","height":179.21380662202682,"width":197.45572294791873,"color":5},"id":"0e79c1aa-a452-4870-afdb-5a737801e73e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[500,100],"typeVersion":1},{"parameters":{"content":"**Set your credentials**","height":213.44323866265472,"width":150,"color":2},"id":"90ee8a35-4efd-469a-ae12-5c5782c30364","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[140,80],"typeVersion":1},{"parameters":{"content":"**Set your credentials and Slack details**","height":250.57252651663197,"width":178.0499248677781,"color":2},"id":"93164d41-5de9-4940-b582-c77884242d17","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[460,580],"typeVersion":1},{"parameters":{"content":"## Try it out\n\nSelect **Chat** at the bottom and enter:\n\n_Hi! Please respond to this as if you don't know the answer to my query._","height":214.8397420554627,"width":185.9375,"color":4},"id":"d93beae7-cdd4-4c2a-a681-259fbbba6ab2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-220,-80],"typeVersion":1},{"parameters":{"content":"## Next steps\n\nLearn more about [Advanced AI in n8n](https://docs.n8n.io/advanced-ai/)","height":144.50520156238127},"id":"dd27d4b0-d209-4350-9750-0e634a4b4b83","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1020,1000],"typeVersion":1},{"parameters":{},"id":"5014c3a9-7364-489d-8cef-8486563a57f8","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[40,-80],"webhookId":"785e0c0c-12e5-4249-9abe-47bb131975cb","typeVersion":1},{"parameters":{"jsCode":"response = {\"response\":\"I'm sorry I don't know the answer. Please repeat your question and include your email address so I can request help.\"};\nreturn response;"},"id":"884ce65c-1cfd-4942-acd2-5e2175743c63","name":"Prompt the user to provide an email","type":"n8n-nodes-base.code","position":[500,920],"typeVersion":2},{"parameters":{"jsCode":"response = {\"response\": \"Thank you for getting in touch. I've messaged a human to help.\"}\nreturn response;"},"id":"7bf6d3d8-b430-42d3-8a55-53295097fefe","name":"Confirm that we've messaged a human","type":"n8n-nodes-base.code","position":[740,660],"typeVersion":2},{"parameters":{"options":{"systemMessage":"Try to answer the user's question. When you can't answer, or you're not confident of the answer, use the appropriate tool. When you use the dont_know_tool, respond with the message from the tool."}},"id":"9f45076c-5d36-4f75-823b-cca606767dd6","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[260,-80],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5e21e7c5-db60-4111-bb17-c289ae0fc159","operator":{"type":"string","operation":"regex"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.chatInput }}","rightValue":"/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/gi"}]},"options":{}},"id":"fb1e2b27-72d0-4ff2-9513-3b7e14bc225c","name":"Check if user has provided email","type":"n8n-nodes-base.if","position":[200,760],"typeVersion":2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":""},"text":"={{ \"A user had a question the bot couldn't answer. Here's their message: \" + $('Execute Workflow Trigger').item.json.chatInput }}","otherOptions":{}},"id":"ccc1ea9f-274a-44cf-a67b-8b022dc26ec8","name":"Message Slack for help","type":"n8n-nodes-base.slack","position":[500,660],"typeVersion":2.1,"webhookId":"63d4c2d6-390d-4d28-b94f-9b54569a8d5b"},{"parameters":{"model":"gpt-4","options":{"temperature":0.2}},"id":"0f03ef3f-4ad9-472f-9a5d-98aee0729bf6","name":"GPT4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[180,140],"typeVersion":1}],"connections":{"GPT4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Not sure?":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Message Slack for help":{"main":[[{"node":"Confirm that we've messaged a human","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Check if user has provided email","type":"main","index":0}]]},"Check if user has provided email":{"main":[[{"node":"Message Slack for help","type":"main","index":0}],[{"node":"Prompt the user to provide an email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bfffd37b-7fcf-4a19-ae96-725bfffc6f71","triggerCount":0,"tags":[]}