workflowsWA chatbot using vectorDB - Yamaha - Consultazione.json
{"createdAt":"2025-02-19T16:23:31.394Z","updatedAt":"2025-02-20T07:56:35.000Z","id":"uguunElX4YlP6h6R","name":"WA chatbot using vectorDB - Yamaha - Consultazione","active":false,"nodes":[{"parameters":{"updates":["messages"]},"id":"c4a5662a-65ad-4b14-a571-89884be527ec","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-600,280],"webhookId":"aaa71f03-f7af-4d18-8d9a-0afb86f1b554","typeVersion":1,"credentials":{"whatsAppTriggerApi":{"id":"g70JAxZMbNtIOFhe","name":"WhatsApp OAuth account"}}},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"515756c4-f46d-4f08-9695-fb2bac29f941","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[0,360],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-75-{{ $json.messages[0].from }}"},"id":"70d05238-0470-4171-b7a6-e98c66c47673","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[120,360],"typeVersion":1.2},{"parameters":{"name":"query_product_brochure","description":"Call this tool to query the product brochure. Valid for the year 2024."},"id":"cea602f9-ed0e-46f9-bad1-3f8707cd66bd","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[340,380],"typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"b2c62b49-989d-4016-91e6-cecf339a7115","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[480,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"operation":"send","phoneNumberId":"577068745482238","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":false},"requestOptions":{}},"id":"3c083b95-cbaa-4757-bba9-ad96f3ccc441","name":"Reply To User","type":"n8n-nodes-base.whatsApp","position":[860,280],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"qJWIa1odbFYsqLxy","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"577068745482238","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=Purtroppo non sono in grado di elaborare contenuti diversi dal testo. Grazieper la comprensione!","additionalFields":{"previewUrl":false},"requestOptions":{}},"id":"6fb4f75a-ea92-453a-ad71-d6c164cdfafd","name":"Reply To User1","type":"n8n-nodes-base.whatsApp","position":[-200,640],"typeVersion":1,"credentials":{"whatsAppApi":{"id":"qJWIa1odbFYsqLxy","name":"WhatsApp account"}}},{"parameters":{"content":"## 3. Use the WhatsApp Trigger\n[Learn more about the WhatsApp Trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.whatsapptrigger/)\n\nThe WhatsApp Trigger allows you to receive incoming WhatsApp messages from customers. It requires a bit of setup so remember to follow the documentation carefully! Once ready however, it's quite easy to build powerful workflows which are easily accessible to users.\n\nNote that WhatsApp can send many message types such as audio and video so in this demonstration, we'll filter them out and just accept the text messages.","height":484.1875,"width":546.6875,"color":7},"id":"7e020bc6-90d1-4b6f-b623-f1b57277620e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-700,0],"typeVersion":1},{"parameters":{"content":"### Want to handle all message types?\nCheck out my other WhatsApp template in my creator page! https://n8n.io/creators/jimleuk/","height":92,"width":338},"id":"7aa933af-43d2-4755-9fc5-b7bf7fd585b9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-320,840],"typeVersion":1},{"parameters":{"content":"### 3a. Handle Unsupported Message Types\nFor non-text messages, we'll just reply with a simple message to inform the sender.","height":311.1875,"width":337.6875,"color":7},"id":"7041be2e-fecb-45d0-bcb1-5697a0d2526f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-320,520],"typeVersion":1},{"parameters":{"content":"## 4. Sales AI Agent Responds To Customers\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/)\n\nn8n's AI agents are powerful nodes which make it incredibly easy to use state-of-the-art AI in your workflows. Not only do they have the ability to remember conversations per individual customer but also tap into resources such as our product catalogue vector store to pull factual information and data for every question.\n\nIn this demonstration, we use an AI agent which is directed to help the user navigate the product brochure. A Chat memory subnode is attached to identify and keep track of the customer session. A Vector store tool is added to allow the Agent to tap into the product catalogue knowledgebase we built earlier.","height":929.1875,"width":746.6875,"color":7},"id":"8007ff8e-efa7-4d49-958c-99e77fbe37f1","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-120,-140],"typeVersion":1},{"parameters":{"content":"## 5. Repond to WhatsApp User\n[Learn more about the WhatsApp Node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/)\n\nThe WhatsApp node is the go-to if you want to interact with WhatsApp users. With this node, you can send text, images, audio and video messages as well as use your WhatsApp message templates.\n\nHere, we'll keep it simple by replying with a text message which is the output of the AI agent.","height":484.1875,"width":495.4375,"color":7},"id":"6746ba21-bbab-49bb-83fc-e0eed2da33a7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[660,-20],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Supported"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"89971d8c-a386-4e77-8f6c-f491a8e84cb6","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Not Supported"}]},"options":{}},"id":"5449624a-fbed-494a-b39b-8daf385e3bf2","name":"Handle Message Types","type":"n8n-nodes-base.switch","position":[-400,280],"typeVersion":3.2},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"Sei un assistente che lavora per un'azienda che vende diffusori amplificati Yamaha e aiuti l'utente a navigare nel catalogo prodotti per l'anno 2024. \nParla in italiano, e sii colloquiale e gentile, ma sintetico.\nIl tuo obiettivo non è facilitare una vendita, ma, se l'utente lo richiede, indirizzarlo al sito web, all'URL o alle informazioni di contatto appropriate.\nDevi sapere che nel catalogo ci sono anche le dimensioni delle varie casse, espresse nella forma WxHxD (wide, height, deep) sia in mm che in pollici.\nFai del tuo meglio per rispondere in modo accurato a qualsiasi domanda. Se non conosci la risposta o non puoi ottenere l'informazione dal database, informane l'utente."}},"id":"30a8e0cb-44f8-4c62-be38-b64ff8f1a55c","name":"AI Sales Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[0,160],"typeVersion":1.6},{"parameters":{"pineconeIndex":{"__rl":true,"value":"yamaha","mode":"list","cachedResultName":"yamaha"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[180,520],"id":"e3098b3f-3c1c-4165-ac4a-89dc0d42e4d3","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"1UV60CZEppVg4tvU","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,660],"id":"27a7eca9-afb8-4897-892c-6257dbf111d3","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}}],"connections":{"AI Sales Agent":{"main":[[{"node":"Reply To User","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Handle Message Types","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Sales Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Sales Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Handle Message Types":{"main":[[{"node":"AI Sales Agent","type":"main","index":0}],[{"node":"Reply To User1","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Sales Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e4439b4-f6ce-44c6-b9e6-0925bc2902e0","triggerCount":2,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}