workflowsReusable Subworkflow Zip Multiple Files Dynamically (Compress).json
{"createdAt":"2025-02-12T05:02:48.092Z","updatedAt":"2025-02-12T05:02:56.000Z","id":"nRJUbdKjzufFz8Uj","name":"Reusable Subworkflow Zip Multiple Files Dynamically (Compress)","active":false,"nodes":[{"parameters":{},"id":"e18fe013-ce81-40da-aeed-6e5a3c6dd5d6","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,40],"typeVersion":1},{"parameters":{"operation":"compress","binaryPropertyName":"={{ $json.binary_keys }}","fileName":"=data{{$now.format('yyyy-MM-dd-tt')}}.zip"},"id":"ab43b233-8392-4538-921a-db9cc75237af","name":"Compression","type":"n8n-nodes-base.compression","position":[720,40],"typeVersion":1.1},{"parameters":{"content":"## About\nUse me as modular workflow. Instead of building me fixed in your workflow. Just call me when you need me.\n\n\n## Input\nInput can be multiple files \n-imgaes\n-pdfs\n-xlsx,csv....\n\n## Output\nSingle zip file","height":360},"id":"e87b42c2-04b3-4f7a-b0a2-ac51032b0a41","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-80,-60],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b0c3c3db-584a-48c9-b0ca-7f527d35f5a4","name":"fileName","type":"string","value":"={{ $binary.data.fileName.replaceAll(\" \",\"\") }}"}]},"includeOtherFields":true,"options":{}},"id":"ab7c2c55-f194-44a5-bfbb-9a26b4410314","name":"Prepare Output","type":"n8n-nodes-base.set","position":[940,40],"typeVersion":3.4},{"parameters":{"jsCode":"let binaries = {}, binary_keys = [];\n\nfor (const [index, inputItem] of Object.entries($input.all())) {\n  binaries[`data_${index}`] = inputItem.binary.data;\n  binary_keys.push(`data_${index}`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];\n"},"id":"cbec1c3b-17d4-4c80-9cc7-7f505a50afb8","name":"Code Magic","type":"n8n-nodes-base.code","position":[500,40],"typeVersion":2}],"connections":{"Code Magic":{"main":[[{"node":"Compression","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Prepare Output","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Code Magic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1c1a0762-7570-4550-bc3f-b9a89e6aa203","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}