workflowsEmail mgmt summarize review.json
{"createdAt":"2025-02-14T16:17:06.632Z","updatedAt":"2025-02-14T16:17:11.000Z","id":"0gLQI2P8KBd7XebY","name":"Email mgmt summarize review","active":false,"nodes":[{"parameters":{"options":{}},"id":"daf960e9-a3fd-4d1b-bf95-f312f5b4080b","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-1160,1320],"typeVersion":2},{"parameters":{"html":"={{ $json.textHtml }}","options":{}},"id":"c2de6754-b7d3-4b3e-a2ab-7579aa274b64","name":"Markdown","type":"n8n-nodes-base.markdown","position":[-900,1320],"typeVersion":1},{"parameters":{"fromEmail":"={{ $('Email Trigger (IMAP)').item.json.to }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}","html":"={{ $('Edit Fields').item.json.email }}","options":{}},"id":"eff5790d-b821-48e2-8cf0-fb4bbcc9f4be","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[1240,1180],"webhookId":"a79ae1b4-648c-4cb4-b6cd-04ea3c1d9314","typeVersion":2.1},{"parameters":{"mode":"retrieve-as-tool","toolName":"company_knowladge_base","toolDescription":"Extracts information regarding the request made.","qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"includeDocumentMetadata":false,"options":{}},"id":"72492c08-8f82-4d36-9648-6a42049c0c04","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[520,2100],"typeVersion":1},{"parameters":{"options":{}},"id":"07c8de80-b11b-481f-b5ee-72f64b9ad0d4","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[400,2300],"typeVersion":1.2},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $json.data }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."}}}},"id":"5d287e76-93dc-4d8b-a0ff-cb98b19ac419","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[-640,1320],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Write the text to reply to the following email:\n\n{{ $json.response.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject"}},"id":"1419b584-6ee2-4d65-ac2e-0a2d37ff5cf8","name":"Write email","type":"@n8n/n8n-nodes-langchain.agent","position":[-200,1320],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"d1ba5237-7a8f-4497-a0c9-a5ef5b1d7f6d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[660,1780],"typeVersion":1.2},{"parameters":{"operation":"sendAndWait","sendTo":"info@n3w.it","subject":"=[Approval Required]  {{ $('Email Trigger (IMAP)').item.json.subject }}","message":"=<h3>MESSAGE</h3>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.email }}","responseType":"freeText","options":{}},"id":"00440f5d-57bd-4d69-ac75-1a5472c0663e","name":"Gmail","type":"n8n-nodes-base.gmail","position":[540,1320],"webhookId":"d6dd2e7c-90ea-4b65-9c64-523d2541a054","typeVersion":2.1},{"parameters":{"inputText":"={{ $json.data.text }}","categories":{"categories":[{"category":"Approved","description":"The email has been reviewed and accepted as-is. The human explicitly or implicity express approva, indicating that no changes ar needed.\n\nExample:\n\"Ok\",\n\"Approvato\",\n\"Invia\""},{"category":"Declined","description":"The email has been reviewd, but the human request modifications before it sent link tweaks, removing parts, rewording etc... This could include suggested edits, rewording or major revision."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"a9ed562e-6e58-4126-9806-663c810e8311","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[780,1320],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"66a1f3cf-8309-4257-9f50-b2ae43079a5f","name":"Edit Fields","type":"n8n-nodes-base.set","position":[260,1320],"typeVersion":3.4},{"parameters":{},"id":"0b4d817a-0af2-4c0b-be2a-85246720df63","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-500,200],"typeVersion":1},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"600604e6-1e16-4daa-bcd6-8ea76ef0a4e1","name":"Create collection","type":"n8n-nodes-base.httpRequest","position":[-200,60],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"ed2cd3d5-c4eb-4e20-a05d-733fc0381049","name":"Refresh collection","type":"n8n-nodes-base.httpRequest","position":[-200,320],"typeVersion":4.2},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"=test-whatsapp"}},"options":{}},"id":"0e06ae18-1ced-4cea-ade8-573caac43299","name":"Get folder","type":"n8n-nodes-base.googleDrive","position":[20,320],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"6a0e05b0-2760-472f-9782-588e599417f4","name":"Download Files","type":"n8n-nodes-base.googleDrive","position":[240,320],"typeVersion":3},{"parameters":{"dataType":"binary","options":{}},"id":"8c7592ca-9328-4712-b97d-4220c8aab814","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[640,520],"typeVersion":1},{"parameters":{"chunkSize":300,"chunkOverlap":30},"id":"1a0a1022-a732-4242-b497-c447c11d639b","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[600,680],"typeVersion":1},{"parameters":{"content":"# STEP 1\n\n## Create Qdrant Collection\nChange:\n- QDRANTURL\n- COLLECTION","height":220,"width":880,"color":6},"id":"8b9afa17-710b-4a9f-952b-61c1b7b1831d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# STEP 2\n\n\n\n\n\n\n\n\n\n\n\n\n## Documents vectorization with Qdrant and Google Drive\nChange:\n- QDRANTURL\n- COLLECTION","height":400,"width":620,"color":4},"id":"9cea256a-9e0d-47db-82cd-6f6df4b8401b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-220,260],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"options":{}},"id":"bf732a92-2355-4e9b-8318-d68e680e8e0d","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[480,320],"typeVersion":1},{"parameters":{"options":{}},"id":"32ae189f-d438-4b0d-9583-0cb0b4edb816","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[460,520],"typeVersion":1.1},{"parameters":{"content":"# STEP 3 - MAIN FLOW\n\n\n## How it works\nThis workflow automates the handling of incoming emails, summarizes their content, generates appropriate responses using a retrieval-augmented generation (RAG) approach, and obtains approval or suggestions before sending replies. \n\nYou can quickly integrate Gmail and Outlook via the appropriate trigger nodes","height":260,"width":580,"color":3},"id":"277463a1-8fd1-431f-98eb-4567c7f63322","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1180,900],"typeVersion":1},{"parameters":{"options":{}},"id":"b45d4f60-c617-4a9d-bd15-c346ee4d9559","name":"DeepSeek Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","position":[-720,1540],"typeVersion":1},{"parameters":{"content":"Chain that summarizes the received email","height":240,"width":320},"id":"a6336243-c7a3-4ae6-96a8-563544f1e3ab","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-660,1240],"typeVersion":1},{"parameters":{"content":"Agent that retrieves business information from a vector database and processes the response","height":240,"width":340},"id":"07961e7a-1af1-4d0b-9abb-6229ce9d8a0c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-220,1240],"typeVersion":1},{"parameters":{"content":"Convert email to Markdown format for better understanding of LLM models","height":240},"id":"9d761d40-fab4-4bab-a2f5-d762baa95b8a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-960,1240],"typeVersion":1},{"parameters":{"content":"## IMPORTANT\n\nFor the \"Send Draft\" node, you need to send the draft email to a Gmail address because it is the only one that allows the \"Send and wait for response\" function.","height":360,"color":4},"id":"af249be9-67e9-4b41-9a44-b76b32c4170d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[460,1120],"typeVersion":1},{"parameters":{"content":"Based on the suggestion received, the text classifier can understand whether the feedback received approves the generated email or not.","height":240,"width":360},"id":"79e6352d-1a16-42e3-a196-613bc6897df1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[740,1240],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Review at the following email:\n{{ $('Edit Fields').item.json.email }}\n\nFeedback from human:\n{{ $json.data.text }}","hasOutputParser":true,"options":{"systemMessage":"If you are an expert in reviewing emails before sending them. You need to review and structure them in such a way that you can send them. It must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary. Be concise and never exceed 100 words. Only the body of the email"}},"id":"5687db99-1374-47c1-9808-40534cdef241","name":"Email Reviewer","type":"@n8n/n8n-nodes-langchain.agent","position":[1220,1460],"typeVersion":1.7},{"parameters":{"content":"The Email Reviewer agent, taking inspiration from human feedback, rewrites the email","height":220,"width":340},"id":"28fe4dcc-2863-46e9-b2b4-94a1bcafc824","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1180,1380],"typeVersion":1}],"connections":{"Gmail":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"Write email","type":"ai_languageModel","index":0},{"node":"Email Reviewer","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Markdown":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]},"Get folder":{"main":[[{"node":"Download Files","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Write email":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Download Files":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Email Reviewer":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Text Classifier":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Email Reviewer","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Refresh collection":{"main":[[{"node":"Get folder","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"Write email","type":"ai_tool","index":0},{"node":"Email Reviewer","type":"ai_tool","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Write email","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Create collection","type":"main","index":0},{"node":"Refresh collection","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a11f2bb-f128-454c-b178-7a39e2ba013d","triggerCount":0,"tags":[{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}