workflowsSiri AI agent voice powered chatbot.json
{"createdAt":"2025-02-17T23:01:19.717Z","updatedAt":"2025-02-17T23:01:29.000Z","id":"obAC328UCdxSMmf4","name":"Siri AI agent voice powered chatbot","active":false,"nodes":[{"parameters":{"options":{}},"id":"8a4c8b05-c3de-4853-9ad0-a8e2c79c1604","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[820,300],"typeVersion":1},{"parameters":{"content":"![Siri Template Thumbnail](https://uploads.n8n.io/devrel/wf-siri-header.png#full-width)\n## \"Hey Siri, Ask Agent\" workflow\n**Made by [Max Tkacz](https://www.linkedin.com/in/maxtkacz) during the [30 Day AI Sprint](https://30dayaisprint.notion.site/)**\n\nThis template integrates with Apple Shortcuts to trigger an n8n AI Agent via a \"Hey Siri\" command. The shortcut prompts for spoken input, transcribes it, and sends it to the workflow's `When Called by Apple Shortcut` Webhook trigger. The AI Agent processes the input and Siri dictates the response back to you.\n\nThe workflow also passes the current date and time to the `AI Agent`, which you can extend with additional context, like data from an App node, for more customized responses.\n\n","height":494.9629292914819,"width":636.2128494576581,"color":7},"id":"28582763-00af-412e-af9d-690c2d921812","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-180,-120],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"id":"21a27ea7-6941-462d-88ea-a7fefb474369","name":"Respond to Apple Shortcut","type":"n8n-nodes-base.respondToWebhook","position":[1260,100],"typeVersion":1.1},{"parameters":{"content":"### Set up steps\n1. Add an OpenAI API credential in `OpenAI Chat Model` node, or replace it with another model. Try `Groq` if you want a free alternative (can be used with free Groq account, no CC).\n2. Copy the \"Production URL\" from `When called by Apple Shortcut` node, you'll need this when setting up the shortcut.\n3. Save and activate this n8n workflow.\n4. Download the [Apple Shortcut here](https://uploads.n8n.io/devrel/ask-agent.shortcut), open it on macOS or iOS. This adds the shortcut to your device.\n5. Open the shortcut and swap URL in `Get contents of\" step to the \"Production URL\" you copied from `When called by Apple Shortcut`.\n6. Test it by saying \"Hey Siri, AI Agent\", then ask a question.","height":438.5821431288714,"width":280.2462120317618,"color":7},"id":"61ea0d74-8acd-42fe-90ef-531012184682","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-180,400],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [5 min]\n[![Siri Template Thumbnail](https://uploads.n8n.io/devrel/thumb-siri.png#full-width)](https://youtu.be/dewsB-4iGA8)\n","height":240.6839895136402,"width":330.5152611046425,"color":7},"id":"8c7660a4-dd3e-48f6-bdbb-434750aa0c3d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[140,400],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Here is my request: {{ $json.body.input }}\n","hasOutputParser":true,"options":{"systemMessage":"=## Task\nYou are a helpful assistant. Provide concise replies as the user receives them via voice on their mobile phone. Avoid using symbols like \"\\n\" to prevent them from being narrated.\n\n## Context\n- Today is {{ $now.format('dd LLL yy') }}.\n- Current time: {{ $now.format('h:mm a') }} in Berlin, Germany.\n- When asked, you are an AI Agent running as an n8n workflow.\n\n## Output\nKeep responses short and clear, optimized for voice delivery. Don't hallucinate, if you don't know the answer, say you don't know. "}},"id":"a325698d-8f66-4ed7-8c82-33545f019aeb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[860,100],"typeVersion":1.6},{"parameters":{"httpMethod":"POST","path":"assistant","responseMode":"responseNode","options":{}},"id":"9761609d-380d-47f4-992c-4879039aed16","name":"When called by Apple Shortcut","type":"n8n-nodes-base.webhook","position":[600,100],"webhookId":"f0224b4b-1644-4d3d-9f12-01a9c04879e4","typeVersion":2}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Apple Shortcut","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When called by Apple Shortcut":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a0e83808-722a-4d93-beec-16fa8bebd330","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}