workflowsEffortless Email Management with AI-Powered Summarization & Review.json
{"createdAt":"2025-02-12T00:30:12.231Z","updatedAt":"2025-02-12T01:42:33.000Z","id":"nfGIYD6d7geeL1ll","name":"Effortless Email Management with AI-Powered Summarization & Review","active":false,"nodes":[{"parameters":{"options":{}},"id":"938e6146-b7f9-44cc-b9da-20d6ff4567cb","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-1160,1280],"typeVersion":2},{"parameters":{"html":"={{ $json.textHtml }}","options":{}},"id":"b57d318c-7645-4b89-9674-e156cf6f2690","name":"Markdown","type":"n8n-nodes-base.markdown","position":[-900,1280],"typeVersion":1},{"parameters":{"fromEmail":"={{ $('Email Trigger (IMAP)').item.json.to }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}","html":"={{ $('Edit Fields').item.json.email }}","options":{}},"id":"638c9b96-99e4-4844-a9da-cdac45e1c320","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[1240,1140],"webhookId":"a79ae1b4-648c-4cb4-b6cd-04ea3c1d9314","typeVersion":2.1},{"parameters":{"mode":"retrieve-as-tool","toolName":"company_knowladge_base","toolDescription":"Extracts information regarding the request made.","qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"includeDocumentMetadata":false,"options":{}},"id":"a73b4744-85cc-4ef5-92cd-20863a011d98","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[560,2000],"typeVersion":1},{"parameters":{"options":{}},"id":"102ac98a-285c-4b5e-8016-cefcbff03f26","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[220,2040],"typeVersion":1.2},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $json.data }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."}}}},"id":"4792ee68-6a6c-4ab2-b298-c7e914dd1e3a","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[-640,1280],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Write the text to reply to the following email:\n\n{{ $json.response.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject"}},"id":"8718d3ff-3f2d-4b47-9ad1-dc4d52a9b8cf","name":"Write email","type":"@n8n/n8n-nodes-langchain.agent","position":[-200,1280],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"9ae6c119-4272-436b-b196-597fb10a720f","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[660,1740],"typeVersion":1.2},{"parameters":{"operation":"sendAndWait","sendTo":"info@n3w.it","subject":"=[Approval Required]  {{ $('Email Trigger (IMAP)').item.json.subject }}","message":"=<h3>MESSAGE</h3>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.email }}","responseType":"freeText","options":{}},"id":"7dcc0c9f-9510-4bc4-b991-bf22b33856e5","name":"Gmail","type":"n8n-nodes-base.gmail","position":[540,1280],"webhookId":"d6dd2e7c-90ea-4b65-9c64-523d2541a054","typeVersion":2.1},{"parameters":{"inputText":"={{ $json.data.text }}","categories":{"categories":[{"category":"Approved","description":"The email has been reviewed and accepted as-is. The human explicitly or implicity express approva, indicating that no changes ar needed.\n\nExample:\n\"Ok\",\n\"Approvato\",\n\"Invia\""},{"category":"Declined","description":"The email has been reviewd, but the human request modifications before it sent link tweaks, removing parts, rewording etc... This could include suggested edits, rewording or major revision."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"eb01bd8d-6e12-480e-98bc-db2888be72b8","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[780,1280],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"e7cfd4dd-5a36-40fe-8db5-22dcd4ff3160","name":"Edit Fields","type":"n8n-nodes-base.set","position":[260,1280],"typeVersion":3.4},{"parameters":{},"id":"04fa7d34-3912-4d0c-967a-bbaec4c69b3d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-500,160],"typeVersion":1},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"86e66030-c92d-4514-bd2f-7f30858180d3","name":"Create collection","type":"n8n-nodes-base.httpRequest","position":[-200,20],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"05665faf-940b-4074-897b-78b8f409f57e","name":"Refresh collection","type":"n8n-nodes-base.httpRequest","position":[-200,280],"typeVersion":4.2},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"=test-whatsapp"}},"options":{}},"id":"b230d73f-6083-4583-aff6-d591d05e2cbe","name":"Get folder","type":"n8n-nodes-base.googleDrive","position":[20,280],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"7d3983da-ce08-4c35-9f8a-37d658c692a7","name":"Download Files","type":"n8n-nodes-base.googleDrive","position":[240,280],"typeVersion":3},{"parameters":{"dataType":"binary","options":{}},"id":"36aeb532-66b2-497f-9931-c6bbf66fcad2","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[640,480],"typeVersion":1},{"parameters":{"chunkSize":300,"chunkOverlap":30},"id":"de8a0e81-2d14-4540-a9fb-e5c6ac30e5b7","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[600,640],"typeVersion":1},{"parameters":{"content":"# STEP 1\n\n## Create Qdrant Collection\nChange:\n- QDRANTURL\n- COLLECTION","height":220,"width":880,"color":6},"id":"1bfe8087-7a2a-4191-b1f4-d1b1c445143a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,-40],"typeVersion":1},{"parameters":{"content":"# STEP 2\n\n\n\n\n\n\n\n\n\n\n\n\n## Documents vectorization with Qdrant and Google Drive\nChange:\n- QDRANTURL\n- COLLECTION","height":400,"width":620,"color":4},"id":"85c0dfed-27b2-453d-937c-ff0c70e411c1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-220,220],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"options":{}},"id":"e8afc4de-08ba-4600-b927-09240106d8dc","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[480,280],"typeVersion":1},{"parameters":{"options":{}},"id":"50e44bad-b152-4600-a18f-11212b42c1a6","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[460,480],"typeVersion":1.1},{"parameters":{"content":"# STEP 3 - MAIN FLOW\n\n\n## How it works\nThis workflow automates the handling of incoming emails, summarizes their content, generates appropriate responses using a retrieval-augmented generation (RAG) approach, and obtains approval or suggestions before sending replies. \n\nYou can quickly integrate Gmail and Outlook via the appropriate trigger nodes","height":260,"width":580,"color":3},"id":"78681e76-d3bd-4506-a702-48b485dc6b5f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1180,860],"typeVersion":1},{"parameters":{"options":{}},"id":"b74f7564-bd1a-4f72-bde0-22fe0f24a04e","name":"DeepSeek Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","position":[-720,1500],"typeVersion":1},{"parameters":{"content":"Chain that summarizes the received email","height":240,"width":320},"id":"99866344-4e79-440a-b404-86188a0814da","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-660,1200],"typeVersion":1},{"parameters":{"content":"Agent that retrieves business information from a vector database and processes the response","height":240,"width":340},"id":"b833932b-a69b-43e3-9226-e30e99d740ae","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-220,1200],"typeVersion":1},{"parameters":{"content":"Convert email to Markdown format for better understanding of LLM models","height":240},"id":"ae1311b3-01b0-4e79-947a-fd5c71c6b022","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-960,1200],"typeVersion":1},{"parameters":{"content":"## IMPORTANT\n\nFor the \"Send Draft\" node, you need to send the draft email to a Gmail address because it is the only one that allows the \"Send and wait for response\" function.","height":360,"color":4},"id":"59ddd3ad-cdaa-4e36-9410-5f2a18fcc759","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[460,1080],"typeVersion":1},{"parameters":{"content":"Based on the suggestion received, the text classifier can understand whether the feedback received approves the generated email or not.","height":240,"width":360},"id":"ce0ec8f6-6c8e-4393-9102-c71f6bb24d59","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[740,1200],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Review at the following email:\n{{ $('Edit Fields').item.json.email }}\n\nFeedback from human:\n{{ $json.data.text }}","hasOutputParser":true,"options":{"systemMessage":"If you are an expert in reviewing emails before sending them. You need to review and structure them in such a way that you can send them. It must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary. Be concise and never exceed 100 words. Only the body of the email"}},"id":"2c68bd48-877f-409b-a09f-d4a18c19e182","name":"Email Reviewer","type":"@n8n/n8n-nodes-langchain.agent","position":[1220,1420],"typeVersion":1.7},{"parameters":{"content":"The Email Reviewer agent, taking inspiration from human feedback, rewrites the email","height":220,"width":340},"id":"382856ec-54d5-4f94-9c95-fd4e4955f902","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1180,1340],"typeVersion":1}],"connections":{"Gmail":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"Write email","type":"ai_languageModel","index":0},{"node":"Email Reviewer","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Markdown":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]},"Get folder":{"main":[[{"node":"Download Files","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Write email":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Download Files":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Email Reviewer":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Text Classifier":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Email Reviewer","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Refresh collection":{"main":[[{"node":"Get folder","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"Write email","type":"ai_tool","index":0},{"node":"Email Reviewer","type":"ai_tool","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Write email","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Create collection","type":"main","index":0},{"node":"Refresh collection","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a4669abd-68c3-4141-999d-4de92a1cb8df","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:27:06.022Z","updatedAt":"2025-02-12T01:27:06.022Z","id":"XinLwiwNst8mTVBz","name":"OFFICE_AUTOMATION"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}