workflowsItem matching use example.json
{"createdAt":"2025-02-24T14:41:02.689Z","updatedAt":"2025-02-24T14:41:06.000Z","id":"2xqR3N0A50hVr6jG","name":"Item matching use example","active":false,"nodes":[{"parameters":{},"id":"ade5e42e-f864-439a-9e81-f3a11527280c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[60,160],"typeVersion":1},{"parameters":{"operation":"getAllPeople","returnAll":true},"id":"a5777e28-a283-4089-9f56-4c93ea7aa8d8","name":"Customer Datastore (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","position":[300,160],"typeVersion":1},{"parameters":{"language":"python","pythonCode":"for i,item in enumerate(_input.all()):\n  _input.all()[i].json.restoreEmail = _('Customer Datastore (n8n training)').itemMatching(i).json.email\n\nreturn _input.all();"},"id":"30b2a786-73cc-46d9-8b78-bc0a2babc3c8","name":"Code","type":"n8n-nodes-base.code","position":[860,160],"typeVersion":2},{"parameters":{"fields":{"values":[{"name":"name","stringValue":"={{ $json.name }}"}]},"include":"none","options":{}},"id":"c6e743a1-c0bf-42a9-9cd0-8902b2616b5a","name":"Edit Fields","type":"n8n-nodes-base.set","position":[600,160],"typeVersion":3.2},{"parameters":{"content":"## Generate example data","height":304},"id":"867cc903-da96-4545-b8d4-62b8eccc9137","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[240,60],"typeVersion":1},{"parameters":{"content":"## Reduce the data\n\nRemove all data except the names","height":303},"id":"e981decb-9446-4273-9b84-75529e5ffe32","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[520,60],"typeVersion":1},{"parameters":{"content":"## Restore\n\nRestore the email address data","height":304},"id":"5108fbef-1bde-47cc-a09b-7c8d8d3aa7ec","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[800,60],"typeVersion":1},{"parameters":{"content":"## About this workflow\n\nThis workflow provides a simple example of how to use `itemMatching(itemIndex: Number)` in the Code node to retrieve linked items from earlier in the workflow.\n\nThis example uses JavaScript. Refer to [Retrieve linked items from earlier in the workflow](https://docs.n8n.io/code/cookbook/builtin/itemmatching/) for the Python code.\n","height":264,"width":352},"id":"ddabe950-cdb0-49aa-951a-eb1ae0249342","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-160,-120],"typeVersion":1}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Customer Datastore (n8n training)","type":"main","index":0}]]},"Customer Datastore (n8n training)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"93f3febd-e0d8-4a60-9eeb-a447b2b842ba","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}