workflowsWA Chatbot semplice - con webhook - solo riceve e ricopia, per ora.json
{"createdAt":"2025-02-17T03:18:30.090Z","updatedAt":"2025-02-19T15:58:20.000Z","id":"5XhpXNL4CoEzf2K4","name":"WA Chatbot semplice - con webhook - solo riceve e ricopia, per ora","active":false,"nodes":[{"parameters":{"httpMethod":"GET,POST","path":"whatsapp-webhook","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","position":[-400,100],"id":"f44dc01c-8771-4f4b-9e74-bbc7fd03f73f","typeVersion":2,"webhookId":"f90bdae4-735a-406d-9fc3-8ca69ae2c0b0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cf7efa6-9214-4d19-a48b-44bbd5499ace","leftValue":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"name":"IF GET Request","type":"n8n-nodes-base.if","position":[-200,100],"id":"4446344b-1747-41e8-912d-6f1e49634773","typeVersion":2.2,"notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d191a46b-89ae-4374-97f3-9f7d3bc0ebd9","leftValue":"hub.mode","rightValue":"subscribe","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"name":"IF hub.mode=subscribe","type":"n8n-nodes-base.if","position":[0,0],"id":"5b25766f-5704-4147-942d-74d68943b5c3","typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e14c08af-b689-42ad-8861-d9229ade8b87","leftValue":"hub.verify_token","rightValue":"pippo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"name":"IF verify_token match","type":"n8n-nodes-base.if","position":[220,-20],"id":"ae33ffed-5c75-4e76-b321-5e439555eb33","typeVersion":2.2},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","position":[400,-40],"id":"56d4a2dd-2c87-4583-b008-19c7627b42b4","typeVersion":1.1},{"parameters":{"options":{}},"name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[400,120],"id":"180c8486-c599-4e19-99fa-7ea81924af2c","typeVersion":1.1},{"parameters":{"respondWith":"allIncomingItems","options":{}},"name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","position":[-180,480],"id":"88aaa2f8-c27b-40fc-82f2-4f1c352328df","typeVersion":1.1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"name":"Prepare Message Data","type":"n8n-nodes-base.code","position":[20,480],"id":"25b9ce3d-e19f-4feb-a9f2-df793738a5e2","typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"5f057d03-e4df-4f35-8a5a-95b217ad7d80","name":"body.entry[0].changes[0].value.messages[0].text.body","value":"=Ciao, {{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"}]},"options":{}},"name":"Set Message Data","type":"n8n-nodes-base.set","position":[200,480],"id":"10c7a211-19e5-46cb-a915-5ebc3712863c","typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"=577068745482238","recipientPhoneNumber":"={{ $('Prepare Message Data').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}","textBody":"=Ok. Ricevuto {{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","additionalFields":{},"requestOptions":{}},"name":"WhatsApp","type":"n8n-nodes-base.whatsApp","position":[400,480],"id":"7d68a048-bd4e-43e8-9b17-7c7a0b7eac8c","typeVersion":1,"credentials":{"whatsAppApi":{"id":"qJWIa1odbFYsqLxy","name":"WhatsApp account"}}},{"parameters":{"content":"## Vai a capire perché questo è andato\n**Double click**\nrichiesta di registrazione:\n-> webhook\n-> se get\n   -> se hub.mode = subscribe\n      -> se token = verify_token\n         rispondi token\n-> se post\n   respond_to_webhook\n      prepare_message_data (??) prepara in qualche modo i dati\n         set_message_data (??) compone stringa finale\n            send_whatsapp_message","height":340,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,240],"id":"62c9ce23-4362-446f-be50-30e289fbb13a","name":"Sticky Note"},{"parameters":{"content":"## Perché???\n\nho dovuto mettere hub.mode <> subscribe\ne\nverify_token <> match","height":140,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,140],"id":"b51aa113-62c9-45f9-8465-96442f56afac","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"IF GET Request","type":"main","index":0}]]},"IF GET Request":{"main":[[{"node":"IF hub.mode=subscribe","type":"main","index":0}],[{"node":"Respond OK","type":"main","index":0}]]},"IF hub.mode=subscribe":{"main":[[{"node":"IF verify_token match","type":"main","index":0}]]},"IF verify_token match":{"main":[[{"node":"Respond Challenge","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Respond OK":{"main":[[{"node":"Prepare Message Data","type":"main","index":0}]]},"Prepare Message Data":{"main":[[{"node":"Set Message Data","type":"main","index":0}]]},"Set Message Data":{"main":[[{"node":"WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2733258c-9d58-4c87-b580-81081d156959","triggerCount":2,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}