workflowsPulling data from services previously unknown.json
{"createdAt":"2025-02-12T00:01:53.320Z","updatedAt":"2025-02-12T01:39:31.000Z","id":"Z3tNDAn5NO5PrX84","name":"Pulling data from services previously unknown","active":false,"nodes":[{"parameters":{},"id":"adc1f88b-0e3b-44ca-a2a7-b3a2331338fb","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-480,440],"typeVersion":1},{"parameters":{"content":"## HTTP Request\n### This workflow shows the most common use cases of the HTTP request node, and how to handle its output\n\n\n### Click the `Execute Workflow` button and double click on the nodes to see the input and output items.","height":200,"width":440},"id":"7ddb0ea1-ba0c-443d-8c50-3c2886516873","name":"Note","type":"n8n-nodes-base.stickyNote","position":[-1020,380],"typeVersion":1},{"parameters":{"content":"## 3. Handle Pagination\n### Sometimes you need to make the same request multiple times to get all the data you need (pagination).\n\n### The pagination process goes as follow:\n### 1. Loop through the pages of the input source (`HTTP Request` node named \"Get my Starts\")\n### 2. Increment the page at the end of each loop (done with the `set` node named \"Increment Page\") \n### 3. Stop looping when there are no pages left (checked at the `If` node named \"Are we Finished?\")\n\n\n\n","height":460.847917534361,"width":986.3743856726365},"id":"7eeea0ec-8622-4e1f-8aef-98b029d7acd5","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[-120,620],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"page"},{"name":"perpage","value":15}],"string":[{"name":"githubUser","value":"that-one-tom"}]},"options":{}},"id":"729d1a48-7c8d-4fa2-b341-e5fe5bad58b0","name":"Set","type":"n8n-nodes-base.set","position":[-60,880],"typeVersion":1},{"parameters":{"content":"## 2. Data Scraping\n### In this example we fetch the titles from the n8n blog using the `HTTP request` node and then we use the `HTML extract` node to pass.","height":280,"width":680},"id":"1f321896-f1ae-4f5e-bf0a-6bfde6866d95","name":"Note6","type":"n8n-nodes-base.stickyNote","position":[-120,320],"typeVersion":1,"disabled":true},{"parameters":{"content":"## 1. Split into items\n### In this example, we take the body from an `HTTP Request` node and split it out into items that are easier to manage.","height":280,"width":500},"id":"6709cff3-6ab1-422b-90b6-a1b410ef6f26","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[-120,20],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"63bda110-1a24-4f46-897d-e233ca2560c9","name":"Item Lists - Create Items from Body","type":"n8n-nodes-base.itemLists","position":[140,140],"notesInFlow":false,"typeVersion":1,"notes":"Create Items from Body"},{"parameters":{"sourceData":"binary","extractionValues":{"values":[{"key":"ArticleTitle","cssSelector":"#firstHeading"}]},"options":{}},"id":"abe16be4-fa16-4594-a6af-bae6a4f0bc6b","name":"HTML Extract - Extract Article Title","type":"n8n-nodes-base.htmlExtract","position":[120,440],"typeVersion":1},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"8fa99e5e-4ee1-4856-aa10-ac227680cb91","name":"Item Lists - Fetch Body","type":"n8n-nodes-base.itemLists","position":[320,880],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"HTTP Request - Get my Stars\"].json[\"body\"]}}","operation":"isEmpty"}]}},"id":"b7eb2f1b-00a9-4897-9c52-b1a93404e00d","name":"If - Are we finished?","type":"n8n-nodes-base.if","position":[500,880],"executeOnce":true,"typeVersion":1},{"parameters":{"values":{"string":[{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]++}}"}]},"options":{}},"id":"bca9773e-2225-495c-8ac7-1e1f1d90bc93","name":"Set - Increment Page","type":"n8n-nodes-base.set","position":[720,900],"executeOnce":true,"typeVersion":1},{"parameters":{"url":"https://jsonplaceholder.typicode.com/albums","options":{"response":{"response":{"fullResponse":true}}}},"id":"55e9040e-f14e-44df-aee0-cba84a02df14","name":"HTTP Request - Get Mock Albums","type":"n8n-nodes-base.httpRequest","position":[-60,140],"typeVersion":3},{"parameters":{"url":"https://en.wikipedia.org/wiki/Special:Random","options":{"redirect":{"redirect":{"followRedirects":true}},"response":{"response":{"responseFormat":"file"}}}},"id":"9cd31676-1346-40bc-ade1-d38aba4043cf","name":"HTTP Request - Get Wikipedia Page","type":"n8n-nodes-base.httpRequest","position":[-80,440],"typeVersion":3},{"parameters":{"url":"=https://api.github.com/users/{{$node[\"Set\"].json[\"githubUser\"]}}/starred","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"={{$node[\"Set\"].json[\"perpage\"]}}"},{"name":"page","value":"={{$node[\"Set\"].json[\"page\"]}}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"0588545f-8d36-46a9-a7d0-04f488443244","name":"HTTP Request - Get my Stars","type":"n8n-nodes-base.httpRequest","position":[140,880],"typeVersion":3}],"connections":{"Set":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"Set - Increment Page":{"main":[[{"node":"HTTP Request - Get my Stars","type":"main","index":0}]]},"If - Are we finished?":{"main":[[],[{"node":"Set - Increment Page","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Set","type":"main","index":0},{"node":"HTTP Request - Get Mock Albums","type":"main","index":0},{"node":"HTTP Request - Get Wikipedia Page","type":"main","index":0}]]},"Item Lists - Fetch Body":{"main":[[{"node":"If - Are we finished?","type":"main","index":0}]]},"HTTP Request - Get my Stars":{"main":[[{"node":"Item Lists - Fetch Body","type":"main","index":0}]]},"HTTP Request - Get Mock Albums":{"main":[[{"node":"Item Lists - Create Items from Body","type":"main","index":0}]]},"HTTP Request - Get Wikipedia Page":{"main":[[{"node":"HTML Extract - Extract Article Title","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"917a6cb7-9d98-4dd3-a786-6fefb758c18a","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}