workflowsN8N Corso 2 JSON HTML XML.json
{"createdAt":"2025-02-27T01:53:09.464Z","updatedAt":"2025-02-27T10:48:30.000Z","id":"br89LtwbbCuaeSK8","name":"N8N Corso 2 JSON HTML XML","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"1c02cf69-f5f2-47a6-8c9f-981726c32c07","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://api.quotable.io/quotes","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-200],"id":"0b166db8-83bc-4d89-89b4-1a061a1166bd","name":"HTTP Request"},{"parameters":{"jsCode":"let items = $input.all();\nreturn items[0].json.results.map(item => {\n\treturn {\n\t\tjson: item\n\t}\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-200],"id":"47029c64-9362-4ed9-97a9-c364584dd9c1","name":"Code"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":".post .item-title a","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[460,100],"id":"f3319d3d-8eb5-451e-85b8-8fcbc9a9cd0d","name":"HTML"},{"parameters":{"url":"https://blog.n8n.io/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,100],"id":"dea5811f-83ee-4306-984f-66382d4a9a57","name":"HTTP Request1"},{"parameters":{"mode":"jsonToxml","options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[460,-60],"id":"763f3125-2f89-4028-a08b-618c2a64149f","name":"XML"},{"parameters":{"url":"https://boo.it/FRV/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,300],"id":"5fdf627d-d029-472b-9f4c-50fbe9638547","name":"HTTP Request2"},{"parameters":{"jsCode":"const html = $json.data; // Prende l'HTML dal nodo precedente\n\n// Trova tutte le righe della tabella (ogni <tr> che contiene un file)\nconst matches = html.match(/<tr>.*?<\\/tr>/g);\n\nif (!matches) {\n  return [];\n}\n\n// Estensioni permesse\nconst validExtensions = [\"jpg\", \"jpeg\", \"png\", \"tif\", \"tiff\"];\n\nreturn matches.map(row => {\n  // Estrai il nome del file\n  const nameMatch = row.match(/<td data-sort=\"([^\"]+)\">/);\n  const urlMatch = row.match(/<a href=\"([^\"]+)\">/);\n  const dateMatch = row.match(/<td data-sort=\"\\d+\">([^<]+)<\\/td>/);\n  const sizeMatch = row.match(/<td data-sort=\"\\d+\">([^<]+)<\\/td>/g);\n\n  if (nameMatch && urlMatch) {\n\n    const filename = nameMatch[1].trim();\n    const extension = filename.split(\".\").pop().toLowerCase();\n\n    // Filtra solo le immagini con estensioni valide\n    if (!validExtensions.includes(extension)) return null;\n    \n    return {\n      url: `https://boo.it${urlMatch[1]}`,\n      filename: nameMatch[1].trim(),\n      // lastModified: dateMatch ? dateMatch[1].trim() : \"N/A\",\n      // size: sizeMatch ? sizeMatch[1].replace(/<[^>]*>/g, '').trim() : \"N/A\"\n    };\n  }\n  return null;\n}).filter(Boolean);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"id":"200e0658-e374-4eb5-9032-3635f0135092","name":"Code1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[]]},"HTML":{"main":[[]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"faa516c8-8779-4070-9a90-e52b03964af1","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"}]}