workflowsWA chatbot using vectorDB - Machpower - Caricamento dati.json
{"createdAt":"2025-02-20T07:53:34.513Z","updatedAt":"2025-02-20T07:56:47.000Z","id":"ZjQ0eTq7EXyZ8smX","name":"WA chatbot using vectorDB - Machpower - Caricamento dati","active":false,"nodes":[{"parameters":{},"id":"3e8f51cf-a9be-4445-a755-5e50e32a5a59","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1720,-300],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ae09c5b9-4bdf-4bef-8886-e264e9d0ccf9","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-980,40],"typeVersion":1,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"id":"496b7376-2ab7-45e7-827e-ee412cd6f0d5","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-820,-80],"typeVersion":1},{"parameters":{"chunkSize":2000,"chunkOverlap":{},"options":{}},"id":"7a6da373-915d-40ed-b8e1-8a9a4df95887","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-820,40],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"a51baf26-2521-445f-8dd6-920afb2fb8ff","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[-1360,-300],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"url":"https://boo.it/omnicatalogo.pdf","options":{}},"id":"58887729-fa95-4689-a60f-06608b65a6f8","name":"get Product Brochure","type":"n8n-nodes-base.httpRequest","position":[-1540,-300],"typeVersion":4.2},{"parameters":{"content":"### You only have to run this part once!\nRun this step to populate our product catalogue vector. Run again if you want to update the vector store with a new version.","height":114.53583720930231,"width":345.10906976744184,"color":5},"id":"041a5521-745e-4961-b489-8c2f844973c7","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1800,-80],"typeVersion":1},{"parameters":{"content":"## 1. Download Product Brochure PDF\n[Read more about the HTTP Request Tool](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nImport your marketing PDF document to build your vector store. This will be used as the knowledgebase by the Sales AI Agent.\n\nFor this demonstration, we'll use the HTTP request node to import the YAMAHA POWERED LOUDSPEAKERS 2024 brochure ([Source](https://usa.yamaha.com/files/download/brochure/1/1474881/Yamaha-Powered-Loudspeakers-brochure-2024-en-web.pdf)) and an Extract from File node to extract the text contents. ","height":434.6875,"width":640.4375,"color":7},"id":"8ffb7c09-77aa-498c-8c48-0677373fcf16","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1800,-540],"typeVersion":1},{"parameters":{"content":"## 2. Create Product Brochure Vector Store\n[Read more about the In-Memory Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreinmemory/)\n\nVector stores are powerful databases which serve the purpose of matching a user's questions to relevant parts of a document. By creating a vector store of our product catalog, we'll allow users to query using natural language.\n\nTo keep things simple, we'll use the **In-memory Vector Store** which comes built-in to n8n and doesn't require a separate service. For production deployments, I'd recommend replacing the in-memory vector store with either [Qdrant](https://qdrant.tech) or [Pinecone](https://pinecone.io).","height":731.1875,"width":614.6875,"color":7},"id":"1cdf8070-5e0b-44eb-a338-c4db9c13d62d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1140,-540],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"machpower","mode":"list","cachedResultName":"machpower"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-980,-260],"id":"0b41c254-9f7d-411a-a2ef-3fd4b2f01c92","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"1UV60CZEppVg4tvU","name":"PineconeApi account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"get Product Brochure","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"get Product Brochure":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbdfefa4-7ee4-4e35-8e28-09a8c978923b","triggerCount":2,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}