workflows/"Human in the Loop" Email Response System Using AI and IMAP.json
{"createdAt":"2025-02-19T15:36:17.901Z","updatedAt":"2025-02-20T23:32:31.000Z","id":"IhTyxV8DfkGKZSSZ","name":"\"Human in the Loop\" Email Response System Using AI and IMAP","active":false,"nodes":[{"parameters":{"options":{}},"id":"e4599cb7-1fdd-465b-a109-653aa6f0d133","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-260,300],"typeVersion":2,"credentials":{"imap":{"id":"DV8V70AxSpTzTgBs","name":"IMAP account"}}},{"parameters":{"html":"={{ $json.textHtml }}","options":{}},"id":"8df4fc54-aa6c-4ee3-8711-5d8f0307be51","name":"Markdown","type":"n8n-nodes-base.markdown","position":[0,300],"typeVersion":1},{"parameters":{"fromEmail":"={{ $('Email Trigger (IMAP)').item.json.to }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}","html":"={{ $('Set Email text').item.json.email }}","options":{}},"id":"9e6fa07b-ace5-4795-96c5-7f02c8e2190a","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[1960,280],"webhookId":"a79ae1b4-648c-4cb4-b6cd-04ea3c1d9314","typeVersion":2.1,"credentials":{"smtp":{"id":"S6U6U7gvE93xv2Hj","name":"SMTP account"}}},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $json.data }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."}}}},"id":"653353d6-4dab-4d55-b0c9-12e8d3fbffc4","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[260,300],"typeVersion":2,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Write the text to reply to the following email:\n\n{{ $json.response.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject"}},"id":"7ba02f15-8a4e-41ef-860d-ec413240bdc2","name":"Write email","type":"@n8n/n8n-nodes-langchain.agent","position":[700,300],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"5d76278f-3155-44ae-9006-9b1dcdda70fa","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[640,520],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"content":"Chain that summarizes the received email","height":240,"width":320},"id":"0e2efa3d-29de-4bd8-9d75-a7cc715aa34f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[240,220],"typeVersion":1},{"parameters":{"content":"Agent that retrieves business information from a vector database and processes the response","height":240,"width":340},"id":"cf07b9fe-31be-462f-9920-79a77f2a6e24","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[680,220],"typeVersion":1},{"parameters":{"content":"Convert email to Markdown format for better understanding of LLM models","height":240},"id":"c0aee425-de8f-4682-8816-db847681bd50","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-60,220],"typeVersion":1},{"parameters":{"content":"If the feedback is OK send email","height":180},"id":"6a25210a-35bc-4e52-bc8e-474c81a74fd9","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1660,260],"typeVersion":1},{"parameters":{"operation":"sendAndWait","fromEmail":"info@n3witalia.com","toEmail":"info@n3witalia.com","subject":"=[Approval Required]  {{ $('Email Trigger (IMAP)').item.json.subject }}","message":"=<h3>MESSAGE</h3>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.email }}","options":{}},"id":"9905e557-a45d-40f2-89da-65e7bbdd0a13","name":"Approve Email","type":"n8n-nodes-base.emailSend","position":[1420,300],"webhookId":"4f9f06e7-9b2b-4896-9b51-245972341d12","typeVersion":2.1,"credentials":{"smtp":{"id":"S6U6U7gvE93xv2Hj","name":"SMTP account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"deepseek-chat","cachedResultName":"deepseek-chat"},"options":{}},"id":"4ead12e3-374f-445a-a073-d274e71d5c44","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[220,520],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"183a6612-62b8-409a-b1d3-de3fa9d80ce4","name":"Set Email text","type":"n8n-nodes-base.set","position":[1140,300],"typeVersion":3.4},{"parameters":{"content":"Human in the loop","height":180},"id":"51c0d08c-a912-401e-aeca-de4f0e6644a4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1340,260],"typeVersion":1},{"parameters":{"content":"# How it works\nThis workflow automates the handling of incoming emails, summarizes their content, generates appropriate responses and validate it through send IMAP email with \"Human in the loop\" system. \n\nYou can quickly integrate Gmail and Outlook via the appropriate nodes\n\nATTENDERE PANNELLO PER RIAVVIARE LA MACCHINA PRIMA DI ESEGUIRE IL TEST!!\n","height":260,"width":540,"color":3},"id":"2b203fbe-0e9d-42c1-b62e-a2863ba861f4","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-60,-100],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"62e26bc5-1732-4699-a602-99490c7406fd","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"8f3a8bcf-5eb9-493b-a0c8-00a16203e765","name":"Approved?","type":"n8n-nodes-base.if","position":[1720,300],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"85f0ce03-0c1f-48f2-932d-7b1bcd507155","name":"Set Email text1","type":"n8n-nodes-base.set","position":[620,700],"typeVersion":3.4}],"connections":{"OpenAI":{"ai_languageModel":[[{"node":"Write email","type":"ai_languageModel","index":0}]]},"Markdown":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Write email":{"main":[[{"node":"Set Email text","type":"main","index":0}]]},"Approve Email":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Set Email text":{"main":[[{"node":"Approve Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Write email","type":"main","index":0}],[{"node":"Set Email text1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f042990-5908-47e0-a810-aef73d01353d","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-19T15:37:50.479Z","updatedAt":"2025-02-19T15:38:16.192Z","id":"fve3rVr1x3p4Bx1y","name":"EMAIL"}]}