workflows/Actioning Your Meeting Next Steps using Transcripts and AI.json
{"createdAt":"2025-02-12T00:44:22.007Z","updatedAt":"2025-02-12T01:33:09.000Z","id":"giLEoFYqtXNgsZaM","name":"Actioning Your Meeting Next Steps using Transcripts and AI","active":false,"nodes":[{"parameters":{"options":{"temperature":0}},"id":"85d96f19-4934-4aa4-a281-cc69dbf0a16c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1440,220],"typeVersion":1},{"parameters":{"url":"https://meet.googleapis.com/v2/conferenceRecords","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"=space.meeting_code={{ $json.conferenceData.conferenceId }}"}]},"options":{}},"id":"e410da8d-385f-4232-8f09-3d0522f357f4","name":"Get Meeting ConferenceRecords","type":"n8n-nodes-base.httpRequest","position":[660,140],"typeVersion":4.2},{"parameters":{"url":"=https://meet.googleapis.com/v2/{{ $json.conferenceRecords[0].name }}/transcripts","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"id":"98cb749c-1046-4c38-81e3-f9d3b1f74c48","name":"Get Meeting Transcript Location","type":"n8n-nodes-base.httpRequest","position":[840,140],"typeVersion":4.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.docsDestination.document }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"id":"d58d4c2c-9320-49e9-9667-2ee589d5a525","name":"Get Transcript File","type":"n8n-nodes-base.googleDrive","position":[1020,140],"typeVersion":3},{"parameters":{},"id":"4efa0329-36a6-4946-a609-9891a1881fd8","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[160,100],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"02f5466e-d303-4e8f-8666-23a6474dffee","name":"PDF Loader","type":"n8n-nodes-base.extractFromFile","position":[1300,80],"typeVersion":1},{"parameters":{"operation":"get","calendar":{"__rl":true,"mode":"list","value":"c_5792bdf04bc395cbcbc6f7b754268245a33779d36640cc80a357711aa2f09a0a@group.calendar.google.com","cachedResultName":"n8n-events"},"eventId":"abc123","options":{}},"id":"5ce835f8-d700-41dd-ac5a-c3d6be8220cb","name":"Get Calendar Event","type":"n8n-nodes-base.googleCalendar","position":[360,100],"typeVersion":1.1},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": { \"type\": \"string\" },\n    \"highlights\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"attendee\": { \"type\": \"string\" },\n          \"message\": { \"type\": \"string\" }\n        }\n      }\n    },\n   \"next_steps\": {\n      \"type\": \"array\",\n      \"items:\": {\n        \"type\": \"string\"\n      }\n   },\n   \"meetings_created\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"event_title\": { \"type\": \"string\" },\n           \"event_invite_url\": { \"type\" : \"string\" }\n        }\n      }\n   }\n  }\n}"},"id":"60edfe8c-cd65-4e30-8ef9-47695bb80011","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1680,220],"typeVersion":1.1},{"parameters":{},"id":"fe889eaf-b8b8-4572-9850-9dd14dbeccbf","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1280,760],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3c12dc11-0ff3-4c6a-9d67-1454d7b0d16d","name":"response","type":"string","value":"={{ JSON.stringify($('Create Calendar Event1').item.json) }}"}]},"options":{}},"id":"b1b47334-b9a9-4c3a-812a-ad424921890a","name":"Response","type":"n8n-nodes-base.set","position":[2420,640],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"7263764b-8409-4cea-8db3-3278dd7ef9d8","name":"=route","type":"string","value":"={{ $json.route }}"},{"id":"55c3b207-2e98-4137-8413-f72cbff17986","name":"query","type":"object","value":"={{ $json.query.parseJson() }}"}]},"options":{}},"id":"76f1eddd-d0d1-4e44-abc2-0311ae7863e2","name":"Edit Fields","type":"n8n-nodes-base.set","position":[1440,760],"typeVersion":3.3},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"response\": {\n    \"ok\": false,\n    \"error\": \"The requested tool was not found or the service may be unavailable. Do not retry.\"\n  }\n}\n","options":{}},"id":"4c0e970e-4a68-410b-a659-4e124938f14a","name":"Fallback Response","type":"n8n-nodes-base.set","position":[1600,900],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"meetings.create"}]},"renameOutput":true,"outputKey":"meetings.create"}]},"options":{"fallbackOutput":"extra"}},"id":"cf4897d6-4226-478f-8cd6-1da906fa6665","name":"Actions Router","type":"n8n-nodes-base.switch","position":[1600,760],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"521823f4-cee1-4f69-82e7-cea9be0dbc41","name":"attendees","type":"array","value":"={{ $('Actions Router').item.json.query.attendees }}"}]},"options":{}},"id":"0d2ff4f3-b49e-4386-9bf7-c9012b442eec","name":"Get Attendees","type":"n8n-nodes-base.set","position":[2080,640],"typeVersion":3.3},{"parameters":{"fieldToSplitOut":"attendees","options":{}},"id":"29c6da16-ab79-4095-80ba-0db711cbcf40","name":"Attendees List","type":"n8n-nodes-base.splitOut","position":[2100,780],"typeVersion":1},{"parameters":{"operation":"update","calendar":{"__rl":true,"mode":"list","value":"c_5792bdf04bc395cbcbc6f7b754268245a33779d36640cc80a357711aa2f09a0a@group.calendar.google.com","cachedResultName":"n8n-events"},"eventId":"={{ $('Create Calendar Event1').item.json.id }}","updateFields":{"attendees":["={{ $json.name }} <{{ $json.email }}>"]}},"id":"82b17810-dd91-4334-9644-38291eb4e92e","name":"Add Attendee to Invite","type":"n8n-nodes-base.googleCalendar","position":[2260,640],"typeVersion":1.1},{"parameters":{"content":"## 4. This Tool Creates Calendar Events\nThis tool, given event details and a list of attendees, will create a new Google calendar event and add the attendees to it.","height":445.79624302689535,"width":756.2929032891963,"color":7},"id":"186def9a-a2a7-46ae-9bd3-5481f41582ef","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1820,500],"typeVersion":1},{"parameters":{"content":"## 1. Retrieve Meeting Transcript\n[Read more about working with HTTP node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nThere's no built-in support for Google Meets transcript API however, we can solve this problem with the HTTP node. Note you may also need to setup a separate Google OAuth API Credential to obtain the required scopes.","height":405.6964113279832,"width":586.8663941671947,"color":7},"id":"81cbbfe0-5a4d-4aba-ac57-c8d8f5c8d25f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[600,-60],"typeVersion":1},{"parameters":{"content":"## 2. Let AI Agent Carry Out Follow-Up Actions\n[Read more about working with AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nThe big difference between Basic LLM chains and AI Agents is that AI agents are given the automony to perform actions. Provided the right tool exists, AI Agents can send emails, book flights and even order pizza! Here we're leaving it up to our agent to book any follow-up meetings after the call and invite all interested parties.","height":588.2833041602365,"width":681.4281346810014,"color":7},"id":"fae4bdc9-fe9f-4e64-83e9-ecd9409ae80f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1200,-120],"typeVersion":1},{"parameters":{"content":"## 3: Using the Custom Workflow Tool\n[Read more about Workflow Triggers](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.executeworkflowtrigger)\n\nOne common implementation of tool use is to set them up as workflows which are intended triggered via other workflows. With this, we can either build a tool per workflow or for efficiency, take an API approach where multiple tools can exist behind a router (in this case our \"switch\" node).\n\nOur AI agent will therefore only passing through the parameters of the request and won't have to learn/know how to intereact directly with the tools and services.","height":579.2725119898125,"width":591.4907024073684,"color":7},"id":"270b3bcf-281e-4dd7-b761-cd3cb97de2d1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1200,500],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":"c_5792bdf04bc395cbcbc6f7b754268245a33779d36640cc80a357711aa2f09a0a@group.calendar.google.com","cachedResultName":"n8n-events"},"start":"={{ $json.query.start_date }} {{ $json.query.start_time }}","end":"={{ $json.query.end_date }} {{ $json.query.end_time }}","additionalFields":{"attendees":[],"description":"={{ $json.query.description }}","summary":"={{ $json.query.title }}"}},"id":"944d4fab-75c5-4a20-b2a3-270f8eb6d83e","name":"Create Calendar Event1","type":"n8n-nodes-base.googleCalendar","position":[1880,640],"typeVersion":1.1},{"parameters":{"content":"## Try It Out!\n### This workflow does the following:\n* Retrieves a meeting transcript\n* Sends transcript to an AI Agent to parse and carry out follow up actions if necessary.\n* If transcript mentions a follow up meeting is required, the AI Agent will call a tool to create the meeting.\n* Additionally if able, the AI Agent will also assign attendees it thinks should attend the meeting. \n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":385.336571355038,"width":359.6648027457353},"id":"f5694ebc-bbd5-499f-8db1-9d118dfae2b5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-300,-120],"typeVersion":1},{"parameters":{"name":"create_calendar_event","description":"Call this tool to create an calendar event. This tool requires the following object request body.\n```\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"start_date\": { \"type\": \"string\" },\n    \"start_time\": { \"type\": \"string\" },\n    \"end_date\": { \"type\": \"string\" },\n    \"end_time\": { \"type\": \"string\" },\n    \"attendees\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"email\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}\n```\nNote that dates are in the format yyyy-MM-dd and times are in the format HH:mm:ss.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"route","stringValue":"meetings.create"}]}},"id":"7df256f6-1533-42ad-9162-ee0e27a2e8cf","name":"Schedule Meeting","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1560,300],"typeVersion":1.1},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"=system: your role is to help people get the most out of their meetings. You achieve this by helpfully summarising the meeting transcript to pull out useful information and key points of interest and delivery this in note form. You also help carry out any follow-up actions on behalf of the meeting attendees.\n1. Summarise the meeting and highlight any key goals of the meeting.\n2. Identify and list important points mentioned by each attendee. If non-applicable for an attendee, skip and proceed to the next attendee.\n3. Identify and list all next steps agreed by the attendees. If there are none, make a maximum of 3 suggestions based on the transcript instead. Please list the steps even if they've already been actioned.\n4. identify and perform follow-up actions based on a transcript of a meeting. These actions which are allowed are: creating follow-up calendar events if suggested by the attendees.\n\nThe meeting details were as follows:\n* The creator of the meeting was {{ $('Get Calendar Event').item.json[\"creator\"][\"displayName\"] }} <{{ $('Get Calendar Event').item.json[\"creator\"][\"email\"]}}>\n* The attendees were {{ $('Get Calendar Event').item.json[\"attendees\"].map(attendee => `${attendee.display_name} <${attendee.email}>`).join(', ') }}\n* The meeting was scheduled for {{ $('Get Calendar Event').item.json[\"start\"][\"dateTime\"] }}\n\nThe meeting transcript as follows:\n```\n{{ $json[\"text\"] }}\n```","hasOutputParser":true,"options":{}},"id":"b3beff50-be13-40db-99ac-84d5f4c80b2f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1460,80],"typeVersion":1.5},{"parameters":{"content":"## 1. Get Calendar Event\n[Read more about working with Google Calendar](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlecalendar)\n\nIn this demo, we've decided to go with google meet as transcripts are stored in the user google drive. First, we'll need to get the calendar event of which the google meet was attached.\nIf the meet was not arranged through Google calendar, you may need to skip this step and just reference the transcripts in google drive directly.","height":446.9122178333584,"width":464.50696860436165,"color":7},"id":"37ee42e2-2f17-478c-b7df-b1656e9e8f3c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[80,-140],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n🚨**Required**\n* Set your calendar event ID here.","height":299.3566512487305,"width":184.0677386144551},"id":"4ceae1f5-f2c1-4a53-8df8-9248ab37eda5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[400,160],"typeVersion":1},{"parameters":{"content":"### 💡 Can't find your transcript?\nOnly meetings which own and were recorded and had transcription enabled will be available.\n","height":80,"width":349.91944442094535,"color":5},"id":"b6427d9d-658c-4bf1-9500-ca17bb7aafda","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[820,380],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n🚨**Required**\n* Set your calendar ID here.","height":299.3566512487305,"width":184.0677386144551},"id":"cfd6dd8e-9b04-4ef2-897b-79f74d537ad0","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1920,700],"typeVersion":1}],"connections":{"PDF Loader":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Actions Router","type":"main","index":0}]]},"Get Attendees":{"main":[[{"node":"Attendees List","type":"main","index":0}]]},"Actions Router":{"main":[[{"node":"Create Calendar Event1","type":"main","index":0}],[{"node":"Fallback Response","type":"main","index":0}]]},"Attendees List":{"main":[[{"node":"Add Attendee to Invite","type":"main","index":0}]]},"Schedule Meeting":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Calendar Event":{"main":[[{"node":"Get Meeting ConferenceRecords","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Transcript File":{"main":[[{"node":"PDF Loader","type":"main","index":0}]]},"Add Attendee to Invite":{"main":[[{"node":"Response","type":"main","index":0}]]},"Create Calendar Event1":{"main":[[{"node":"Get Attendees","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Get Meeting ConferenceRecords":{"main":[[{"node":"Get Meeting Transcript Location","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Get Calendar Event","type":"main","index":0}]]},"Get Meeting Transcript Location":{"main":[[{"node":"Get Transcript File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"aec51f91-8a8c-48e1-afc0-8fd1a9c492d9","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:32:24.763Z","updatedAt":"2025-02-12T01:32:24.763Z","id":"Rr9GPpD5mGtCPw1f","name":"AUDIO"},{"createdAt":"2025-02-12T01:27:06.022Z","updatedAt":"2025-02-12T01:27:06.022Z","id":"XinLwiwNst8mTVBz","name":"OFFICE_AUTOMATION"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}