workflows/Advanced course report #1.json
{"createdAt":"2025-02-28T17:13:50.886Z","updatedAt":"2025-02-28T18:08:31.000Z","id":"FibP9KfMiC9ZFWZB","name":"Advanced course report #1","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-160],"id":"69fd170b-2827-4e8a-a81f-8959918f5dd4","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appqgBa11owGidkiF","mode":"list","cachedResultName":"Beginner course","cachedResultUrl":"https://airtable.com/appqgBa11owGidkiF"},"table":{"__rl":true,"value":"tblyqgfZs19mEURQO","mode":"list","cachedResultName":"customers","cachedResultUrl":"https://airtable.com/appqgBa11owGidkiF/tblyqgfZs19mEURQO"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-120,-160],"id":"1b1c20c8-8c79-4d8c-aa7a-4c61fd32110f","name":"Airtable","credentials":{"airtableTokenApi":{"id":"NeLLu5sxFf62WIDz","name":"Airtable Personal Access Token account"}}},{"parameters":{"url":"https://restcountries.com/v3.1/all","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,0],"id":"38907cf9-8a59-445c-b96e-cb45c5683b84","name":"HTTP Request"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"customerCountry","field2":"name.common"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[100,-80],"id":"c130061e-4180-4f15-87da-47eda5c344e9","name":"Merge"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqgBa11owGidkiF","mode":"list","cachedResultName":"Beginner course","cachedResultUrl":"https://airtable.com/appqgBa11owGidkiF"},"table":{"__rl":true,"value":"tblyqgfZs19mEURQO","mode":"list","cachedResultName":"customers","cachedResultUrl":"https://airtable.com/appqgBa11owGidkiF/tblyqgfZs19mEURQO"},"columns":{"mappingMode":"defineBelow","value":{"region":"={{ $json.region }}","subregion":"={{ $json.subregion }}","id":"={{ $json.id }}","customerID":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"customerID","displayName":"customerID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"customerCountry","displayName":"customerCountry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"customerEmail","displayName":"customerEmail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"customerSince","displayName":"customerSince","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"region","displayName":"region","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"subregion","displayName":"subregion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[260,-100],"id":"ca79a8a7-7271-42ac-bfea-63af40ccdea7","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"NeLLu5sxFf62WIDz","name":"Airtable Personal Access Token account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b6b2f1a-530e-4a62-9ddc-07a5b567f1fe","triggerCount":0,"tags":[]}