workflows/aggregazione e loop.json
{"createdAt":"2025-02-28T16:36:48.179Z","updatedAt":"2025-02-28T16:45:33.000Z","id":"3LUEPy8LvXgS6xcG","name":"aggregazione e loop","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,-520],"id":"7c77bd2b-9e86-48c2-af06-3048faa2032a","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"options":{}},"id":"89111dac-029f-4998-a17c-2e6e03dcb0b7","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[460,-260]},{"parameters":{"operation":"getAllPeople"},"id":"1036aa4c-3682-4473-8106-eae0d3030b65","name":"Customer Datastore (n8n training)1","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[240,-380]},{"parameters":{"jsCode":"return [\n  {\n    'name': 'Jay Gatsby',\n    'language': 'English',\n    'country': {\n      'code': 'US',\n      'name': 'United States'\n    }\n    \n  }\n  \n];"},"id":"8f4c4afe-5787-43e1-8ba4-311e2f24aa09","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-120]},{"parameters":{"jsCode":"let urls = [\n\t{\n\t\tjson: {\n\t\turl: 'https://medium.com/feed/n8n-io'\n\t\t}\n\t},\n\t{\n\tjson: {\n\t\turl: 'https://dev.to/feed/n8n'\n\t\t} \n\t}\n]\nreturn urls;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-520],"id":"a591ce12-1ac7-4f97-b01d-df30c405628e","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,-520],"id":"a57400df-750c-46f3-abbb-20511280337b","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[920,-420],"id":"d63e7b46-3596-49ee-bd13-972580d49045","name":"RSS Read"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Customer Datastore (n8n training)1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2cd44e1d-0652-4d0a-a4a2-db769c234530","triggerCount":0,"tags":[]}