workflows/AI agent to chat with files in supabase storage.json
{"createdAt":"2025-02-12T00:21:58.908Z","updatedAt":"2025-02-12T01:45:00.000Z","id":"UBRUXaepXzB1Rmci","name":"AI agent to chat with files in supabase storage","active":false,"nodes":[{"parameters":{"method":"POST","url":"=https://yqtvdcvjboenlblgcivl.supabase.co/storage/v1/object/list/private","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prefix\": \"\",\n  \"limit\": 100,\n  \"offset\": 0,\n  \"sortBy\": {\n    \"column\": \"name\",\n    \"order\": \"asc\"\n  }\n}","options":{}},"id":"9906abda-b3da-458b-94b8-14069467c3b2","name":"Get All files","type":"n8n-nodes-base.httpRequest","position":[1020,1200],"typeVersion":4.2},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Merge').item.json.data ?? $('Merge').item.json.text }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $json.id }}"}]}}},"id":"13388fe5-ab8d-4ddf-bdc5-e96ad3f63b04","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2400,1400],"typeVersion":1},{"parameters":{"chunkSize":500,"chunkOverlap":200,"options":{}},"id":"ebba62b6-848d-497d-8a04-fd01d079f6a3","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2400,1580],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"03883b90-b85a-4432-bc3e-113782934cb6","name":"Extract Document PDF","type":"n8n-nodes-base.extractFromFile","position":[1860,1300],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"9ad06059-1d6d-48e5-83f1-6964f031d349","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2220,1380],"typeVersion":1},{"parameters":{"tableId":"files","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $('Loop Over Items').item.json.name }}"},{"fieldId":"storage_id","fieldValue":"={{ $('Loop Over Items').item.json.id }}"}]}},"id":"a6322b86-ee56-4a9f-a15b-4ede0e8e72e9","name":"Create File record2","type":"n8n-nodes-base.supabase","position":[2160,1200],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9b14e306-a04d-40f7-bc5b-b8eda8d8f7f2","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ \n    !$('Aggregate').item.json.data || \n    !Array.isArray($('Aggregate').item.json.data) || \n    !$('Aggregate').item.json.data.some(item => \n        item.storage_id === $('Loop Over Items').item.json.id \n    ) \n}}","rightValue":""},{"id":"c3c0af88-9aea-4539-8948-1b69e601c27c","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.name }}","rightValue":".emptyFolderPlaceholder"}]},"options":{}},"id":"3f6926fe-e7fb-4cdb-8205-b3692fdfd334","name":"If","type":"n8n-nodes-base.if","position":[1340,1200],"typeVersion":2.2},{"parameters":{"operation":"getAll","tableId":"files"},"id":"2d810462-dd1d-450e-90f4-10dfddd6c9ea","name":"Get All Files","type":"n8n-nodes-base.supabase","position":[640,1200],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"url":"=https://yqtvdcvjboenlblgcivl.supabase.co/storage/v1/object/private/{{ $json.name }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"id":"53c10b8f-550e-44de-852a-ee25cbfa5a4f","name":"Download","type":"n8n-nodes-base.httpRequest","position":[1520,1200],"typeVersion":4.2},{"parameters":{"batchSize":"=1","options":{}},"id":"8c972f12-20bb-4f3d-b02c-cede51a8bdcb","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1180,1200],"typeVersion":3},{"parameters":{},"id":"b47dfb59-d8c3-4654-98ca-f27a6e6bf8a5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[460,1200],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"03814210-3f3b-44c7-a8bd-e6fed26df2d1","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[840,1200],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"options":{}},"id":"4c7cd1a0-2891-4400-bba6-17c1bccfc6c6","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1420,280],"webhookId":"3c40d311-7996-4ed4-b2fa-c73bea5f4cf5","typeVersion":1.1},{"parameters":{"options":{}},"id":"0a482c60-0877-4f3b-88ad-31cae4732281","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1560,480],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ecc8aab9-c628-4a5a-99c6-ba7a9c9ea076","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1640,760],"typeVersion":1},{"parameters":{"options":{}},"id":"9ed8fce8-bf82-44b6-9ec6-f83b10077f73","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1920,620],"typeVersion":1},{"parameters":{"name":"knowledge_base","description":"Retrieve data about user request","topK":8},"id":"eeb0692f-58d2-472c-9593-bb8d1ce1f0e0","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[1720,480],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{$binary.data?.fileExtension == undefined }}","rightValue":"txt"}]},"renameOutput":true,"outputKey":"txt"},{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bf04cbec-dd86-4607-988f-4c96b6fd4b58","operator":{"type":"string","operation":"equals"},"leftValue":"={{$binary.data.fileExtension  }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"}]},"options":{}},"id":"f4fb0dbc-8697-45c1-a936-0f4620e1ac59","name":"Switch","type":"n8n-nodes-base.switch","position":[1680,1200],"typeVersion":3.1},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"dff44c20-5ca0-4902-9332-2058c08d7e2c","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[2320,1200],"typeVersion":1},{"parameters":{},"id":"4b58ba53-8618-40f1-8db2-7129f595f453","name":"Merge","type":"n8n-nodes-base.merge","position":[2000,1200],"typeVersion":3},{"parameters":{"options":{}},"id":"d69aa57d-f31e-41e7-a500-7ee9ce9382b5","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1640,280],"typeVersion":1.7},{"parameters":{"tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"300b0128-0955-4058-b0d3-a9aefe728432"}]}}},"id":"352d06a7-8bb0-4094-b16f-96eab10d289d","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[1640,640],"typeVersion":1},{"parameters":{"content":"### Replace Storage name, database ID and credentials.","height":89.3775420487804},"id":"acd00b95-e037-4a4f-b5cc-f72679ed50d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[960,1080],"typeVersion":1},{"parameters":{"content":"### Replace credentials.","height":80},"id":"b7044fed-8d72-4fbe-bf3d-3772a57ee6dd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[600,1080],"typeVersion":1},{"parameters":{"content":"### Replace credentials.","height":80},"id":"b7569489-e9bb-4000-9793-08bb4ed73044","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2160,1080],"typeVersion":1},{"parameters":{"content":"### Replace Storage name, database ID and credentials.","height":89.3775420487804},"id":"970a60a6-88ad-4132-9b14-b0d7cdf04d82","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1460,1080],"typeVersion":1},{"parameters":{"content":"### Replace credentials.","height":80},"id":"8a7c282a-8180-4a98-ac95-4ddea2fb27af","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2120,1520],"typeVersion":1},{"parameters":{"content":"### Replace credentials.","height":80},"id":"4936e5ee-31ee-4f40-98be-27ca525905da","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1760,780],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [10 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Chat%20with%20Files%20-%20Blur.png)](https://www.youtube.com/watch?v=glWUkdZe_3w)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"751a1b61-05cd-4b2a-9b33-acaa59181fbe","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[100,360],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent To Chat With Files In Supabase Storage\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nManually retrieving and analyzing specific information from large document repositories is time-consuming and inefficient. This workflow automates the process by vectorizing documents and enabling AI-powered interactions, making it easy to query and retrieve context-based information from uploaded files.\n\nThe workflow integrates Supabase with an AI-powered chatbot to process, store, and query text and PDF files. The steps include:\n- Fetching and comparing files to avoid duplicate processing.\n- Handling file downloads and extracting content based on the file type.\n- Converting documents into vectorized data for contextual information retrieval.\n- Storing and querying vectorized data from a Supabase vector store.\n\n","height":497.1532689930921,"width":636.2128494576581,"color":7},"id":"cb3ddf5f-6211-4555-abdf-7ed12499d89a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-200,-160],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n1. **Fetch File List from Supabase**:\n   - Use Supabase to retrieve the stored file list from a specified bucket.\n   - Add logic to manage empty folder placeholders returned by Supabase, avoiding incorrect processing.\n\n2. **Compare and Filter Files**:\n   - Aggregate the files retrieved from storage and compare them to the existing list in the Supabase `files` table.\n   - Exclude duplicates and skip placeholder files to ensure only unprocessed files are handled.\n\n3. **Handle File Downloads**:\n   - Download new files using detailed storage configurations for public/private access.\n   - Adjust the storage settings and GET requests to match your Supabase setup.\n\n4. **File Type Processing**:\n   - Use a Switch node to target specific file types (e.g., PDFs or text files).\n   - Employ relevant tools to process the content:\n     - For PDFs, extract embedded content.\n     - For text files, directly process the text data.\n\n5. **Content Chunking**:\n   - Break large text data into smaller chunks using the Text Splitter node.\n   - Define chunk size (default: 500 tokens) and overlap to retain necessary context across chunks.\n\n6. **Vector Embedding Creation**:\n   - Generate vectorized embeddings for the processed content using OpenAI's embedding tools.\n   - Ensure metadata, such as file ID, is included for easy data retrieval.\n\n7. **Store Vectorized Data**:\n   - Save the vectorized information into a dedicated Supabase vector store.\n   - Use the default schema and table provided by Supabase for seamless setup.\n\n8. **AI Chatbot Integration**:\n   - Add a chatbot node to handle user input and retrieve relevant document chunks.\n   - Use metadata like file ID for targeted queries, especially when multiple documents are involved.","height":545.9087885077763,"width":280.2462120317618,"color":7},"id":"e29bcaf6-712f-436f-a30e-3dd5f714de5b","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-200,360],"typeVersion":1},{"parameters":{"content":"## Scenario 2 - AI agent","height":809.7437181509877,"width":951.7421645394404,"color":5},"id":"11569f16-df82-477b-b036-228407e5d56e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1160,140],"typeVersion":1},{"parameters":{"content":"## Scenario 1 - Flow for adding new files from Supabase storage","height":739.2522526116408,"width":2304.723519246249,"color":5},"id":"aefaeb30-3d6b-4d94-85a8-054d52839e98","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[360,1020],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Download","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create File record2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Extract Document PDF","type":"main","index":0}]]},"Download":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get All files","type":"main","index":0}]]},"Get All Files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get All files":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create File record2":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Extract Document PDF":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get All Files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b40fa7ac-796e-40b2-8282-1768a8da6db5","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}