workflows/AI Crew to Automate Fundamental Stock Analysis - Q&A Workflow.json
{"createdAt":"2025-02-12T01:12:08.979Z","updatedAt":"2025-02-12T01:26:20.000Z","id":"QW3bVvagMqE3x3Xz","name":"AI Crew to Automate Fundamental Stock Analysis - Q&A Workflow","active":false,"nodes":[{"parameters":{"options":{}},"id":"66006bab-932d-4e76-9679-c1c2215b924d","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2460,560],"typeVersion":1},{"parameters":{},"id":"75fe501f-d78e-4224-915f-af7bb7f5f565","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[2120,80],"typeVersion":1,"disabled":true},{"parameters":{"content":"## Step 2: Setup the Q&A \n### The incoming message from the webhook is queried from the Supabase Vector Store.  The response is provided in the response webhook.  ","height":733.5099670584011,"width":903.0896125323785,"color":6},"id":"9747dadf-6f74-46b3-814b-c21ab4599b26","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2060,-40],"typeVersion":1},{"parameters":{"query":"={{ $json.body.input }}","options":{}},"id":"71d0fb26-3e1b-436c-a6d7-825272eac4c2","name":"Retrieval QA Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[2380,80],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"={{ $json.response.text }}","options":{}},"id":"eb6880e9-4b00-476e-8620-d372f0d913ce","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[2780,80],"typeVersion":1},{"parameters":{"topK":5},"id":"41c0b530-b9c2-4ff8-9597-bfcd5c47cfba","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[2520,280],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"19f5499a-3083-4783-93a0-e8ed76a9f742","responseMode":"responseNode","options":{}},"id":"83c05308-a5b6-4ef5-ad13-c69286001b6b","name":"Webhook1","type":"n8n-nodes-base.webhook","position":[2120,260],"webhookId":"679f4afb-189e-4f04-9dc0-439eec2ec5f1","typeVersion":1.1},{"parameters":{},"id":"51d5eaab-6167-4d38-9eea-e56239025e11","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[780,100],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"list","value":"1LZezppYrWpMStr4qJXtoIX-Dwzvgehll","cachedResultUrl":"https://drive.google.com/file/d/1LZezppYrWpMStr4qJXtoIX-Dwzvgehll/view?usp=drivesdk","cachedResultName":"crowdstrike.pdf"},"options":{}},"id":"e7ecebe1-55cb-4fd8-ad99-1cdb0858449e","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1080,100],"typeVersion":3},{"parameters":{"loader":"pdfLoader","options":{}},"id":"eeac592c-7084-4b24-a7fd-595d0672f571","name":"Binary to Document","type":"@n8n/n8n-nodes-langchain.documentBinaryInputLoader","position":[1360,320],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"1153a93f-0d12-4d8d-ba0f-b56fb915ce0f","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1360,480],"typeVersion":1},{"parameters":{"options":{}},"id":"df7de7a3-d8c6-4d60-bce0-a90f356598a5","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1660,320],"typeVersion":1},{"parameters":{"content":"## Step 1: Upserting the PDF\n### Fetch file from Google Drive, split it into chunks and insert into Supabase index\n\n","height":732.3675002130781,"width":772.0680602743597,"color":6},"id":"97c8db2d-a6ff-4b8d-880d-3c30d1fff5eb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1040,-40],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=crowd"},"options":{}},"id":"c7159d68-f8e7-4171-8bc4-400414ec7325","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1440,100],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"id","value":"={{ $json.body.company }}"},"options":{}},"id":"8dcc5130-66f2-4b60-85a7-415515dbcc5e","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[2480,440],"typeVersion":1},{"parameters":{"options":{}},"id":"ffc4a20e-1a6f-43e3-8813-9b20293cc803","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2380,300],"typeVersion":1},{"parameters":{"content":"## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Building an AI Crew to Analyze Financial Data with CrewAI and n8n](https://img.youtube.com/vi/pMvizUx5n1g/sddefault.jpg)](https://www.youtube.com/watch?v=pMvizUx5n1g)\n","height":726.4452519516944,"width":710.9124489067698,"color":6},"id":"fd933875-5fda-4c17-86fd-a9056dc1d5c8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-60,-40],"typeVersion":1}],"connections":{"Webhook1":{"main":[[{"node":"Retrieval QA Chain","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Retrieval QA Chain","type":"ai_languageModel","index":0}]]},"Binary to Document":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Retrieval QA Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Retrieval QA Chain","type":"ai_retriever","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"Retrieval QA Chain","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Binary to Document","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"468ab4a0-3479-41f0-8219-1b74c5ece950","triggerCount":0,"tags":[{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-12T01:26:18.952Z","updatedAt":"2025-02-12T01:26:18.952Z","id":"ofFBFjWftM02lsvg","name":"FINANCIAL"}]}