workflows/AI chat with any data using n8n workflow tool.json
{"createdAt":"2025-02-24T14:41:42.598Z","updatedAt":"2025-02-24T14:41:48.000Z","id":"qBa8uLKXaILxHRon","name":"AI chat with any data using n8n workflow tool","active":false,"nodes":[{"parameters":{},"id":"77fc9fbb-8efe-4246-aa7e-b4d0c53d6833","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[140,100],"typeVersion":1.1},{"parameters":{},"id":"102c0e86-9903-48aa-ab64-4eed13111d0c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[80,740],"typeVersion":1},{"parameters":{"resource":"all","limit":50,"additionalFields":{}},"id":"36430de9-9aca-4b0d-97e4-75c21c81c1ae","name":"Hacker News","type":"n8n-nodes-base.hackerNews","position":[300,740],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json._highlightResult.title.value }}"},{"name":"points","type":"numberValue","numberValue":"={{ $json.points }}"},{"name":"url","stringValue":"={{ $json.url }}"},{"name":"created_at","stringValue":"={{ $json.created_at }}"},{"name":"author","stringValue":"={{ $json.author }}"}]},"include":"none","options":{}},"id":"158681b9-1b9f-442b-a1cb-4127fc3fbf99","name":"Clean up data","type":"n8n-nodes-base.set","position":[520,740],"typeVersion":3.2},{"parameters":{"options":{"maxIterations":10}},"id":"931de4af-9e26-4de0-9f7d-f54168dd5b1e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[360,100],"typeVersion":1.1},{"parameters":{"options":{}},"id":"290c6348-a248-4e58-9a91-0171a3a2f269","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[360,320],"typeVersion":1},{"parameters":{"jsCode":"return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"},"id":"e4f31ec8-ca95-4783-a2b5-7e13a57ca945","name":"Stringify","type":"n8n-nodes-base.code","position":[740,740],"typeVersion":2},{"parameters":{"content":"### Replace me\nwith any other service, e.g. fetching your own data","height":293,"width":150,"color":7},"id":"2b7edf55-32be-4ed1-8905-0de4f71f8e5b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[280,620],"typeVersion":1},{"parameters":{"content":"### Sub-workflow: Custom tool\nThis can be called by the agent above. This example fetches the top 50 posts ever on Hacker News","height":406.875,"width":927.5,"color":7},"id":"3af3b352-bf0a-4892-8bfa-8db945412e5b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,540],"typeVersion":1},{"parameters":{"content":"### Main workflow: AI agent using custom tool\nTry it out by clicking 'Chat' and entering 'What is the 5th most popular post ever on Hacker News?'","height":486.5625,"width":927.5,"color":7},"id":"d86eb998-b836-4508-9d97-0720962b101d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Try me out\n\nClick the 'Chat' button and enter:\n\n_What is the 5th most popular post ever on Hacker News?_","height":218,"width":185.9375},"id":"08a1672b-076d-4ffe-b9da-1d29e7a73e14","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-160,100],"typeVersion":1},{"parameters":{"name":"hn_tool","description":"Returns a list of the most popular posts ever on Hacker News, in json format","workflowId":"={{ $workflow.id }}"},"id":"483ed998-3a67-4b13-ab7d-cde1749a00cc","name":"Custom tool to call the wf below","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[520,320],"typeVersion":1}],"connections":{"Hacker News":{"main":[[{"node":"Clean up data","type":"main","index":0}]]},"Clean up data":{"main":[[{"node":"Stringify","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Hacker News","type":"main","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Custom tool to call the wf below":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1514e005-5bec-47af-9735-49f6f6ca0bd2","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}