workflows/AI Voice Chatbot with ElevenLabs & OpenAI for Customer Service and Restaurants.json
{"createdAt":"2025-02-12T00:28:36.415Z","updatedAt":"2025-02-12T01:42:58.000Z","id":"ADrgf4KGNqtvGqXf","name":"AI Voice Chatbot with ElevenLabs & OpenAI for Customer Service and Restaurants","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.question }}","options":{}},"id":"609feaca-b2c2-4557-8df8-a6b50590eb63","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[280,1800],"typeVersion":1.7},{"parameters":{"name":"company","description":"Risponde alle domande relative a ciò che ti viene chiesto"},"id":"87758013-3762-4eb6-a734-938e671127f1","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[480,2040],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"options":{}},"id":"f658d2de-8e80-4c07-9a6a-12b6a81347a9","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[320,2300],"typeVersion":1},{"parameters":{"options":{}},"id":"a3b6cef8-1933-4ff8-8e69-57176e92a077","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[320,2460],"typeVersion":1.1},{"parameters":{"content":"# STEP 4\n\n## RAG System\n\nClick on \"test workflow\" on n8n and \"Test AI agent\" on ElevenLabs. If everything is configured correctly, when you ask a question to the agent, the webhook on n8n is activated with the \"question\" field in the body filled with the question asked to the voice agent.\n\nThe AI ​​Agent will extract the information from the vector database, send it to the model to create the response which will be sent via the response webhook to ElevenLabs which will transform it into voice","height":240,"width":1400,"color":5},"id":"c06dc301-6a30-4367-a6f5-42a4239a4bc8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-300,1520],"typeVersion":1},{"parameters":{"content":"# STEP 1\n\n## Create an Agent on ElevenLabs \n- Create an agent on ElevenLabs (eg. test_n8n)\n- Add \"First message\" (eg. Hi, Can I help you?)\n- Add the \"System Prompt\" message... eg:\n'You are the waiter of \"Pizzeria da Michele\" in Verona. If you are asked a question, use the tool \"test_chatbot_elevenlabs\". When you receive the answer from \"test_chatbot_elevenlabs\" answer the user clearly and precisely.'\n- In Tools add a Webhook called eg. \"test_chatbot_elevenlabs\" and add the following description:\n'You are the waiter. Answer the questions asked and store them in the question field.'\n- Add the n8n webhook URL (method POST)\n- Enable \"Body Parameters\" and insert in the description \"Ask the user the question to ask the place.\", then in the \"Properties\" add a data type string called \"question\", value type \"LLM Prompt\" and description \"user question\"","height":360,"width":1420,"color":3},"id":"2d491646-892f-4ead-bbcd-f88e55617d77","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-320,120],"typeVersion":1},{"parameters":{},"id":"959b30af-be10-46b3-9520-8425c92edea7","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-280,800],"typeVersion":1},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"eca241b7-877c-449a-bce7-3b23a215a052","name":"Create collection","type":"n8n-nodes-base.httpRequest","position":[20,660],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://QDRANTURL/collections/COLLECTION/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {}\n}","options":{}},"id":"ede118bc-45ff-4e55-a333-cdb680ad05e2","name":"Refresh collection","type":"n8n-nodes-base.httpRequest","position":[20,920],"typeVersion":4.2},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"=test-whatsapp"}},"options":{}},"id":"777acda1-0863-46c1-a58c-644e61e97128","name":"Get folder","type":"n8n-nodes-base.googleDrive","position":[240,920],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5ed3d25f-eff1-40ab-94bf-5affc7407cd3","name":"Download Files","type":"n8n-nodes-base.googleDrive","position":[460,920],"typeVersion":3},{"parameters":{"dataType":"binary","options":{}},"id":"83f8f99f-f600-40be-a6c7-d41bc09b3b05","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[840,1120],"typeVersion":1},{"parameters":{"chunkSize":300,"chunkOverlap":30},"id":"924373c2-4464-4723-823d-a8f7af0f2d9f","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[820,1280],"typeVersion":1},{"parameters":{"content":"# STEP 2\n\n## Create Qdrant Collection\nChange:\n- QDRANTURL\n- COLLECTION","height":220,"width":880,"color":6},"id":"9563589f-0b84-4bc6-8f6e-2ee85e62a155","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[220,600],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=COLLECTION"},"options":{}},"id":"b6e11cd8-406c-4381-ab4c-21d0819972a5","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[700,920],"typeVersion":1},{"parameters":{"options":{}},"id":"eccdeda2-26d7-4625-80f4-da80ef33c00a","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[680,1120],"typeVersion":1.1},{"parameters":{"content":"# STEP 3\n\n\n\n\n\n\n\n\n\n\n\n\n## Documents vectorization with Qdrant and Google Drive\nChange:\n- QDRANTURL\n- COLLECTION","height":400,"width":620,"color":4},"id":"eb4f147a-2bdf-44d2-abe2-10218c3f9ca6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,860],"typeVersion":1},{"parameters":{"options":{}},"id":"8cafdbb8-8cf6-4be8-91e8-db00f31a4ed2","name":"Respond to ElevenLabs","type":"n8n-nodes-base.respondToWebhook","position":[840,1800],"typeVersion":1.1},{"parameters":{"options":{}},"id":"4314ed1a-2092-4c68-a9e5-f5ef13027353","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[160,2040],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"test_voice_message_elevenlabs","responseMode":"responseNode","options":{}},"id":"d6a3d784-7c5b-4291-a57a-64fd93736cdf","name":"Listen","type":"n8n-nodes-base.webhook","position":[-240,1800],"webhookId":"e9f611eb-a8dd-4520-8d24-9f36deaca528","typeVersion":2},{"parameters":{},"id":"a12793e2-eee6-4e7a-b7c5-9ccf73354e3d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[320,2040],"typeVersion":1.3},{"parameters":{"options":{}},"id":"ccce2e75-32d7-4ee1-9a47-6b03aa2e3593","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[660,2320],"typeVersion":1},{"parameters":{"content":"# STEP 5\n\n## Add Widget\n\nAdd the widget to your business website by replacing AGENT_ID with the agent id you created on ElevenLabs\n\n<elevenlabs-convai agent-id=\"AGENT_ID\"></elevenlabs-convai><script src=\"https://elevenlabs.io/convai-widget/index.js\" async type=\"text/javascript\"></script>","height":240,"width":1400,"color":7},"id":"5c627995-9b46-4b9c-946c-f035ccc7b2db","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-300,2620],"typeVersion":1}],"connections":{"Listen":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to ElevenLabs","type":"main","index":0}]]},"Get folder":{"main":[[{"node":"Download Files","type":"main","index":0}]]},"Download Files":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Refresh collection":{"main":[[{"node":"Get folder","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Create collection","type":"main","index":0},{"node":"Refresh collection","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3af9a379-66c8-45ac-a57d-f74300912a23","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:42:56.782Z","updatedAt":"2025-02-12T01:42:56.782Z","id":"U4Xf53VXEP4uGjcs","name":"VOICE"},{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}