workflows/API schema extractor.json
{"createdAt":"2025-02-12T00:33:11.217Z","updatedAt":"2025-02-12T01:41:37.000Z","id":"f9LpROt14SM5RgOU","name":"API schema extractor","active":false,"nodes":[{"parameters":{},"id":"e22ed9ad-5cc6-4027-ac32-5b8fb941e8bb","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-560,240],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/serping~fast-google-search-results-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"searchTerms","value":"={{\n[\n  `site:${$json.data.url.replace(/^http[s]:\\/\\//, '').replace(/\\/$/, '').replace('www.', '')} \"${$json.data.service}\" api developer (intext:reference OR intext:resource) (-inurl:support OR -inurl:help) (inurl:api OR intitle:api) -filetype:pdf`\n]\n}}"},{"name":"resultsPerPage","value":"={{ 10 }}"}]},"options":{}},"id":"ed825107-1461-4508-9a03-88c796c079a8","name":"Web Search For API Schema","type":"n8n-nodes-base.httpRequest","position":[80,1240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.apify.com/v2/acts/apify~web-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"memory","value":"2048"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.source.link }}\",\n      \"method\": \"GET\"\n    }\n  ],\n  \"breakpointLocation\": \"NONE\",\n  \"browserLog\": false,\n  \"closeCookieModals\": false,\n  \"debugLog\": false,\n  \"downloadCss\": false,\n  \"downloadMedia\": false,\n  \"excludes\": [\n    {\n      \"glob\": \"/**/*.{png,jpg,jpeg,pdf}\"\n    }\n  ],\n  \"headless\": true,\n  \"ignoreCorsAndCsp\": false,\n  \"ignoreSslErrors\": false,\n  \n  \"injectJQuery\": true,\n  \"keepUrlFragments\": false,\n  \"linkSelector\": \"a[href]\",\n  \"maxCrawlingDepth\": 1,\n  \"maxPagesPerCrawl\": 1,\n  \"maxRequestRetries\": 1,\n  \"maxResultsPerCrawl\": 1,\n  \"pageFunction\": \"// The function accepts a single argument: the \\\"context\\\" object.\\n// For a complete list of its properties and functions,\\n// see https://apify.com/apify/web-scraper#page-function \\nasync function pageFunction(context) {\\n\\n    await new Promise(res => { setTimeout(res, 6000) });\\n    // This statement works as a breakpoint when you're trying to debug your code. Works only with Run mode: DEVELOPMENT!\\n    // debugger; \\n\\n    // jQuery is handy for finding DOM elements and extracting data from them.\\n    // To use it, make sure to enable the \\\"Inject jQuery\\\" option.\\n    const $ = context.jQuery;\\n    const title = $('title').first().text();\\n\\n    // Clone the body to avoid modifying the original content\\n    const bodyClone = $('body').clone();\\n    bodyClone.find('iframe, img, script, style, object, embed, noscript, svg, video, audio').remove();\\n    const body = bodyClone.html();\\n\\n    // Return an object with the data extracted from the page.\\n    // It will be stored to the resulting dataset.\\n    return {\\n        url: context.request.url,\\n        title,\\n        body\\n    };\\n}\",\n  \"postNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept a single argument: the \\\"crawlingContext\\\" object.\\n[\\n    async (crawlingContext) => {\\n        // ...\\n    },\\n]\",\n  \"preNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept two arguments: the \\\"crawlingContext\\\" object\\n// and \\\"gotoOptions\\\".\\n[\\n    async (crawlingContext, gotoOptions) => {\\n        // ...\\n    },\\n]\\n\",\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true\n  },\n  \"runMode\": \"PRODUCTION\",\n  \n  \"useChrome\": false,\n  \"waitUntil\": [\n    \"domcontentloaded\"\n  ],\n  \"globs\": [],\n  \"pseudoUrls\": [],\n  \"proxyRotation\": \"RECOMMENDED\",\n  \"maxConcurrency\": 50,\n  \"pageLoadTimeoutSecs\": 60,\n  \"pageFunctionTimeoutSecs\": 60,\n  \"maxScrollHeightPixels\": 5000,\n  \"customData\": {}\n}","options":{"batching":{"batch":{"batchSize":2,"batchInterval":30000}}}},"id":"a89b6de6-159d-4236-b25f-94610ff67f5c","name":"Scrape Webpage Contents","type":"n8n-nodes-base.httpRequest","position":[920,1140],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"origin_search.results","options":{}},"id":"977cf980-b3cb-427b-8f28-9811165d344f","name":"Results to List","type":"n8n-nodes-base.splitOut","position":[440,1140],"typeVersion":1},{"parameters":{"chunkSize":4000,"options":{}},"id":"f7d17df7-36ec-4c87-837b-e5af96062a79","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2780,1440],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"7753a4f4-3ec2-4c05-81df-3d5e8979a478","name":"=data","type":"array","value":"={{ new Array(Math.round($json.content.length / Math.min($json.content.length, 50000))).fill('').map((_,idx) => $json.content.substring(idx * 50000, idx * 50000 + 50000)) }}"},{"id":"7973bcb4-f239-4619-85fc-c76e20386375","name":"service","type":"string","value":"={{ $json.service }}"},{"id":"b46e44bc-ad01-4cf0-8b07-25eeb1fb5874","name":"url","type":"string","value":"={{ $json.url }}"}]},"options":{}},"id":"0775208d-5111-4cc9-bab3-b9abec936b78","name":"Content Chunking @ 50k Chars","type":"n8n-nodes-base.set","position":[2360,1160],"typeVersion":3.3},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"id":"54ef3cf8-6dbf-4c57-a812-76da7ff3f5dc","name":"Split Out Chunks","type":"n8n-nodes-base.splitOut","position":[2520,1160],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"service","value":"={{ $json.service }}"},{"name":"url","value":"={{ $json.url }}"}]}}},"id":"0f590d0e-deb7-4247-9bd4-efa29c41b49c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2780,1320],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"4008ae44-7998-4a6f-88c9-686f8b02e92b","name":"content","type":"string","value":"={{ $json.body }}"},{"id":"f7381ac6-ef40-463c-ad2b-df2c31d3e828","name":"service","type":"string","value":"={{ $('EventRouter').first().json.data.service }}"},{"id":"7eae99fd-75c7-4974-a128-641b8ada0cc2","name":"url","type":"string","value":"={{ $json.url }}"}]},"options":{}},"id":"148ce362-5e74-4808-8242-98e11e21e259","name":"Set Embedding Variables","type":"n8n-nodes-base.set","position":[1960,1000],"typeVersion":3.4},{"parameters":{},"id":"82163712-c62a-4184-b583-cb96ebb624f0","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-600,1620],"typeVersion":1},{"parameters":{"dataToSave":{"values":[{"key":"eventType","value":"={{ $json.eventType }}"},{"key":"executedById","value":"={{ $json.executedById }}"},{"key":"service","value":"={{ $json.data.service }}"}]}},"id":"9e688043-c8ad-4b34-a53a-c552d7c3a41d","name":"Execution Data","type":"n8n-nodes-base.executionData","position":[-400,1620],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.eventType }}","rightValue":"research"}]},"renameOutput":true,"outputKey":"research"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5418515e-ef6a-42e0-aeb9-8d0d35b898ca","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.eventType }}","rightValue":"extract"}]},"renameOutput":true,"outputKey":"extraction"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0135165e-d211-44f3-92a4-a91858a57d99","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.eventType }}","rightValue":"generate"}]},"renameOutput":true,"outputKey":"generate"}]},"options":{}},"id":"fc2cb5bf-e22b-40b2-b4c8-09a3afd77c85","name":"EventRouter","type":"n8n-nodes-base.switch","position":[-220,1620],"typeVersion":3.2},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"id":"b94d266b-c41d-4221-8bc9-652de3db2a45","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1440,1160],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cac77cce-0a5c-469e-ba80-9fb026f04b18","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.body }}","rightValue":""}]},"options":{}},"id":"91cbd844-7340-4113-8616-b6886186461e","name":"Successful Runs","type":"n8n-nodes-base.filter","position":[1080,1140],"typeVersion":2.2,"alwaysOutputData":true},{"parameters":{"options":{}},"id":"25d4d667-03d9-4089-bfbc-6b95c675e6fe","name":"For Each Document...","type":"n8n-nodes-base.splitInBatches","position":[2160,1000],"typeVersion":3},{"parameters":{"modelName":"models/text-embedding-004"},"id":"0d45b7f6-702b-4ca8-bf6a-d7669874999f","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[2660,1320],"typeVersion":1},{"parameters":{"inputText":"={{\n$json.body\n  .replaceAll('\\n', '')\n  .substring(0, 40000)\n}}","categories":{"categories":[{"category":"contains_api_schema_documentation","description":"True if this document contains REST API schema documentation or definitions"}]},"options":{"fallback":"discard"}},"id":"c3dccbab-1e54-453f-ad00-3c5755302e58","name":"Has API Documentation?","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1440,1000],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"={{ $('EventRouter').first().json.data.collection }}"},"options":{}},"id":"8a34f1af-d6bf-4ca5-9b13-abfacecabb3f","name":"Store Document Embeddings","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[2680,1160],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"2420bfce-22ae-4c07-90a5-08758ecced80","name":"Embeddings Google Gemini1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[680,1940],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"56832433-4201-4cd1-8486-2cd022ec5f0c","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1580,1660],"typeVersion":1},{"parameters":{"text":"={{ $json.documents }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"resource\": { \"type\": \"string\" },\n      \"operation\": { \"type\": \"string\" },\n      \"description\": { \"type\": \"string\" },\n      \"url\": { \"type\": \"string\" },\n      \"method\": { \"type\": \"string\" },\n      \"documentation_url\": { \"type\": \"string\" }\n    }\n  }\n}","options":{"systemPromptTemplate":"=You have been given an extract of a webpage which should contain a list of web/REST api operations.\nStep 1. Extract all REST (eg. GET,POST,PUT,DELETE) API operation endpoints from the page content and generate appropriate labels for the resource, operation, description, method for each.\n* \"resource\" refers to the API group, for example: \"/v1/api/indicators/list\" and \"/v1/api/indicators/create\" will both have the resource name of \"indicators\". Use the following template \"<domain>\" eg. \"entities\", \"posts\", \"credentials\".\n* \"operation\" refers to the action performed, use the following template \"<verb> <entity>\" eg. \"List entities\", \"Create post\", \"Update credentials\"\n* only use one HTTP verb for \"method\"\n* \"description\" should be limited to one sentence.\n* Examples of API urls: \"/api/\", \"/api/v1/\", \"/v1/api\". API urls should not end with \"htm\" or html\".\n* Extract a maximum of 15 endpoints.\n* If the page content contains no api operations, return an empty array."}},"id":"33ad5828-eb74-4921-9b11-92c0cc964fbf","name":"Extract API Operations","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1580,1520],"typeVersion":1},{"parameters":{"mode":"load","qdrantCollection":{"__rl":true,"mode":"id","value":"={{ $('EventRouter').first().json.data.collection }}"},"prompt":"={{ $json.query }}","topK":5,"options":{"searchFilterJson":"={{\n{\n  \"must\": [\n    {\n      \"key\": \"metadata.service\",\n      \"match\": {\n        \"value\": $('EventRouter').first().json.data.service\n      }\n    }\n  ]\n}\n}}"}},"id":"4c8c4400-fb80-4718-b9a4-b49db37835ee","name":"Search in Relevant Docs","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[680,1800],"typeVersion":1},{"parameters":{"amount":0},"id":"cf7dd1ca-9e6e-45a2-8ad1-97471aad304b","name":"Wait","type":"n8n-nodes-base.wait","position":[760,580],"webhookId":"e9ad3ef0-7403-4e65-b0a4-4afdfb0cbc6d","typeVersion":1.1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"source.link","options":{}},"id":"3939d73d-392a-42d3-bdd1-a4334f75a4f1","name":"Remove Dupes","type":"n8n-nodes-base.removeDuplicates","position":[760,1140],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"42872456-411b-4d86-a9dd-b907d001ea1c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"normal"}]},"options":{}},"id":"a2a25772-dedf-480e-9127-bc44f74da1b6","name":"Filter Results","type":"n8n-nodes-base.filter","position":[600,1140],"typeVersion":2.2},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"024443fc-b217-4da8-ac51-bd18d68a9fbc","name":"Research","type":"n8n-nodes-base.executeWorkflow","position":[440,400],"typeVersion":1.1,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1223d607-45a8-44b1-b510-56fdbe013eba","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $jmespath($json, 'origin_search.results') }}","rightValue":""}]},"options":{}},"id":"44312453-dda1-44a3-8b10-b4f45636b42d","name":"Has Results?","type":"n8n-nodes-base.if","position":[260,1240],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5bb23ce9-eb72-4868-9344-9e5d3952cc52","name":"response","type":"string","value":"no web results"}]},"options":{}},"id":"af717972-bef1-4154-b8bf-0a313c86fcfb","name":"Response Empty","type":"n8n-nodes-base.set","position":[440,1320],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"79598789-4468-4565-828f-fedc48be15c3","name":"response","type":"string","value":"ok"}]},"options":{}},"id":"0c0b3620-0024-4776-a3ab-01e78c9f2d8d","name":"Response OK","type":"n8n-nodes-base.set","position":[2360,1000],"executeOnce":true,"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"7540978c-f64d-45c7-9c4a-bf6dbd761f97","name":"Combine Docs","type":"n8n-nodes-base.aggregate","position":[1000,1800],"typeVersion":1},{"parameters":{"fieldToSplitOut":"queries","options":{"destinationFieldName":"query"}},"id":"8ee9a729-770e-4897-b39e-38c88bacd58b","name":"Template to List","type":"n8n-nodes-base.splitOut","position":[260,1620],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e2a02550-8f53-4f8d-bb83-68ee3606736e","name":"queries","type":"array","value":"=[\n\"What are the core functionalities, essential features, or primary use cases of {{ $json.data.service }}?\",\n\"Is there an API overview or API categories for {{ $json.data.service }}? What main APIs are listed or mentioned?\",\n\"What industry does  {{ $json.data.service }} operate in? What is the most important of the services in the industry? Return the important service as the function.\",\n\"What REST apis (GET, POST, DELETE, PATCH) and/or operations can you identify for {{ $json.data.service }}?\",\n\"Does {{ $json.data.service }} have any CURL examples? If you can, identify one such example and explain what it does.\"\n]"}]},"options":{}},"id":"46d71d28-0be1-4440-9f51-fdcee0efd689","name":"Query Templates","type":"n8n-nodes-base.set","position":[80,1620],"executeOnce":true,"typeVersion":3.3},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"fa20c5a5-e23a-4cb4-b30a-9bc95f58ec17","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[680,1660],"typeVersion":1},{"parameters":{"options":{}},"id":"69727cf7-c789-48da-bf6c-c6cfcd9ba5f8","name":"For Each Template...","type":"n8n-nodes-base.splitInBatches","position":[440,1620],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"fdaea3de-3c9a-4f26-b7dc-769e534006a9","name":"query","type":"string","value":"={{ $('For Each Template...').item.json.query }}"},{"id":"88198374-d2f9-4ae7-b262-d3b2e630e0ac","name":"documents","type":"string","value":"={{ $json.data.map(item => item.document.pageContent.replaceAll('\\n', ' ')).join('\\n---\\n') }}"}]},"options":{}},"id":"752dd0d8-d800-4fe0-a33f-7aff21c0cb27","name":"Query & Docs","type":"n8n-nodes-base.set","position":[1160,1800],"typeVersion":3.4},{"parameters":{"text":"={{ $json.query }}","attributes":{"attributes":[{"name":"product_or_solution","description":"A product or solution offered by the service","required":true},{"name":"description","description":"description of what the product or solution of the service does","required":true}]},"options":{"systemPromptTemplate":"=Use the following document to answer the user's question:\n```\n{{ $json.documents.replace(/[\\{\\}]/g, '') }}\n```"}},"id":"420d1ac5-34d6-442b-b412-dfcde246e439","name":"Identify Service Products","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[680,1520],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e2a02550-8f53-4f8d-bb83-68ee3606736e","name":"query","type":"string","value":"=I'm interested in {{ $json.output.product_or_solution }} apis which {{ $json.output.description }} What are the GET, POST, PATCH and/or DELETE endpoints of the {{ $json.output.product_or_solution }} api?"}]},"options":{}},"id":"a93ed2d9-a3d0-4768-80fe-0d1e704a2848","name":"Extract API Templates","type":"n8n-nodes-base.set","position":[1160,1620],"typeVersion":3.3},{"parameters":{"modelName":"models/text-embedding-004"},"id":"1e9966ad-2e22-4920-9fbc-e7e92596eb61","name":"Embeddings Google Gemini2","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[1580,1940],"typeVersion":1},{"parameters":{"mode":"load","qdrantCollection":{"__rl":true,"mode":"id","value":"={{ $('EventRouter').first().json.data.collection }}"},"prompt":"={{ $json.query }}","topK":20,"options":{"searchFilterJson":"={{\n{\n  \"must\": [\n    {\n      \"key\": \"metadata.service\",\n      \"match\": {\n        \"value\": $('EventRouter').first().json.data.service\n      }\n    }\n  ]\n}\n}}"}},"id":"2a72e785-cd8c-42a5-b2c3-461841a73b89","name":"Search in Relevant Docs1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1580,1800],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"54f9d626-73da-4810-9029-7d29b3d8ca60","name":"Combine Docs1","type":"n8n-nodes-base.aggregate","position":[1900,1800],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"fdaea3de-3c9a-4f26-b7dc-769e534006a9","name":"query","type":"string","value":"={{ $('For Each Template...1').item.json.query }}"},{"id":"88198374-d2f9-4ae7-b262-d3b2e630e0ac","name":"documents","type":"string","value":"={{\n$json.data\n  .map(item =>\n`url: ${item.document.metadata.url}\ncontent: ${item.document.pageContent}`\n  )\n  .join('\\n---\\n')\n  .replaceAll('\\n\\n', '\\n')\n}}"}]},"options":{}},"id":"75bfb1d9-847a-4af9-830f-6aaeecfc4c92","name":"Query & Docs1","type":"n8n-nodes-base.set","position":[2060,1800],"typeVersion":3.4},{"parameters":{"options":{}},"id":"610deed3-a908-46a4-925c-9b46cfb51c04","name":"For Each Template...1","type":"n8n-nodes-base.splitInBatches","position":[1360,1620],"typeVersion":3},{"parameters":{"jsCode":"return $input.all().flatMap(input => input.json.output) || [];"},"id":"779c5279-280b-4728-b7d0-d39f008dee3a","name":"Merge Lists","type":"n8n-nodes-base.code","position":[1900,1620],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"compare":"selectedFields","fieldsToCompare":"method, url","options":{}},"id":"7b8eb3cc-0649-490d-ba3e-c11b23788710","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[2260,1620],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":1042334767,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=1042334767","cachedResultName":"Extracted API Operations"},"columns":{"value":{"url":"={{ $json.url }}","method":"={{ $json.method }}","service":"={{ $('EventRouter').first().json.data.service }}","resource":"={{ $json.resource }}","operation":"={{ $json.operation }}","description":"={{ $json.description }}","documentation_url":"={{ $json.documentation_url }}"},"schema":[{"id":"service","type":"string","display":true,"required":false,"displayName":"service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"resource","type":"string","display":true,"required":false,"displayName":"resource","defaultMatch":false,"canBeUsedToMatch":true},{"id":"operation","type":"string","display":true,"required":false,"displayName":"operation","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"url","type":"string","display":true,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"method","type":"string","display":true,"required":false,"displayName":"method","defaultMatch":false,"canBeUsedToMatch":true},{"id":"documentation_url","type":"string","display":true,"required":false,"displayName":"documentation_url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{"useAppend":true}},"id":"024d1920-4bf6-447d-898d-e8bf55cdfb57","name":"Append Row","type":"n8n-nodes-base.googleSheets","position":[2420,1620],"typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"79598789-4468-4565-828f-fedc48be15c3","name":"response","type":"string","value":"ok"}]},"options":{}},"id":"56411902-d329-4254-bcfb-0057abbe58a4","name":"Response OK1","type":"n8n-nodes-base.set","position":[2580,1620],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a95420a7-6265-4ea3-9c01-82c2d7aeb4f8","operator":{"type":"object","operation":"notEmpty","singleValue":true},"leftValue":"={{ $input.first().json }}","rightValue":""}]},"options":{}},"id":"ad8a4232-3571-45a5-a7de-2b944cb4a73c","name":"Has Operations?","type":"n8n-nodes-base.if","position":[2060,1620],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5bb23ce9-eb72-4868-9344-9e5d3952cc52","name":"response","type":"string","value":"no api operations found"}]},"options":{}},"id":"1fa7008f-6772-43f0-8799-1a296a86799f","name":"Response Empty1","type":"n8n-nodes-base.set","position":[2260,1800],"executeOnce":true,"typeVersion":3.4},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Research...').item.json.row_number }}","Stage 1 - Research":"=pending"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"558a5206-d15f-45db-948d-4e1fb0a737f8","name":"Research Pending","type":"n8n-nodes-base.googleSheets","position":[160,400],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Research...').item.json.row_number }}","Stage 1 - Research":"={{ $json.response }}"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"ee20f7d6-e260-4831-bf96-ca61ac6b2ef2","name":"Research Result","type":"n8n-nodes-base.googleSheets","position":[600,400],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Research...').item.json.row_number }}","Stage 1 - Research":"=error"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"4ee8ed7e-9d08-43e9-8008-754b4d28e3df","name":"Research Error","type":"n8n-nodes-base.googleSheets","position":[600,580],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Extract...').item.json.row_number }}","Stage 2 - Extraction":"pending"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"6cc4a854-ac2d-41ef-b60a-230565e76a7e","name":"Extract Pending","type":"n8n-nodes-base.googleSheets","position":[1140,400],"executeOnce":false,"typeVersion":4.5},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  \"eventType\": \"research\",\n  \"createdAt\": $now.toISO(),\n  \"executedById\": $execution.id,\n  \"data\": {\n    \"row_number\": $('For Each Research...').item.json.row_number,\n    \"service\": $('For Each Research...').item.json.Service,\n    \"url\": $('For Each Research...').item.json.Website,\n    \"collection\": \"api_schema_crawler_and_extractor\"\n  }\n}\n}}","options":{}},"id":"2b661844-4a77-47a4-bacc-a2fc8937b065","name":"Research Event","type":"n8n-nodes-base.set","position":[300,400],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  \"eventType\": \"extract\",\n  \"createdAt\": $now.toISO(),\n  \"executedById\": $execution.id,\n  \"data\": {\n    \"row_number\": $('For Each Extract...').item.json.row_number,\n    \"service\": $('For Each Extract...').item.json.Service,\n    \"url\": $('For Each Extract...').item.json.Website,\n    \"collection\": \"api_schema_crawler_and_extractor\"\n  }\n}\n}}","options":{}},"id":"a4df39cf-2092-4436-b25d-28034d007a0d","name":"Extract Event","type":"n8n-nodes-base.set","position":[1280,400],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"c88aebfa-4a92-4ae1-aca2-242493fed6ca","name":"Extract","type":"n8n-nodes-base.executeWorkflow","position":[1420,400],"typeVersion":1.1,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Extract...').item.json.row_number }}","Stage 2 - Extraction":"={{ $json.response }}"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"556243d5-9cf2-4634-8df2-4da09bfa782f","name":"Extract Result","type":"n8n-nodes-base.googleSheets","position":[1580,400],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Extract...').item.json.row_number }}","Stage 2 - Extraction":"error"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"dccd45ba-a4ff-47f1-bc1b-40fcb7498f64","name":"Extract Error","type":"n8n-nodes-base.googleSheets","position":[1580,580],"typeVersion":4.5},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":1042334767,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=1042334767","cachedResultName":"Extracted API Operations"},"filtersUI":{"values":[{"lookupColumn":"service","lookupValue":"={{ $json.data.service }}"}]},"options":{}},"id":"3aed2ce4-2206-4c00-a984-d99e925ae53c","name":"Get API Operations","type":"n8n-nodes-base.googleSheets","position":[80,2160],"typeVersion":4.5},{"parameters":{"jsCode":"const service = {\n  documentation_url: $('EventRouter').first().json.data.url,\n  endpoints: [],\n};\n\nconst resources = Array.from(new Set($input.all().map(item => item.json.resource.toLowerCase().trim())));\n\nfor (const resource of resources) {\n  const resourceLabel = resource.replace('api', '').trim();\n  if (!resourceLabel) continue;\n  const endpoint = {\n    resource: resourceLabel[0].toUpperCase() + resourceLabel.substring(1, resourceLabel.length)\n  };\n  const operations = $input.all()\n    .filter(item => item.json.resource.toLowerCase().trim() === resource)\n    .map(item => item.json);\n  endpoint.operations = operations.map(op => ({\n    \"operation\": op.operation[0].toUpperCase() + op.operation.substring(1, op.operation.length),\n    \"description\": op.description.match(/(^[^\\.]+.)/)[0],\n    \"ApiUrl\": op.url,\n    \"method\": op.method.toUpperCase(),\n    \"method_documentation_url\": op.documentation_url || ''\n  }));\n  service.endpoints.push(endpoint);\n}\n\nreturn service;"},"id":"cbf986bd-489f-42ec-8904-24f183e2796e","name":"Contruct JSON Schema","type":"n8n-nodes-base.code","position":[260,2160],"typeVersion":2},{"parameters":{"operation":"createFromText","content":"={{ $json.data }}","name":"={{ $json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"149rBJYv9RKQx-vQO2qKUGfUzxk_J4lfw","cachedResultUrl":"https://drive.google.com/drive/folders/149rBJYv9RKQx-vQO2qKUGfUzxk_J4lfw","cachedResultName":"63. API Schema Extractor Remake"},"options":{}},"id":"c52e95c5-5b73-4628-9a5b-9194d0acb9db","name":"Upload to Drive","type":"n8n-nodes-base.googleDrive","position":[620,2160],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"3c7d4946-c385-4aff-93ec-ae0850964099","name":"filename","type":"string","value":"={{\n  $('EventRouter').first().json.data.service\n    .replace(/\\W+/, '_')\n    .toLowerCase()\n}}_api_operations_{{ $now.format('yyyyMMddhhmmss') }}.json"},{"id":"4a7a9fae-7267-4ef6-ae33-ac4cd9777ee9","name":"data","type":"string","value":"={{ JSON.stringify($json, null, 4) }}"}]},"options":{}},"id":"4725c318-519d-454b-a3c7-d68773a90688","name":"Set Upload Fields","type":"n8n-nodes-base.set","position":[440,2160],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"79598789-4468-4565-828f-fedc48be15c3","name":"response","type":"object","value":"={{\n({\n  id: $json.id,\n  filename: $('Set Upload Fields').item.json.filename\n}).toJsonString()\n}}"}]},"options":{}},"id":"49ec9723-3a68-446b-a0c0-51dbd03e8c55","name":"Response OK2","type":"n8n-nodes-base.set","position":[800,2160],"executeOnce":true,"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  \"eventType\": \"generate\",\n  \"createdAt\": $now.toISO(),\n  \"executedById\": $execution.id,\n  \"data\": {\n    \"row_number\": $('For Each Generate...').item.json.row_number,\n    \"service\": $('For Each Generate...').item.json.Service,\n    \"url\": $('For Each Generate...').item.json.Website,\n    \"collection\": \"api_schema_crawler_and_extractor\"\n  }\n}\n}}","options":{}},"id":"9ea0f442-f5c6-4f91-995a-eeb3148ab1e6","name":"Generate Event","type":"n8n-nodes-base.set","position":[2280,400],"typeVersion":3.4},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Generate...').item.json.row_number }}","Stage 3 - Output File":"pending"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"27e06c0f-2ed0-4836-ace7-d9cb3153cb33","name":"Generate Pending","type":"n8n-nodes-base.googleSheets","position":[2140,400],"executeOnce":false,"typeVersion":4.5},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"88e5c0cd-6913-4f67-a47e-24e710fac21b","name":"Generate","type":"n8n-nodes-base.executeWorkflow","position":[2420,400],"typeVersion":1.1,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Generate...').item.json.row_number }}","Stage 3 - Output File":"error"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"3fb1493c-0d81-4487-b0f4-dd3df6db3e13","name":"Generate Error","type":"n8n-nodes-base.googleSheets","position":[2580,580],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"row_number":"={{ $('For Each Generate...').item.json.row_number }}","Output Destination":"={{ $json.response.filename }}","Stage 3 - Output File":"ok"},"schema":[{"id":"Service","type":"string","display":true,"removed":true,"required":false,"displayName":"Service","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":true,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 1 - Research","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 1 - Research","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 2 - Extraction","type":"string","display":true,"removed":true,"required":false,"displayName":"Stage 2 - Extraction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Stage 3 - Output File","type":"string","display":true,"removed":false,"required":false,"displayName":"Stage 3 - Output File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Output Destination","type":"string","display":true,"removed":false,"required":false,"displayName":"Output Destination","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"]},"options":{}},"id":"3c509b1c-4219-4990-96ca-5dd19cdf7a76","name":"Generate Result","type":"n8n-nodes-base.googleSheets","position":[2580,400],"typeVersion":4.5},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"Stage 1 - Research","lookupValue":"=ok"},{"lookupColumn":"Stage 2 - Extraction","lookupValue":"={{ \"\" }}"}]},"options":{}},"id":"eba89a1a-fa9d-4649-81a0-7561cd5bc62d","name":"Get All Extract","type":"n8n-nodes-base.googleSheets","position":[600,240],"executeOnce":true,"typeVersion":4.5,"alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"Stage 1 - Research","lookupValue":"={{ \"\" }}"}]},"options":{}},"id":"8b610a9f-3976-4c25-9dc4-5d3cbe27632e","name":"Get All Research","type":"n8n-nodes-base.googleSheets","position":[-380,240],"typeVersion":4.5,"alwaysOutputData":true},{"parameters":{"options":{}},"id":"c5b3510b-d863-4210-83fe-be7f05541f7f","name":"For Each Research...","type":"n8n-nodes-base.splitInBatches","position":[0,240],"typeVersion":3},{"parameters":{"options":{}},"id":"6a3c0a5c-ab36-4a37-a481-8c56acaf7d2b","name":"For Each Extract...","type":"n8n-nodes-base.splitInBatches","position":[980,240],"typeVersion":3},{"parameters":{"amount":0},"id":"cd7377a3-4dac-4b63-a667-73b421241641","name":"Wait1","type":"n8n-nodes-base.wait","position":[1760,580],"webhookId":"e9ad3ef0-7403-4e65-b0a4-4afdfb0cbc6d","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8d4b0159-af18-445e-a9ee-bd7952d8e0bd","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $input.first().json }}","rightValue":""}]},"options":{}},"id":"1456fc2b-d4bb-4954-8315-4ad7bc8bf0e6","name":"All Research Done?","type":"n8n-nodes-base.if","position":[-220,240],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8d4b0159-af18-445e-a9ee-bd7952d8e0bd","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $input.first().json }}","rightValue":""}]},"options":{}},"id":"8ba25709-4619-4197-a3c2-72f33f2b1459","name":"All Extract Done?","type":"n8n-nodes-base.if","position":[760,240],"typeVersion":2.2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit?usp=drivesdk","cachedResultName":"API Schema Crawler & Extractor"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l59ikBvEwPNSWIm2k6KRMFPTNImJPYqs9bzGT5dUiU0/edit#gid=0","cachedResultName":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"Stage 1 - Research","lookupValue":"=ok"},{"lookupColumn":"Stage 2 - Extraction","lookupValue":"=ok"},{"lookupColumn":"Stage 3 - Output File","lookupValue":"={{ \"\" }}"}]},"options":{}},"id":"c476c5ef-a1c7-4912-b013-96c5f0b3e21b","name":"Get All Generate","type":"n8n-nodes-base.googleSheets","position":[1580,240],"executeOnce":true,"typeVersion":4.5},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8d4b0159-af18-445e-a9ee-bd7952d8e0bd","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $input.first().json }}","rightValue":""}]},"options":{}},"id":"11dd0c71-aa25-436f-a825-a944ebfc21c0","name":"All Generate Done?","type":"n8n-nodes-base.if","position":[1760,240],"typeVersion":2.2},{"parameters":{"options":{}},"id":"4507f0bd-2267-4e6f-b999-c0dc842dd0ea","name":"For Each Generate...","type":"n8n-nodes-base.splitInBatches","position":[1980,240],"typeVersion":3},{"parameters":{"amount":0},"id":"51735268-4ab3-4be4-9934-0b26bbec5646","name":"Wait2","type":"n8n-nodes-base.wait","position":[2760,580],"webhookId":"e9ad3ef0-7403-4e65-b0a4-4afdfb0cbc6d","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1223d607-45a8-44b1-b510-56fdbe013eba","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $input.all().filter(item => item.json.body) }}","rightValue":""}]},"options":{}},"id":"7c15a9e3-d413-4df5-a15d-b38946819260","name":"Has Results?1","type":"n8n-nodes-base.if","position":[1240,1140],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5bb23ce9-eb72-4868-9344-9e5d3952cc52","name":"response","type":"string","value":"web scraping error"}]},"options":{}},"id":"7ec60285-80e4-47c8-be0b-6a00cf09faf2","name":"Response Scrape Error","type":"n8n-nodes-base.set","position":[1440,1320],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1223d607-45a8-44b1-b510-56fdbe013eba","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $input.all().filter(item => item.json.body) }}","rightValue":""}]},"options":{}},"id":"fa69eedb-ed0e-4c5f-b312-fb116ff53dce","name":"Has Results?3","type":"n8n-nodes-base.if","position":[1760,1000],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5bb23ce9-eb72-4868-9344-9e5d3952cc52","name":"response","type":"string","value":"no api docs in web results"}]},"options":{}},"id":"b77a78e7-2321-4943-978d-4a82fac2b073","name":"Response No API Docs","type":"n8n-nodes-base.set","position":[1960,1160],"executeOnce":true,"typeVersion":3.4},{"parameters":{"content":"## Stage 1 - Research for API Documentation\n- Fetch a list of services pending research from Database (Google Sheet)\n- Uses a search engine (Google) to find API Documentation for each service\n- Uses Webscraper (Apify) to read the contents of search results to filter irrelevant pages\n- Stores webpage contents and metadata into Vector Store (Qdrant)","height":180,"width":620},"id":"6171a76c-125a-4aeb-89b4-64fe21a1f689","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Stage 2 - Extract API Operations From Documentation\n- Fetch a list of services pending extraction from Database (Google Sheet)\n- Query Vector store (Qdrant) to figure out service's products, solutions and offerings\n- Query Vector store (Qdrant) again for API documentation relevant to these products, solutions and offerings\n- Extract any API operations found in the API documentation results using LLM (Gemini)\n- Store extracted API operations into Database (Google Sheet)","height":180,"width":760},"id":"de0b854d-0921-4de4-8bf6-a6847df00802","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[980,0],"typeVersion":1},{"parameters":{"content":"## Stage 3 - Generate Custom Schema From API Operations\n- Fetch a list of services pending generation from Database (Google Sheet)\n- Fetch all API operations for each service from Database (Google Sheet)\n- Use Code node to combine and group all API operations for a service and convert to a custom schema\n- Upload the resulting custom schema to file storage (Google Drive)","height":180,"width":740},"id":"ec28708e-3f1d-4156-91f9-5330a0a6e46b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1980,0],"typeVersion":1},{"parameters":{"content":"## Stage 1 - Subworkflow","height":80,"width":180,"color":5},"id":"c60720de-ac06-4c24-b369-3cc4327ec3c3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[80,1100],"typeVersion":1},{"parameters":{"content":"## Stage 2 - Subworkflow","height":80,"width":180,"color":5},"id":"cb68e92c-5a6d-4462-b69e-67e81b9d0ba5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[80,1500],"typeVersion":1},{"parameters":{"content":"## Stage 3 - Subworkflow","height":80,"width":180,"color":5},"id":"cabd57a8-085a-49b8-aa5a-d95431f3cb07","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[80,2040],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"For Each Research...","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"For Each Extract...","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"For Each Generate...","type":"main","index":0}]]},"Extract":{"main":[[{"node":"Extract Result","type":"main","index":0}],[{"node":"Extract Error","type":"main","index":0}]]},"Generate":{"main":[[{"node":"Generate Result","type":"main","index":0}],[{"node":"Generate Error","type":"main","index":0}]]},"Research":{"main":[[{"node":"Research Result","type":"main","index":0}],[{"node":"Research Error","type":"main","index":0}]]},"Append Row":{"main":[[{"node":"Response OK1","type":"main","index":0}]]},"EventRouter":{"main":[[{"node":"Web Search For API Schema","type":"main","index":0}],[{"node":"Query Templates","type":"main","index":0}],[{"node":"Get API Operations","type":"main","index":0}]]},"Merge Lists":{"main":[[{"node":"Has Operations?","type":"main","index":0}]]},"Combine Docs":{"main":[[{"node":"Query & Docs","type":"main","index":0}]]},"Has Results?":{"main":[[{"node":"Results to List","type":"main","index":0}],[{"node":"Response Empty","type":"main","index":0}]]},"Query & Docs":{"main":[[{"node":"For Each Template...","type":"main","index":0}]]},"Remove Dupes":{"main":[[{"node":"Scrape Webpage Contents","type":"main","index":0}]]},"Combine Docs1":{"main":[[{"node":"Query & Docs1","type":"main","index":0}]]},"Extract Error":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Extract Event":{"main":[[{"node":"Extract","type":"main","index":0}]]},"Has Results?1":{"main":[[{"node":"Has API Documentation?","type":"main","index":0}],[{"node":"Response Scrape Error","type":"main","index":0}]]},"Has Results?3":{"main":[[{"node":"Set Embedding Variables","type":"main","index":0}],[{"node":"Response No API Docs","type":"main","index":0}]]},"Query & Docs1":{"main":[[{"node":"For Each Template...1","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"EventRouter","type":"main","index":0}]]},"Extract Result":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Filter Results":{"main":[[{"node":"Remove Dupes","type":"main","index":0}]]},"Generate Error":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Generate Event":{"main":[[{"node":"Generate","type":"main","index":0}]]},"Research Error":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Research Event":{"main":[[{"node":"Research","type":"main","index":0}]]},"Extract Pending":{"main":[[{"node":"Extract Event","type":"main","index":0}]]},"Generate Result":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get All Extract":{"main":[[{"node":"All Extract Done?","type":"main","index":0}]]},"Has Operations?":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"Response Empty1","type":"main","index":0}]]},"Query Templates":{"main":[[{"node":"Template to List","type":"main","index":0}]]},"Research Result":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Results to List":{"main":[[{"node":"Filter Results","type":"main","index":0}]]},"Successful Runs":{"main":[[{"node":"Has Results?1","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Response OK2","type":"main","index":0}]]},"Generate Pending":{"main":[[{"node":"Generate Event","type":"main","index":0}]]},"Get All Generate":{"main":[[{"node":"All Generate Done?","type":"main","index":0}]]},"Get All Research":{"main":[[{"node":"All Research Done?","type":"main","index":0}]]},"Research Pending":{"main":[[{"node":"Research Event","type":"main","index":0}]]},"Split Out Chunks":{"main":[[{"node":"Store Document Embeddings","type":"main","index":0}]]},"Template to List":{"main":[[{"node":"For Each Template...","type":"main","index":0}]]},"All Extract Done?":{"main":[[{"node":"Get All Generate","type":"main","index":0}],[{"node":"For Each Extract...","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Append Row","type":"main","index":0}]]},"Set Upload Fields":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"All Generate Done?":{"main":[[],[{"node":"For Each Generate...","type":"main","index":0}]]},"All Research Done?":{"main":[[{"node":"Get All Extract","type":"main","index":0}],[{"node":"For Each Research...","type":"main","index":0}]]},"Get API Operations":{"main":[[{"node":"Contruct JSON Schema","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Store Document Embeddings","type":"ai_document","index":0}]]},"For Each Extract...":{"main":[[{"node":"Get All Generate","type":"main","index":0}],[{"node":"Extract Pending","type":"main","index":0}]]},"Contruct JSON Schema":{"main":[[{"node":"Set Upload Fields","type":"main","index":0}]]},"For Each Document...":{"main":[[{"node":"Response OK","type":"main","index":0}],[{"node":"Content Chunking @ 50k Chars","type":"main","index":0}]]},"For Each Generate...":{"main":[[],[{"node":"Generate Pending","type":"main","index":0}]]},"For Each Research...":{"main":[[{"node":"Get All Extract","type":"main","index":0}],[{"node":"Research Pending","type":"main","index":0}]]},"For Each Template...":{"main":[[{"node":"Identify Service Products","type":"main","index":0}],[{"node":"Search in Relevant Docs","type":"main","index":0}]]},"Extract API Templates":{"main":[[{"node":"For Each Template...1","type":"main","index":0}]]},"For Each Template...1":{"main":[[{"node":"Extract API Operations","type":"main","index":0}],[{"node":"Search in Relevant Docs1","type":"main","index":0}]]},"Extract API Operations":{"main":[[{"node":"Merge Lists","type":"main","index":0}]]},"Has API Documentation?":{"main":[[{"node":"Has Results?3","type":"main","index":0}]]},"Scrape Webpage Contents":{"main":[[{"node":"Successful Runs","type":"main","index":0}]]},"Search in Relevant Docs":{"main":[[{"node":"Combine Docs","type":"main","index":0}]]},"Set Embedding Variables":{"main":[[{"node":"For Each Document...","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Store Document Embeddings","type":"ai_embedding","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Has API Documentation?","type":"ai_languageModel","index":0}]]},"Search in Relevant Docs1":{"main":[[{"node":"Combine Docs1","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Search in Relevant Docs","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Search in Relevant Docs1","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Extract API Operations","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Identify Service Products","type":"ai_languageModel","index":0}]]},"Identify Service Products":{"main":[[{"node":"Extract API Templates","type":"main","index":0}]]},"Store Document Embeddings":{"main":[[{"node":"For Each Document...","type":"main","index":0}]]},"Web Search For API Schema":{"main":[[{"node":"Has Results?","type":"main","index":0}]]},"Content Chunking @ 50k Chars":{"main":[[{"node":"Split Out Chunks","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get All Research","type":"main","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"data":{"url":"https://www.formstack.com/","service":"Formstack","collection":"api_schema_crawler_and_extractor","row_number":2},"createdAt":"2024-12-07T12:22:35.344-05:00","eventType":"research","executedById":"10234"}}]},"versionId":"1fff3575-44a4-4837-83f8-b7bdb34c1c2c","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}