workflows/Assistente personale per fisioterapista.json
{"createdAt":"2025-03-03T00:58:05.199Z","updatedAt":"2025-03-03T11:02:36.000Z","id":"m4r9ofW1ZIivCkoA","name":"Assistente personale per fisioterapista","active":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,-20],"id":"6d4c94a3-8217-47ed-b304-875657e4bc8c","name":"Telegram Trigger","webhookId":"00662211-d043-4662-bc5f-84cc229c89b9","credentials":{"telegramApi":{"id":"wZN7bGDfzeKqQSpv","name":"Telegram Demobot account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,160],"id":"4c24e01f-f365-47d6-beed-54e2f239f89e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-200,160],"id":"8a2fe724-deb1-4cac-8b5e-6081d5b6c65e","name":"Window Buffer Memory"},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Prenotazione","description":"per aiutare i nostri clienti a prenotare una visita con noi."},{"category":"Informazioni","description":"per dare informazioni ai nostri clienti riguardo i nostri servizi."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[0,-20],"id":"3ffc6b30-b19a-4801-9c3b-bbb958139996","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,160],"id":"5dfd3e7f-f24c-4c8b-87cb-ad5bd03f7cb5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Sei un Assistente AI cordiale specializzato nel rispondere ai messaggi in entrata \n{{$json.message.text}}.\n\nIl tuo compito è accogliere i clienti con un tono amichevole, fornire risposte precise, dirette e utili e garantire un'esperienza fluida e soddisfacente. Devi essere chiaro, gentile e professionale, evitando risposte evasive o impersonali.\n\nBasati sul nodo 'Dati Servizio' per rispondere.\n\n## Obiettivi Principali:\n1. Accoglienza Cordiale: Iniziare ogni conversazione con un tono amichevole e discreto.\n2. Risposte Informative: Fornire informazioni utili in modo chiaro e sintetico, senza eccessivi tecnicismi, rispondere esattamente alla domanda dell'utente senza dilungarti troppo.\n3. Supporto e Professionalità: Comprendere le richieste dei clienti e offrire risposte che dimostrino attenzione.\n\n## Stile di Comunicazione:\n- Tono Cordiale: Sempre amichevole, rispettoso e positivo.\n- Linguaggio Chiaro: Frasi semplici e ben strutturate.\n- Personalizzazione: Utilizzare il nome del cliente se disponibile e rendere il messaggio meno robotico.\n- Brevità: Evitare risposte eccessivamente lunghe o complesse.\n\n### **Istruzioni per il Modello AI**\n- Se il messaggio contiene una richiesta chiara, rispondi direttamente in modo utile.\n- Se la richiesta è ambigua, chiedi gentilmente maggiori dettagli.\n- Se il cliente è frustrato o insoddisfatto, usa un tono empatico e offri una soluzione concreta.\n- Se necessario, guida il cliente verso risposte utili (link, numeri di contatto, FAQ).\n- Evita risposte troppo robotiche o ripetitive: personalizza il più possibile.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-320,-20],"id":"aeb40e54-55ba-41d3-b8a3-e97cc3deca86","name":"Assistente personale"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1d01W3zcCBaqpYzxZ2WNrRPcokoV26vW7xvhdGSWN2Ck/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-80,160],"id":"af5f0160-0f0d-4ad0-9b48-69e4bfa25cbb","name":"Dati servizio","credentials":{"googleDocsOAuth2Api":{"id":"eqzv3ELefrcMauH1","name":"Google Docs account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Assistente personale').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,80],"id":"4c72e7b2-daa2-4592-ae1b-492e5a05868a","name":"Telegram","webhookId":"b6e51ac1-9f2f-4006-b8a3-d7ee09e4f0c8","credentials":{"telegramApi":{"id":"wZN7bGDfzeKqQSpv","name":"Telegram Demobot account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Hai il compito di analizzare il messaggio {{ $json.output }} e creare un output che risponda alla domanda fatta dall'utente {{ $('Telegram Trigger').item.json.message.text }} in modo semplice e completo.\n\nNon parlare di appuntamenti e contatti."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,80],"id":"ba5af52d-54af-4b0d-8dab-164a05842c3c","name":"OpenAI","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Hai il compito di analizzare il messaggio in entrata {{ $('Assistente personale').item.json.output }} e creare 1 parametro output che contiene la data e l'ora dell'appuntamento richiesto dall'utente.\nSapendo che oggi è {{ $now }}.\nParametro: DateTime: seguendo il formato: YYYY-MM-DDTHH:MM:SSZ\nLe lettere T e Z sono fisse.\nL'ora e il minuto sono estrapolati dal messaggio input.\nLa data è estrapolata dal messaggio input."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,-120],"id":"0db10d64-9f17-4f03-b2ac-0354228a30d0","name":"OpenAI1","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"mantovanifabiomarco@gmail.com","mode":"list","cachedResultName":"mantovanifabiomarco@gmail.com"},"timeMin":"={{ $('OpenAI1').item.json.message.content.DateTime.replace('Z', '+01:00') }}","timeMax":"={{ new Date(new Date($('OpenAI1').item.json.message.content.DateTime).setMinutes(new Date($('OpenAI1').item.json.message.content.DateTime).getMinutes() + 60)).toISOString().replace('Z', '+01:00') }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[640,-120],"id":"2149cd60-b10f-4f7d-8b82-c462c0d87c2a","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"825d94a6-dc0d-4335-8c3d-c7dcc719a923","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-120],"id":"19066b92-58de-45b2-8484-2edfc89d79a8","name":"If"},{"parameters":{"calendar":{"__rl":true,"value":"mantovanifabiomarco@gmail.com","mode":"list","cachedResultName":"mantovanifabiomarco@gmail.com"},"start":"={{ $('OpenAI1').item.json.message.content.DateTime }}","end":"={{ new Date(new Date($('OpenAI1').item.json.message.content.DateTime).setMinutes(new Date($('OpenAI1').item.json.message.content.DateTime).getMinutes() + 60)).toISOString() }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[980,-220],"id":"cfbed1af-a159-4590-bc56-6e7e0d477342","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Grazie. Appuntamento fissato per la data stabilita.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,-220],"id":"ab262140-b775-456d-bfd4-b7101476668e","name":"Telegram1","webhookId":"8f68fe50-77b3-445a-a47c-33ac94ae26b7","credentials":{"telegramApi":{"id":"wZN7bGDfzeKqQSpv","name":"Telegram Demobot account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Mi spiace. La data non è disponibile.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,-20],"id":"ba544e13-e31c-4a6a-bdd0-ecde42f26331","name":"Telegram2","webhookId":"628c4810-a75b-41a2-86ec-d8949b62c275","credentials":{"telegramApi":{"id":"wZN7bGDfzeKqQSpv","name":"Telegram Demobot account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Assistente personale","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Assistente personale","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Assistente personale","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Assistente personale":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Dati servizio":{"ai_tool":[[{"node":"Assistente personale","type":"ai_tool","index":0}]]},"Text Classifier":{"main":[[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Calendar1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2310c84-1ca8-44ee-80ea-b34042ae006e","triggerCount":1,"tags":[{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}