workflows/Auto assign deals on geo and company size.json
{"createdAt":"2025-02-27T10:58:48.970Z","updatedAt":"2025-02-27T10:58:56.000Z","id":"STgnRExswbuPe7Zp","name":"Auto assign deals on geo and company size","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":7}]}},"id":"6167a351-3789-4229-9355-0d5e0e7b7da4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1540,860],"typeVersion":1.1},{"parameters":{"url":"https://api.hubapi.com/crm/v3/objects/deals?properties=dealname,amount,hubspot_owner_id&associations=contacts","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotOAuth2Api","options":{}},"id":"6c756e09-fe2c-408a-ba19-432bc7e3bc12","name":"Get Deals","type":"n8n-nodes-base.httpRequest","position":[-1340,860],"typeVersion":4.1},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.associations.contacts.results[0].id }}?associations=company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotOAuth2Api","options":{}},"id":"fea9cd9b-dfb4-4d18-bdab-16f31072f27d","name":"Get contact for deals","type":"n8n-nodes-base.httpRequest","position":[-760,860],"typeVersion":4.1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2ad0a847-9729-4528-94d1-edf133f51c76","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.properties.hubspot_owner_id }}","rightValue":""}]},"options":{}},"id":"eed81595-1afc-4a64-8433-ff520d6d09d5","name":"Unassigned Deals","type":"n8n-nodes-base.filter","position":[-940,860],"typeVersion":2},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"e493a867-8f92-416d-8682-6f12aca58f4a","name":"Split out deals","type":"n8n-nodes-base.splitOut","position":[-1140,860],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.properties.country }}","rightValue":"United States"}]},"renameOutput":true,"outputKey":"US"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a6b1d56d-766e-44e1-9c8a-778205e67b6e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.properties.country }}","rightValue":"Germany"}]},"renameOutput":true,"outputKey":"DE"}]},"options":{"fallbackOutput":"extra"}},"id":"7d8b4c1d-7199-49bf-8913-b49154cc0341","name":"Assign by Region","type":"n8n-nodes-base.switch","position":[-360,860],"typeVersion":3},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":""}}},"id":"1be8655c-5c81-443e-b370-f3feb64801ac","name":"Assign deal to John","type":"n8n-nodes-base.hubspot","position":[60,60],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"26cbb33b-0ea8-4c16-b720-17071f34026c","name":"Assign to Max","type":"n8n-nodes-base.hubspot","position":[60,240],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"0f00c12a-8237-4f00-b1ad-c6a82bb62a23","name":"Assign to Eeden","type":"n8n-nodes-base.hubspot","position":[60,420],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"070d219b-c363-4c46-b7bc-ec64e6b98bf7","name":"Assign to Peter","type":"n8n-nodes-base.hubspot","position":[-140,1280],"typeVersion":2},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.associations.companies.results[0].id }}?properties=name,domain,city,country,numberofemployees","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotOAuth2Api","options":{}},"id":"46ad3d02-24b3-49f6-af38-c6d048cc14d7","name":"Get company of contact(s)","type":"n8n-nodes-base.httpRequest","position":[-560,860],"typeVersion":4.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":50}]},"renameOutput":true,"outputKey":"John"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"2f8e57b1-2fce-49b4-8bae-cf6b0164d1f0","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":499}]},"renameOutput":true,"outputKey":"Max"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"4357fb25-fbe5-4b19-85df-62db07d4443b","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":500}]},"renameOutput":true,"outputKey":"Eeden"}]},"options":{"looseTypeValidation":true}},"id":"b7c0e898-98e6-4007-96ca-9c732c0517a8","name":"Assign US deals by company size","type":"n8n-nodes-base.switch","position":[-140,240],"typeVersion":3},{"parameters":{"content":"## Setup\n1. Add your **Hubspot** credentials\n2. Customize your criterias for assigning deals in the `Assign by Region` and the following `Assign` nodes\n3. Make sure deals are assigned to the right salesrep in the Hubspot nodes at the end\n4. Activate the workflow","height":209.46215382440343,"width":343.16392083375575,"color":5},"id":"02b8ece5-a3b5-4bde-b5c7-d5694781d8aa","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1920,820],"typeVersion":1},{"parameters":{"content":"👇 You can adjust the interval here.","height":80,"width":150,"color":7},"id":"6b8e567e-9fc0-4730-8b49-6d5faf5cbeca","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1540,760],"typeVersion":1},{"parameters":{"content":"👇 Adjust this to your needs","height":80,"width":150,"color":5},"id":"b6b6ca10-abad-47ce-b447-af953c1c042f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-380,760],"typeVersion":1},{"parameters":{"content":"Adjust this and make sure the right people are assigned for the criteria","height":558.5236393851941,"width":423.7165713477844,"color":5},"id":"af8a1f62-8df6-4860-b0d8-61519e7a76e7","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-200,20],"typeVersion":1},{"parameters":{"content":"Adjust this and make sure the right people are assigned for the criteria","height":558.5236393851941,"width":423.7165713477844,"color":5},"id":"8aaebd35-3787-4ade-8f6b-7684bed9f440","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-180,640],"typeVersion":1},{"parameters":{"content":"👈 This is the fallback. You could also notify you on Slack or something instead","height":105.43767910969324,"width":175.43767910969322,"color":7},"id":"7b5acb79-d2a2-45b7-acd5-2f211b59789d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[20,1280],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"46f31f7a-1375-4a9a-afb3-f5fd395817eb","name":"Assign deal to Edward","type":"n8n-nodes-base.hubspot","position":[60,680],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"8bbc19fc-32af-403e-955c-8e980cf9196d","name":"Assign to Michael","type":"n8n-nodes-base.hubspot","position":[60,860],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"deal","operation":"update","dealId":{"__rl":true,"mode":"id","value":"={{ $('Unassigned Deals').item.json.id }}"},"updateFields":{"dealOwner":{"__rl":true,"mode":"list","value":1265816794,"cachedResultName":"niklas@n8n.io"}}},"id":"7ec25083-b374-4722-89bf-243af427fd3f","name":"Assign to Suka","type":"n8n-nodes-base.hubspot","position":[60,1040],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":100000}]},"renameOutput":true,"outputKey":"Michael"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"2f8e57b1-2fce-49b4-8bae-cf6b0164d1f0","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":499}]},"renameOutput":true,"outputKey":"Suka"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"4357fb25-fbe5-4b19-85df-62db07d4443b","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.properties.numberofemployees }}","rightValue":500}]},"renameOutput":true,"outputKey":"Eeden"}]},"options":{"looseTypeValidation":true}},"id":"a77449fd-a7af-4321-b3d7-9d16bd21426f","name":"Assign DE deals by company size","type":"n8n-nodes-base.switch","position":[-140,860],"typeVersion":3}],"connections":{"Get Deals":{"main":[[{"node":"Split out deals","type":"main","index":0}]]},"Split out deals":{"main":[[{"node":"Unassigned Deals","type":"main","index":0}]]},"Assign by Region":{"main":[[{"node":"Assign US deals by company size","type":"main","index":0}],[{"node":"Assign DE deals by company size","type":"main","index":0}],[{"node":"Assign to Peter","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Deals","type":"main","index":0}]]},"Unassigned Deals":{"main":[[{"node":"Get contact for deals","type":"main","index":0}]]},"Get contact for deals":{"main":[[{"node":"Get company of contact(s)","type":"main","index":0}]]},"Get company of contact(s)":{"main":[[{"node":"Assign by Region","type":"main","index":0}]]},"Assign DE deals by company size":{"main":[[{"node":"Assign deal to Edward","type":"main","index":0}],[{"node":"Assign to Michael","type":"main","index":0}],[{"node":"Assign to Suka","type":"main","index":0}]]},"Assign US deals by company size":{"main":[[{"node":"Assign deal to John","type":"main","index":0}],[{"node":"Assign to Max","type":"main","index":0}],[{"node":"Assign to Eeden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Get Deals":[{"json":{"results":[{"id":"8978336453","archived":false,"createdAt":"2023-09-19T16:45:21.309Z","updatedAt":"2023-09-19T16:47:41.086Z","properties":{"amount":"100","dealname":"My test deal","createdate":"2023-09-19T16:45:21.309Z","hs_object_id":"8978336453","hubspot_owner_id":"1265816794","hs_lastmodifieddate":"2023-09-19T16:47:41.086Z"}},{"id":"11043508927","archived":false,"createdAt":"2024-02-22T10:10:54.184Z","updatedAt":"2024-02-22T10:13:09.271Z","properties":{"amount":"500","dealname":"My n8n deal","createdate":"2024-02-22T10:10:54.184Z","hs_object_id":"11043508927","hubspot_owner_id":"","hs_lastmodifieddate":"2024-02-22T10:13:09.271Z"},"associations":{"contacts":{"results":[{"id":"1","type":"deal_to_contact"}]}}}]}}],"Get contact for deals":[{"json":{"id":"1","archived":false,"createdAt":"2023-08-28T10:06:13.015Z","updatedAt":"2024-02-22T10:56:31.742Z","properties":{"email":"emailmaria@hubspot.com","lastname":"Johnson (Sample Contact)","firstname":"Maria","createdate":"2023-08-28T10:06:13.015Z","hs_object_id":"1","lastmodifieddate":"2024-02-22T10:56:31.742Z"},"associations":{"companies":{"results":[{"id":"10209902291","type":"contact_to_company"},{"id":"10209902291","type":"contact_to_company_unlabeled"}]}}}}],"Get company of contact(s)":[{"json":{"id":"10209902291","archived":false,"createdAt":"2024-02-22T10:56:27.833Z","updatedAt":"2024-02-22T10:56:32.390Z","properties":{"city":"San Francisco","name":"Stripe","domain":"stripe.com","country":"United States","createdate":"2024-02-22T10:56:27.833Z","hs_object_id":"10209902291","numberofemployees":"10000","hs_lastmodifieddate":"2024-02-22T10:56:32.390Z"}}}]},"versionId":"1e2b5cdd-446f-457d-a4b7-49c15ad9e3a3","triggerCount":0,"tags":[{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"}]}