workflows/Bck workflows to Github (main loop).json
{"createdAt":"2025-02-17T22:21:13.505Z","updatedAt":"2025-02-28T14:43:45.000Z","id":"kQqdPNM7U80IaCWM","name":"Bck workflows to Github (main loop)","active":false,"nodes":[{"parameters":{},"id":"6c366f4d-1815-4bd3-a2d7-fefb8aa8a2fd","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[180,-60],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"42c14c78-b64d-4444-bf2a-a4a7e6e46f88","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-300,320],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"69b7c00b-8de8-4215-9446-fdbc740a3fdc","name":"n8n","type":"n8n-nodes-base.n8n","position":[580,40],"typeVersion":1,"credentials":{"n8nApi":{"id":"e0P2yj9nA0voMJCS","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"51577716-7877-4ce4-a4d3-4db51fc5d29f","name":"Return","type":"n8n-nodes-base.set","position":[1420,520],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"dc8d32fc-31f3-45f2-a473-c232de52a63a","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[380,400],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"c4a04324-bcef-44d5-82c2-2ac777972929","name":"If file too large","type":"n8n-nodes-base.if","position":[140,420],"typeVersion":2},{"parameters":{},"id":"25d0bbca-5b85-413d-83e9-ed5f956b4c32","name":"Merge Items","type":"n8n-nodes-base.merge","position":[140,680],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"b58550a8-6713-473b-82a0-f7c4fdb6ba1c","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[340,680],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"e006d927-5c5d-4647-8bc9-933504ab32c5","name":"Check Status","type":"n8n-nodes-base.switch","position":[740,680],"typeVersion":1},{"parameters":{},"id":"ece11a78-7344-4b95-a953-bcc3f8149433","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[960,520],"typeVersion":1},{"parameters":{},"id":"2ec97615-5e84-4ffa-be07-46f76b573967","name":"File is different","type":"n8n-nodes-base.noOp","position":[960,680],"typeVersion":1},{"parameters":{},"id":"8d0c0966-d91c-4f13-8779-06b0aca056c4","name":"File is new","type":"n8n-nodes-base.noOp","position":[960,880],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"e48364ce-87b4-40ab-8147-cf29371d4cb3","name":"Create new file","type":"n8n-nodes-base.github","position":[1180,880],"typeVersion":1,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"9d195a0a-318f-4979-b8c7-cb3ff3a65902","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1180,680],"typeVersion":1,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"ac6e8283-f18f-4297-a4c3-37adc2c6dbba","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[780,40],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"84ba43ed-c854-400f-8122-9f36f76c680c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[180,140],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"51ff4fd1-63ff-41ae-8956-809d1800cffd","name":"Create sub path","type":"n8n-nodes-base.set","position":[540,680],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"f2bf0f8c-501a-47b0-8bcd-12975c041973","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-300,-140],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"e399c72b-de40-4cbd-8701-61054d7e75ce","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[140,-140],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#fase-di-lancio","mode":"name"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"29f891a4-736e-4140-a72e-91af2cadbc87","name":"Starting Message","type":"n8n-nodes-base.slack","position":[420,40],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"credentials":{"slackApi":{"id":"klJipReYb8IC43HS","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#fase-di-lancio","mode":"name"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"724bc8f4-e6eb-4efd-a229-483a7b7eb91e","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1000,-120],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"credentials":{"slackApi":{"id":"klJipReYb8IC43HS","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#fase-di-lancio","mode":"name"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"f4cfdc3a-9c5c-4b2d-9ce2-22a56340f41e","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1460,60],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2,"credentials":{"slackApi":{"id":"klJipReYb8IC43HS","name":"Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"dd8829b1-4e2b-4e33-91c6-2372b3556c9c","name":"Get file data","type":"n8n-nodes-base.github","position":[-60,420],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"305a6589-0966-4372-984a-014269babfab","name":"Config","type":"n8n-nodes-base.set","position":[-60,700],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"2jSTjDey1QdulIx7","mode":"list","cachedResultName":"Bck workflows to Github (subworkflow)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1000,40],"id":"d3634fbf-595b-40c1-afac-4b2ed94fc8d9","name":"Execute Workflow1","onError":"continueErrorOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-220,900],"id":"c11e9eb0-b983-4310-8781-bb1806581239","name":"When Executed by Another Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1240,60],"id":"18deff63-4f3f-47c6-ba73-c25e240a8b2f","name":"Aggregate"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Get file data","type":"main","index":0},{"node":"Config","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow1":{"main":[[],[{"node":"Aggregate","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[]]},"Aggregate":{"main":[[{"node":"Failed Flows","type":"main","index":0}]]},"Return":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b9df996-760a-41c5-9866-38ac7afca9ba","triggerCount":1,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}