workflows/Bck Wrkflws to Github working.json
{"createdAt":"2025-02-28T15:49:44.855Z","updatedAt":"2025-03-03T11:57:16.000Z","id":"x1L67FDvC0bTCPcV","name":"Bck Wrkflws to Github working","active":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"fbda6ca4-e7af-453e-90e8-050a6e2c90a5","name":"GitHub","type":"n8n-nodes-base.github","position":[200,100],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Fabnicklaus"},{"name":"repo.name","value":"n8n-bck"},{"name":"repo.path","value":"workflows/"},{"name":"NotaBene","value":"usare slash in fondo al path"}]},"options":{}},"id":"6505ab1a-1924-4560-8c4c-e60d65e47133","name":"Globals","type":"n8n-nodes-base.set","position":[-500,20],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"c85a4b2a-3c6a-438d-b9a6-d8bfc5f19148","name":"n8n","type":"n8n-nodes-base.n8n","position":[-260,20],"typeVersion":1,"credentials":{"n8nApi":{"id":"e0P2yj9nA0voMJCS","name":"n8n account"}}},{"parameters":{"options":{}},"id":"9d0d79fa-b1c5-4c6c-92b0-b0f770953e95","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-40,20],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"3e17d5ef-2f64-4747-9d0b-c5c021fd44bc","name":"If","type":"n8n-nodes-base.if","position":[400,100],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"ee06fea7-3e2b-4da6-9768-e4ed7f1612cc","name":"If1","type":"n8n-nodes-base.if","position":[1280,380],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"979c2c51-0df4-44bf-9d18-2ea187a4fe91","name":"Code","type":"n8n-nodes-base.code","position":[960,80],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"eda77c1d-ac1b-4806-a677-75870a71dd63","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[580,260],"typeVersion":1,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"dd81d065-8e26-4b89-9c4c-09ab711ca76b","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1640,580],"typeVersion":1,"credentials":{"githubApi":{"id":"d8Aca1Kz6HhErvT5","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"617dcc0c-5ce2-4917-9774-7c9143f71a73","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-720,20],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"ee109df1-f7a8-4e9b-baba-7f43681a58aa","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1800,600],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"cfee8280-3075-4075-987a-caeeaffd2cb0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1420,380],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"19c9185e-3950-4af9-b30d-cd8c34020921","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[700,280],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"08aa72da-589c-48d9-984d-80dd020408bc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[400,0],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"5a5be3d8-4708-436b-989e-c657beeaa801","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[900,-20],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"e8a06301-8dca-4cab-b186-7cee6081f2d5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-320,-80],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"41549163-e329-4713-859b-dbb948297531","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-580,160],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51271571-7bc2-4d83-b351-af02e8c4777f","triggerCount":1,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}