workflows/Chat with Google Sheet using AI.json
{"createdAt":"2025-02-24T14:24:05.971Z","updatedAt":"2025-02-24T14:24:13.000Z","id":"aNfUXeHO64iLupA2","name":"Chat with Google Sheet using AI","active":false,"nodes":[{"parameters":{},"id":"e8670b3d-ddb8-4055-a9ab-290f20e5ad9d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[80,780],"typeVersion":1},{"parameters":{"content":"### Sub-workflow: Custom tool\nThis can be called by the agent above. It returns three different types of data from the Google Sheet, which can be used together for more complex queries without returning the whole sheet (which might be too big for GPT to handle)","height":612.0936015224503,"width":1449.2963504228514,"color":7},"id":"c582a2b7-30f9-48ae-a92a-3fa352297222","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[20,520],"typeVersion":1},{"parameters":{"content":"### Main workflow: AI agent using custom tool","height":486.5625,"width":927.5,"color":7},"id":"d3f2caaa-d5a3-423a-9a8b-6abd3c2397f1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Try me out\n\nClick the 'Chat' button at the bottom and enter:\n\n_Which is our biggest customer?_","height":183.85014518022527,"width":185.9375},"id":"03f17b5b-313f-4742-a53e-738b5916ca4a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-160,80],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $json.sheetUrl }}"},"sheetName":{"__rl":true,"mode":"url","value":"={{ $json.sheetUrl }}"},"options":{}},"id":"5adb0bbd-82e7-4580-8a29-7be65fa828a9","name":"Get Google sheet contents","type":"n8n-nodes-base.googleSheets","position":[520,780],"typeVersion":4.2},{"parameters":{"fields":{"values":[{"name":"sheetUrl","stringValue":"https://docs.google.com/spreadsheets/d/1GjFBV8HpraNWG_JyuaQAgTb3zUGguh0S_25nO0CMd8A/edit#gid=736425281"}]},"options":{}},"id":"e58466c6-0158-4eba-ad77-3cbc987ed8bf","name":"Set Google Sheet URL","type":"n8n-nodes-base.set","position":[300,780],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"response","stringValue":"={{ Object.keys($json) }}"}]},"include":"none","options":{}},"id":"1d890ac1-4eb0-40b8-a39a-8e3f4675cc56","name":"Get column names","type":"n8n-nodes-base.set","position":[1000,600],"executeOnce":true,"typeVersion":3.2},{"parameters":{"jsCode":"return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"},"id":"0553fabc-ff1b-4913-a628-eedd3c661946","name":"Prepare output","type":"n8n-nodes-base.code","position":[1260,780],"typeVersion":2},{"parameters":{"name":"list_columns","description":"=List all column names in customer data\n\nCall this tool to find out what data is available for each customer. It should be called first at the beginning to understand which columns are available for querying.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"column_names"}]}},"id":"63c0eb3b-7e44-4b2d-a02e-7b700d8675ff","name":"List columns tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[480,320],"typeVersion":1},{"parameters":{"name":"get_customer","description":"=Get all columns for a given customer\n\nThe input should be a stringified row number of the customer to fetch; only single string inputs are allowed. Returns a JSON object with all the column names and their values.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"row"}]}},"id":"c4343c49-284b-41a6-a37e-328f32751217","name":"Get customer tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[760,320],"typeVersion":1},{"parameters":{"name":"column_values","description":"=Get the specified column value for all customers\n\nUse this tool to find out which customers have a certain value for a given column. Returns an array of JSON objects, one per customer. Each JSON object includes the column being requested plus the row_number column. Input should be a single string representing the name of the column to fetch.\n","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"operation","stringValue":"column_values"}]}},"id":"fef9cf12-f0f6-4623-8299-34698ccd2335","name":"Get column values tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[620,320],"typeVersion":1},{"parameters":{"content":"These tools all call the sub-workflow below","height":179.21380662202682,"width":432.3271051132649,"color":7},"id":"16698a13-530d-472a-9750-2d1708713ac4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[520,380],"typeVersion":1},{"parameters":{"content":"Change the URL of the Google Sheet here","height":226.64416053838073,"width":179.99762227826224},"id":"ec87a9a6-7164-491a-aa31-64895a52ac73","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[280,720],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"={{ $('Execute Workflow Trigger').item.json.query }}","stringValue":"={{ $json[$('Execute Workflow Trigger').item.json.query] }}"},{"name":"row_number","stringValue":"={{ $json.row_number }}"}]},"include":"none","options":{}},"id":"6c1ba962-da7d-4ab7-8ba8-ef8e016b6fef","name":"Prepare column data","type":"n8n-nodes-base.set","position":[1000,780],"typeVersion":3.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"bf712098-97e4-42cb-8e08-2ee32d19d3e7","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.row_number }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.query }}"}]},"options":{"looseTypeValidation":true}},"id":"6ded9ad8-032c-4a67-b0ab-edeadad7afa7","name":"Filter","type":"n8n-nodes-base.filter","position":[1000,940],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"column_names"}]},"renameOutput":true,"outputKey":"col names"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b7968ce7-0d20-43d0-bcca-7b66e0aec715","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"column_values"}]},"renameOutput":true,"outputKey":"col values"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"de3bb9b5-edc6-4448-839e-eda07b72144a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Execute Workflow Trigger').item.json.operation }}","rightValue":"row"}]},"renameOutput":true,"outputKey":"rows"}]},"options":{}},"id":"5969b2a9-c8e0-4148-b815-ae7264af123e","name":"Check operation","type":"n8n-nodes-base.switch","position":[740,780],"typeVersion":3},{"parameters":{"model":"gpt-3.5-turbo-0125","options":{"temperature":0}},"id":"06a37ff3-1e73-4a3e-8297-dcca41c7fd67","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[340,320],"typeVersion":1},{"parameters":{},"id":"1ecd563d-b053-4fff-a365-ece0c6fd71ca","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[160,100],"webhookId":"2b9d9c42-adf4-425d-b0a5-e4f60c750e63","typeVersion":1},{"parameters":{"agent":"reActAgent","options":{"suffix":"Begin! Use `list_columns` tool first to determine which columns are available.\n\n\tQuestion: {input}\n\tThought:{agent_scratchpad}","returnIntermediateSteps":false}},"id":"3fd857f1-f764-40c5-9e18-11ceccf1aee3","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[440,100],"typeVersion":1.3}],"connections":{"Filter":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Check operation":{"main":[[{"node":"Get column names","type":"main","index":0}],[{"node":"Prepare column data","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Get column names":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"Get customer tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"List columns tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Prepare column data":{"main":[[{"node":"Prepare output","type":"main","index":0}]]},"Set Google Sheet URL":{"main":[[{"node":"Get Google sheet contents","type":"main","index":0}]]},"Get column values tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set Google Sheet URL","type":"main","index":0}]]},"Get Google sheet contents":{"main":[[{"node":"Check operation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":"222","operation":"row"}}]},"versionId":"3907e1f8-5e15-4ec8-b3f8-c74ffe83bf55","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}