workflows/Checks DMARC reports.json
{"createdAt":"2025-02-28T11:04:01.372Z","updatedAt":"2025-02-28T11:42:19.000Z","id":"6UHCCYOMHSkBpoEV","name":"Checks DMARC reports","active":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{}},"id":"f57f2a8e-cd40-46dd-8de0-df29af44e800","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[140,-100],"typeVersion":2,"credentials":{"imap":{"id":"DV8V70AxSpTzTgBs","name":"IMAP account mfm@boo.it"}}},{"parameters":{"operation":"formatDate","date":"={{ $json.date_range_end.toDateTime('s') }}","format":"custom","customFormat":"yyyy-MM-dd hh:mm:ss","outputFieldName":"=date_range_end","options":{"includeInputFields":true}},"id":"87d1a447-3748-44c4-aed6-a0aa7ac91760","name":"End date format","type":"n8n-nodes-base.dateTime","position":[660,480],"typeVersion":2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b809e758-c3d2-4cbf-bab8-54d278a435dd","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.feedback.record[0] }}","rightValue":""}]},"options":{}},"id":"979a7106-b0ee-4d45-8839-e6df2be78d79","name":"If multiple records to parse","type":"n8n-nodes-base.if","position":[420,220],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"621508ee-fbea-4233-aaf3-96b573a60bd5","name":"full_data","type":"object","value":"={{ $json.feedback }}"},{"id":"d605e93a-0e0a-4584-aa1e-e38b49f264e7","name":"org_name","type":"string","value":"={{ $json.feedback.report_metadata.org_name }}"},{"id":"604a5573-67db-4bb6-80d8-4421dce2406b","name":"date_range_begin","type":"string","value":"={{ $json.feedback.report_metadata.date_range.begin }}"},{"id":"b9d7244f-9d58-43fc-a477-f0750c31e5e2","name":"date_range_end","type":"string","value":"={{ $json.feedback.report_metadata.date_range.end }}"},{"id":"3570869a-9dc9-4b20-b48c-5f382825d021","name":"domain","type":"string","value":"={{ $json.feedback.policy_published.domain }}"},{"id":"979e4eb4-6e39-4a3c-8f0a-21ecf8086a3c","name":"policy_published","type":"object","value":"={{ $json.feedback.policy_published }}"},{"id":"91cdfa19-49c6-4e5d-a423-d76bbb61eddc","name":"source_ip","type":"string","value":"={{ $json['fbr'].row.source_ip }}"},{"id":"2434b04e-3c5e-4e61-8be9-1f9c1ec2a6ce","name":"mail_count","type":"string","value":"={{ $json['fbr'].row.count }}"},{"id":"09b73b84-0f6a-443b-8da0-c7ad9742a9c1","name":"evaluated_disposition","type":"string","value":"={{ $json['fbr'].row.policy_evaluated.disposition }}"},{"id":"6c8e81ab-abc6-497c-8919-6b2e8008a1e8","name":"evaluated_dkim","type":"string","value":"={{ $json['fbr'].row.policy_evaluated.dkim }}"},{"id":"fa8ca9d6-5e1b-402c-9afc-e6bf42e2c6ad","name":"evaluated_spf","type":"string","value":"={{ $json['fbr'].row.policy_evaluated.spf }}"},{"id":"42f269c3-978a-45f6-bfe5-1fa1536500fb","name":"identifiers","type":"object","value":"={{ $json['fbr'].identifiers }}"},{"id":"3375dc26-a739-4bf9-8a46-2f6739337921","name":"auth_results","type":"object","value":"={{ $json['fbr'].auth_results }}"}]},"options":{"ignoreConversionErrors":true}},"id":"6c634560-955f-4ca8-8b0a-5b2b87058e68","name":"Map fields for DB input and parse","type":"n8n-nodes-base.set","position":[1060,260],"typeVersion":3.4},{"parameters":{"operation":"formatDate","date":"={{ $json.date_range_begin.toDateTime('s') }}","format":"custom","customFormat":"yyyy-MM-dd hh:mm:ss","outputFieldName":"=date_range_begin","options":{"includeInputFields":true}},"id":"2bddf368-491b-4ca9-8ced-f21540968b2d","name":"Begin format date","type":"n8n-nodes-base.dateTime","position":[420,480],"typeVersion":2},{"parameters":{"table":{"__rl":true,"mode":"list","value":"dmarc","cachedResultName":"dmarc"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"full_data","value":"={{ $json.full_data.toJsonString() }}"},{"column":"org_name","value":"={{ $json.org_name }}"},{"column":"date_range_begin","value":"={{ $json.date_range_begin }}"},{"column":"date_range_end","value":"={{ $json.date_range_end }}"},{"column":"domain","value":"={{ $json.domain }}"},{"column":"policy_published","value":"={{ $json.policy_published.toJsonString() }}"},{"column":"source_ip","value":"={{ $json.source_ip }}"},{"column":"mail_count","value":"={{ $json.mail_count }}"},{"column":"evaluated_disposition","value":"={{ $json.evaluated_disposition }}"},{"column":"evaluated_dkim","value":"={{ $json.evaluated_dkim }}"},{"column":"evaluated_spf","value":"={{ $json.evaluated_spf }}"},{"column":"identifiers","value":"={{ $json.identifiers == null ? null : $json.identifiers.toJsonString() }}"},{"column":"auth_results","value":"={{ $json.auth_results == null ? null : $json.auth_results.toJsonString() }}"}]},"options":{"detailedOutput":true}},"id":"4453dc12-55cc-432f-a276-df34ddf04ece","name":"Input into database","type":"n8n-nodes-base.mySql","position":[480,700],"typeVersion":2.4,"credentials":{"mySql":{"id":"HgxawfFtDgLwtfee","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"818b461b-4bdc-4842-9f89-d1d8966b8c0a","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.evaluated_dkim }}","rightValue":"pass"},{"id":"4322cb26-5ff1-4278-94ae-7ff278c61c6c","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.evaluated_spf }}","rightValue":"pass"}],"combinator":"or"},"options":{}},"id":"288f4fd1-7c14-44fb-a94c-0a0935d366cf","name":"If issue with DKIM or SPF","type":"n8n-nodes-base.if","position":[440,860],"typeVersion":2},{"parameters":{"keys":{"key":[{"currentKey":"feedback.record","newKey":"fbr"}]},"additionalOptions":{}},"id":"f9db4ff4-7ab0-4515-af7b-c96c113d4a90","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","position":[860,100],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f563d673-bc82-4863-b132-d431ebe8f651","name":"fbr","type":"object","value":"={{ $json.feedback.record }}"}]},"includeOtherFields":true,"options":{}},"id":"af9692c0-cfa3-43bd-8261-976eb4847fb5","name":"Rename column for consistency","type":"n8n-nodes-base.set","position":[660,260],"typeVersion":3.4},{"parameters":{"content":"## How it works\n- monitor postmaster email for DKIM reprots\n- unpack report and parse XML\n- map and format fields for DB input\n\t- input into database\n\t- send notification on DKIM or SPF failure\n\n## Remember to set up\n- email input mailbox\n- notification channels","height":304.36194895591655,"width":394.2691415313225},"id":"787897a8-3a67-4f9a-a873-bc18aeb5f0cc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-40,80],"typeVersion":1},{"parameters":{"binaryPropertyName":"attachment_0"},"id":"7c4e5b7b-f8d7-4a54-88d3-4cfab437a4c8","name":"Unzip File","type":"n8n-nodes-base.compression","position":[660,-100],"typeVersion":1.1},{"parameters":{"operation":"xml","binaryPropertyName":"file_0","options":{}},"id":"13367990-b863-4ed1-ac2c-8c05f787ad65","name":"Extract XML data","type":"n8n-nodes-base.extractFromFile","position":[880,-100],"typeVersion":1},{"parameters":{"options":{}},"id":"93c7b21d-0b83-4fd7-8669-935e30c33517","name":"Parse XML data to JSON","type":"n8n-nodes-base.xml","position":[1080,-100],"typeVersion":1},{"parameters":{"content":"## Preparation\nThis line is responsible for taking data from email and parsing it into JSON understandable by n8n","height":159.80531276753783,"width":394.2691415313225},"id":"e27ad2fe-c68c-409b-9b75-0a8c7af62844","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1280,-100],"typeVersion":1},{"parameters":{"content":"## Mapping\nThis line is responsible for treating cases when XML has multiple info for domain. One DMARC report can contain more than one entries.\n\nLast node is responsible for matching data with database structure","height":316.3177609714967,"width":394.2691415313225},"id":"225d9a27-4439-4698-af3a-7a5f92597590","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1280,100],"typeVersion":1},{"parameters":{"fieldToSplitOut":"feedback.record","include":"allOtherFields","options":{}},"id":"e6383c4b-69da-489c-a84f-f006c3823303","name":"Split Out For Separate Entries","type":"n8n-nodes-base.splitOut","position":[660,100],"typeVersion":1},{"parameters":{"content":"## Date translate\nThis line is responsible for translating date format into understandable by MySQL/MariaDB\n\nIn next node data is being input into MySQL/MariaDB ","height":185.89072080153096,"width":394.2691415313225},"id":"6af9550a-7cab-4ea4-8dbc-29d5ff0dd09e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1280,460],"typeVersion":1},{"parameters":{"content":"## Notifications\nLast two nodes are responsible for sending notifications in case IF inside DMARC report is reported any issue with SPF or DKIM","height":320.66532897716223,"width":394.2691415313225},"id":"53f00e4b-d5a5-42cc-8946-9f7a1ed4f821","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1280,780],"typeVersion":1},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"list","value":"CCGJA1F1N","cachedResultName":"powiadomienia"},"text":"=DMARC evaluation failed for {{ $json.domain }} on  {{ $json.mail_count }} mails with disposition:  {{ $json.evaluated_disposition }}. DKIM:  {{ $json.evaluated_dkim }} SPF:  {{ $json.evaluated_spf }}","otherOptions":{}},"id":"794851ae-33dc-41ed-b152-6855adfa4d79","name":"Slack Post Message On Channel","type":"n8n-nodes-base.slack","position":[1060,780],"typeVersion":2.2,"webhookId":"dd42b687-c8cd-4c91-937e-b25da475a2ed","disabled":true},{"parameters":{"subject":"DMARC problem","emailFormat":"text","text":"DMARC evaluation failed for {{ $json.domain }} on  {{ $json.mail_count }} mails with disposition:  {{ $json.evaluated_disposition }}. DKIM:  {{ $json.evaluated_dkim }} SPF:  {{ $json.evaluated_spf }}","options":{}},"id":"d1033948-398b-4e37-a000-ddea4e64de0c","name":"Send Error Notification Email","type":"n8n-nodes-base.emailSend","position":[1060,980],"typeVersion":2.1,"webhookId":"8555e107-4a2f-4e94-a9af-ba2d5cfb1dc5","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07914794-ef44-4a77-8211-6e79370d0bf1","leftValue":"={{ $json.subject }}","rightValue":"DMARC","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[360,-100],"id":"5b43a525-065d-4bb5-b7e6-123f7aa6a272","name":"Solo per DMARC"}],"connections":{"Unzip File":{"main":[[{"node":"Extract XML data","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Map fields for DB input and parse","type":"main","index":0}]]},"End date format":{"main":[[{"node":"Input into database","type":"main","index":0},{"node":"If issue with DKIM or SPF","type":"main","index":0}]]},"Extract XML data":{"main":[[{"node":"Parse XML data to JSON","type":"main","index":0}]]},"Begin format date":{"main":[[{"node":"End date format","type":"main","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Solo per DMARC","type":"main","index":0}]]},"Parse XML data to JSON":{"main":[[{"node":"If multiple records to parse","type":"main","index":0}]]},"If issue with DKIM or SPF":{"main":[[{"node":"Slack Post Message On Channel","type":"main","index":0},{"node":"Send Error Notification Email","type":"main","index":0}]]},"If multiple records to parse":{"main":[[{"node":"Split Out For Separate Entries","type":"main","index":0}],[{"node":"Rename column for consistency","type":"main","index":0}]]},"Rename column for consistency":{"main":[[{"node":"Map fields for DB input and parse","type":"main","index":0}]]},"Split Out For Separate Entries":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Map fields for DB input and parse":{"main":[[{"node":"Begin format date","type":"main","index":0}]]},"Solo per DMARC":{"main":[[{"node":"Unzip File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3b3de871-d378-49db-87c9-3628b668834c","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}