workflows/Creat an API endpoint (streamdeck?).json
{"createdAt":"2025-02-28T11:54:15.012Z","updatedAt":"2025-02-28T13:11:40.000Z","id":"zBr2UrfKE9HyMqB4","name":"Creat an API endpoint (streamdeck?)","active":false,"nodes":[{"parameters":{"path":"apitest","responseMode":"responseNode","options":{}},"id":"92eab93f-efcc-4bc7-8caa-5c2297f894b4","name":"Webhook","type":"n8n-nodes-base.webhook","position":[20,140],"webhookId":"6f7b288e-1efe-4504-a6fd-660931327269","typeVersion":1},{"parameters":{"content":"## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n","height":280,"width":600},"id":"76929031-857f-4ba9-b9ee-a3366e337a15","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"respondWith":"text","responseBody":"=The URL of the Google search query for the term \"{{$node[\"Webhook\"].json[\"query\"][\"first_name\"]}} {{$node[\"Webhook\"].json[\"query\"][\"last_name\"]}}\" is: {{$json[\"product\"]}}","options":{}},"id":"6cb9c5e2-6b1f-456e-a36b-e69f2a00cebf","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[460,140],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"product","value":"=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"}]},"options":{}},"id":"ef11b932-714f-4d7e-b223-1c3ec0c84c24","name":"Create URL string","type":"n8n-nodes-base.set","position":[240,140],"typeVersion":1},{"parameters":{"content":"### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n","height":220,"width":600},"id":"714477dc-d2b3-434d-b125-80ba0384f432","name":"Note3","type":"n8n-nodes-base.stickyNote","position":[0,300],"typeVersion":1}],"connections":{"Webhook":{"main":[[{"node":"Create URL string","type":"main","index":0}]]},"Create URL string":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"580592b7-9812-45ad-a8d0-e01820929973","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}