workflows/Customers fo tutorial 2.json
{"createdAt":"2025-02-28T10:46:23.271Z","updatedAt":"2025-02-28T11:02:06.000Z","id":"2MdirG4rvEy7hY9l","name":"Customers fo tutorial 2","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"09183c5d-1a00-4460-87dd-60afbcb097db","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"let data =[];\n\nreturn {\n  data: [\n    { id: 1, name: 'Taylor Swift', job: 'Pop star', last_updated: '2024-09-20T10:12:43.493Z' },\n    { id: 2, name: 'Ed Sheeran', job: 'Singer-songwriter', last_updated: '2024-10-05T08:30:59.493Z' },\n    { id: 3, name: 'Adele', job: 'Singer-songwriter', last_updated: '2024-10-07T14:15:59.493Z' },\n    { id: 4, name: 'Bruno Mars', job: 'Singer-songwriter', last_updated: '2024-08-25T17:45:12.493Z' },\n    { id: 1, name: 'Taylor Swift', job: 'Pop star', last_updated: '2024-09-20T10:12:43.493Z' },  // duplicate\n    { id: 5, name: 'Billie Eilish', job: 'Singer-songwriter', last_updated: '2024-09-10T09:30:12.493Z' },\n    { id: 6, name: 'Katy Perry', job: 'Pop star', last_updated: '2024-10-08T12:30:45.493Z' },\n    { id: 2, name: 'Ed Sheeran', job: 'Singer-songwriter', last_updated: '2024-10-05T08:30:59.493Z' },  // duplicate\n    { id: 7, name: 'Lady Gaga', job: 'Pop star', last_updated: '2024-09-15T14:45:30.493Z' },\n    { id: 8, name: 'Rihanna', job: 'Pop star', last_updated: '2024-10-01T11:50:22.493Z' },\n    { id: 3, name: 'Adele', job: 'Singer-songwriter', last_updated: '2024-10-07T14:15:59.493Z' },  // duplicate\n    { id: 9, name: 'Tom Hanks', job: 'Actor', last_updated: '2024-10-17T13:58:31.493Z' },\n    { id: 0, name: 'Madonna', job: 'Pop star', last_updated: '2024-10-17T17:11:38.493Z' },\n    { id: 15, name: 'Bob Dylan', job: 'Folk singer', last_updated: '2024-09-24T08:03:16.493Z'},\n    { id: 10, name: 'Harry Nilsson', job: 'Singer-songwriter', last_updated: '2020-10-17T17:11:38.493Z' },\n    { id: 11, name: 'Kylie Minogue', job: 'Pop star', last_updated: '2024-10-24T08:03:16.493Z'},\n  ]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"2b5356e1-1d5d-4b62-b0de-578bc93db2ee","name":"Code"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,0],"id":"9e4db51e-e53d-468b-957e-4de8827e5316","name":"Split Out"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","dedupeValue":"={{ $json.last_updated }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[660,0],"id":"3c656670-c73b-4335-bc0b-7c3db1100735","name":"Remove Duplicates"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"14f979d2-0cfb-4aac-a390-cd0203384666","triggerCount":0,"tags":[]}