workflows/Enhance Customer Chat by Buffering Messages with Twilio and Redis.json
{"createdAt":"2025-02-12T00:59:50.977Z","updatedAt":"2025-02-12T01:28:37.000Z","id":"VvLfqtACtPVKvQkG","name":"Enhance Customer Chat by Buffering Messages with Twilio and Redis","active":false,"nodes":[{"parameters":{"options":{}},"id":"b96bd357-d977-4a18-b1ba-a84afa1e84bb","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1500,500],"typeVersion":1},{"parameters":{},"id":"ba94f31a-3cad-4506-8428-2731b7a7e675","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[500,540],"typeVersion":1},{"parameters":{"operation":"push","list":"=chat-buffer:{{ $json.From }}","messageData":"={{ $json.Body }}","tail":true},"id":"7c6c091f-4f71-4713-997d-da52caafb7b9","name":"Add to Messages Stack","type":"n8n-nodes-base.redis","position":[180,220],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ec39573f-f92a-4fe4-a832-0a137de8e7d0","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Get Latest Message Stack').item.json.messages.last() }}","rightValue":"={{ $('Twilio Trigger').item.json.Body }}"}]},"options":{}},"id":"b874c4a8-9788-47e1-81e1-fc017e756054","name":"Should Continue?","type":"n8n-nodes-base.if","position":[500,380],"typeVersion":2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer:{{ $('Twilio Trigger').item.json.From }}"},"id":"0d637629-7715-4387-9441-dd1ef3a1fbd2","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1620,500],"typeVersion":1.2},{"parameters":{"updates":["com.twilio.messaging.inbound-message.received"]},"id":"37d52ab9-c9d7-4892-bf9b-f8c58a4b0288","name":"Twilio Trigger","type":"n8n-nodes-base.twilioTrigger","position":[-240,380],"webhookId":"0ca3da0e-e4e1-4e94-8380-06207bf9b429","typeVersion":1},{"parameters":{"operation":"get","propertyName":"messages","key":"=chat-buffer:{{ $json.From }}","keyType":"list","options":{}},"id":"028cd0fb-facc-47af-b8ea-8ddce1eb0044","name":"Get Latest Message Stack","type":"n8n-nodes-base.redis","position":[340,380],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"content":"## Step 2. Buffer Incoming Messages\n[Learn more about using Redis](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.redis)\n\n* New messages are captured into a list.\n* After X seconds, we get a fresh copy of this list\n* If the last message on the list is the same as the incoming message, then we know no new follow-on messages were sent within the last 5 seconds. Hence the user should be waiting and it is safe to reply.\n* But if the reverse is true, then we will abort the execution here.","height":766.7069233634998,"width":632.8309394802918,"color":7},"id":"90c70ff0-6478-4b3e-9ecb-914e1cdf3507","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[60,-40],"typeVersion":1},{"parameters":{"from":"={{ $('Twilio Trigger').item.json.To }}","to":"={{ $('Twilio Trigger').item.json.From }}","message":"={{ $json.output }}","options":{}},"id":"9565a0d7-92de-4890-b362-06f163e50eb1","name":"Send Reply","type":"n8n-nodes-base.twilio","position":[1840,340],"typeVersion":1},{"parameters":{},"id":"355a6887-cb80-4430-b63e-1bc1fd84280a","name":"Wait 5 seconds","type":"n8n-nodes-base.wait","position":[180,380],"webhookId":"d486979c-8074-4ecb-958e-fcb24455086b","typeVersion":1.1},{"parameters":{"options":{"groupMessages":true}},"id":"fd70295a-2476-4b53-a017-d1e3c1a8a189","name":"Get Chat History","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[840,300],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat-debouncer:{{ $('Twilio Trigger').item.json.From }}"},"id":"5846ef22-95f8-4271-ab02-87b8bfcb65a1","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[840,440],"typeVersion":1.2},{"parameters":{"content":"## Step 1. Listen for Twilio Messages\n[Read more about Twilio Trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.twiliotrigger)\n\nIn this example, we'll use the sender's phone number as the session ID. This will be important in retrieving chat history.","height":357.49804533541777,"width":431.1629802181097,"color":7},"id":"d9057908-5110-4f4b-b076-eefab7e1c568","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-400,220],"typeVersion":1},{"parameters":{"content":"## Step 3. Get Messages Since Last Reply\n[Read more about using Chat Memory](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorymanager)\n\nOnce conditions are met and we allow the agent to reply, we'll need to find the bot's last reply and work out the buffer of user messages since then. We can do this by looking using chat memory and comparing this to the latest message in our redis messages stack.","height":501.77420646931444,"width":618.970917763344,"color":7},"id":"e5a30f22-67c3-4549-8386-bce3d96623ab","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[740,100],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"01434acb-c224-46d2-99b0-7a81a2bb50c5","name":"messages","type":"string","value":"={{\n$('Get Latest Message Stack').item.json.messages\n  .slice(\n    $('Get Latest Message Stack').item.json.messages.lastIndexOf(\n      $('Get Chat History').item.json.messages.last().human\n      || $('Twilio Trigger').item.json.chatInput\n    ),\n    $('Get Latest Message Stack').item.json.messages.length\n  )\n  .join('\\n')\n}}"}]},"options":{}},"id":"565701e6-8ccb-4d23-9325-fcd11d7d7ca4","name":"Get Messages Buffer","type":"n8n-nodes-base.set","position":[1160,300],"typeVersion":3.4},{"parameters":{"content":"## Step 4. Send Single Agent Reply For Many Messages\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nFinally, our buffered messages are sent to the AI Agent that can formulate a single response for all. This could potentially improve the conversation experience if the chat interaction is naturally more rapid and spontaneous. A drawback however is that responses could be feel much slower - tweak the wait threshold to suit your needs!","height":522.5993538768389,"width":670.2274698011594,"color":7},"id":"ef8508e1-6366-4786-af3c-20812d6aee94","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1380,140],"typeVersion":1},{"parameters":{"content":"## Try It Out!\n### This workflow demonstrates a simple approach to stagger an AI Agent's reply if users often send in a sequence of partial messages and in short bursts.\n\n* Twilio webhook receives user's messages which are recorded in a message stack powered by Redis.\n* The execution is immediately paused for 5 seconds and then another check is done against the message stack for the latest message.\n* The purpose of this check lets use know if the user is sending more messages or if they are waiting for a reply.\n* The execution is aborted if the latest message on the stack differs from the incoming message and continues if they are the same.\n* For the latter, the agent receives buffered messages and is able to respond to all in a single reply.","height":486.69228315530853,"width":375.55385425077225},"id":"e4635eb8-4be2-4245-954a-29a82441b449","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-800,100],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.messages }}","options":{}},"id":"c9df9680-a72c-43ae-b623-3312292d9e7e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1500,340],"typeVersion":1.6}],"connections":{"AI Agent":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"Twilio Trigger":{"main":[[{"node":"Add to Messages Stack","type":"main","index":0},{"node":"Wait 5 seconds","type":"main","index":0}]]},"Wait 5 seconds":{"main":[[{"node":"Get Latest Message Stack","type":"main","index":0}]]},"Get Chat History":{"main":[[{"node":"Get Messages Buffer","type":"main","index":0}]]},"Should Continue?":{"main":[[{"node":"Get Chat History","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Messages Buffer":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Get Chat History","type":"ai_memory","index":0}]]},"Get Latest Message Stack":{"main":[[{"node":"Should Continue?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1268099f-da5d-4492-b381-4917c83b0096","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}