workflows/esperimento B.json
{"createdAt":"2025-02-28T16:18:49.061Z","updatedAt":"2025-02-28T16:18:49.061Z","id":"myrD8WzlROfIdvvq","name":"esperimento B","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-180,400],"id":"bb85b78d-68a8-4ae1-b523-9e6a0cc8be33","name":"Gmail Trigger","disabled":true},{"parameters":{"resource":"draft","subject":"={{ $json[\"Subject line\"] }}","message":"={{ $json.Body }}","options":{"sendTo":"={{ $json[\"Recipients email\"] }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,-40],"id":"b4e38b3a-6c69-425a-8030-08e19e54dd28","name":"Gmail1","webhookId":"d8aea479-fe3c-49da-97bc-3a6c12e380d4"},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"A1","description":"Emails that are sent out right after signing up for a service."},{"category":"B1","description":"Emails that are written colloquially or very short emails."},{"category":"C1","description":"Email that promote some product or service or are some type of ad."},{"category":"D1","description":"Emails that regard some package or delivery."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[20,400],"id":"e5e58d5a-c76b-48d2-8fdb-2c668f0a5731","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"=deepseek/deepseek-r1:free","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,560],"id":"97874dbf-8be0-4555-ad2e-6a7efa907001","name":"OpenAI Chat Model1"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_240050376777712736"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[340,300],"id":"7ef27f76-a371-418e-8d23-bddbc8a37711","name":"Add Label B1","webhookId":"d2e121e5-d4f8-4e96-9a15-1172d0f768a5"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3816660642174118155"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[340,180],"id":"f01e7a53-3c78-45ac-90c0-87d7482ef3e5","name":"Add Label A1","webhookId":"f0147c6d-b020-4c91-949d-2b8234bd8009"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_459271740731153582"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[340,420],"id":"c5231c12-e973-4cd4-b19a-89dc7233f93c","name":"Add Label C1","webhookId":"d2e121e5-d4f8-4e96-9a15-1172d0f768a5"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4089850326549076950"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[340,540],"id":"4e01760d-2b5a-4d13-900f-96d4e62594bb","name":"Add Label D1","webhookId":"b8ffec94-fa67-43bb-b395-d36890250533"},{"parameters":{"modelId":{"__rl":true,"value":"google/gemini-2.0-pro-exp-02-05:free","mode":"list","cachedResultName":"GOOGLE/GEMINI-2.0-PRO-EXP-02-05:FREE"},"messages":{"values":[{"content":"=# Role\nAlways output in German.\nParse the information you receive in the input data and always output your answers in this format:\n\n- Recipients Email dress\n- Subject\n- Body\n\nParse those into JSON files.\n\nInput data: {{ $json.output }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[140,-40],"id":"68b92a0a-69b1-4565-8dcb-c8cd35a0320f","name":"OpenAI"},{"parameters":{"assignments":{"assignments":[{"id":"572eaabd-df40-4545-88c8-dce4b07ccaad","name":"Recipients email","value":"={{ $json.message.content[0][\"Empfänger_E-Mail_Adresse\"] }}","type":"string"},{"id":"0cd37018-0dfd-4278-b2c4-ee4a662906b3","name":"Subject line","value":"={{ $json.message.content[0].Betreff }}","type":"string"},{"id":"a8d69e09-98f8-4f71-852a-59a4640114b5","name":"Body","value":"={{ $json.message.content[0].Text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-40],"id":"c726ba0d-5aa9-4d0e-b2bb-7f05454eae82","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,-40],"id":"2a6c98b3-cf2a-44bb-b99a-f1963483fcc3","name":"When Executed by Another Workflow"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Add Label A1","type":"main","index":0}],[{"node":"Add Label B1","type":"main","index":0}],[{"node":"Add Label C1","type":"main","index":0}],[{"node":"Add Label D1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5d826539-7963-43cd-a499-6c7b8bf57c50","triggerCount":0,"tags":[]}