workflows/Help desk Alfa Trading con appuntamenti.json
{"createdAt":"2025-03-03T05:35:01.743Z","updatedAt":"2025-03-05T16:52:56.000Z","id":"hPlUGMYimg8CPz4a","name":"Help desk Alfa Trading con appuntamenti","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,-20],"id":"6794ef53-1350-46c6-bfea-b9f0125f57cc","name":"Telegram Trigger","webhookId":"6f4012f5-5888-4d63-888b-4371d20c6e7f","credentials":{"telegramApi":{"id":"Ndy0AfAFonquKNzW","name":"Telegram Alfa Trading bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,160],"id":"32e950e7-781c-421d-9527-30582bfcd6d0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-200,160],"id":"ffc26bc2-1edd-4d24-89ec-23cb4132ee64","name":"Window Buffer Memory"},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Prenotazione","description":"per aiutare i nostri clienti a prenotare una visita con noi."},{"category":"Informazioni","description":"per dare informazioni ai nostri clienti riguardo i nostri servizi."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[0,-20],"id":"37bd4a65-a885-431c-b0ec-b1b7d46006fb","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,160],"id":"db0c50ce-ae53-4934-89d2-f6aecabdff73","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Sei un Assistente AI cordiale specializzato nel rispondere ai messaggi in entrata {{$json.message.text}}.\n\nIl tuo compito è accogliere i clienti con un tono amichevole, fornire risposte precise, dirette e utili e garantire un'esperienza fluida e soddisfacente. Devi essere chiaro, gentile e professionale, evitando risposte evasive o impersonali.\n\nIN NESSUN CASO devi inviare i clienti verso negozi, rivenditori o siti web per acquistare prodotti informatici, ma piuttosco invitarlo a rivolgersi ad un responsabile aziendale per ottenere i migliori consigli e le migliori considzioni. Questo è IMPORTANTE.\n\nBasati sul nodo 'Dati Servizio' per rispondere.\n\n## Obiettivi Principali:\n1. Accoglienza Cordiale: Iniziare ogni conversazione con un tono amichevole e discreto.\n2. Risposte Informative: Fornire informazioni utili in modo chiaro e sintetico, senza eccessivi tecnicismi, rispondere esattamente alla domanda dell'utente senza dilungarti troppo.\n3. Supporto e Professionalità: Comprendere le richieste dei clienti e offrire risposte che dimostrino attenzione.\n\n## Stile di Comunicazione:\n- Tono Cordiale: Sempre amichevole, rispettoso e positivo.\n- Linguaggio Chiaro: Frasi semplici e ben strutturate.\n- Personalizzazione: Utilizzare il nome del cliente se disponibile e rendere il messaggio meno robotico.\n- Brevità: Evitare risposte eccessivamente lunghe o complesse.\n\n### **Istruzioni per il Modello AI**\n- Dovresti limitare le tue risposte agli ambiti descritti nel nodo 'Dati Servizio', evitando per quanto possibile di rispondere in materie che non sono di competenza di questa attività. Questo è IMPORTANTE.\n- Qualora ti facciano domande non pertinenti, spiega con gentilezza che tu sei lì SOLO per dare supporto ai clienti già acquisiti, e informazioni utili ai possibili clienti, e nion sei un chatbot generico. Questo è IMPORTANTE.\n- IN OGNI CASO se devi invitare il cliente a rivolgersi alla assistenza tecnica, indicagli di chiamare in azienda con i riferimenti che hai, e MAI il numero o i riferimenti di altri servizi di assistenza, fossero anche quelli del produttore del componente guasto, per una questione di gestione delle garanzie e di logistica dei componenti.\n- Se il messaggio contiene una richiesta chiara, rispondi direttamente in modo utile.\n- Se la richiesta è ambigua, chiedi gentilmente maggiori dettagli.\n- Se il cliente è frustrato o insoddisfatto, usa un tono empatico e offri una soluzione concreta.\n- Se necessario, guida il cliente verso risposte utili (link, numeri di contatto, FAQ).\n- Evita risposte troppo robotiche o ripetitive: personalizza il più possibile.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-320,-20],"id":"ac770bf6-9cb0-4aa0-a0cd-89993a8aeb43","name":"Assistente personale"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1cV08HNil2APCxprs9c1-897WPW0A2fYOJsgfbBWO7-I/edit?tab=t.0#heading=h.aus7ectxvrxx"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-80,160],"id":"4b078a4b-76fa-49e2-a481-ed9769d6fc11","name":"Dati servizio","credentials":{"googleDocsOAuth2Api":{"id":"eqzv3ELefrcMauH1","name":"Google Docs account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Hai il compito di analizzare il messaggio {{ $json.output }} e creare un output che risponda alla domanda fatta dall'utente {{ $('Telegram Trigger').item.json.message.text }} in modo semplice e completo.\n\nNon parlare di appuntamenti e contatti."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,80],"id":"a3742437-7dfa-4f80-af8d-9921d7e4aa5e","name":"OpenAI","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Hai il compito di analizzare il messaggio in entrata {{ $('Assistente personale').item.json.output }} e creare 1 parametro output che contiene la data e l'ora dell'appuntamento richiesto dall'utente.\nSapendo che oggi è {{ $now }}.\nParametro: DateTime: seguendo il formato: YYYY-MM-DDTHH:MM:SSZ\nLe lettere T e Z sono fisse.\nL'ora e il minuto sono estrapolati dal messaggio input.\nLa data è estrapolata dal messaggio input."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,-120],"id":"5f9ea075-7e23-4c3d-a977-32a6e70fd543","name":"OpenAI1","credentials":{"openAiApi":{"id":"KGWrubCDJoZ8doQM","name":"OpenAi account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"16d10487831d08078c44af75e513feea32a9b9c3c682aa077fe24714ac0b2849@group.calendar.google.com","mode":"list","cachedResultName":"Feste e sagre"},"timeMin":"={{ $('OpenAI1').item.json.message.content.DateTime }}","timeMax":"={{ new Date(new Date($('OpenAI1').item.json.message.content.DateTime).setMinutes(new Date($('OpenAI1').item.json.message.content.DateTime).getMinutes() + 20)).toISOString() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[660,-120],"id":"64242369-05ec-4578-b0eb-6d75c4b10c78","name":"Google Calendar","notesInFlow":true,"credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}},"notes":"Cerca disponibilità da 2 ore"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"825d94a6-dc0d-4335-8c3d-c7dcc719a923","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-120],"id":"3c7fe820-79cd-46f7-b8f1-d2247b790198","name":"If"},{"parameters":{"calendar":{"__rl":true,"value":"mantovanifabiomarco@gmail.com","mode":"list","cachedResultName":"mantovanifabiomarco@gmail.com"},"start":"={{ $('OpenAI1').item.json.message.content.DateTime }}","end":"={{ new Date(new Date($('OpenAI1').item.json.message.content.DateTime).setMinutes(new Date($('OpenAI1').item.json.message.content.DateTime).getMinutes() + 20)).toISOString() }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1200,-220],"id":"99cacaf0-428f-40a9-9720-f9ef939a67ed","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Grazie. Appuntamento fissato per la data stabilita.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,-220],"id":"a2d27f3e-0d9b-4e97-8545-b9bdc9247a20","name":"Conferma appuntamento","webhookId":"797563ce-86dc-4113-84e5-16f980183960","credentials":{"telegramApi":{"id":"Ndy0AfAFonquKNzW","name":"Telegram Alfa Trading bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Mi spiace. La data non è disponibile.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,-20],"id":"1900c174-c537-4e3f-8813-428cf37043c4","name":"Nega disponibilità","webhookId":"3160fe4c-193f-4562-afcc-641fa491e148","credentials":{"telegramApi":{"id":"Ndy0AfAFonquKNzW","name":"Telegram Alfa Trading bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Assistente personale').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,80],"id":"443f0a80-7c2a-4fc3-b265-14104f2fd4b5","name":"Rispondi alla richiesta","webhookId":"d8b32d21-d4a2-487c-a0bf-4aa6f1d3167b","credentials":{"telegramApi":{"id":"Ndy0AfAFonquKNzW","name":"Telegram Alfa Trading bot"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"mantovanifabiomarco@gmail.com","mode":"list","cachedResultName":"mantovanifabiomarco@gmail.com"},"timeMin":"={{ $('OpenAI1').item.json.message.content.DateTime}}","timeMax":"={{ new Date(new Date($('OpenAI1').item.json.message.content.DateTime).setMinutes(new Date($('OpenAI1').item.json.message.content.DateTime).getMinutes() + 180)).toISOString() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[980,0],"id":"35b8c840-ac04-4691-8766-4f61501d409f","name":"Google Calendar2","credentials":{"googleCalendarOAuth2Api":{"id":"RncBKSvRUCqan9La","name":"Google Calendar x Social search"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Assistente personale","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Assistente personale","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Assistente personale","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Assistente personale":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Dati servizio":{"ai_tool":[[{"node":"Assistente personale","type":"ai_tool","index":0}]]},"Text Classifier":{"main":[[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Rispondi alla richiesta","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Calendar1","type":"main","index":0}],[{"node":"Google Calendar2","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Conferma appuntamento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"580e6391-2512-463f-bb82-14bb15d3d504","triggerCount":1,"tags":[{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-17T23:26:27.504Z","updatedAt":"2025-02-19T15:58:40.522Z","id":"tL7B60od2zY9lf8X","name":"IN PRODUZIONE!"}]}