workflows/Host your own Uptime Monitoring with Scheduled Triggers.json
{"createdAt":"2025-02-12T00:52:59.606Z","updatedAt":"2025-02-12T01:30:03.000Z","id":"UquVE7zmkpHiDPQQ","name":"Host your own Uptime Monitoring with Scheduled Triggers","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"3cf80506-d53f-46fd-b53d-2f1978cdb436","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-260,-80],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"b0cbcff5-bfcf-46a5-a386-65c4dd56c42f","name":"date","type":"string","value":"={{ $json.headers.date }}"},{"id":"8c4155e4-bcc6-41dd-9582-346a57a7b997","name":"Property","type":"string","value":"={{ $json.Property }}"},{"id":"f0320678-d352-486f-a633-9980c4fc73b2","name":"UP_FROM_UP","type":"boolean","value":"={{ $json.statusCode < 400 && $json.Status === 'UP' }}"},{"id":"61783eb6-a683-44c9-aa0c-5fc5247da9fa","name":"DOWN_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode >= 400 && $json.Status === 'DOWN' }}"},{"id":"1052a69e-4456-445d-bdd9-2765b334cf64","name":"UP_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode < 400 && $json.Status === 'DOWN' }}"},{"id":"9af72278-5b29-406a-b4c5-f47f3d805063","name":"DOWN_FROM_UP","type":"boolean","value":"={{ $json.statusCode >= 400 && $json.Status === 'UP' }}"}]},"options":{}},"id":"caaa68d3-851b-402f-8b9f-adf4dff0f42e","name":"Calculate Status","type":"n8n-nodes-base.set","position":[660,-40],"typeVersion":3.3},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4/edit?usp=drivesdk","cachedResultName":"n8n uptime"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4/edit#gid=0","cachedResultName":"dashboard"},"options":{}},"id":"866d146a-de7b-4f0e-829a-7d8140b750cb","name":"Get Sites","type":"n8n-nodes-base.googleSheets","position":[0,-80],"typeVersion":4.3},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"list","value":"C06RS1WPUQ6","cachedResultName":"general"},"text":"=From: n8n uptime\nDate: {{ $('Calculate Status').item.json[\"date\"] }}\n\n{{ $('Calculate Status').item.json.Property }} is {{ $('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? 'DOWN' : 'UP' }}","otherOptions":{}},"id":"81909744-dba7-4977-9fa2-448ae3913309","name":"Send Chat Alert","type":"n8n-nodes-base.slack","position":[1400,-160],"typeVersion":2.1,"webhookId":"e79d5871-a45c-49b2-82a5-e4ef05c63edc"},{"parameters":{"sendTo":"no-reply@example.com","subject":"=n8n uptime: {{ $('Calculate Status').item.json.Property }} is {{ $('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? 'DOWN' : 'UP' }}","emailType":"text","message":"=From: n8n uptime\nDate: {{ $('Calculate Status').item.json[\"date\"] }}\n\n{{ $('Calculate Status').item.json.Property }} is {{ $('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? 'DOWN' : 'UP' }}","options":{"appendAttribution":false,"senderName":"n8n uptime"}},"id":"525fd955-9b31-45cd-bf44-6d1cc1115806","name":"Send Email Alert","type":"n8n-nodes-base.gmail","position":[1240,-160],"typeVersion":2.1,"webhookId":"acbd4214-4a39-4330-9701-68d2ecdd227b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4/edit?usp=drivesdk","cachedResultName":"n8n uptime"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Calculate Status').item.json.Property }}"},"columns":{"value":{"date":"={{ $json.date }}","period":"={{ new Date($json.date).format(\"yyyy-MM\") }}"},"schema":[{"id":"period","type":"string","display":true,"removed":false,"required":false,"displayName":"period","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date","type":"string","display":true,"required":false,"displayName":"date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Property","type":"string","display":true,"required":false,"displayName":"Property","defaultMatch":false,"canBeUsedToMatch":true},{"id":"UP_FROM_UP","type":"string","display":true,"required":false,"displayName":"UP_FROM_UP","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DOWN_FROM_DOWN","type":"string","display":true,"required":false,"displayName":"DOWN_FROM_DOWN","defaultMatch":false,"canBeUsedToMatch":true},{"id":"UP_FROM_DOWN","type":"string","display":true,"required":false,"displayName":"UP_FROM_DOWN","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DOWN_FROM_UP","type":"string","display":true,"required":false,"displayName":"DOWN_FROM_UP","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{}},"id":"506d4d87-c518-43e1-bf38-750038a0089f","name":"Log Uptime Event","type":"n8n-nodes-base.googleSheets","position":[1240,20],"typeVersion":4.3},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4/edit?usp=drivesdk","cachedResultName":"n8n uptime"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t2RT3lxyxXj3X1y6klWvyhEJEazpkT3Hpi2ttEJRVT4/edit#gid=0","cachedResultName":"dashboard"},"columns":{"value":{"Status":"={{ $json[\"DOWN_FROM_UP\"] || $json[\"DOWN_FROM_DOWN\"] ? 'DOWN' : 'UP' }}","Property":"={{ $json.Property }}"},"schema":[{"id":"Property","type":"string","display":true,"removed":false,"required":false,"displayName":"Property","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Property"]},"options":{}},"id":"50597827-3600-45e4-878e-15180dd09e26","name":"Update Site Status","type":"n8n-nodes-base.googleSheets","position":[1400,20],"typeVersion":4.3},{"parameters":{"url":"={{ $json.Property }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"2a729b5d-95a2-4113-b79f-b3940e7dcc2f","name":"Perform Site Test","type":"n8n-nodes-base.httpRequest","position":[500,-40],"typeVersion":4.2},{"parameters":{"options":{}},"id":"d19fef70-2de3-4267-9582-99c0cca7c721","name":"For Each Site...","type":"n8n-nodes-base.splitInBatches","position":[300,-40],"typeVersion":3},{"parameters":{"content":"## 1. Setting a Schedule\n[Read more about Scheduling Workflows](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/)\n\nSince we expect downtime to be a rare occurance, our monitor should only check infrequently during the day. We'll use a schedule trigger for this purpose.\n\nOnce the schdule activates, we'll pull a list of sites to check from our google sheet.","height":451.46281790887826,"width":533.3167991131336,"color":7},"id":"3e000695-f11f-4160-9d44-2b0fd18af7d9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-320,-340],"typeVersion":1},{"parameters":{"content":"## 2. Perform Site Checks\n[Read more about using HTTP requests](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/)\n\nn8n makes it easy to communicate with external websites by offering a powerful HTTP request node which can handle GET and POST requests as well as pagination.\n\nHere, we're only interested in the status code of our requests.","height":464.2968162619932,"width":596.6620781418152,"color":7},"id":"aae5b36b-53df-4786-a2de-f562675d059a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[240,-260],"typeVersion":1},{"parameters":{"content":"## 3. Sending Alerts and Logging Results\n[Read more about using Switch for powerful control flow](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.switch)\n\nThe switch node is powerful control flow tool that makes your workflows smart. Here, we're able to use Switch to trigger alert notifications whenever we have DOWN status or whenever we get a status change.\n\nWe store the event in our Sites Google Sheet and update the site's status which will be used to calculate our state on the next scheduled run.","height":600.2604061412927,"width":720.3351531809235,"color":7},"id":"5719798f-c5c7-4fd3-812a-48604d74e3fd","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[880,-400],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.UP_FROM_UP }}","rightValue":200}]},"renameOutput":true,"outputKey":"UP_FROM_UP"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f50ae8d6-4359-4163-aedb-fddf100ad676","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.UP_FROM_DOWN }}","rightValue":200}]},"renameOutput":true,"outputKey":"UP_FROM_DOWN"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"417e93d8-08b7-468d-a3bb-f0d395b3026a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.DOWN_FROM_DOWN }}","rightValue":""}]},"renameOutput":true,"outputKey":"DOWN_FROM_DOWN"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7191e7cb-f2e1-4288-aa68-21f6efefafc5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.DOWN_FROM_UP }}","rightValue":""}]},"renameOutput":true,"outputKey":"DOWN_FROM_UP"}]},"options":{}},"id":"a2d25cf7-8c80-4f37-83ac-c68ef15b1f64","name":"Status Router","type":"n8n-nodes-base.switch","position":[940,20],"typeVersion":3},{"parameters":{"content":"## Try It Out!\n### Thie workflow showcases how you can build a simple website monitoring service using Scheduled Triggers and the HTTP Requests node. \n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":299.942498076894,"width":276.590892958905},"id":"e3df890d-f7fa-4cd6-8847-efceb2e196e2","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-640,-340],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨Google Sheet Required!\nYou'll need the following columns:\n* **Property** - the website address to monitor\n* **Status** - either one of \"UP\" or \"DOWN\"","height":379.4991553144906,"width":262.6069985025353},"id":"7e8a3a75-44cd-4191-a827-b525aaae8c8f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[40,0],"typeVersion":1}],"connections":{"Get Sites":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"Status Router":{"main":[[{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0},{"node":"Send Email Alert","type":"main","index":0}],[{"node":"Send Email Alert","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}]]},"Calculate Status":{"main":[[{"node":"Status Router","type":"main","index":0}]]},"For Each Site...":{"main":[[],[{"node":"Perform Site Test","type":"main","index":0}]]},"Log Uptime Event":{"main":[[{"node":"Update Site Status","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Sites","type":"main","index":0}]]},"Send Email Alert":{"main":[[{"node":"Send Chat Alert","type":"main","index":0}]]},"Perform Site Test":{"main":[[{"node":"Calculate Status","type":"main","index":0}]]},"Update Site Status":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"caaffd2b-ebc4-4d2d-add8-49f9e55040dd","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}