workflows/Latest euro exch rate by webhook.json
{"createdAt":"2025-02-27T11:02:15.650Z","updatedAt":"2025-02-27T11:10:38.000Z","id":"w5knxMwrw7dIv1X9","name":"Latest euro exch rate by webhook","active":false,"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"3beaa9c5-1c8a-47fd-9316-35636f3baac6","name":"Respond All Items","type":"n8n-nodes-base.respondToWebhook","position":[1320,400],"typeVersion":1},{"parameters":{"options":{}},"id":"5ac95e8f-284f-4f28-bfce-12d380ac44c0","name":"Respond Asked Item","type":"n8n-nodes-base.respondToWebhook","position":[1320,180],"typeVersion":1},{"parameters":{"path":"eu-exchange-rate","responseMode":"responseNode","options":{}},"id":"8e9dec05-f691-42a6-8884-90fab1eda7f9","name":"Incoming Webhook Trigger","type":"n8n-nodes-base.webhook","position":[-180,200],"webhookId":"309c36da-224c-4023-b989-8f991502b625","typeVersion":1.1},{"parameters":{"url":"={{ \"https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml?\" + Math.floor(Math.random() * (999999999 - 100000000 + 1)) + 100000000 }}","options":{}},"id":"26e1472f-c895-4391-89b2-b9c5489ff4f3","name":"Get latest Euro exchange rates","type":"n8n-nodes-base.httpRequest","position":[60,200],"typeVersion":4.1},{"parameters":{"options":{}},"id":"d5e2ff06-189c-4107-8f51-f36dc1661e65","name":"Convert XML to JSON","type":"n8n-nodes-base.xml","position":[280,200],"typeVersion":1},{"parameters":{"fieldToSplitOut":"['gesmes:Envelope'].Cube.Cube.Cube","options":{}},"id":"50c98699-df4c-4308-9394-995e38aa3c28","name":"Split Out Data","type":"n8n-nodes-base.splitOut","position":[500,200],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c3c32528-8f02-4414-be79-0cb8e18a4cbf","operator":{"type":"object","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Incoming Webhook Trigger').item.json.query }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"94ac50a8-d5ca-4b19-a70d-5511efb52fa0","name":"If Webhook Trigger has URL query","type":"n8n-nodes-base.if","position":[720,200],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b67b8d32-f164-473d-9822-78759b4ea827","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.currency }}","rightValue":"={{ $('Incoming Webhook Trigger').item.json.query.foreign }}"}],"combinator":"and"},"options":{}},"id":"9e844b8d-7984-498d-b29d-b4939b4e1aa5","name":"Filter the currency symbol","type":"n8n-nodes-base.filter","position":[1020,180],"typeVersion":2},{"parameters":{"content":"## Note\n* The HTTP request adds a randomized URL parameter to ensure getting the latest data by prevent caching.\n* The provided data is XML-formatted and therefore converted to JSON formatting.\n\nRead more about Euro foreign exchange reference rates [here](https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html).","height":424.89189189189204,"width":431.3108108108107},"id":"b7c850c2-3afa-455c-a330-4d1a9449821b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Split Out Data":{"main":[[{"node":"If Webhook Trigger has URL query","type":"main","index":0}]]},"Convert XML to JSON":{"main":[[{"node":"Split Out Data","type":"main","index":0}]]},"Incoming Webhook Trigger":{"main":[[{"node":"Get latest Euro exchange rates","type":"main","index":0}]]},"Filter the currency symbol":{"main":[[{"node":"Respond Asked Item","type":"main","index":0}]]},"Get latest Euro exchange rates":{"main":[[{"node":"Convert XML to JSON","type":"main","index":0}]]},"If Webhook Trigger has URL query":{"main":[[{"node":"Filter the currency symbol","type":"main","index":0}],[{"node":"Respond All Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a37451c-fc4d-427b-8c63-669f0b2e020c","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-10T13:32:48.613Z","updatedAt":"2025-02-23T19:53:15.863Z","id":"k5fZTQAhTgrJYO8g","name":"AD USO DEMO"},{"createdAt":"2025-02-12T01:26:18.952Z","updatedAt":"2025-02-12T01:26:18.952Z","id":"ofFBFjWftM02lsvg","name":"FINANCIAL"}]}