workflows/LeadBuild - List social activities before calling.json
{"createdAt":"2025-02-24T14:26:18.756Z","updatedAt":"2025-02-24T14:26:30.000Z","id":"EFKYAG0vzXZt0nO9","name":"LeadBuild - List social activities before calling","active":false,"nodes":[{"parameters":{"url":"https://twitter154.p.rapidapi.com/user/tweets","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"user_id","value":"={{ $json.twitter.id }}"},{"name":"include_replies","value":"={{ false }}"},{"name":"include_pinned","value":"={{ false }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Host","value":"twitter154.p.rapidapi.com"},{"name":"X-RapidAPI-Key","value":"={{ $('Setup').first().json.twitterAPIKey }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"id":"95273329-18c6-43f1-9337-dbc295f6c876","name":"Get recetn tweets","type":"n8n-nodes-base.httpRequest","position":[-760,800],"typeVersion":4.1},{"parameters":{"fields":{"values":[{"name":"linkedInAPIKey"},{"name":"twitterAPIKey"},{"name":"emails"}]},"options":{}},"id":"65a0fb2d-f930-46b1-aed8-6e61f105c3e9","name":"Setup","type":"n8n-nodes-base.set","position":[-1440,360],"typeVersion":3.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"c670a263-1803-4323-930a-4364f1ee78c1","name":"Every morning @ 7","type":"n8n-nodes-base.scheduleTrigger","position":[-1680,360],"typeVersion":1.1},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"milorad.filipovic19@gmail.com","cachedResultName":"milorad.filipovic19@gmail.com"},"options":{"timeMin":"={{ $now.beginningOf('day') }}","timeMax":"={{ $now.endOf('day') }}","singleEvents":true}},"id":"306dbbf0-99c7-4eed-814d-cb7f8daf626d","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[-1080,360],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"domain","type":"arrayValue","arrayValue":"={{ $json.attendees.filter(a => !a.organizer).map(a => a.email.split('@').pop()) }}"},{"name":"attendeeEmails","type":"arrayValue","arrayValue":"={{ $json.attendees.filter(a => !a.organizer).map(a => a.email) }}"}]},"options":{}},"id":"43fd8e7a-af51-4afc-b839-59b4291ee5d4","name":"Get attendees email domains","type":"n8n-nodes-base.set","position":[-880,360],"typeVersion":3.2},{"parameters":{"fieldToSplitOut":"domain","include":"selectedOtherFields","fieldsToInclude":"attendeeEmails, start","options":{}},"id":"8bad2c89-fdec-4791-8764-1d6284993b79","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-700,360],"typeVersion":1},{"parameters":{"url":"https://fresh-linkedin-profile-data.p.rapidapi.com/get-company-posts","sendQuery":true,"queryParameters":{"parameters":[{"name":"linkedin_url","value":"=https://www.linkedin.com/{{ $json.linkedin.handle }}"},{"name":"sort_by","value":"recent"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $('Setup').item.json.linkedInAPIKey }}"},{"name":"X-RapidAPI-Host","value":"fresh-linkedin-profile-data.p.rapidapi.com"}]},"options":{"batching":{"batch":{}}}},"id":"a09070f6-e289-485e-8183-61d40c388a2b","name":"Get recent LinkedIn posts","type":"n8n-nodes-base.httpRequest","position":[-760,600],"typeVersion":4.1},{"parameters":{"domain":"={{ $json.domain }}","additionalFields":{}},"id":"e0f3cc66-6573-445c-83bd-9ed0ea169c86","name":"Enrich attendee company","type":"n8n-nodes-base.clearbit","position":[-360,360],"typeVersion":1},{"parameters":{"sendTo":"={{ $('Setup').first().json.emails }}","subject":"=Latest social activity for: {{ $('Extract data for email').item.json.name }} ","message":"={{ $json.html }}","options":{}},"id":"ff447e53-4e15-4595-a091-e4b8a13f71e9","name":"Gmail","type":"n8n-nodes-base.gmail","position":[320,700],"typeVersion":2.1,"webhookId":"a7d5188b-e648-4d53-bde5-029c1e5c673c"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// console.log('LINKEDIN', $('Enrich attendee company').item.json.name.toLowerCase())\nconst company = $('Enrich attendee company').item.json.name.toLowerCase();\n\nlet html = `\n<div style=\"display: flex; align-items: center; margin: 2em 0 1em\">\n  <img src=\"https://store-images.s-microsoft.com/image/apps.31120.9007199266245564.44dc7699-748d-4c34-ba5e-d04eb48f7960.bc4172bd-63f0-455a-9acd-5457f44e4473\" style=\"width: 20px; height: 20px; margin-right: 10px\" />\n  <h3 style=\"margin: 0\">LinkedIn posts</h3>\n</div>\n<table style=\"width: 100%\">\n`;\nfor(article of $input.item.json.data.slice(0,10)) {\n  html += `\n    <tr>\n      <td style=\"background-color: #f7f9fc; font-family: sans-serif; padding: 0.3em 1em\">\n        <div>\n          <a style=\"display: block; color: #000; text-decoration: none; margin-bottom: 5px; font-size: 1.1em\" href=\"${article.url}\"><i>${article.text}</i></a>\n        </div>\n        <p style=\"margin: 0; font-size: 0.8em\">\n          <span title=\"Likes\">❤️ ${article.num_likes}</span> | <span title=\"Comments\">💬 ${article.num_comments}</span>\n        </p>\n      </td>\n    </tr>\n  `\n}\nhtml += '</table>';\n\nreturn { \n  \"html_linkedin\": html,\n  name: $('Switch').item.json.name,\n  meeting: $('Split Out').item.json\n};"},"id":"ef27f10e-ed67-491c-9794-9725bf1d210f","name":"Format LinkedIn Posts","type":"n8n-nodes-base.code","position":[-540,600],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const company = $('Enrich attendee company').item.json.name.toLowerCase();\nlet html = `\n<div style=\"display: flex; align-items: center; margin: 2em 0 1em\">\n  <img src=\"https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1708473600&semt=ais\" style=\"width: 20px; height: 20px; margin-right: 10px\" />\n  <h3 style=\"margin: 0\">Tweets</h3>\n</div>\n<table style=\"width: 100%\">`;\nfor(article of $input.item.json.results) {\n  html += `\n    <tr>\n      <td style=\"background-color: #f7f9fc; font-family: sans-serif; padding: 0.3em 1em\">\n        <div>\n          <a style=\"display: block; color: #000; text-decoration: none; margin-bottom: 5px; font-size: 1.1em\" href=\"https://twitter.com/${article.user.username}/status/${article.tweet_id}\">\n          <i>${article.text}</i></a>\n        </div>\n        <p style=\"margin: 0; font-size: 0.8em\">\n          <span title=\"Retweets\">🔄 ${article.retweet_count}</span> | <span title=\"Favorites\">❤️ ${article.favorite_count}</span> | <span title=\"Replies\">💬 ${article.reply_count}</span>\n        </p>\n      </td>\n    </tr>\n  `\n}\nhtml += '</table>';\n\nreturn { \n    \"html_twitter\": html,\n    name: $('Switch').item.json.name,\n   meeting: $('Split Out').item.json\n};"},"id":"37aa272f-196f-4be4-be76-cdcc898e3cdf","name":"Format Tweets","type":"n8n-nodes-base.code","position":[-540,800],"typeVersion":2},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"joinMode":"keepEverything","options":{"clashHandling":{"values":{"resolveClash":"preferInput2"}}}},"id":"9bc98e1b-4f36-436c-9135-27575a924596","name":"Combine all activity for a company","type":"n8n-nodes-base.merge","position":[-300,700],"typeVersion":2.1},{"parameters":{"fields":{"values":[{"name":"attendeeEmail","stringValue":"={{ $json.meeting.attendeeEmails.find(a => a.endsWith($json.meeting.domain)) }}"},{"name":"startHour","type":"numberValue","numberValue":"={{ DateTime.fromISO($json.meeting.start.dateTime).hour }}"},{"name":"startMinute","type":"numberValue","numberValue":"={{ DateTime.fromISO($json.meeting.start.dateTime).minute }}"}]},"include":"selected","includeFields":"name, html_twitter, html_linkedin","options":{}},"id":"f8d49d75-5006-4cac-b198-fdbd554ad835","name":"Extract data for email","type":"n8n-nodes-base.set","position":[-120,700],"typeVersion":3.2},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Social media activity for company: {{ $json.name }}</title>\n</head>\n<body>\n  <div class=\"container\">\n     <h2 style=\"font-size: 1.2em\">\n      🗓️ Meeting with \n       <span>{{ $json.attendeeEmail }}</span> \n       at {{ $json.startHour }}:{{ $json.startMinute < 10 ? `0${$json.startMinute}` : $json.startMinute }}h\n    </h2>\n    {{ $json.html_linkedin ?? ''}}\n    {{ $json.html_twitter  ?? ''}}\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  font-family: sans-serif;\n}\n</style>"},"id":"65901ce2-213e-4415-b915-bbc1edbeb1d0","name":"Prepare email template","type":"n8n-nodes-base.html","position":[100,700],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.linkedin.handle !== null }}","rightValue":""}]},"renameOutput":true,"outputKey":"linkedin"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bbb0310e-8b20-4bc6-a540-a4cd17470e28","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.twitter.id !== null }}","rightValue":""}]},"renameOutput":true,"outputKey":"twitter"}]},"options":{"looseTypeValidation":false,"allMatchingOutputs":true}},"id":"33dab040-1f82-4783-89fc-51a2da691e3b","name":"Switch","type":"n8n-nodes-base.switch","position":[-1000,700],"typeVersion":3},{"parameters":{"content":"## Start here\n1️⃣ Register on [RapidAPI](https://rapidapi.com) and subscribe to these two APIs:\n- [Fresh LinkedIn Profile Data](https://rapidapi.com/freshdata-freshdata-default/api/fresh-linkedin-profile-data)\n- [Twitter](https://rapidapi.com/omarmhaimdat/api/twitter154)\n\n\n2️⃣ Set API keys for these two in `linkedInAPIKey` and `twitterAPIKey`fields of this node\n\n3️⃣ Set email addresses that should receive the list in the `emails` field of this node","height":426.61520915049425,"width":409.31582584657923,"color":7},"id":"439d78f6-46b8-43da-b388-d105c6dd1839","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1520,100],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n💡 If you need to get activities from more social media accounts found by ClearBit, they can be added here, just make sure to process them properly in separate switch node branches","height":308.7389742148118,"width":334.90628250854803,"color":7},"id":"f8e7f9e1-b801-48ec-814d-87ec4b46b187","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1220,680],"typeVersion":1},{"parameters":{"content":"### You will receive one email for every company in your calendar. These emails will look something like this:\n\n![hd](https://i.imgur.com/7T8XIX3.png#full-width)","height":717.2835666148258,"width":738.9631933644362,"color":5},"id":"fefdfdd6-6e08-4621-abd4-138a9c0c9242","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-160,-60],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"881d891e-ea17-4879-a5cf-72d08b281f56","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.domain }}","rightValue":""}]},"options":{}},"id":"2c31982a-797c-4d25-8d63-850be2ac65f9","name":"Keep only ones with the domain","type":"n8n-nodes-base.filter","position":[-540,360],"typeVersion":2}],"connections":{"Setup":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get recent LinkedIn posts","type":"main","index":0}],[{"node":"Get recetn tweets","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Keep only ones with the domain","type":"main","index":0}]]},"Format Tweets":{"main":[[{"node":"Combine all activity for a company","type":"main","index":1}]]},"Every morning @ 7":{"main":[[{"node":"Setup","type":"main","index":0}]]},"Get recetn tweets":{"main":[[{"node":"Format Tweets","type":"main","index":0}]]},"Format LinkedIn Posts":{"main":[[{"node":"Combine all activity for a company","type":"main","index":0}]]},"Extract data for email":{"main":[[{"node":"Prepare email template","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Get attendees email domains","type":"main","index":0}]]},"Prepare email template":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Enrich attendee company":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get recent LinkedIn posts":{"main":[[{"node":"Format LinkedIn Posts","type":"main","index":0}]]},"Get attendees email domains":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Keep only ones with the domain":{"main":[[{"node":"Enrich attendee company","type":"main","index":0}]]},"Combine all activity for a company":{"main":[[{"node":"Extract data for email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"503c94a6-144f-44b7-afc4-1923d4740ad0","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}