workflows/Leadbuild - Latest company news before a call.json
{"createdAt":"2025-02-24T14:25:23.166Z","updatedAt":"2025-02-24T14:26:41.000Z","id":"uu10FKVTZtpa659i","name":"Leadbuild - Latest company news before a call","active":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"apiKey","stringValue":"32aa914c947342169c4998b6701a77e0"},{"name":"newsAge","type":"numberValue","numberValue":"10"},{"name":"maxArticles","stringValue":"20"},{"name":"emails"}]},"options":{}},"id":"1121388f-6a11-43c6-86e6-2afbda86505b","name":"Setup","type":"n8n-nodes-base.set","position":[-20,360],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"companyName","stringValue":"={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"}]},"options":{}},"id":"7002aea5-a5a4-475b-9142-e53a135d2404","name":"Extract company name","type":"n8n-nodes-base.set","position":[660,160],"typeVersion":3.2},{"parameters":{"content":"### Latest company news before a call\n\nThis workflow will send you a list of latest news about a company for every meeting in your calendar each day, keeping you up to date with your leads and meeting partners.\n","height":192,"width":436,"color":4},"id":"637ee494-9ced-4845-998e-2a4a439893ff","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-240,0],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"3834dc3f-2539-4385-b8cb-c76585800c3a","name":"Every morning @ 7","type":"n8n-nodes-base.scheduleTrigger","position":[-240,360],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"bcfb06b1-d365-43a8-9802-869529baca98","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"call with"},{"id":"4ea43ccf-d586-4985-87db-fc1e9f734351","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"meeting with"}]},"options":{}},"id":"3dbeba28-556a-4ca0-83b6-5b62427d1404","name":"Filter meetings","type":"n8n-nodes-base.if","position":[400,360],"typeVersion":2},{"parameters":{"url":"=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title","options":{}},"id":"cf780b49-c185-4448-b24b-5a65860bf5bd","name":"Get latest news","type":"n8n-nodes-base.httpRequest","position":[860,160],"typeVersion":4.1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"},"id":"9cb5f129-a6b9-4990-96ca-e090b91f2c3b","name":"Format for email","type":"n8n-nodes-base.code","position":[1060,160],"typeVersion":2},{"parameters":{"sendTo":"={{ $('Setup').first().json.emails }}","subject":"=Latest news for '{{ $('Extract company name').item.json.summary }}'","message":"={{ $json.html }}","options":{}},"id":"e0c17576-3f4b-4e72-9ec4-d5124a011208","name":"Send news","type":"n8n-nodes-base.gmail","position":[1260,160],"typeVersion":2.1,"webhookId":"698b0106-da48-46b9-91c2-f2680e087b6c"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas","height":511.499984507795},"id":"f4b2f2b5-7fea-45e3-919b-5d5d7fa5ec97","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[40,440],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\nThis will get all meetings that start with *Meeting with* or *Call with* but feel free to update the filter to suit your needs.","height":275.2500697149263,"width":231.52514020446353},"id":"a3255ad5-eade-494b-96d3-6901d8b989e4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[460,420],"typeVersion":1},{"parameters":{},"id":"8fad4c7e-1017-4685-bd95-20257e52caa6","name":"No meetings today","type":"n8n-nodes-base.noOp","position":[1260,380],"typeVersion":1},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"milorad.filipovic19@gmail.com","cachedResultName":"milorad.filipovic19@gmail.com"},"options":{"timeMin":"={{ $today }}","timeMax":"={{ $today.plus({ days: 1 }) }}","singleEvents":true}},"id":"1a182d6b-8620-45f5-b708-ad02f0b8f61a","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[220,360],"typeVersion":1}],"connections":{"Setup":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Filter meetings":{"main":[[{"node":"Extract company name","type":"main","index":0}],[{"node":"No meetings today","type":"main","index":0}]]},"Get latest news":{"main":[[{"node":"Format for email","type":"main","index":0}]]},"Format for email":{"main":[[{"node":"Send news","type":"main","index":0}]]},"Every morning @ 7":{"main":[[{"node":"Setup","type":"main","index":0}]]},"Extract company name":{"main":[[{"node":"Get latest news","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Filter meetings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7b72c776-7697-40b2-8554-3267e8435c6f","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}