workflows/Merge multiple runs into one.json
{"createdAt":"2025-02-23T12:15:12.753Z","updatedAt":"2025-02-23T18:09:51.000Z","id":"ogL7vqcHokbiCCvS","name":"Merge multiple runs into one","active":false,"nodes":[{"parameters":{},"id":"a71641d5-3608-4fce-9e9c-b08cd7a16dc4","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-260,-180],"typeVersion":1},{"parameters":{"operation":"getAllPeople"},"id":"44a7bcf8-30fb-444f-a2f9-ddc984a8a51a","name":"Customer Datastore","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","position":[140,-60],"typeVersion":1},{"parameters":{"unit":"seconds"},"id":"bc8e6792-bba6-41fe-a3a1-424c10abdb39","name":"Wait","type":"n8n-nodes-base.wait","position":[580,-60],"webhookId":"bfa744d6-ed39-4788-a6b5-836600f368bc","typeVersion":1},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Loop Over Items\"].context[\"noItemsLeft\"]}}","value2":true}]}},"id":"4fa77887-e7dc-43fd-b1a9-1446e8f96d56","name":"Done looping?","type":"n8n-nodes-base.if","position":[1020,-60],"typeVersion":1},{"parameters":{"jsCode":"let results = [],\n  i = 0;\n\ndo {\n  try {\n    results = results.concat($(\"NoOp\").all(0, i));\n  } catch (error) {\n    return results;\n  }\n  i++;\n} while (true);\n"},"id":"3548f711-8583-4788-82a4-9c4f1a43f09c","name":"Merge loop items","type":"n8n-nodes-base.code","position":[1240,-60],"typeVersion":1},{"parameters":{},"id":"9e1cf57f-24bd-484e-a5c8-f303cce447f1","name":"NoOp","type":"n8n-nodes-base.noOp","position":[800,-60],"typeVersion":1},{"parameters":{"options":{}},"id":"cda1dbd0-81a7-4f79-b659-bb85d1e2125c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[400,-60],"typeVersion":3},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,-20],"id":"a603a370-5910-4512-852d-2b6d565c8078","name":"Code"}],"connections":{"NoOp":{"main":[[{"node":"Done looping?","type":"main","index":0}]]},"Wait":{"main":[[{"node":"NoOp","type":"main","index":0}]]},"Done looping?":{"main":[[{"node":"Merge loop items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Customer Datastore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Customer Datastore","type":"main","index":0}]]},"Code":{"main":[[{"node":"Customer Datastore","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7460e26-db82-454d-8b1a-948a1d500cf8","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}