workflows/Merge binary obj on multiple items into a single one.json
{"createdAt":"2025-02-24T14:38:55.271Z","updatedAt":"2025-02-24T14:38:59.000Z","id":"d9zRVB3ECVU8omtV","name":"Merge binary obj on multiple items into a single one","active":false,"nodes":[{"parameters":{},"id":"dbc6983e-e2dd-493d-9ce7-f597920eeb7f","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-300,80],"typeVersion":1},{"parameters":{"jsCode":"return [{\n  json: {\n    url: \"https://static.thomasmartens.eu/n8n/file01.jpg\"\n  }\n}, {\n  json: {\n    url: \"https://static.thomasmartens.eu/n8n/file02.jpg\"\n  }\n}, {\n  json: {\n    url: \"https://static.thomasmartens.eu/n8n/file03.jpg\"\n  }\n}]"},"id":"57b7cfb1-95ba-4510-b6d4-4a033dea17c6","name":"Set URLs","type":"n8n-nodes-base.code","position":[-80,80],"typeVersion":1},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"9cc8d12e-0f1d-413c-b495-4bc42dc1e3f6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[140,80],"typeVersion":4},{"parameters":{"jsCode":"let binaries = {}, binary_keys = [];\n\nfor (const [index, inputItem] of Object.entries($input.all())) {\n  binaries[`data_${index}`] = inputItem.binary.data;\n  binary_keys.push(`data_${index}`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];\n"},"id":"9323d00e-abf9-4ae3-82e0-3fdc4c381999","name":"Merge items","type":"n8n-nodes-base.code","position":[360,80],"typeVersion":1},{"parameters":{"content":"## Example data\nThese nodes simply download some example files to work with.","height":304,"width":394},"id":"2149b6c1-7aca-43d3-857a-199a7ef933b2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-120,-60],"typeVersion":1},{"parameters":{"content":"## Transformation\nThis is where the magic happens. Multiple items with one binary object each are being transformed into one item with multiple binary objects.","height":307,"width":304},"id":"94e28c88-cb20-4ee2-81c2-bdb31bc7f982","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[300,-60],"typeVersion":1}],"connections":{"Set URLs":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge items","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set URLs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"98690521-bffa-42cd-8ce0-df1809c260cb","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}