workflows/PA Calendar Agent.json
{"createdAt":"2025-02-16T12:17:31.653Z","updatedAt":"2025-02-16T12:17:31.653Z","id":"10ndLGRht9maZCPN","name":"PA Calendar Agent","active":false,"nodes":[{"parameters":{},"id":"31471672-fc5b-4935-b6d9-5268b816c61b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"options":{}},"id":"9a4db5b7-9cda-43ea-8708-9d27d1cbacdc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[120,220]},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"startTime\") }}","end":"={{ $fromAI(\"endTime\") }}","additionalFields":{"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"d4d7c128-05c7-4b50-a5aa-227a683a12b7","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[240,220]},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"startTime\") }}","end":"={{ $fromAI(\"endTime\") }}","additionalFields":{"attendees":["={{ $fromAI(\"attendee\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"id":"bc08ae71-b019-4222-9002-014fa7cb581c","name":"Create Event with Attendee","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[360,220]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $fromAI(\"ondDayBefore\",\"one day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"ondDayAfter\",\"one day after the date the user requested\") }}"}},"id":"852a5ec3-2dcb-44a5-96f2-ebe7643d1c3b","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[480,220]},{"parameters":{"assignments":{"assignments":[{"id":"db40c217-79fb-4e81-a798-d8899176af18","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"50d9d3d1-027f-46cd-94aa-7510724c2d95","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,0]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them. "}},"id":"4b6df576-ac15-44ad-88d2-20793262333e","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c03021ab-ae24-44d7-94ec-7f5d43273dc2","triggerCount":0,"tags":[]}