workflows/PC Evaluator Optimizer.json
{"createdAt":"2025-02-16T12:40:09.107Z","updatedAt":"2025-02-16T12:40:09.107Z","id":"QVpwklshtevNcTVT","name":"PC Evaluator Optimizer","active":false,"nodes":[{"parameters":{"content":"# Evaluator-Optimizer\n✅ Ensures High-Quality Outputs – AI doesn’t just generate code, it verifies and refines until all requirements are met.\n\n✅ Reduces Errors & Manual Review – Automates verification, minimizing the need for human debugging.\n\n✅ Flexible & Scalable – Can be adapted to content generation, structured data validation, and UI text refinement.\n\n✅ Optimized AI Performance – The iterative approach ensures continuous improvement of AI-generated responses.","height":220,"width":820,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3b42725d-a8fa-4ce9-9859-edaa99d19174","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-100,340],"id":"d26eb6e4-c41c-44a5-90f9-c81ad9a168aa","name":"When chat message received","webhookId":"fab30ad7-8a5a-4477-be98-1aa43b92b052"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[760,680],"id":"2067eec5-4655-48cb-8b9b-f2b2d5a96dde","name":"4o mini"},{"parameters":{"options":{"systemMessage":"=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,340],"id":"b3724fe6-6d1c-48d9-beff-4d06e1e40cb1","name":"Biography Agent"},{"parameters":{"promptType":"define","text":"=Here is the biography:\n{{ $json.bio }}","options":{"systemMessage":"=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[700,340],"id":"7069d6f5-0f66-4fdf-8250-f9051c6b1738","name":"Evaluator Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d931f3d-b391-4be9-a50a-cc4a73c31b71","leftValue":"={{ $json.output }}","rightValue":"Finished","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,340],"id":"b9a6fc4d-f7e1-48cf-ac54-24389b5a414b","name":"Evaluate"},{"parameters":{"promptType":"define","text":"=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1380,420],"id":"518f6d39-780b-4c2e-91e0-2c190bcc5d34","name":"Optimizer Agent"},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Set Bio').item.json.bio }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1460,200],"id":"2b83720c-da3f-4ac0-9ee4-29d95b1b5007","name":"Push to Docs"},{"parameters":{"assignments":{"assignments":[{"id":"adf17d4d-a89e-4f97-9d31-5e74834428fc","name":"bio","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,340],"id":"44e3a8b9-7b48-446e-901f-244789eb13e4","name":"Set Bio"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[920,680],"id":"415529dc-b2f5-48cb-9714-86fdb06b687e","name":"DeepSeek R1"}],"connections":{"When chat message received":{"main":[[{"node":"Biography Agent","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Biography Agent","type":"ai_languageModel","index":0},{"node":"Evaluator Agent","type":"ai_languageModel","index":0},{"node":"Optimizer Agent","type":"ai_languageModel","index":0}]]},"Biography Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Evaluator Agent":{"main":[[{"node":"Evaluate","type":"main","index":0}]]},"Evaluate":{"main":[[{"node":"Push to Docs","type":"main","index":0}],[{"node":"Optimizer Agent","type":"main","index":0}]]},"Optimizer Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Set Bio":{"main":[[{"node":"Evaluator Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"aa302ee3-8b58-4dbb-a21a-c3175607fb0e","triggerCount":0,"tags":[]}