workflows/PC Prompt chaining.json
{"createdAt":"2025-02-16T12:39:01.143Z","updatedAt":"2025-02-16T12:39:01.143Z","id":"R1pG2eqTLj8rrp6w","name":"PC Prompt chaining","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,640],"id":"e7183a1d-f7b8-4ab4-8332-25e7785fb07c","name":"4o mini"},{"parameters":{"promptType":"define","text":"=Here is the topic to write a blog about: {{ $json.chatInput }}","options":{"systemMessage":"# Overview\nYou are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,380],"id":"37016452-aa57-45b6-9ae1-ca61352ecef7","name":"Outline Writer"},{"parameters":{"content":"# Prompt Chaining\n ✅ Improved Accuracy and Quality – Each step focuses on a specific task, reducing errors and hallucinations.\n\n ✅ Greater Control Over Each Step – You can refine or tweak individual steps without affecting the entire process.\n\n ✅ Specialization Leads to More Effective AI Agents – Each AI agent becomes a specialist rather than a generalist, improving reliability.\n\n ✅ Easier Debugging and Optimization – If an output isn’t ideal, you only need to fix the weak link rather than redoing everything.\n\n ✅ More Scalable and Reusable Workflows – A structured, step-by-step workflow can be repurposed for different use cases.\n","height":260,"width":940,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"854c928e-eb8b-4d59-8724-3604c4e92aca","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Here is the outline: \n\n{{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog evaluator. Revise this outline and ensure it covers the following key criteria: \n(1) Engaging Introduction \n(2) Clear Section Breakdown\n(3) Logical Flow\n(4) Conclusion with Key Takeaways\n\n## Output\nOnly output the revised outline."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,380],"id":"81fb45d9-6c9f-42e7-9af2-6eba3beadd9f","name":"Outline Evaluation"},{"parameters":{"promptType":"define","text":"=Here if the revised outline: {{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog writer. Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,380],"id":"548b6a25-5a1f-4f72-809b-68762a199fbc","name":"Blog Writer"},{"parameters":{"operation":"update","simple":false,"actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1220,380],"id":"ba17b3f7-dbd2-4397-ba47-662b7797ed6c","name":"Post to Docs"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1060,640],"id":"66af763e-16d1-4eca-9e28-f2d929c72589","name":"DeepSeek R1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[20,380],"id":"58a24d57-47a9-4297-a579-3e389119779a","name":"When chat message received","webhookId":"8b5d17e6-9356-437e-a97a-4f4027e6451d"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,640],"id":"47a81da3-499a-4878-8255-235f17162e30","name":"2.0 Flash"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[920,640],"id":"4ceaef28-b9a6-4540-badf-cc98e5256ca6","name":"Claude 3.5"},{"parameters":{"content":"[Tutorial](hhttps://www.youtube.com/watch?v=nSQnJoqK4DQ)","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,180],"id":"2a732685-edf1-41bf-a555-da40306eede5","name":"Sticky Note1"}],"connections":{"4o mini":{"ai_languageModel":[[{"node":"Outline Evaluation","type":"ai_languageModel","index":0}]]},"Outline Writer":{"main":[[{"node":"Outline Evaluation","type":"main","index":0}]]},"Outline Evaluation":{"main":[[{"node":"Blog Writer","type":"main","index":0}]]},"Blog Writer":{"main":[[{"node":"Post to Docs","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Outline Writer","type":"main","index":0}]]},"2.0 Flash":{"ai_languageModel":[[{"node":"Outline Writer","type":"ai_languageModel","index":0}]]},"Claude 3.5":{"ai_languageModel":[[{"node":"Blog Writer","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6b6b4399-4a44-445b-8e6c-82722d05f3c1","triggerCount":0,"tags":[]}