workflows/RAG Chatbot for Company Documents using Google Drive and Gemini.json
{"createdAt":"2025-02-12T00:22:36.728Z","updatedAt":"2025-02-12T01:44:43.000Z","id":"bmIBbxFeBed9HybM","name":"RAG Chatbot for Company Documents using Google Drive and Gemini","active":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"9b38ee44-85fc-4af1-8fee-785b7a439c86","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-180,120],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"4dcdd5c5-7959-4edd-bfa5-f90740f4c688","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-220,400],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"9b2faf51-e9ff-4db3-a545-ea4e883fc98c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-20,340],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"07ec5dd5-0e5f-41e8-8323-9747c878ae38","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-40,540],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"e4f082f8-c1e9-426d-9d59-9dc81e41036c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-440,960],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"5c3a590f-b401-460b-865f-679084659c28","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[-40,1180],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"664b6595-2001-42fc-9f94-3e4f06b208a7","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-140,1360],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"a983cdbd-a004-48df-92a8-a4115e35f7aa","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-160,1520],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"ae551449-7d3a-4167-80e0-010c00b2b2b7","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-400,120],"typeVersion":3},{"parameters":{"content":"## Chat with company documents"},"id":"e224a9ba-f2d9-4275-8b33-709b0484c570","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-440,780],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileUpdated","options":{}},"id":"41cb7ebd-28bb-436e-9df1-9df5ae9c7349","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-720,260],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileCreated","options":{"fileType":"all"}},"id":"a0b237b7-787f-43c9-902c-e4ab3ff9290f","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-720,0],"typeVersion":1},{"parameters":{},"id":"e3be1f6f-2a23-4b00-a77e-51b4f3e67228","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-360,1260],"typeVersion":1.3},{"parameters":{"options":{}},"id":"71b4f54d-62d5-4946-b624-24cfc858ac88","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-780,960],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"c5e038a6-517a-4fea-b50d-32a36842bcc1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-420,-120],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"873b754a-8d99-4e28-8694-a67624970604","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-540,1260],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"e450cb1f-7f45-45c9-91c3-1b3557f32f07","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[220,1360],"typeVersion":1},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"b5f5c618-cdf8-45df-8c53-ca82b6ef7fc2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1400,340],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9115aabe-cd6c-4129-a37a-2a9685e0949e","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}