workflows/Scale Deal Flow with a Pitch Deck AI Vision, Chatbot and QDrant Vector Store.json
{"createdAt":"2025-02-12T00:49:41.465Z","updatedAt":"2025-02-12T01:31:50.000Z","id":"2qkh5FU2oRUKgJ3J","name":"Scale Deal Flow with a Pitch Deck AI Vision, Chatbot and QDrant Vector Store","active":false,"nodes":[{"parameters":{},"id":"3484de3c-8cb2-4e83-8916-f15c5c83891b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[640,340],"typeVersion":1},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"id":"13790039-bfcf-4a77-8d6f-3ea99a353ce3","name":"Sort Pages","type":"n8n-nodes-base.sort","position":[3140,520],"typeVersion":1},{"parameters":{"method":"POST","url":"http://stirlingpdf.io/api/v1/convert/pdf/img","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"fileInput","inputDataFieldName":"data"},{"name":"imageFormat","value":"jpg"},{"name":"singleOrMultiple","value":"multiple"},{"name":"dpi","value":"300"}]},"options":{}},"id":"f1b8d34c-cd36-4995-9bf1-5bb1d493566a","name":"Split PDF into Images","type":"n8n-nodes-base.httpRequest","position":[2600,520],"typeVersion":4.2},{"parameters":{},"id":"20f4ff22-2dcd-4843-9322-13064a177975","name":"Extract Zip File","type":"n8n-nodes-base.compression","position":[2780,520],"typeVersion":1.1},{"parameters":{"jsCode":"let results = [];\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"id":"3055bdfe-5ed3-452f-8cc9-7f944019a6c2","name":"Images To List","type":"n8n-nodes-base.code","position":[2960,520],"typeVersion":2},{"parameters":{"content":"## 3. Split PDF Pages into Seperate Images\n\nCurrently, the vision model we'll be using can't accept raw PDFs so we'll have to convert our PDF to a image in order to use it. To achieve this, we'll use the free [Stirling PDF webservice](https://stirlingpdf.io/) for convenience but if we need data privacy (recommended!), we could self-host our own [Stirling PDF instance](https://github.com/Stirling-Tools/Stirling-PDF/) instead. Alternatively, feel free to swap this service out for one of your own as long as it can convert PDFs into images!\n\nWe will ask the PDF service to return each page of our statement as separate images, which it does so as a zip file. Next steps is to just unzip the file and convert the output as a list of images.","height":533.5469767441862,"width":848.0232558139535,"color":7},"id":"d870149e-0398-473b-92aa-62fd02b1ba53","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2500,200],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Privacy Warning!\nThis example uses a public third party service. If your data is senstive, please swap this out for the self-hosted version!","height":374.95069767441856,"width":199.23348837209306},"id":"ac6b1b46-f629-4003-955b-688ad7894ff6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2680,600],"typeVersion":1},{"parameters":{"operation":"resize","width":50,"height":50,"resizeOption":"percent","options":{}},"id":"f644240f-e7c3-4ded-84d9-5e07c755adf8","name":"Resize Images For AI","type":"n8n-nodes-base.editImage","position":[3540,560],"typeVersion":1},{"parameters":{"content":"## 4. Convert PDF Pages to Markdown Using Vision Model\n[Learn more about using the Basic LLM node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nPitch decks are fundamentally extravagant sales documents and as such, are incredibly varied in how they are styled, structured and presented. Traditional OCR has often struggled with parsing these kinds of documents as layers and graphical elements and when extracting their contents typically yields poor results; either garbled or missing texts.\n\nMultimodal LLMs are a solution as they use AI vision to \"read\" the pitch deck and can reason about it's layout and intent. Images can be understood and described with context and charts and graphs can also be interpreted. In this demonstration, we'll ask our LLM to transcribe each page in the pitch deck into markdown ensuring it also describes any images or charts it sees.","height":636.0809302325588,"width":775.3441860465115,"color":7},"id":"fea7d614-e740-4612-8b35-0c035cab618f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3380,240],"typeVersion":1},{"parameters":{"content":"## 5. Extract Key Data Confidently From Statement\n[Read more about the Information Extractor](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.information-extractor)\n\nWith our generated markdown, we can use an information extractor node to extract required information or data point from the pitch deck. This can be useful to generate reports and later compare pitch decks against each other. Here, we'll retain the extracted data by updating the relevant row in our Airtable database.","height":518.7793488372092,"width":814.0329302325591,"color":7},"id":"42eff379-c199-4032-948e-69d5b0358a07","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4200,220],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text","renameField":true,"outputFieldName":"pages"}]},"options":{}},"id":"084ffdcd-144e-495d-831f-1ac0dedef84f","name":"Combine All Pages","type":"n8n-nodes-base.aggregate","position":[4280,420],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.text }}","options":{"metadata":{"metadataValues":[{"name":"name","value":"={{ $('Execute Workflow Trigger').first().json.Name }}"}]}}},"id":"2be2a056-cb91-4924-8139-48ab0b66a046","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[4800,1240],"typeVersion":1},{"parameters":{"chunkSize":2048,"options":{}},"id":"d36ff3ae-412c-40fa-bfe8-445949bb6ab6","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[4800,1380],"typeVersion":1},{"parameters":{"options":{}},"id":"0221c45f-f866-42f8-acc8-a30817762705","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[5740,1200],"typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"15e8bb5c-4fb6-4908-bf48-5b43dbf9edde","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[4460,580],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"12317c95-7ddd-424d-b0e8-4045a6c1a401","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[4680,1240],"typeVersion":1},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/pitchdecks/points/delete","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"filter\": {\n    \"must\": {\n      \"key\": \"metadata.name\",\n      \"match\": {\n        \"value\": $('Execute Workflow Trigger').first().json.Name\n      }\n    }\n  }\n}\n}}","options":{}},"id":"42794522-cc7f-4d52-bf1b-e9c94b3656ad","name":"Delete Existing Vectors","type":"n8n-nodes-base.httpRequest","position":[4320,1080],"executeOnce":true,"typeVersion":4.2},{"parameters":{"mode":"chooseBranch"},"id":"2545d337-c3e0-403a-8b04-5448a9fcad54","name":"Continue With Pages Only","type":"n8n-nodes-base.merge","position":[4500,1080],"typeVersion":3},{"parameters":{"operation":"upsert","base":{"__rl":true,"mode":"id","value":"appCkqc2jc3MoVqDO"},"table":{"__rl":true,"mode":"id","value":"tblI660SRJAOlSx3p"},"columns":{"value":{"DAUs":"={{ $json.output.current_number_of_DAU.toString() }}","Name":"={{ $('Execute Workflow Trigger').first().json.Name }}","Email":"={{ $json.output.email }}","Phone":"={{ $json.output.phone }}","Address":"={{ $json.output.address }}","SignUps":"={{ $json.output.current_number_of_signups.toString() }}","Twitter":"={{ $json.output.twitter }}","Founders":"={{ $json.output.founders.join(', ') }}","LinkedIn":"={{ $json.output.linkedin }}","Traction":"={{ $json.output.traction }}","Investors":"={{ $json.output.current_investors.join(', ') }}","Team Size":"={{ $json.output.team_size.toString() }}","Verticals":"={{ $json.output.verticals.join(', ') }}","Location HQ":"={{ $json.output.location }}","Amount Raised":"={{ $json.output.amount_raised }}","Founding Year":"={{ $json.output.founding_year }}","Funding Stage":"={{ $json.output.funding_stage }}","Business Model":"={{ $json.output.business_model }}","Is Interesting":"={{ $json.output.is_interesting }}","Current Revenue":"={{ $json.output.current_revenue }}","Amount Requested":"={{ $json.output.amount_requested }}","Executive Summary":"={{ $json.output.executive_summary }}","Market Validation":"={{ $json.output.market_validation_summary }}","Value Proposition":"={{ $json.output.value_proposition }}","Compatible with VC":"={{ $json.output.compatible_with_venture_capital }}","Geographical Markets":"={{ $json.output.geographical_markets.join(', ') }}","Requires Fact-Checking":"={{ $json.output.items_requiring_factchecking.join(', ') }}"},"schema":[{"id":"id","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"File","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Executive Summary","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Executive Summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Is Interesting","type":"boolean","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Is Interesting","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Founding Year","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Founding Year","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Funding Stage","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Funding Stage","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Investors","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Investors","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Amount Raised","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Amount Raised","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Amount Requested","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Amount Requested","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Current Revenue","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Current Revenue","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SignUps","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"SignUps","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DAUs","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"DAUs","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Traction","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Traction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Compatible with VC","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Compatible with VC","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Business Model","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Business Model","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Value Proposition","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Value Proposition","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Market Validation","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Market Validation","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Geographical Markets","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Geographical Markets","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Verticals","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Verticals","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Founders","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Founders","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Location HQ","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Location HQ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Address","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Phone","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"LinkedIn","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Twitter","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Twitter","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Team Size","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Team Size","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Requires Fact-Checking","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Requires Fact-Checking","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Created","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Created","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Modified","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Last Modified","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Name"]},"options":{}},"id":"d1e8093f-017c-4a34-a9ad-7ed6a8dbb03b","name":"Update Pitchdecks Table","type":"n8n-nodes-base.airtable","position":[4800,420],"typeVersion":2.1},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"id","value":"appCkqc2jc3MoVqDO"},"table":{"__rl":true,"mode":"id","value":"tblI660SRJAOlSx3p"},"filterByFormula":"=AND(\n  Name != \"\",\n  File,\n  OR(\n    {Executive Summary} = \"\",\n    {Executive Summary} = BLANK()\n  )\n)","returnAll":false,"limit":1,"options":{}},"id":"a5721f0c-2a57-4cc6-b075-e1436a4f191a","name":"Search Pending Rows","type":"n8n-nodes-base.airtable","position":[840,340],"typeVersion":2.1},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.fields || $json }}\n","options":{}},"id":"c1189cd1-9b50-4492-9db0-7272f2f262fb","name":"Get Row","type":"n8n-nodes-base.set","position":[1020,520],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2ef90345-6c34-4f2a-82e6-c79f6fe49975","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.Name }}","rightValue":""},{"id":"4af233ee-0f4b-4de4-9eb4-cc9ed9f8ebe9","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.File }}","rightValue":""}]},"options":{}},"id":"7c419566-a2b3-43c2-aa4e-7b3f234a5621","name":"Prequisites Met","type":"n8n-nodes-base.if","position":[1180,520],"typeVersion":2.2},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{}},"id":"34781f02-fcca-4f61-a1a1-036a6790b97c","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1380,340],"typeVersion":1.1},{"parameters":{},"id":"9af2f7e6-ff58-4312-a4e0-ba15b6047429","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1380,520],"typeVersion":1},{"parameters":{},"id":"1e291109-3512-411b-9860-2aaaf4f33539","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1720,520],"typeVersion":1},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"376e7e85-cb99-4bff-a5b7-1754cd9039e5","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[2080,520],"typeVersion":1},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"data.pdf","mimeType":"application/pdf"}},"id":"7ffa444a-9620-4b61-acc0-a5e32b9513c1","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[2260,520],"typeVersion":1.1},{"parameters":{"content":"## 6. Build a Vector Store Collection for the Pitch Deck\n[Read more about Qdrant Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant)\n\nWhen it comes to pitch deck, it may not be enough to capture static attributes in table. Wouldn't it be cool if we could also ask questions about the pitch deck itself? Well, thanks for n8n's first class support for vector stores, you can and quite easily too!\n\nIn this demonstration, we'll use the Qdrant Vector Store which you can either sign-up for a free instance at https://qdrant.tech or self-host via docker. Next, it's a simple case of just funneling our transcribed pages into the vector store using the Qdrant Vector Store node.","height":769.9451162790697,"width":910.9613023255822,"color":7},"id":"b5e2ecb1-a1dc-4d98-a6ca-71596c776824","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[4200,780],"typeVersion":1},{"parameters":{"options":{}},"id":"be2f0c7a-73b0-4618-a2cc-cade2779ef0d","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[5440,1200],"typeVersion":1},{"parameters":{"name":"get_company_pitchdeck","description":"Call this tool to search for information contained in a startup/company's pitchdeck."},"id":"50364ca7-7fd7-4e69-afac-8e15b1a88643","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[5980,1200],"typeVersion":1},{"parameters":{"options":{}},"id":"87aed789-893d-466c-b12d-71ebc74cd304","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[6120,1340],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6aebecae-89c4-4773-8a49-d6a8361962bf","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[5860,1460],"typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"ebdb9315-7066-4c20-a813-73662857329f","name":"OpenAI Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3720,720],"typeVersion":1},{"parameters":{"text":"= {{ $json.pages.join('---') }}","schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n    \t\"startup_name\": { \"type\": \"string\" },\n        \"founders\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n\t\t\"founding_year\": { \"type\": \"string\" },\n        \"team_size\": { \"type\": \"number\" },\n        \"location\": { \"type\": \"string\" },\n        \"address\": { \"type\": \"string\" },\n        \"phone\": { \"type\": \"string\" },\n        \"email\": { \"type\": \"string\" },\n        \"linkedin\": { \"type\": \"string\" },\n        \"twitter\": { \"type\": \"string\" },\n\n        \"funding_stage\": { \"type\": \"string\" },\n        \"current_investors\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"amount_raised\": { \"type\": \"string\" },\n        \"current_revenue\": { \"type\": \"string\" },\n        \"current_number_of_signups\": { \"type\": \"number\" },\n        \"current_number_of_DAU\": { \"type\": \"number\" },\n\n        \"business_model\": { \"type\": \"string\" },\n        \"geographical_markets\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"verticals\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },   \n        \"value_proposition\": { \"type\": \"string\" },\n        \"market_validation_summary\": { \"type\": \"string\" },\n        \"traction\": { \"type\": \"string\", \"description\": \"a summary of the amount of traction claimed\" },\n        \"amount_requested\": { \"type\": \"string\", \"description\": \"A range\" },\n        \"compatible_with_venture_capital\": { \"type\": \"boolean\" },\n\n        \"executive_summary\": { \"type\": \"string\" },\n        \"items_requiring_factchecking\":  { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"is_interesting\": { \"type\": \"boolean\" }\n \t}\n}","options":{"systemPromptTemplate":"You are playing the role of a Venture Capitalist with the following persona:\n\nLocation: San Francisco, California, USA\n\n## Background \n* Education: Bachelor's in Finance from the University of California, Berkeley. MBA from Stanford Graduate School of Business.\n* Career: Started as an investment banker at Goldman Sachs, then transitioned into venture capital as a junior partner at a mid-sized VC firm in Silicon Valley. Founded his own VC firm, Harper Capital, after several successful investments in early-stage startups. With over 15 years of experience, Jim has built a reputation for identifying promising startups and helping them scale.\n* Track Record: His early investments in fintech companies like Plaid and Robinhood brought significant returns. Currently managing a $500 million fund focused on early-stage startups.\n* Industry Focus: Fintech\n\nJim is particularly passionate about financial technology startups, especially those disrupting traditional banking, payment systems, and lending. He’s interested in companies that promote financial inclusion, simplify personal finance, or democratize investing. He believes the next major financial revolution will come from blockchain and decentralized finance (DeFi) platforms, but he remains cautious about overhyped cryptocurrencies.\n\n## Investment Style:\n* Stage: Seed to Series A\n* Check Size: $1 million to $10 million\n* Preferred Business Models: B2B SaaS and platform-driven fintech solutions\n* Founder Criteria: He looks for passionate, gritty founders who deeply understand the financial system and can navigate regulatory complexities.\n\n## Personality:\n\n### Strengths:\n* Analytical: Jim is highly data-driven and excels at performing thorough due diligence, meticulously analyzing financial projections and market data.\nHands-on Mentor: He takes an active role in the companies he invests in, offering strategic guidance on business models, scaling, and leadership development.\n* Networked: Jim has deep connections with major banks, hedge funds, and technology partners, helping his startups form crucial partnerships.\nPersonality Weakness: Overly Risk-Averse\n\nWhile Jim is known for his sharp financial acumen, he often hesitates to invest in more disruptive, experimental technologies. This risk aversion can cause him to miss out on breakthrough opportunities in early, unproven markets. He tends to favor startups with proven business models over \"moonshot\" ideas, which has occasionally led to regrets about passing on high-risk, high-reward ventures.\nJim Harper's experience, focus on fintech, and a disciplined investment approach have made him a trusted name in venture capital, though his cautious nature sometimes keeps him on the sidelines during tech's biggest waves.\n--\n\nAnalyse the pitch deck and provide an executive summary, fact checking review and judgement of if the pitching startup would be of interest to you based on your experience and investment strategy.\n\nFor any property not found, leave blank."}},"id":"09a0b81b-5854-49ec-a7aa-f7058d3365eb","name":"Generate Report","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[4460,420],"typeVersion":1},{"parameters":{"content":"## 6. Offer a Pitch Deck Q&A Chatbot to your Team\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nTake your workflows to the next level with n8n's AI Agents! This step demonstrates how powerful and yet simple it is to spin up an AI-powered chatbot and RAG implementation over the pitch decks. This AI Agent connects to our Pitch deck vector store and because it able to filter by company, it is capable of answering any questions about any relevant pitch decks the user is enquirying about. This makes for a powerful workflow which goes beyond just reporting and is a way to engage all stakeholders!","height":846.3684803288264,"width":1265.6381521804071,"color":7},"id":"b98074a5-2ae9-48b9-ac05-59834d7a268d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[5140,780],"typeVersion":1},{"parameters":{"content":"## 2. Download the Pitch Deck \n[Learn more about Execute Workflow Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.executeworkflowtrigger)\n\nIn step 1 we triggered the subworkflow with the name and Airtable asset URL of the pitch deck. We'll use the HTTP request node to download the PDF of the pitch deck. Important to note that this template only handles PDF pitch decks and if you have pitchdecks in other formats such as PPT, you'll have to convert them to PDF.","height":431.48621395348823,"width":830.0502325581398,"color":7},"id":"6a5ec982-f280-494b-b4de-2192702e9776","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1640,320],"typeVersion":1},{"parameters":{"url":"={{ $json.File[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"3298a192-526f-43cd-af55-8d928f00ab12","name":"Download Deck From Airtable","type":"n8n-nodes-base.httpRequest","position":[1900,520],"typeVersion":4.2},{"parameters":{"content":"## 1. Trigger Workflow From Airtable \n[Read more about using Airtable](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable)\n\nThis workflow uses Airtable as the database to find and track which pitch decks are available and which need to be processed. You can find the example Airtable here: https://airtable.com/appCkqc2jc3MoVqDO/shrS21vGqlnqzzNUc. This workflow is also designed to run through multiple pitch decks using seperate executions. To do this, we'll send each pitch deck through the \"execute workflow\" to start a new subworkflow execution.","height":612.7294511627911,"width":1077.6820093023243,"color":7},"id":"7732d7e9-da9a-41d7-953b-e09effd6d011","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[520,120],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"mode":"id","value":"appCkqc2jc3MoVqDO"},"tableId":{"__rl":true,"mode":"id","value":"tblI660SRJAOlSx3p"},"triggerField":"File","downloadAttachments":true,"downloadFieldNames":"data","additionalFields":{"fields":"Name,File,Executive Summary","formula":"=AND(\n  Name != \"\",\n  File,\n  OR(\n    {Executive Summary} = \"\",\n    {Executive Summary} = BLANK()\n  )\n)"}},"id":"d8727060-9298-4d3b-b42f-800ae88d1cb4","name":"Airtable Trigger For Pending Rows","type":"n8n-nodes-base.airtableTrigger","position":[640,520],"typeVersion":1},{"parameters":{"promptType":"define","text":"transcribe the document to markdown.","messages":{"messageValues":[{"message":"=You help transcribe documents to markdown, keeping faithful to all text printed and visible to the best of your ability.\n* Ensure you capture all headings, subheadings, titles as well as small print.\n* For any tables found with the document, convert them to markdown tables. If table row descriptions overflow into more than 1 row, concatanate and fit them into a single row. If two or more tables are adjacent horizontally, stack the tables vertically instead. There should be a newline after every markdown table.\n* For any charts, describe the chart type, purpose and result and capture all relevant titles, labels, legends and generaet a table for the datapoints if possible.\n* For images, describe the image along with any captions.\n* Label headers and footers with \"HEADER:\" and \"FOOTER:\" respectively."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"939e43b3-689b-454b-b0af-5b0c632b5fbc","name":"Transcribe to Markdown","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[3720,560],"typeVersion":1.4},{"parameters":{"text":"={{ $json.chatInput }}","schemaType":"manual","inputSchema":"{\n\t\"type\": \"array\",\n\t\"items\": {\n\t\t\"type\": \"string\"\n    }\n}","options":{"systemPromptTemplate":"Help identify the names of one or more company who the user is interested in or is requesting the pitch deck of."}},"id":"68e8d025-fc9f-4ee6-a75a-9c02acb443f7","name":"Identify Companies In Question","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[5440,1000],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"id","value":"pitchdecks"},"options":{"searchFilterJson":"={{\n{\n  [$json.output.length > 1 ? \"should\" : \"must\"]: $json.output.map(item => ({\n     \"key\": \"metadata.name\",\n     \"match\": { \"value\": item }\n  }))\n}\n}}"}},"id":"bae58476-4905-4f67-953a-d3b255ccc7eb","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[5860,1340],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}\n","options":{"systemMessage":"You help the user answer questions about a startup's pitch deck if it is available in our knowledge base. Assume all user questions are referring to the pitchdecks. Only use the knowledge base to answer questions. If you cannot find the requested information in the knowledge base, then let the user know.\n\nBefore answering any questions, ensure the user has specified a startup in which they want to enquire about and that the startup pitchdeck exists in the database. If the pitchdeck is not known to us, let the user know."}},"id":"46a6445f-abd8-4136-acbb-df47bbc3afbf","name":"Ask Questions About Pitchdecks","type":"@n8n/n8n-nodes-langchain.agent","position":[5760,1000],"typeVersion":1.6},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').first().json.sessionId }}"},"id":"67ddbf0b-c2b3-40f0-9cc8-8ec769cc3052","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[5860,1200],"typeVersion":1.2},{"parameters":{"content":"## Try It Out!\n\n### This n8n template imports Pitch Decks and generates a report into Airtable as well as creates an AI Chatbot to ask questions about each Pitch Deck.\n\n* Airtable is used as the pitch deck database and PDF decks are downloaded from it.\n* An AI Vision model is used to transcribe each page of the pitch deck into markdown.\n* An Information Extractor is used to generate a report from the transcribed markdown and update required information back into pitch deck database.\n* The transcribed markdown is also uploaded to a vector store to build an AI chatbot which can be used to ask questions on the pitch deck.\n\nCheck out the sample Airtable here: https://airtable.com/appCkqc2jc3MoVqDO/shrS21vGqlnqzzNUc\n\n### How To Use\n* This template depends on the availability of the Airtable - make a duplicate of the airtable (https://airtable.com/appCkqc2jc3MoVqDO/shrS21vGqlnqzzNUc) and its columns before running the workflow.\n* When a new pitchdeck is received, enter the company name into the **Name** column and upload the pdf into the **File** column. Leave all other columns blank.\n* If you have the Airtable trigger active, the execution should start immediately once the file is uploaded. Otherwise, click the manual test trigger to start the workflow.\n* When manually triggered, all \"new\" pitch decks will be handled by the workflow as separate executions.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!","height":705.4789168988943,"width":671.0736854602326},"id":"380f0868-302f-4a51-bc54-f76356cd6251","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-180,20],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to check if a startup or company's pitchdeck exists in the knowledge base. This tool does not search for information inside the pitchdeck. An error or empty response indicates that the startup/company's pitchdeck does not exist.","operation":"search","base":{"__rl":true,"mode":"list","value":"appCkqc2jc3MoVqDO","cachedResultUrl":"https://airtable.com/appCkqc2jc3MoVqDO","cachedResultName":"Pitchdecks"},"table":{"__rl":true,"mode":"list","value":"tblI660SRJAOlSx3p","cachedResultUrl":"https://airtable.com/appCkqc2jc3MoVqDO/tblI660SRJAOlSx3p","cachedResultName":"Table 1"},"filterByFormula":"=AND(Name=\"{{ $fromAI(\"company_name\", \"The name of the company\", \"string\", \"\") }}\")","options":{}},"id":"d8d7b476-5c01-464d-89a0-b2098eb29bd2","name":"Check Pitch Deck Exists","type":"n8n-nodes-base.airtableTool","position":[6260,1200],"typeVersion":2.1},{"parameters":{"public":true,"initialMessages":"This chat allows you to ask questions about a startup's pitch deck. Please start by giving the name of the startup.","options":{"subtitle":"Ask question's about a startup's pitch deck","title":"Pitch Deck Analysis"}},"id":"8e31be49-5c90-4a82-93a6-ab2e8b657806","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[5260,1000],"webhookId":"9322ad29-d67e-4ced-abb3-46fa569393f1","typeVersion":1.1},{"parameters":{"content":"### Change Me!\nRemember to update Airtable nodes to point  to your own.","height":91.86072082734213,"color":5},"id":"18768902-427d-45c2-bac5-ca4cdafcc075","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[980,340],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=pitchdecks"},"options":{"collectionConfig":"={{\n{\n  \"vectors\": {\n    \"distance\": \"Cosine\",\n    \"size\": 1536\n  }\n}\n}}"}},"id":"be0b4b33-a4a1-400b-b434-80d310f17a0a","name":"Pitchdecks Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[4700,1080],"typeVersion":1},{"parameters":{"content":"### Change Me!\nYou'll need to update the Qdrant URL in the \"Delete Existing Vectors\" node.","height":91.64489634298351,"width":278.26180226980307,"color":5},"id":"d4fbff5a-3b08-49ad-a801-381163811a21","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[4000,1080],"typeVersion":1}],"connections":{"Get Row":{"main":[[{"node":"Prequisites Met","type":"main","index":0}]]},"Sort Pages":{"main":[[{"node":"Resize Images For AI","type":"main","index":0}]]},"Images To List":{"main":[[{"node":"Sort Pages","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Split PDF into Images","type":"main","index":0}]]},"Generate Report":{"main":[[{"node":"Update Pitchdecks Table","type":"main","index":0}]]},"Prequisites Met":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Extract Zip File":{"main":[[{"node":"Images To List","type":"main","index":0}]]},"Combine All Pages":{"main":[[{"node":"Generate Report","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pitchdecks Vector Store","type":"ai_embedding","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ask Questions About Pitchdecks","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"Ask Questions About Pitchdecks","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Identify Companies In Question","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Generate Report","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Transcribe to Markdown","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pitchdecks Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Search Pending Rows":{"main":[[{"node":"Get Row","type":"main","index":0}]]},"Resize Images For AI":{"main":[[{"node":"Transcribe to Markdown","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Ask Questions About Pitchdecks","type":"ai_memory","index":0}]]},"Split PDF into Images":{"main":[[{"node":"Extract Zip File","type":"main","index":0}]]},"Transcribe to Markdown":{"main":[[{"node":"Combine All Pages","type":"main","index":0},{"node":"Continue With Pages Only","type":"main","index":0},{"node":"Delete Existing Vectors","type":"main","index":0}]]},"Check Pitch Deck Exists":{"ai_tool":[[{"node":"Ask Questions About Pitchdecks","type":"ai_tool","index":0}]]},"Delete Existing Vectors":{"main":[[{"node":"Continue With Pages Only","type":"main","index":1}]]},"Continue With Pages Only":{"main":[[{"node":"Pitchdecks Vector Store","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Download Deck From Airtable","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Identify Companies In Question","type":"main","index":0}]]},"Download Deck From Airtable":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Identify Companies In Question":{"main":[[{"node":"Ask Questions About Pitchdecks","type":"main","index":0}]]},"Airtable Trigger For Pending Rows":{"main":[[{"node":"Get Row","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search Pending Rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"59a2ce85-d2c8-4091-a63e-cac5caca4447","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}