workflows/Scraping webpages.json
{"createdAt":"2025-02-11T23:59:19.920Z","updatedAt":"2025-02-12T01:37:02.000Z","id":"VtsNdNxypdYDEUeH","name":"Scraping webpages","active":false,"nodes":[{"parameters":{},"id":"29ff143d-4015-4220-9470-7fea7122f9b7","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[-140,-20],"typeVersion":1},{"parameters":{"model":"gpt-4-1106-preview","options":{"frequencyPenalty":0.3,"temperature":0.7,"timeout":300000}},"id":"aa3865be-5a5c-4b71-b58d-d0a4ac7fa314","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[100,200],"typeVersion":1},{"parameters":{"url":"={{ encodeURI($json.query.url) }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"id":"7cc8567e-e98c-44b6-a6ff-0e91d9358e08","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[460,500],"typeVersion":4.1,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ $json?.data.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i)[1] }}"}]},"include":"selected","includeFields":"HTML","options":{}},"id":"abd38509-21ea-4a34-9eb3-54a1a031f08b","name":"Exctract HTML Body","type":"n8n-nodes-base.set","position":[880,780],"typeVersion":3.2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasOwnProperty('error') }}","value2":true}]}},"id":"134805ef-fd3d-4af9-b50d-ce68febf696c","name":"Is error?","type":"n8n-nodes-base.if","position":[660,500],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"page_content","stringValue":"={{ $('QUERY_PARAMS').first()?.json?.query?.url == null ? \"INVALID action_input. This should be an HTTP query string like this: \\\"?url=VALIDURL&method=SELECTEDMETHOD\\\". Only a simple string value is accepted. JSON object as an action_input is NOT supported!\" : JSON.stringify($json.error) }}"}]},"include":"selected","includeFields":"HTML","options":{}},"id":"066d4590-bd27-4312-b077-98339f913193","name":"Stringify error message","type":"n8n-nodes-base.set","position":[880,280],"typeVersion":3.2},{"parameters":{},"id":"6e2f95d4-31e5-4ac8-b476-1d5d38a1d284","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-140,500],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ ($json.HTML || \"HTML BODY CONTENT FOR THIS SEARCH RESULT IS NOT AVAILABLE\").replace(/<script[^>]*>([\\s\\S]*?)<\\/script>|<style[^>]*>([\\s\\S]*?)<\\/style>|<noscript[^>]*>([\\s\\S]*?)<\\/noscript>|<!--[\\s\\S]*?-->|<iframe[^>]*>([\\s\\S]*?)<\\/iframe>|<object[^>]*>([\\s\\S]*?)<\\/object>|<embed[^>]*>([\\s\\S]*?)<\\/embed>|<video[^>]*>([\\s\\S]*?)<\\/video>|<audio[^>]*>([\\s\\S]*?)<\\/audio>|<svg[^>]*>([\\s\\S]*?)<\\/svg>/ig, '')}}"}]},"options":{}},"id":"dab75eca-695b-4c7a-9e04-30d36c40ea21","name":"Remove extra tags","type":"n8n-nodes-base.set","position":[1080,780],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"HTML","stringValue":"={{ $json.HTML.replace(/href\\s*=\\s*\"(.+?)\"/gi, 'href=\"NOURL\"').replace(/src\\s*=\\s*\"(.+?)\"/gi, 'src=\"NOIMG\"')}}"}]},"options":{}},"id":"b36591e4-a79a-4819-a329-f7afd03f95d7","name":"Simplify output","type":"n8n-nodes-base.set","position":[1460,680],"notesInFlow":true,"typeVersion":3.2,"notes":"remove links and image URLs"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('CONFIG').first()?.json?.query?.method }}","operation":"contains","value2":"simplif"}]}},"id":"94ac323b-c4bf-4cdd-ab6d-ce348717490f","name":"Simplify?","type":"n8n-nodes-base.if","position":[1280,780],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"query","type":"objectValue","objectValue":"={{ $json.query.substring($json.query.indexOf('?') + 1).split('&').reduce((result, item) => (result[item.split('=')[0]] = decodeURIComponent(item.split('=')[1]), result), {}) }}"}]},"options":{}},"id":"a1235540-7dda-4eba-a158-161e1a5ccda3","name":"QUERY_PARAMS","type":"n8n-nodes-base.set","position":[60,500],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"query.maxlimit","type":"numberValue","numberValue":"={{ $json?.query?.maxlimit == null ? 70000 : Number($json?.query?.maxlimit) }}"}]},"options":{}},"id":"07cf8763-b3c7-4b3a-9d8c-ab5630896535","name":"CONFIG","type":"n8n-nodes-base.set","position":[260,500],"typeVersion":3.2},{"parameters":{"content":"### Convert the query string into JSON, apply the limit for a page length","height":235.79999999999995,"width":556.25},"id":"f7ede8c6-3738-4447-9754-7a35e97d64e6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-180,440],"typeVersion":1},{"parameters":{"content":"## Send an error message:\n1. If query param was incorrect, return the instruction. AI Agent should pick up on this and adapt the query on the next iteration.\n2. If the query is OK and an error was during the HTTP Request, then send back the original error message.","height":285.7,"width":491},"id":"c11b2b34-5b57-4093-917a-90c7c9fb604e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[820,140],"typeVersion":1},{"parameters":{"content":"## Post-processing of the HTML page:\n1. Keep only <BODY> content\n2. Remove inline <SCRIPT> tag entirely, as well as: NOSCRIPT, IFRAME, OBJECT, EMBED, VIDEO, AUDIO, SVG, and HTML comments.\n3. In case query parameter method=simplified, replace all page URLs (a href) and IMG (src) with NOURL / NOIMG - this may save up to 20% of the page length\n4. Convert the remaining HTML to Markdown. This step further reduces the length of the page: long HTML tags and styles are eliminated, but the markdown syntax keeps some page structure. This gives much better results compared to just a blank text.\n5. Finally, check the page length. If it's too long, send an \"ERROR: PAGE CONTENT TOO LONG\" instead of the actual page. Of course, you could split the page content in chunks, but sometimes long pages just don't have a needed content, so it makes little sense to burn tokens on them.","height":472.5,"width":1200},"id":"a23c5b5a-f53d-42b2-8e8b-fd6883a3af66","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[820,460],"typeVersion":1},{"parameters":{"content":"## Example ReAct AI Agent\n1. Agent Prompt is default\n2. Check the description of the HTTP_Request_Tool, it guides the agent to provide a query string with several parameters instead of a JSON object","height":483.0226244343891,"width":616.8597285067872},"id":"81726702-054c-4650-845e-327aef0f0f35","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-180,-160],"typeVersion":1},{"parameters":{"agent":"reActAgent","options":{"humanMessageTemplate":"{input}\n\n{agent_scratchpad}","prefix":"Answer the following questions as best you can. You have access to the following tools:","suffixChat":"Begin! Reminder to always use the exact characters `Final Answer` when responding.","suffix":"Begin!\n\n\tQuestion: {input}\n\tThought:{agent_scratchpad}"}},"id":"da622aeb-a19e-48cf-a90f-cc80eac0c8a6","name":"ReAct AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[100,-20],"typeVersion":1},{"parameters":{"html":"={{ $json.HTML }}","destinationKey":"page_content","options":{}},"id":"24f848d0-4215-4bf1-94c3-1a3d8199568f","name":"Convert to Markdown","type":"n8n-nodes-base.markdown","position":[1640,780],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"page_content","stringValue":"={{ $json.page_content.length < $('CONFIG').first()?.json?.query?.maxlimit ? $json.page_content : \"ERROR: PAGE CONTENT TOO LONG\" }}"},{"name":"page_length","type":"numberValue","numberValue":"={{ $json.page_content.length }}"}]},"include":"selected","options":{}},"id":"545ab298-dc6f-4552-8336-1367cb8e1a87","name":"Send Page Content","type":"n8n-nodes-base.set","position":[1840,780],"typeVersion":3.2},{"parameters":{"name":"HTTP_Request_Tool","description":"Call this tool to fetch a webpage content. The input should be a stringified HTTP query parameter like this: \"?url=VALIDURL&method=SELECTEDMETHOD\". \"url\" parameter should contain the valid URL string. \"method\" key can be either \"full\" or \"simplified\". method=full will fetch the whole webpage content in the Markdown format, including page links and image links. method=simplified will return the Markdown content of the page but remove urls and image links from the page content for simplicity. Before calling this tool, think strategically which \"method\" to call. Best of all to use method=simplified. However, if you anticipate that the page request is not final or if you need to extract links from the page, pick method=full.","workflowId":"={{ $workflow.id }}","responsePropertyName":"page_content"},"id":"e7b62b03-d513-4acc-8dfb-e20d475ff1ff","name":"HTTP_Request_Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[220,200],"typeVersion":1}],"connections":{"CONFIG":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Is error?":{"main":[[{"node":"Stringify error message","type":"main","index":0}],[{"node":"Exctract HTML Body","type":"main","index":0}]]},"Simplify?":{"main":[[{"node":"Simplify output","type":"main","index":0}],[{"node":"Convert to Markdown","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Is error?","type":"main","index":0}]]},"QUERY_PARAMS":{"main":[[{"node":"CONFIG","type":"main","index":0}]]},"Simplify output":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"HTTP_Request_Tool":{"ai_tool":[[{"node":"ReAct AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"ReAct AI Agent","type":"ai_languageModel","index":0}]]},"Remove extra tags":{"main":[[{"node":"Simplify?","type":"main","index":0}]]},"Exctract HTML Body":{"main":[[{"node":"Remove extra tags","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Send Page Content","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"QUERY_PARAMS","type":"main","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"ReAct AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"89d71943-c554-4ca0-833d-b491ff065cea","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:37:01.104Z","updatedAt":"2025-02-12T01:37:01.104Z","id":"H0b9SWuMKqfPgJxO","name":"SCRAPING"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}