workflows/Scrape and store data from multiple websites.json
{"createdAt":"2025-02-17T22:24:53.321Z","updatedAt":"2025-02-17T22:25:03.000Z","id":"XKDNTVRZiAy3EWws","name":"Scrape and store data from multiple websites","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-3420,200],"typeVersion":1,"id":"edd8fcc2-d0e3-4192-b0f1-eb6c87890552"},{"parameters":{"url":"https://www.theswiftcodes.com/browse-by-country/","responseFormat":"string","options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[-2960,200],"typeVersion":1,"id":"a7fe9254-5ab3-466f-ba4a-0a9523e1cf9d"},{"parameters":{"extractionValues":{"values":[{"key":"countries","cssSelector":"ol > li > a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","position":[-2780,200],"typeVersion":1,"id":"53a52467-4a93-4224-b213-ee353e194c6b"},{"parameters":{"batchSize":1,"options":{"reset":false}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","position":[-2380,200],"typeVersion":1,"id":"c9fd807f-1c38-4138-8ce7-004941e45883"},{"parameters":{"url":"={{$node[\"Set\"].json[\"url\"]}}","responseFormat":"file","options":{}},"name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","position":[-1040,120],"typeVersion":1,"id":"22b05b3f-bfac-4cbf-aa55-8e2b6046c5a5"},{"parameters":{"sourceData":"binary","extractionValues":{"values":[{"key":"next_button","cssSelector":"span.next > a","returnValue":"attribute","attribute":"href"},{"key":"names","cssSelector":"td.table-name","returnArray":true},{"key":"swifts","cssSelector":"td.table-swift","returnArray":true},{"key":"cities","cssSelector":"td.table-city","returnArray":true},{"key":"branches","cssSelector":"td.table-branch","returnArray":true}]},"options":{}},"name":"HTML Extract1","type":"n8n-nodes-base.htmlExtract","position":[-540,-40],"typeVersion":1,"id":"f5fab812-d4b5-4bd9-9b99-3096d4ec7350"},{"parameters":{"operation":"insert","collection":"swifts.meetup","fields":"iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt","options":{"dateFields":"createdAt,updatedAt"}},"name":"MongoDB1","type":"n8n-nodes-base.mongoDb","position":[0,-40],"typeVersion":1,"id":"0b6217d3-782a-40e7-bbb4-209750f9f5f5","credentials":{"mongoDb":{"id":null,"name":"db-mongo"}}},{"parameters":{"group":"geographic","tool":"getCountryNormalized","country":"={{$node[\"SplitInBatches\"].json[\"country\"].replace(/[\\/0-9]/g, \"\")}}","additionalOptions":{}},"name":"uProc","type":"n8n-nodes-base.uproc","position":[-2180,200],"typeVersion":1,"id":"325c4fe7-018f-44de-8a39-fa49af4485e1","credentials":{"uprocApi":{"id":null,"name":"uproc-miquel"}}},{"parameters":{"functionCode":"var newItems = [];\n\nfor (i = 0; i < items[0].json.swifts.length; i++) {\n  var item = {\n    iso_code: $node['uProc'].json.message.code,\n    country: $node['SplitInBatches'].json.country.replace(/[-\\/0-9]/g, \"\"),\n    page: $node['Set Page to Scrape'].json.page,\n    name: items[0].json.names[i],\n    city: items[0].json.cities[i],\n    branch: items[0].json.branches[i],\n    swift_code: items[0].json.swifts[i],\n    createdAt: new Date(),\n    updatedAt: new Date()\n  }\n  newItems.push({json: item});\n}\n\nreturn newItems;\n\n"},"name":"Prepare Documents","type":"n8n-nodes-base.function","position":[-360,-40],"typeVersion":1,"id":"a68dd2c6-9199-49bd-82d0-d0f5b1b683d2"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"] + \"\"}}","value2":"true"}]}},"name":"More Countries","type":"n8n-nodes-base.if","position":[-480,480],"typeVersion":1,"id":"72fe5797-88f7-4a55-b39a-6c8a11b2fca8"},{"parameters":{"functionCode":"const staticData = getWorkflowStaticData('global');\n\nitem.page = \"\";\nif (staticData.page && staticData.page.length) {\n  item.page = staticData.page;\n} else {\n  item.page = $node['SplitInBatches'].json.country;\n}\nreturn item;\n"},"name":"Set Page to Scrape","type":"n8n-nodes-base.functionItem","position":[-2000,60],"typeVersion":1,"id":"0e04f23b-b4f6-4102-b1c4-9e86bc803b52"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"more_pages\"] + \"\"}}","value2":"true"}]}},"name":"More Pages","type":"n8n-nodes-base.if","position":[-220,400],"typeVersion":1,"id":"b46cff16-d826-4c8e-b094-56242f44cfb3"},{"parameters":{"functionCode":"var next_page = $node['HTML Extract1'].json.next_button && $node['HTML Extract1'].json.next_button.length ? $node['HTML Extract1'].json.next_button : \"\";\nvar more_pages = next_page.length > 0;\nconst staticData = getWorkflowStaticData('global');\n\n//all current items are after date: needs pagination\nif (more_pages) {\n  staticData.page = next_page;\n} else {\n  //don't check more items in previous pages;\n  delete staticData.page;\n}\n\nreturn [\n  {\n    json: {\n      more_pages: more_pages\n    }\n  }\n];\n"},"name":"Set More Pages","type":"n8n-nodes-base.function","position":[200,-40],"typeVersion":1,"id":"ca3e5d27-0d43-47b4-b7d4-2a7762ecabf1"},{"parameters":{"values":{"string":[{"name":"url","value":"=https://www.theswiftcodes.com{{$node[\"Set Page to Scrape\"].json[\"page\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[-1840,60],"typeVersion":1,"id":"9a3d8d50-5b00-4674-aaf0-1b5b4615ba8d"},{"parameters":{"functionCode":"var generateNameFromUrl = function(url){\n    return url.replace(/[^a-z0-9]/gi, \"_\");\n}\n\nitem.file = generateNameFromUrl(item.url) + \".html\"\nreturn item;"},"name":"Generate filename","type":"n8n-nodes-base.functionItem","position":[-1680,-20],"typeVersion":1,"id":"6691f12d-e611-4c02-8dac-c8b0523149d0"},{"parameters":{"filePath":"=/home/node/.cache/scrapper/{{$json[\"file\"]}}"},"name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","position":[-1520,-20],"typeVersion":1,"alwaysOutputData":true,"id":"8a135fb5-aff4-4716-8a98-472bf14dde10","continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Read Binary File\"].binary.data.mimeType}}","value2":"text/html"}]}},"name":"File exists?","type":"n8n-nodes-base.if","position":[-1340,-20],"typeVersion":1,"id":"9438d413-b7a6-4773-928e-2784b2a3290c"},{"parameters":{"fileName":"=/home/node/.cache/scrapper/{{$node[\"Generate filename\"].json[\"file\"]}}","dataPropertyName":"=data","options":{}},"name":"Write Binary File","type":"n8n-nodes-base.writeBinaryFile","position":[-880,120],"typeVersion":1,"id":"4d98a0dc-3132-4056-9c4f-415aa07eef28"},{"parameters":{"filePath":"=/home/node/.cache/scrapper/{{$json[\"file\"]}}"},"name":"Read Binary File1","type":"n8n-nodes-base.readBinaryFile","position":[-720,-40],"typeVersion":1,"alwaysOutputData":true,"id":"2f45c300-2402-444a-a5a5-77935fc5f0a3","continueOnFail":true},{"parameters":{"functionCode":"const waitTimeSeconds = 1;\n\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve([]);\n  }, waitTimeSeconds * 1000);\n});\n"},"name":"Wait","type":"n8n-nodes-base.function","position":[-1200,120],"typeVersion":1,"alwaysOutputData":true,"id":"8f2aaaf6-4fc4-4b0f-9c5f-d0a95d9f710e","continueOnFail":true},{"parameters":{"functionCode":"return items[0].json.countries.map(function(country) {\n  return {\n  json: {country: country}\n  }\n});"},"name":"Prepare countries","type":"n8n-nodes-base.function","position":[-2580,200],"typeVersion":1,"id":"e123b6f0-5622-4f31-a8ad-f5ea343fd35d"},{"parameters":{"command":"mkdir -p  /home/node/.cache/scrapper/"},"name":"Create Directory","type":"n8n-nodes-base.executeCommand","position":[-3220,200],"typeVersion":1,"id":"f3231799-801a-4084-b42d-eb6477de1d73","continueOnFail":true},{"parameters":{"collection":"swifts.meetup","options":{},"query":"={\"swift_code\": \"{{$json[\"swift_code\"]}}\"}"},"name":"MongoDB","type":"n8n-nodes-base.mongoDb","position":[-180,-100],"executeOnce":false,"typeVersion":1,"alwaysOutputData":true,"id":"d74f5bb9-5a40-4fce-a8ae-61128e830f4c","credentials":{"mongoDb":{"id":null,"name":"db-mongo"}},"disabled":true}],"connections":{"Set":{"main":[[{"node":"Generate filename","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"uProc":{"main":[[{"node":"Set Page to Scrape","type":"main","index":0}]]},"MongoDB1":{"main":[[{"node":"Set More Pages","type":"main","index":0}]]},"More Pages":{"main":[[{"node":"Set Page to Scrape","type":"main","index":0}],[{"node":"More Countries","type":"main","index":0}]]},"File exists?":{"main":[[{"node":"Read Binary File1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"HTML Extract":{"main":[[{"node":"Prepare countries","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"HTML Extract1":{"main":[[{"node":"Prepare Documents","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Write Binary File","type":"main","index":0}]]},"More Countries":{"main":[[],[{"node":"SplitInBatches","type":"main","index":0}]]},"Set More Pages":{"main":[[{"node":"More Pages","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"uProc","type":"main","index":0}]]},"Create Directory":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"File exists?","type":"main","index":0}]]},"Generate filename":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]},"Prepare Documents":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"Prepare countries":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Read Binary File1":{"main":[[{"node":"HTML Extract1","type":"main","index":0}]]},"Write Binary File":{"main":[[{"node":"Read Binary File1","type":"main","index":0}]]},"Set Page to Scrape":{"main":[[{"node":"Set","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Create Directory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"beb4f96c-f039-41b4-88e4-6a93654a2c59","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}