workflows/Send bulk messages to chats in Telegram.json
{"createdAt":"2025-02-12T01:10:19.487Z","updatedAt":"2025-02-12T01:26:40.000Z","id":"tj0433D5r19xwJne","name":"Send bulk messages to chats in Telegram","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-720,220],"typeVersion":1,"id":"536f0302-ed6d-40bf-a000-bc1b9e833a78"},{"parameters":{"chatId":"={{$node[\"SplitInBatches\"].json[\"Chat ID\"]}}","text":"Hello","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[-160,220],"typeVersion":1,"id":"8a4d42be-e036-4577-bf15-f212c97d608c","webhookId":"486bdbd8-5679-4629-912a-aeb3f4261a0e","credentials":{"telegramApi":{"id":null,"name":"telegram-bot"}}},{"parameters":{"authentication":"oAuth2","range":"A:A","options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[-540,220],"typeVersion":1,"id":"03b29d1a-7ee1-457c-ae70-2705a163fa59","credentials":{"googleSheetsOAuth2Api":{"id":null,"name":"google-sheet"}}},{"parameters":{"batchSize":30,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","position":[-340,220],"typeVersion":1,"id":"6ef4e2d2-4cb5-493a-bc79-60cb2f1281df"},{"parameters":{"amount":30,"unit":"seconds"},"name":"Wait1","type":"n8n-nodes-base.wait","position":[0,0],"webhookId":"22fca54c-eac4-44bc-adf7-68b33818695c","typeVersion":1,"id":"86de8537-02f3-45ea-ba3a-d965064989fa"}],"connections":{"Wait1":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5488e441-1c02-4ef9-9224-1bf5b99e969f","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}