workflows/Telegram chat with PDF.json
{"createdAt":"2025-02-12T00:24:17.369Z","updatedAt":"2025-02-12T01:39:59.000Z","id":"8cokXOYz79uUOfrx","name":"Telegram chat with PDF","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"77957d67-0d85-4310-afc1-1190d8c7b1cf","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-860,120],"webhookId":"b178f034-9997-4832-9bb4-a43c3015506e","typeVersion":1.1},{"parameters":{"options":{}},"id":"b11c586c-15d3-4e53-ab93-d412c14e893c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[80,340],"typeVersion":1},{"parameters":{"dataType":"binary","options":{}},"id":"c6bc76df-2580-4ddf-9ab1-ff9b8dc05bab","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[220,340],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"fb12dd52-5099-48c8-9a0b-daa2168224dd","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[300,560],"typeVersion":1},{"parameters":{"errorMessage":"An error occurred"},"id":"f49f89c5-7f01-4f2e-a24d-b2b7296339ec","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[-420,720],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}\nSearch the database with the retriever for information for the answer","options":{}},"id":"193ab74f-4a18-4828-89eb-1a9251151c48","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[-920,380],"typeVersion":1.3},{"parameters":{},"id":"225655be-6714-4074-a97a-b29d897f6133","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[-880,560],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"telegram","cachedResultName":"telegram"},"options":{}},"id":"bc8d6604-2b51-4192-a059-6a74a905b0a9","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-920,740],"typeVersion":1},{"parameters":{"model":"llama-3.1-70b-versatile","options":{}},"id":"8b2fde0b-9c3a-4d1b-a039-f7a74e3e5f28","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[-1020,540],"typeVersion":1},{"parameters":{"content":"# Load data into database\nFetch file from **Telegram**, split it into chunks and insert into **Pinecone** index, a message from **Telegram** will be sent just to let the user know that the process finished","height":873.6068151028411,"width":1139.5159692915001,"color":7},"id":"35a0d5bb-d671-490a-b793-51cb27430f74","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-140,-60],"typeVersion":1},{"parameters":{"content":"# Chat with Database\n\n1. **Receive** the incoming chat message.\n2. **Retrieve** relevant chunks from the _vector store_.\n3. **Pass** these chunks to the model.\n\nThe model will use the retrieved information to **formulate a precise response**.\n","height":806.8716167324012,"width":1344.7918019808176,"color":7},"id":"e355089a-2742-4c07-ba64-447e8edae516","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1520,280],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8839993b-9fe7-4e1e-a1cc-fe5de6b0bb62","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.document }}","rightValue":""}]},"options":{}},"id":"5ec7d99a-3420-454c-9e72-11e9fbb9c12d","name":"Check If is a document","type":"n8n-nodes-base.if","position":[-420,120],"typeVersion":2},{"parameters":{"jsCode":"// Função para modificar os metadados do arquivo binário\nfunction modifyBinaryMetadata(items) {\n  for (const item of items) {\n    if (item.binary && item.binary.data) {\n      // Modifica o tipo MIME\n      item.binary.data.mimeType = 'application/pdf';\n      \n      // Garante que o nome do arquivo termine com .pdf\n      if (!item.binary.data.fileName.toLowerCase().endsWith('.pdf')) {\n        item.binary.data.fileName += '.pdf';\n      }\n      \n      // Atualiza o contentType no fileType (se existir)\n      if (item.binary.data.fileType) {\n        item.binary.data.fileType.contentType = 'application/pdf';\n      }\n    }\n  }\n  return items;\n}\n\n// Aplica a modificação e retorna os itens atualizados\nreturn modifyBinaryMetadata($input.all());"},"id":"0f0db279-19cd-475e-9455-b3708f512021","name":"Change to application/pdf","type":"n8n-nodes-base.code","position":[60,100],"typeVersion":2},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"id":"fffd208d-779b-40d3-9f13-0fdcc2b80704","name":"Telegram get File","type":"n8n-nodes-base.telegram","position":[-120,100],"typeVersion":1.2,"webhookId":"a0a2443b-ea06-49c1-8c58-fc8cd5cfb36c"},{"parameters":{"options":{}},"id":"4cdebbbc-63dc-4c80-86e8-c811a433dec7","name":"Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-740,960],"typeVersion":1},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.response.text }}","additionalFields":{"appendAttribution":false}},"id":"84690795-539b-45f1-857c-55561f23b7c5","name":"Telegram Response","type":"n8n-nodes-base.telegram","position":[-480,440],"typeVersion":1.2,"webhookId":"ecc1a30d-8ca8-4d6e-887e-626e1af782e2","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.metadata.pdf.totalPages }} pages saved on Pinecone","additionalFields":{"appendAttribution":false}},"id":"213bf612-8c0d-4cf4-a4d1-0beeff398313","name":"Telegram Response about Database","type":"n8n-nodes-base.telegram","position":[760,100],"typeVersion":1.2,"webhookId":"2349a9f4-b1c5-404b-a8bf-30b89bbef929","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"An error occurred."},"id":"67e95933-bf53-49e7-b674-58fcedadba9e","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","position":[760,460],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"telegram","cachedResultName":"telegram"},"options":{}},"id":"c108db06-1b81-424c-aac3-aa2cca7c154a","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[240,100],"typeVersion":1},{"parameters":{},"id":"c03adc69-f891-4f4d-a6c4-bbcd7038daa2","name":"Limit to 1","type":"n8n-nodes-base.limit","position":[580,100],"typeVersion":1}],"connections":{"Embeddings":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Limit to 1":{"main":[[{"node":"Telegram Response about Database","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Check If is a document","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Telegram Response":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Telegram get File":{"main":[[{"node":"Change to application/pdf","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Limit to 1","type":"main","index":0}]]},"Check If is a document":{"main":[[{"node":"Telegram get File","type":"main","index":0}],[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Change to application/pdf":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Question and Answer Chain":{"main":[[{"node":"Telegram Response","type":"main","index":0}]]},"Telegram Response about Database":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"883dc0a7-8a05-40df-96f5-793d973913d8","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}