workflows/Turn Emails into AI-Enhanced Tasks in Notion (Multi-User Support) with Gmail, Airtable and Softr.json
{"createdAt":"2025-02-18T01:04:28.917Z","updatedAt":"2025-02-18T01:05:25.000Z","id":"BycE20ydJ7hYzgKI","name":"Turn Emails into AI-Enhanced Tasks in Notion (Multi-User Support) with Gmail, Airtable and Softr","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"responseFormat":"json_object","temperature":0}},"id":"336c1e91-bc22-44b1-b697-4dbad9a48b73","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[60,300],"typeVersion":1},{"parameters":{},"id":"bea83ffe-cd0f-44fa-a9f0-375ed92fda18","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[200,300],"typeVersion":1,"disabled":true},{"parameters":{"jsonSchemaExample":"{\n  \"summary\": \"Text\",\n  \"meta\": {\n    \"sender\": \"Text\",\n    \"subject\": \"Text\",\n    \"date\": \"Text\"\n  }\n}"},"id":"16d8eb86-6174-4ade-8fc4-38e1e0d4e463","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[320,300],"typeVersion":1.2},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":"={{ $('Globals').item.json.processedLabelID }}"},"id":"bd021b1e-2ab0-4a95-b8fd-0d630f33e9be","name":"Add Label \"Processed\"","type":"n8n-nodes-base.gmail","position":[1360,80],"typeVersion":2.1,"webhookId":"68e2117a-3807-4e7f-8fc9-67ccc31ffb9d"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"02b11920-e737-46cc-b1b9-22ffaf7f3f64","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.Active }}","rightValue":""}]},"options":{}},"id":"ba6a518e-478a-48a8-b354-296b45b31baa","name":"Active Routes Only","type":"n8n-nodes-base.filter","position":[-500,80],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"acfaf63a-74de-4018-ae30-671f209878ba","name":"route","type":"string","value":"={{ $('Gmail Trigger').item.json.to.text.match(/\\+([^@]+)@/)[1] }}"}]},"options":{}},"id":"983063c2-e3b7-42f3-b59b-9a58b0530012","name":"Extract Route ID","type":"n8n-nodes-base.set","position":[-940,280],"typeVersion":3.4},{"parameters":{"operation":"update","base":{"__rl":true,"mode":"list","value":"appuqZhHVVGAcMwoA","cachedResultUrl":"https://airtable.com/appuqZhHVVGAcMwoA","cachedResultName":"mails2notion"},"table":{"__rl":true,"mode":"list","value":"tblWL6FqfLkLHmLEo","cachedResultUrl":"https://airtable.com/appuqZhHVVGAcMwoA/tblWL6FqfLkLHmLEo","cachedResultName":"Routes"},"columns":{"value":{"id":"={{ $('Get Route by ID').item.json.id }}","Active":false},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Token","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Token","defaultMatch":false,"canBeUsedToMatch":true},{"id":"NotionDatabase","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"NotionDatabase","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email Alias","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Email Alias","defaultMatch":false,"canBeUsedToMatch":true},{"id":"User","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"User","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Active","type":"boolean","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Active","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"]},"options":{}},"id":"642681e7-8db7-4875-bc95-dfca98e43737","name":"Deactivate Route","type":"n8n-nodes-base.airtable","position":[920,280],"typeVersion":2.1},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":"={{ $('Globals').item.json.errorLabelID }}"},"id":"c01d7ca8-6631-4bcf-80d8-66a498f200b7","name":"Add Label \"Error\"","type":"n8n-nodes-base.gmail","position":[1360,280],"typeVersion":2.1,"webhookId":"f437f3af-5a24-49a1-a90a-ad645c075a81"},{"parameters":{"sendTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","subject":"A route has been deactivated","emailType":"text","message":"=An error happened while trying to create a Notion Page. It can have various reasons, including a temporary outage of the Notion API, missing permissions to the Notion Database or a wrong Notion Database URL.\n\nThe route has been deaktivated to prevent future errors.\n\nPlease double check your configuration and enable the route again.","options":{"appendAttribution":false}},"id":"9e0e9ade-5598-496a-b422-eda5b6c4e969","name":"Send notification about deactivated route","type":"n8n-nodes-base.gmail","position":[1140,280],"typeVersion":2.1,"webhookId":"543bca92-2231-42f9-a861-3e9843c88885"},{"parameters":{"sendTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","subject":"Your Message could not be processed","emailType":"text","message":"=There seems to be no active route anymore which connects this Alias to a Notion Database.\n\nPlease try again later or double check your configuration.","options":{"appendAttribution":false}},"id":"2549c112-b913-46c0-aae1-8974b888d0e2","name":"Send notification about missing route","type":"n8n-nodes-base.gmail","position":[1140,480],"typeVersion":2.1,"webhookId":"949e86ea-2e15-43d9-bb32-1e8ec4a2cbb4"},{"parameters":{"base":{"__rl":true,"mode":"list","value":"appuqZhHVVGAcMwoA","cachedResultUrl":"https://airtable.com/appuqZhHVVGAcMwoA","cachedResultName":"mails2notion"},"table":{"__rl":true,"mode":"list","value":"tblWL6FqfLkLHmLEo","cachedResultUrl":"https://airtable.com/appuqZhHVVGAcMwoA/tblWL6FqfLkLHmLEo","cachedResultName":"Routes"},"id":"={{ $json.route }}","options":{}},"id":"7b557cc9-dd70-4c4a-b969-20edd34d4f96","name":"Get Route by ID","type":"n8n-nodes-base.airtable","position":[-720,280],"retryOnFail":true,"typeVersion":2.1,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/pages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Route by ID').item.json.Token }}"},{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{}},"id":"af0bbeb7-2e90-426c-8bce-996098e5859c","name":"Create Notion Page","type":"n8n-nodes-base.httpRequest","position":[700,80],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":"=INBOX"},"options":{}},"id":"3ee00372-83ba-43b1-994d-3d069b71ed54","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[-1600,280],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"28879541-2e66-4a31-b25f-f0419ae45f47","operator":{"type":"array","operation":"notContains","rightType":"any"},"leftValue":"={{ $('Gmail Trigger').item.json.labelIds }}","rightValue":"={{ $json.errorLabelID }}"},{"id":"259a783f-5954-467b-ad52-c1e0072c2239","operator":{"type":"array","operation":"notContains","rightType":"any"},"leftValue":"={{ $('Gmail Trigger').item.json.labelIds }}","rightValue":"={{ $json.processedLabelID }}"},{"id":"81ef1ac2-449e-44c2-a94b-2fc9b08ec934","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Gmail Trigger').item.json.to.text.match(/\\+([^@]+)@/)[1] }}","rightValue":""}]},"options":{}},"id":"3ecbbdc1-0f10-459b-80c4-1aaff9c7f5fb","name":"Filter for unprocessed mails","type":"n8n-nodes-base.filter","position":[-1160,280],"typeVersion":2},{"parameters":{},"id":"651772fc-8726-45f2-b5b5-d1da4103e74f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1580,660],"typeVersion":1,"disabled":true},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"9bb51a86-76d3-42f7-8362-1931244f8cd9","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.name }}","rightValue":"Error"},{"id":"28b3afb4-d727-4306-9e45-321c9bd688e3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.name }}","rightValue":"Processed"}]},"options":{}},"id":"bb0e4e1e-260d-473e-b35c-e32e26132b6f","name":"Required labels","type":"n8n-nodes-base.filter","position":[-1140,660],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"0dcfba61-ddb5-425d-a803-f88cf36d81d9","name":"errorLabelID","type":"string","value":"Label_4248329647975725750"},{"id":"b1505eaa-1d7e-49d7-be2e-cd71f5ec2632","name":"processedLabelID","type":"string","value":"Label_6498950601707174088"}]},"options":{}},"id":"678cdc51-54bf-4498-a12d-4ef6e2340017","name":"Globals","type":"n8n-nodes-base.set","position":[-1380,280],"typeVersion":3.4},{"parameters":{"content":"## Setup\n- Disable the Gmail Trigger and enable the manual trigger here\n- Execute the workflow once\n- Copy the Gmail Label IDs from the output of the \"Required labels\" node to the \"Globals\" node\n- Disable the manual trigger here and and enable the Gmail Trigger again\n- Activate the workflow, so it runs automatically in the background\n[video[(https://www.youtube.com/watch?v=7cIvSqJAY0E)","height":462,"width":742,"color":5},"id":"fc6455d1-7c63-4796-835c-9b8890c4ebc4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1660,480],"typeVersion":1},{"parameters":{"content":"## Set Globals\nUse the setup instructions below to retrieve the values for both `errorLabelID` and `processedLabelID`","height":323.99999999999943,"width":215.20930232558143},"id":"ce3f4c05-7d44-47a4-8535-d964d75ad309","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1440,120],"typeVersion":1},{"parameters":{"content":"## Select Base\nSelect the database and the table where the \"Routes\" are defined","height":324.4244486294891,"width":215.49263552738452},"id":"d5033513-75de-402d-b57d-5775132fcd35","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-780,120],"typeVersion":1},{"parameters":{"content":"The Gmail inbox is checked every minute for new entries","height":245.005504426549,"width":216.47293010628914,"color":7},"id":"908e942d-9b22-4d90-bb0e-f4fd66830233","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1660,200],"typeVersion":1},{"parameters":{"content":"Extract the Airtable Row ID from the Email address","height":245.005504426549,"width":216.47293010628914,"color":7},"id":"a53f6bf8-0acd-4f7f-b420-a865ea15f230","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1000,200],"typeVersion":1},{"parameters":{"content":"Filter by labels to prohibit double-processing","height":245.005504426549,"width":216.47293010628914,"color":7},"id":"ceda3cfb-c1c9-4f04-9e0c-711191a08879","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1220,200],"typeVersion":1},{"parameters":{"content":"Dynamically build request body for Notion, since dynamic auth, and content with optional fields require a custom request","height":305.2192252594149,"width":216.47293010628914,"color":7},"id":"c790d4f6-3257-4e15-beb5-8622c18f99c0","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[420,-60],"typeVersion":1},{"parameters":{"content":"The custom built request including the user specific authentication is sent to Notion to create a new Page inside of a database","height":304.5973623748489,"width":216.47293010628914,"color":7},"id":"dd1ee004-8703-4628-9a10-1e45348c7ea3","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[640,-60],"typeVersion":1},{"parameters":{"content":"The Email is processed in multiple ways:\n- An actionable task is being generated based on the content, consisting of a short title, a short description and optionally a few details as bullet points\n- A detailed Email summary is being generated\n- Meta data is being extracted - so the user has a reference to find the original Email again\n- To get more stable results, the tasks are devided between two Agents","height":529.1698390841688,"width":755.8332895195936,"color":7},"id":"cde4ae51-32f1-4562-b388-e424ad0cf8b3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-340,-100],"typeVersion":1},{"parameters":{"content":"Skip disabled routes (determined by a checkbox attribute in Airtable)","height":249.09934448053562,"width":216.47293010628914,"color":7},"id":"7b054018-ee6b-4388-b12d-b2f5f3035d7c","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-560,-20],"typeVersion":1},{"parameters":{},"id":"ce7a1a07-1084-4e2e-865b-35d90db62fed","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-500,480],"typeVersion":1},{"parameters":{"content":"Send custom Email notifications back to sender, containing an error message and suggestions to fix it","height":503.00412949500975,"width":216.47293010628914,"color":7},"id":"409ba903-8179-48f8-bbdd-570b7d24366a","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1080,160],"typeVersion":1},{"parameters":{"content":"Add labels which prevent from double-processing","height":446.3164817463921,"width":216.47293010628914,"color":7},"id":"e441d1e5-fb71-41cb-9804-184bacd6aa0b","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1300,0],"typeVersion":1},{"parameters":{"content":"Disable a checkbox attribute in Airtable which determines if a route is active","height":261.3816681594028,"width":216.47293010628914,"color":7},"id":"7db2af60-46ab-4bd6-92c4-36e78d9b8c64","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[860,180],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function paragraph(content, annotations={}) {\n  return {\n    \"object\": \"block\",\n    \"type\": \"paragraph\",\n    \"paragraph\": {\n      \"rich_text\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": content\n          },\n          \"annotations\": annotations\n        }\n      ]\n    }\n  };\n}\nfunction bulletPoint(content) {\n  return {\n    \"object\": \"block\",\n    \"type\": \"bulleted_list_item\",\n    \"bulleted_list_item\": {\n      \"rich_text\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": content\n          }\n        }\n      ]\n    }\n  };\n}\n\n// combine AI generated content\nconst content = Object.assign({}, $('Generate Actionable Task').item.json.output, $('Get Summary & Meta Data').item.json.output);\n\nblocks = [];\n\n// append task description\nblocks.push(paragraph(content.description));\n\nif (content.bulletpoints) {\n  for (let bulletpoint of content.bulletpoints) {\n    blocks.push(bulletPoint(bulletpoint));\n  }\n}\n\n// append empty line\nblocks.push(paragraph(\"\"));\n\n// append devider\nblocks.push({\n  \"object\": \"block\",\n  \"type\": \"divider\",\n  \"divider\": {}\n});\n\n// append summary & meta data\nblocks.push(paragraph(\"Email summary:\"));\nblocks.push(paragraph(content.summary));\nblocks.push(paragraph(\"\"));\nblocks.push(paragraph(content.meta.sender + \"\\n\" + content.meta.subject + \"\\n\" + content.meta.date, {\"italic\": true}));\n\n// build final object\noutput = {\n  \"parent\": {\n    \"database_id\": $('Get Route by ID').item.json.NotionDatabase.match(/https:\\/\\/www\\.notion\\.so\\/[a-zA-Z0-9-]+\\/([a-zA-Z0-9]{32})/)[1]\n  },\n  \"properties\": {\n    \"Name\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": content.title\n          }\n        }\n      ]\n    }\n  },\n  \"children\": blocks\n};\n\nreturn { json: output };"},"id":"9e7287f9-3f7a-4c76-98f1-8431da585f77","name":"Format Notion Page Blocks","type":"n8n-nodes-base.code","position":[480,80],"typeVersion":2},{"parameters":{"resource":"label","returnAll":true},"id":"afe64aa0-6b57-4869-9363-615f5351eb6e","name":"Get all labels","type":"n8n-nodes-base.gmail","position":[-1360,660],"typeVersion":2.1,"webhookId":"c108c194-7af6-4e91-a07c-a4b67ae0ab2f"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"Title\",\n  \"description\": \"Text\",\n  \"bulletpoints\": [\n    \"Text\",\n    \"Text\"\n  ]\n}"},"id":"6b31fdc8-aee4-40e7-aa95-2ca03d01c1e2","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-60,300],"typeVersion":1.2},{"parameters":{},"id":"6e51a707-7499-446d-9317-9138ce371d3d","name":"Calculator1","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[-180,300],"typeVersion":1,"disabled":true},{"parameters":{"model":"gpt-4o","options":{"responseFormat":"json_object","temperature":0}},"id":"b95ce8a0-4a89-4b81-9d79-938f89f15996","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-320,300],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $('Gmail Trigger').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"Your task is to understand the Email content and extract one actionable task. If there is no obvious actionable task, then just create a title which implies to take a look at this Email by addressing the content summarized to 5 words. The title should be quite decided. This attribute is called title.\n\nCreate a proper description for the task. Be precise but detailed. Start with a short sentence and if it is worth adding more information, add bulletpoints after that containing additional information which help to understand the context of the task better, like links and other references, or just more detailed instructions. Add the description to the output as attribute output. Add the bulletpoints to the output as attribute output, but remember, bullet points are optional.\n\nReturn all attributes in a JSON format."}},"id":"e8e7646f-3d51-4926-a7ee-4e23bb3caec6","name":"Generate Actionable Task","type":"@n8n/n8n-nodes-langchain.agent","position":[-280,80],"typeVersion":1.6},{"parameters":{"promptType":"define","text":"={{ $('Gmail Trigger').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"Summarize the email (as much detail as possible) and add it to the output as the attribute summary.\n\nExtract the email sender, subject and date of receipt. If this is a forwarded email, then get this data from the original message, otherwise use the meta data of this Email. Format the Email Adress as follows, and add it to the JSON output as the attribute meta.sender: \"From: Full Name <mail@example.com\". Format the the subject as follows and add it to the output as attribute meta.subject: \"Subject: SubjectGoesHere\". Format the the date as follows and add it to the output as attribute meta.date: \"Date: DateStringGoesHere\" (Date format: RFC 2822).\n\nReturn all attributes in a JSON format."}},"id":"2876465b-4f89-4726-8c2c-18eeeff1231a","name":"Get Summary & Meta Data","type":"@n8n/n8n-nodes-langchain.agent","position":[100,80],"typeVersion":1.6}],"connections":{"Globals":{"main":[[{"node":"Filter for unprocessed mails","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Get Summary & Meta Data","type":"ai_tool","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"Generate Actionable Task","type":"ai_tool","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Get all labels":{"main":[[{"node":"Required labels","type":"main","index":0}]]},"Get Route by ID":{"main":[[{"node":"Active Routes Only","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Deactivate Route":{"main":[[{"node":"Send notification about deactivated route","type":"main","index":0}]]},"Extract Route ID":{"main":[[{"node":"Get Route by ID","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Get Summary & Meta Data","type":"ai_languageModel","index":0}]]},"Active Routes Only":{"main":[[{"node":"Generate Actionable Task","type":"main","index":0}]]},"Create Notion Page":{"main":[[{"node":"Add Label \"Processed\"","type":"main","index":0}],[{"node":"Deactivate Route","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Generate Actionable Task","type":"ai_languageModel","index":0}]]},"Get Summary & Meta Data":{"main":[[{"node":"Format Notion Page Blocks","type":"main","index":0}]]},"Generate Actionable Task":{"main":[[{"node":"Get Summary & Meta Data","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Send notification about missing route","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Get Summary & Meta Data","type":"ai_outputParser","index":0}]]},"Format Notion Page Blocks":{"main":[[{"node":"Create Notion Page","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Generate Actionable Task","type":"ai_outputParser","index":0}]]},"Filter for unprocessed mails":{"main":[[{"node":"Extract Route ID","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get all labels","type":"main","index":0}]]},"Send notification about missing route":{"main":[[{"node":"Add Label \"Error\"","type":"main","index":0}]]},"Send notification about deactivated route":{"main":[[{"node":"Add Label \"Error\"","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2c8a6f89-5351-417c-b6b9-72dd99687a85","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}