workflows/Use of forms embedded.json
{"createdAt":"2025-03-01T13:49:30.858Z","updatedAt":"2025-03-01T13:50:19.000Z","id":"8QDbVjNVy9vj5jCG","name":"Use of forms embedded","active":false,"nodes":[{"parameters":{"formTitle":"Form with mutually exclusive branching","formDescription":"This form contains branches, but only one branch will ever be executed.","formFields":{"values":[{"fieldLabel":"Would you recommend this site?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-20,80],"id":"aaf8de04-08af-4d92-9c97-5ad9fd7df4a5","name":"On form submission","webhookId":"d869b846-111d-4f53-96e4-2c4a533d9ed6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Would you recommend this site?'] }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Yes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dd9b1f5-6f48-4182-ae04-f47c37e3fa98","leftValue":"={{ $json['Would you recommend this site?'] }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"No"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[200,80],"id":"e682b947-fcfe-4ceb-b145-98e346b88699","name":"Switch"},{"parameters":{"formFields":{"values":[{"fieldLabel":"What can we do to improve?","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[420,280],"id":"5bc0e4d8-9229-4c25-8fc6-5ffebffa743c","name":"If not recommended","webhookId":"3579ba77-7ba2-4a97-8a29-a228aac297d5"},{"parameters":{"operation":"completion","completionTitle":"Thank you for your review!","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[640,-120],"id":"4cec9b39-0978-4bd8-bfd8-de9de45f2e98","name":"Thanks for the review","webhookId":"bce3f77b-3005-4989-bd61-b9c5ff19e59e"},{"parameters":{"operation":"completion","completionTitle":"Thank you for your feedback","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[640,280],"id":"62d7b2ef-34b2-4cde-b9cd-9275041fb298","name":"Thanks for the feedback","webhookId":"8b1a34e2-aa24-4c12-841c-79f6491cb779"},{"parameters":{"content":"## Form with mutually exclusive branching\nThis form contains a branch where only one of the two paths will execute, depending on your selections.","width":380},"type":"n8n-nodes-base.stickyNote","position":[-180,-180],"typeVersion":1,"id":"7b575b5c-0613-46df-b0fc-3a4508cba1c6","name":"Sticky Note"},{"parameters":{"content":"This Switch node determines which branch will execute.\n\nThe switch uses data from a dropdown field with single selection enforced, so only one path will execute.","color":5},"type":"n8n-nodes-base.stickyNote","position":[420,80],"typeVersion":1,"id":"dbb36112-8ea1-4452-a24d-71d45a668e8e","name":"Sticky Note1"},{"parameters":{"formFields":{"values":[{"fieldLabel":"Leave your review below","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[420,-120],"id":"1070541d-d96b-4293-ae2a-3ba21dd52a0e","name":"If recommended","webhookId":"f8298b40-1f61-465b-b228-30a659075f30"}],"connections":{"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If recommended","type":"main","index":0}],[{"node":"If not recommended","type":"main","index":0}]]},"If not recommended":{"main":[[{"node":"Thanks for the feedback","type":"main","index":0}]]},"If recommended":{"main":[[{"node":"Thanks for the review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c091e652-27aa-4ee8-8637-dcd9ef4c6cc2","triggerCount":0,"tags":[]}