workflows/Voice Activated multi agent demo using Vagent Notion and GCalendar.json
{"createdAt":"2025-02-17T23:38:54.083Z","updatedAt":"2025-02-17T23:39:07.000Z","id":"lHe72nN1jhYGSu1a","name":"Voice Activated multi agent demo using Vagent Notion and GCalendar","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"responseFormat":"text","temperature":0}},"id":"3b55a2cd-f1c7-4c8a-b254-e14afa7a1b00","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[40,440],"typeVersion":1},{"parameters":{"options":{}},"id":"2373f95d-9e93-453d-aae3-93f3e1bee3ce","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[720,220],"typeVersion":1.1},{"parameters":{"name":"calendarAgent","description":"Call this workflow to do handle every request regarding calendar management.","workflowId":{"__rl":true,"mode":"list","value":"yPCMz4zxB291oM31","cachedResultName":"Google Calendar Agent"},"responsePropertyName":"output","fields":{"values":[{"name":"sessionId","stringValue":"={{ $json.sessionId }}"},{"name":"prompt","stringValue":"={{ $json.chatInput }}"}]}},"id":"bb112651-bb63-459c-ac92-35875fb49114","name":"calendarAgent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[280,440],"typeVersion":1.2},{"parameters":{"public":true,"options":{}},"id":"c6e212d7-9587-45f1-b606-461223f30a4c","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-320,300],"webhookId":"96e410fe-ef91-4767-aa9a-bf95ba50f972","typeVersion":1.1},{"parameters":{"name":"taskAgent","description":"Call this workflow to do handle every request regarding task management.","workflowId":{"__rl":true,"mode":"list","value":"ICTXOidW1oyJDYP7","cachedResultName":"Notion Task Agent"},"responsePropertyName":"output","fields":{"values":[{"name":"sessionId","stringValue":"={{ $json.sessionId }}"},{"name":"prompt","stringValue":"={{ $json.chatInput }}"}]}},"id":"509303d5-4f04-4935-b85a-adbb0ccd2edc","name":"taskAgent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[400,440],"typeVersion":1.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":15},"id":"07d92f21-c8aa-4c2f-99e9-1046a73cc82b","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[160,440],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"f8c5a03f-ea21-4877-a71b-32e8b4dd30fb","name":"chatInput","type":"string","value":"={{ $json.body.prompt }}"},{"id":"3d4fecc4-78a5-47ba-a239-5fdc9b224d82","name":"sessionId","type":"string","value":"={{ $json.body.sessionID }}"}]},"options":{}},"id":"11f42d34-17ed-490f-9be7-6828bd2e6eeb","name":"Map Fields","type":"n8n-nodes-base.set","position":[-100,140],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"36f24729-17ae-4d69-961f-424a1797b42c","name":"chatInput","type":"string","value":"={{ $json.chatInput }}"},{"id":"05ea359a-d82e-4917-9245-38016314ad10","name":"sessionId","type":"string","value":"={{ $json.sessionId }}"}]},"options":{}},"id":"19f31d70-4fc3-4715-b937-d423dd26325e","name":"Map Fields1","type":"n8n-nodes-base.set","position":[-100,300],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"424b3c35-fd3d-4021-86e7-0d90529550b0","name":"response.text","type":"string","value":"={{ $json.output }}"},{"id":"0cbe6fd9-3464-4bd1-b9c0-365548dc232a","name":"response.speech","type":"string","value":"={{ $if($json.output.search(/>\\s/) > -1, $json.output.substring(0, $json.output.search(/>\\s/)), $json.output) }}"}]},"options":{}},"id":"77793517-e629-40f9-95e3-08b99f6eb2a8","name":"Exclude Previews from Speech","type":"n8n-nodes-base.set","position":[500,220],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Role:\nYou are a helpful assistant. Your sole responsibility is to determine which tool to forward the original chat input to. Do not process, modify, or interpret the input or output in any way. Only route it to the correct tool.\n\n# Behavior:\nBe clear, very concise, and accurate in tool routing. Do not modify, interpret, or analyze the incoming input or the tool's response. If the request is ambiguous, ask for clarification regarding tool selection only.\n\n# Command:\nRoute all incoming requests to the available tools if they match their description.\nCheck the memory to route ongoing conversations correctly — only choose another tool if a new task has been requested or the context clearly has been switched. If the context has changed (e.g. you were asked to create a task before, but now the user asks to create an event), forget everything before the context switch.\n\nOnly call one tool at a time.\n\nDo not modify or alter the input before sending it to the tool or the output after receiving it from the tool. Simply pass through both input and output as they are.\n\n# Format:\nPass every response of each tool in raw format to the output. Do not modify, interpret, or add any information at all."}},"id":"5df666c4-7087-4ad9-adeb-4fa19530fdd6","name":"Main Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[120,220],"typeVersion":1.6},{"parameters":{"model":"gpt-4o","options":{"temperature":0}},"id":"68dafc8d-b152-49ee-8857-4f39235107a6","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[740,920],"typeVersion":1},{"parameters":{"toolDescription":"Create a Task in Notion using a title, description and priority.","method":"POST","url":"https://api.notion.com/v1/pages","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"parent\": {\n    \"database_id\": \"{{ $json.databaseID }}\"\n  },\n  \"properties\": {\n    \"Name\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{title}\"\n          }\n        }\n      ]\n    },\n    \"Priority\": {\n      \"select\": {\n        \"name\": \"{priority}\"\n      }\n    }\n  },\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{description}\"\n            }\n          }\n        ]\n      }\n    }\n  ]\n}","placeholderDefinitions":{"values":[{"name":"title","description":"The name / title of the task.","type":"string"},{"name":"description","description":"The description of the task.","type":"string"},{"name":"priority","description":"The priority of the task. One of these values: \"do first\", \"important\", \"urgent\"","type":"string"}]}},"id":"13d57b3c-938d-457f-a558-e74ea2de2fe7","name":"HTTP Request","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[980,920],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"3f65df4c-fae1-4da3-acfd-acf352a3f8d2","name":"sessionId","type":"string","value":"={{ $json.sessionId }}"},{"id":"9745bdbd-fd97-46db-a742-6540f86dd43c","name":"chatInput","type":"string","value":"={{ $json.prompt }}"},{"id":"5e757768-d780-4b11-a6e0-593b08f32cc3","name":"databaseID","type":"string","value":"92da2aa018ed4095afc0f1a0670f36e9"}]},"options":{}},"id":"eb796b41-ac37-4874-b746-4333f22c9e0b","name":"Settings","type":"n8n-nodes-base.set","position":[540,700],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"934c387a-71a5-4549-a68a-312708368117","name":"output","type":"string","value":"=Please respond this to the user without modifications:\n\n{{ $json.output }}"}]},"options":{}},"id":"2b3edba9-938b-48b7-a948-f18ef7cce01c","name":"Format output","type":"n8n-nodes-base.set","position":[1140,700],"typeVersion":3.4},{"parameters":{"options":{"systemMessage":"=# Role:\nYou are a helpful assistant. Your job is to create Tasks in Notion.\n\n# Behavior:\nBe clear, very concise, efficient, and accurate in responses. If the request is ambiguous, ask for clarification.\n\n# Command:\nYou create tasks in Notion. Each task consists of the mandatory fields title, description and priority. Priority is an enum value consisting of 'do first', 'important' and 'urgent'.\n\n# Ask questions:\nIf required information is missing, ask the user about the missing information and only the missing ones. Ask priority as last.\n\nIf the user only describes the task within a few words, use that as the title. In that case, ask the user, if he wants to add a more detailed description. If he responds with \"No\", leave the description empty when creating the task.\nOn the other hand if the user describes the task more detailed from the beginning, use that as the description and create a short meaningful title for that. \n\nIf you have all the required information, ask for approval, before creating the task. In that case, always return a draft, containing the title, description and priority.\n\n# Format:\nThe output of the draft for approval should always be in markdown and in this format (placeholders in angle brackets):\n\nHere is the drafted task. Shall I create it?\n\n> **<title>**  \n> *<priority>*  \n>  \n> <description (optional)>\n\n# Responses:\nAfter successfully created event, only respond with \"Okay, done.\""}},"id":"37e7854b-3f35-4d52-82a7-87ec8304b26b","name":"Notion Task Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[760,700],"typeVersion":1.6},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}-{{ $workflow.id }}","contextWindowLength":15},"id":"6eed5832-c5c6-4074-8960-ef3cde940605","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[860,920],"typeVersion":1.2},{"parameters":{"toolDescription":"Call this tool to get the calendar availability for a particular period on the calendar. The tool may refer to availability as \"Free\" or \"Busy\". \n\nUse {timeMin} and {timeMax} to specify the window for the availability query. For example, to get availability for 25 July, 2024 the {timeMin} would be 2024-07-25T00:00:00+02:00 and {timeMax} would be 2024-07-26T00:00:00+02:00.\n\nIf the tool returns an empty response, it means that something went wrong. It does not mean that there is no availability.","method":"POST","url":"https://www.googleapis.com/calendar/v3/freeBusy","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"timeMin\": \"{timeMin}\",\n  \"timeMax\": \"{timeMax}\",\n  \"timeZone\": \"{{ $json.timeZone }}\",\n  \"groupExpansionMax\": 20,\n  \"calendarExpansionMax\": 10,\n  \"items\": [\n    {\n      \"id\": \"{{ $json.calendarID }}\"\n    }\n  ]\n}"},"id":"11c12044-7e11-41ee-bb2b-c8292cad306d","name":"Get calendar availability","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[40,920],"typeVersion":1},{"parameters":{"toolDescription":"Call this tool to create an event in the calendar.","method":"POST","url":"=https://www.googleapis.com/calendar/v3/calendars/{{ $json.calendarID }}/events","authentication":"predefinedCredentialType","nodeCredentialType":"googleCalendarOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"summary\": \"{eventName}\",\n  \"start\": {\n    \"dateTime\": \"{startTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  },\n  \"end\": {\n    \"dateTime\": \"{endTime}\",\n    \"timeZone\": \"Europe/Berlin\"\n  }\n}","placeholderDefinitions":{"values":[{"name":"eventName","description":"A short but precise title for the event."},{"name":"startTime","description":"The start time of the event in Europe/Berlin timezone. For example, 2024-07-24T10:00:00+02:00"},{"name":"endTime","description":"The end time of the event in Europe/Berlin timezone. It should always be 30 minutes after the startTime. "}]}},"id":"553e817c-079b-43c8-a549-888bacf3dab3","name":"Book appointment","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[160,920],"typeVersion":1},{"parameters":{"options":{"systemMessage":"=# Role:\nYou are a helpful assistant. Your job is to schedule Google Calendar Events.\n\n# Behavior:\nBe clear, very concise, efficient, and accurate in responses. If the request is ambiguous, ask for clarification.\n\n# Command:\nYou create Google Calendar events. Each event requires a title, date and time. The default duration - if not provided by the user - is 1 hour.\n\nBefore creating even showing a draft of the event, use the provided tool to check for the availibilty in the calendar. If there are any conflicts, tell the user about the timespans which are blocked, propose another time slot close by and ask the user if he would like to change the time to that.\n\n# Ask questions:\nIf required information is missing, ask the user about the missing information and only the missing ones.\n\nIf you have all the required information, ask for approval, before creating the event. In that case, always return a draft, containing the title, date and time.\n\n# Format:\nThe output of the draft for approval should always be in markdown and in this format (placeholders in angle brackets):\n\nHere is the event. Shall I create it?\n\n> **<title>**  \n> <date e.g., September 15, 2024>  \n> <time e.g., 10am-12pm>\n\n# Responses:\nAfter successfully created event, only respond with \"You are all set.\"\n\n# Additional Guidelines:\nToday’s date is {{ $now.setZone($json.timeZone).format('dd LLL yyyy') }}.\n"}},"id":"478665d7-04e8-46d8-a45d-83d33dee3a31","name":"Google Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-120,700],"typeVersion":1.6},{"parameters":{"options":{"temperature":0}},"id":"4d0b47cd-0b1b-47d4-b946-21cf55f4e8e6","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-200,920],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3f65df4c-fae1-4da3-acfd-acf352a3f8d2","name":"sessionId","type":"string","value":"={{ $json.sessionId }}"},{"id":"9745bdbd-fd97-46db-a742-6540f86dd43c","name":"chatInput","type":"string","value":"={{ $json.prompt }}"},{"id":"5e757768-d780-4b11-a6e0-593b08f32cc3","name":"calendarID","type":"string","value":"primary"},{"id":"4085421e-7f2c-429c-a85f-c6170a655823","name":"timeZone","type":"string","value":"Europe/Berlin"}]},"options":{}},"id":"aa5ea63a-5cb2-48aa-b2e0-e1900415fe8d","name":"Settings1","type":"n8n-nodes-base.set","position":[-340,700],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"934c387a-71a5-4549-a68a-312708368117","name":"output","type":"string","value":"=Please respond this to the user without modifications:\n\n{{ $json.output }}"}]},"options":{}},"id":"774dbb70-217f-400c-b15f-86c5f841dcdf","name":"Format output1","type":"n8n-nodes-base.set","position":[260,700],"typeVersion":3.4},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}-{{ $workflow.id }}","contextWindowLength":15},"id":"76e08b5c-866e-4f65-b29c-a475ca2996a9","name":"Window Buffer Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-80,920],"typeVersion":1.2},{"parameters":{"content":"## Sub-Agent for scheduling calendar events","height":469.7141529250314,"width":857.6171119733089},"id":"275c505f-4130-47e3-8fa7-8ccb07589759","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-400,620],"typeVersion":1},{"parameters":{"content":"## Sub-Agent for crating notion tasks\n","height":469.7141529250314,"width":859.4283058500632},"id":"863728e9-90e4-48f1-a96b-378ecc1e2660","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[480,620],"typeVersion":1},{"parameters":{"content":"## Main Agent which is connected to Vagent.io","height":537.6599060701709,"width":1323.0939382992326},"id":"a3532ecc-ed3d-4fd5-a5f9-89714139605a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-400,60],"typeVersion":1},{"parameters":{"content":"## Setup\n\n### Create workflows\n- Create a separate workflow for each Sub-Agent and move over the nodes from here\n- In each of those workflows add an **Execute Workflow Trigger** node and connect it to the beginning of the copied nodes\n\n### Configure main workflow\n- Select the corresponding credentials\n- Update the Webhook URL and create a Header Auth (Key: Authorization)\n- Update the tools \"claendarAgent\" and \"task Agent\" by choosing the corresponding sub-workflows you just created in the \"Workflow\" dropdown menu\n- Activate the workflow\n\n### Configure sub-workflows\n- Select the corresponding credentials\n- Update the \"Settings\" node (do not touch the first two values), e.g. set your Notion DB ID","height":537.9088390659099,"width":398.5850611544016,"color":5},"id":"e9f593ea-3a72-44f2-b154-3f5024075728","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[940,60],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"46116445-3b13-48c0-9a38-cd034bee92ac","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"865da97e-9230-4d82-8609-2886c50e73d0","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-320,140],"webhookId":"46116445-3b13-48c0-9a38-cd034bee92ac","typeVersion":2}],"connections":{"Webhook":{"main":[[{"node":"Map Fields","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Notion Task Agent","type":"main","index":0}]]},"Settings1":{"main":[[{"node":"Google Calendar Agent","type":"main","index":0}]]},"taskAgent":{"ai_tool":[[{"node":"Main Agent","type":"ai_tool","index":0}]]},"Main Agent":{"main":[[{"node":"Exclude Previews from Speech","type":"main","index":0}]]},"Map Fields":{"main":[[{"node":"Main Agent","type":"main","index":0}]]},"Map Fields1":{"main":[[{"node":"Main Agent","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"Notion Task Agent","type":"ai_tool","index":0}]]},"calendarAgent":{"ai_tool":[[{"node":"Main Agent","type":"ai_tool","index":0}]]},"Book appointment":{"ai_tool":[[{"node":"Google Calendar Agent","type":"ai_tool","index":0}]]},"Notion Task Agent":{"main":[[{"node":"Format output","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Notion Task Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Google Calendar Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Main Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Main Agent","type":"ai_memory","index":0}]]},"Google Calendar Agent":{"main":[[{"node":"Format output1","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Notion Task Agent","type":"ai_memory","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"Google Calendar Agent","type":"ai_memory","index":0}]]},"Get calendar availability":{"ai_tool":[[{"node":"Google Calendar Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Map Fields1","type":"main","index":0}]]},"Exclude Previews from Speech":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6366c679-f2a7-499a-bc27-a4766a478f64","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"},{"createdAt":"2025-02-17T23:39:01.691Z","updatedAt":"2025-02-17T23:39:01.691Z","id":"qymgKb3Muj5D53sM","name":"APPLE!"}]}