workflows/WhatsApp Starter Workflow.json
{"createdAt":"2025-02-12T01:15:48.674Z","updatedAt":"2025-02-12T01:25:46.000Z","id":"OXPgheDHe6KHKYgR","name":"WhatsApp Starter Workflow","active":false,"nodes":[{"parameters":{"path":"1fea1f5f-81c0-48ad-ae13-41e0f8e474ed","responseMode":"responseNode","options":{}},"id":"abf8c768-765e-4538-9379-49857eab480c","name":"Verify","type":"n8n-nodes-base.webhook","position":[-60,200],"webhookId":"793f285b-9da7-4a5e-97ce-f0976c113db5","typeVersion":1.1},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"42c1d1c2-d702-441f-bb7e-937e52ed08e0","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[160,200],"typeVersion":1},{"parameters":{"operation":"send","phoneNumberId":"244242975437240","recipientPhoneNumber":"={{ $json.body.entry[0].changes[0].value.messages[0].from }}","textBody":"=Echo back: {{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","additionalFields":{},"requestOptions":{}},"id":"eb3e6267-c3f2-4013-a7cd-d8bb59989dfd","name":"Echo the message back","type":"n8n-nodes-base.whatsApp","position":[380,560],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"8a765e57-8e39-4547-a99a-0458df2b75f4","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.body.entry[0].changes[0].value.messages[0] }}","rightValue":""}]},"options":{"looseTypeValidation":true}},"id":"1cff21b9-5fc5-4e61-9e07-08d959669acb","name":"Is message?","type":"n8n-nodes-base.if","position":[160,560],"typeVersion":2},{"parameters":{"content":"## Verify Webhook\n* Go to your [Meta for Developers App page](https://developers.facebook.com/apps/), navigate to the App settings\n* Add a **production webhook URL** as a new Callback URL\n* *Verify* webhook receives a GET Request and sends back a verification code\n","height":272,"width":618},"id":"d195c4c7-0e4d-4043-b737-9b94ecc85a4a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-100,60],"typeVersion":1},{"parameters":{"content":"## Main flow\n* *Respond* webhook receives various POST Requests from Meta regarding WhatsApp messages (user messages + status notifications)\n* Check if the incoming JSON contains user message\n* Echo back the text message to the user. This is a custom message, not a WhatsApp Business template message","height":343,"width":619},"id":"74329e7e-b445-4a55-9e99-49e86dce54f6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-100,380],"typeVersion":1},{"parameters":{"content":"## Important!\n### Configure the webhook nodes this way:\n* Make sure that both *Verify* and *Respond* have the same URL\n* *Verify* should have GET HTTP Method\n* *Respond* should have POST HTTP Method","height":177,"width":405,"color":3},"id":"ad4a5a01-4f8b-4112-8bb4-7a2becd9e1f9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-520,280],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"1fea1f5f-81c0-48ad-ae13-41e0f8e474ed","options":{}},"id":"ee3dde91-995b-4512-b4ba-2ba12475b6e7","name":"Respond","type":"n8n-nodes-base.webhook","position":[-60,560],"webhookId":"c4cbc1c4-e1f5-4ea5-bd9a-c5f697493985","typeVersion":1.1}],"connections":{"Verify":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond":{"main":[[{"node":"Is message?","type":"main","index":0}]]},"Is message?":{"main":[[{"node":"Echo the message back","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"db3c9632-0a01-455b-82fb-bb6a99723ed9","triggerCount":0,"tags":[{"createdAt":"2025-02-12T01:25:44.824Z","updatedAt":"2025-02-12T01:25:44.824Z","id":"bzJZk40lpXglcXDs","name":"CHAT"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}