workflows/Youtube video summarization & analisys.json
{"createdAt":"2025-02-28T13:15:29.512Z","updatedAt":"2025-02-28T13:15:34.000Z","id":"OddZiyN4maRJcFp8","name":"Youtube video summarization & analisys","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ytube","responseMode":"responseNode","options":{}},"id":"85820970-06a4-4560-a28d-56d76eae0bda","name":"Webhook","type":"n8n-nodes-base.webhook","position":[60,-160],"webhookId":"9024e29e-9080-4cf5-9a6b-0d918468f195","typeVersion":2},{"parameters":{},"id":"452adb4d-a9f4-4961-b4be-f8f1bba6a511","name":"YouTube Transcript","type":"n8n-nodes-youtube-transcription.youtubeTranscripter","position":[860,-160],"typeVersion":1},{"parameters":{"fieldToSplitOut":"transcript","options":{}},"id":"e9777a03-12a1-4389-8d5f-41035dccc6f5","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[260,100],"typeVersion":1},{"parameters":{"options":{}},"id":"f8029417-b1fe-407a-a245-c23612525343","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1260,-20],"typeVersion":1.1},{"parameters":{"text":"={{ $json.title }}\n{{ $json.youtubeUrl }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"52bd983e-e6b5-4906-978c-491286a8a8c5","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1260,220],"typeVersion":1.2,"webhookId":"11593e46-5b29-4ad2-8698-5b474b39c440"},{"parameters":{"assignments":{"assignments":[{"id":"3ee42e4c-3cee-4934-97e7-64c96b5691ed","name":"youtubeUrl","type":"string","value":"={{ $json.body.youtubeUrl }}"}]},"options":{}},"id":"e0c89a8a-45a5-46f3-a110-78e2c588584a","name":"Get YouTube URL","type":"n8n-nodes-base.set","position":[260,-160],"typeVersion":3.4},{"parameters":{"jsCode":"const extractYoutubeId = (url) => {\n  // Regex pattern that matches both youtu.be and youtube.com URLs\n  const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n  const match = url.match(pattern);\n  return match ? match[1] : null;\n};\n\n// Input URL from previous node\nconst youtubeUrl = items[0].json.youtubeUrl; // Adjust this based on your workflow\n\n// Process the URL and return the video ID\nreturn [{\n  json: {\n    videoId: extractYoutubeId(youtubeUrl)\n  }\n}];\n"},"id":"8d47e600-089f-4aeb-864b-35e40521f094","name":"YouTube Video ID","type":"n8n-nodes-base.code","position":[460,-160],"typeVersion":2},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.videoId }}","options":{}},"id":"35a72289-4a49-406d-8888-876e3e9242ee","name":"Get YouTube Video","type":"n8n-nodes-base.youTube","position":[660,-160],"typeVersion":1},{"parameters":{"options":{}},"id":"7db7fb7a-2ba2-4d76-ab30-a7996fb23ed0","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[680,280],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Please analyze the given text and create a structured summary following these guidelines:\n\n1. Break down the content into main topics using Level 2 headers (##)\n2. Under each header:\n   - List only the most essential concepts and key points\n   - Use bullet points for clarity\n   - Keep explanations concise\n   - Preserve technical accuracy\n   - Highlight key terms in bold\n3. Organize the information in this sequence:\n   - Definition/Background\n   - Main characteristics\n   - Implementation details\n   - Advantages/Disadvantages\n4. Format requirements:\n   - Use markdown formatting\n   - Keep bullet points simple (no nesting)\n   - Bold important terms using **term**\n   - Use tables for comparisons\n   - Include relevant technical details\n\nPlease provide a clear, structured summary that captures the core concepts while maintaining technical accuracy.\n\nHere is the text: {{ $json.concatenated_text\n }}"},"id":"53182129-fbe4-4064-8d9a-dbe20a351174","name":"Summarize & Analyze Transcript","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[660,100],"typeVersion":1.4},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"text","separateBy":" "}]},"options":{}},"id":"df8d4e86-fecb-4184-9abf-c0425407332a","name":"Concatenate","type":"n8n-nodes-base.summarize","position":[460,100],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf132004-6636-411f-9d85-0c696fda84c4","name":"summary","type":"string","value":"={{ $json.text }}"},{"id":"63c8d0e3-685c-488a-9b45-363cf52479ea","name":"topics","type":"array","value":"=[]"},{"id":"171f30cf-34e9-42f3-8735-814024bfde0b","name":"title","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.title }}"},{"id":"7f26f5a3-e695-49d1-b1e8-9260c31f1b3d","name":"description","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.description }}"},{"id":"d0594232-cb39-453c-b015-3b039c098e1f","name":"id","type":"string","value":"={{ $('Get YouTube Video').item.json.id }}"},{"id":"17b6ca08-ce89-4467-bd25-0d2d182f7a8b","name":"youtubeUrl","type":"string","value":"={{ $('Webhook').item.json.body.youtubeUrl }}"}]},"options":{}},"id":"0acfdd8f-5a34-4680-b99a-248168f9dfca","name":"Response Object","type":"n8n-nodes-base.set","position":[1020,100],"typeVersion":3.4}],"connections":{"Webhook":{"main":[[{"node":"Get YouTube URL","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Concatenate","type":"main","index":0}]]},"Concatenate":{"main":[[{"node":"Summarize & Analyze Transcript","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Summarize & Analyze Transcript","type":"ai_languageModel","index":0}]]},"Get YouTube URL":{"main":[[{"node":"YouTube Video ID","type":"main","index":0}]]},"Response Object":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"YouTube Video ID":{"main":[[{"node":"Get YouTube Video","type":"main","index":0}]]},"Summarize & Analyze Transcript":{"main":[[{"node":"Response Object","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d2cf8de6-d25f-4ef8-a64c-70e8e4da6176","triggerCount":0,"tags":[{"createdAt":"2025-02-12T00:06:31.183Z","updatedAt":"2025-02-16T12:09:52.918Z","id":"RAEtntqG5GvQKAMI","name":"AD USO INTERNO"},{"createdAt":"2025-02-11T23:59:41.483Z","updatedAt":"2025-02-14T16:18:26.979Z","id":"dzhL8PxGOvRSKz2J","name":"ANCORA IN TEST"}]}